<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #leftSidenav mode="over">
    <toolbar-left-menu [sidenav]="leftSidenav"></toolbar-left-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <toolbar-header id="navbar" [sidenav]="leftSidenav">
      <ng-container app-icon>
        <button test-id="home" mat-icon-button class="app-icon-button" routerLink="/c">
          <mat-icon svgIcon="logo_blockframes" class="app-icon"></mat-icon>
        </button>
      </ng-container>

      <ng-container email-verify>
        <auth-email-verify></auth-email-verify>
      </ng-container>

      <ng-container notifications>
        <overlay-notification-widget></overlay-notification-widget>
      </ng-container>

      <ng-container profile-menu>
        <account-profile-menu>
          <ng-container widgets>
            <a test-id="profile" mat-menu-item routerLink="/c/o/account/profile" routerLinkActive="active">
              <mat-icon svgIcon="profile"></mat-icon>
              <span>My account</span>
            </a>
            <mat-divider></mat-divider>
            <organization-widget></organization-widget>
            <mat-divider></mat-divider>
            <wallet-widget></wallet-widget>
            <mat-divider></mat-divider>
            <theme-widget></theme-widget>
          </ng-container>
        </account-profile-menu>
      </ng-container>

    </toolbar-header>
    <main [@slideAnimation]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
