<layout-marketplace>
  <mat-nav-list>
    <a mat-list-item routerLink="home" routerLinkActive="active">
      <mat-icon mat-list-icon svgIcon="home"></mat-icon>
      <span mat-line>Home</span>
    </a>
    <a test-id="library" mat-list-item routerLink="title" routerLinkActives="active">
      <mat-icon mat-list-icon svgIcon="video_library"></mat-icon>
      <span mat-line>All Titles</span>
    </a>
    <a test-id="sellers" mat-list-item routerLink="organization" routerLinkActives="active">
      <mat-icon mat-list-icon svgIcon="sellers"></mat-icon>
      <span mat-line>Sales Agents</span>
    </a>
    <a mat-list-item routerLink="wishlist" routerLinkActive="active">
      <mat-icon mat-list-icon  svgIcon="heart_fill"></mat-icon>
      <span mat-line>Wishlist</span>
    </a>
    <a mat-list-item routerLink="event" routerLinkActive="active">
      <mat-icon mat-list-icon  svgIcon="screening"></mat-icon>
      <span mat-line>Screening List</span>
    </a>
  </mat-nav-list>
</layout-marketplace>
