header {
  display: block;
  padding: 16px 24px;
  background-image: linear-gradient(to bottom, var(--background-disabled-button), transparent);

  img {
    height: 160px;
    width: 160px;
    padding: 30px;
    border-radius: 50%;
    border: solid 1px var(--primary);
  }

  mat-chip {
    text-transform: uppercase;
  }
}
