<ng-container *ngIf="contract$ | async as contract">
  <!-- TITLE & PRICE -->
  <ng-container *ngIf="licensees[0].party as licensee">
    <section fxLayout="row" fxLayoutAlign="space-between start">
      <article fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="25px">
        <!-- Switch to [imgRef]="getLicenseeLogo(licensees[0].part.orgId) when public orgs are here => ISSUE#1359"-->
        <img class="logo" [imgRef]="placeholderUrl" [placeholderUrl]="placeholderUrl" alt="Organization logo" />
        <div>
          <span>{{ lastVersion.status | uppercase }}</span>
          <h1>{{ licensees[0].party.displayName }} - {{ (movies$ | async).length }} films</h1>
          <span *ngIf="licensee.address">
            {{ licensee.address.street }}, {{ licensee.address.city }}, {{ licensee.address.region }}
            {{ licensee.address.zipCode }} {{ licensee.address.country }}
          </span>
        </div>
      </article>
      <section fxLayout="column" fxLayoutAlign="center end">
        <span class="mat-caption"> {{ lastVersion.creationDate | date: 'short' }} </span>
        <h2>{{ totalPrice.amount | currency: getCurrencyCode(totalPrice.currency) }}</h2>
      </section>
    </section>
  </ng-container>

  <!-- CONTRACT SUMMARY -->
  <article fxLayout="row" fxLayoutGap="25px">
    <mat-card class="summary">
      <h3 i18n>
          {{ licensees[0].party.displayName }} has made an offer for
          {{ contract.titleIds.length }} title{contract.titleIds.length, plural, =1 {} other {s}},
          {{ (movies$ | async).length }} of which are yours.
      </h3>
      <mat-card-content>
        <span i18n *ngIf="subLicensors.length > 1" >
          We are gathering approval from {{ subLicensors.length - 1 }} other seller{subLicensors.length - 1, plural, =1 {} other {s}}.
        </span>
        <ng-container *ngIf="subLicensors.length > 1; else uniqueSubLicensor">
          <span i18n>
            Your share of the deal is <b>{{ totalPrice.amount | currency: getCurrencyCode(totalPrice.currency) }}</b>
            for the {{ (movies$ | async).length }} film{(movies$ | async).length, plural, =1 {} other {s}}:
          </span>
        </ng-container>
        <ng-template #uniqueSubLicensor>
          <span i18n>
            The offer is <b>{{ totalPrice.amount | currency: totalPrice.currency }}</b>
            for the {{ (movies$ | async).length }} film{(movies$ | async).length, plural, =1 {} other {s}}:
          </span>
        </ng-template>
        <mat-list >
          <mat-list-item *ngFor="let movie of movies$ | async">
            <b *ngIf="showMovie(movie.id)">{{ movie.main.title.international }}</b>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions *ngIf="isSignatory" fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-flat-button color="primary" (click)="openIntercom()">
          <mat-icon svgIcon="comment"></mat-icon>
          <span>Connect with the Archipel Team</span>
        </button>
        <div>
          <button mat-stroked-button color="primary" (click)="acceptOffer(contract)">
            <mat-icon svgIcon="check" bf-color="primary"></mat-icon>
            <span>Accept</span>
          </button>
          <button mat-stroked-button color="warn" (click)="declineOffer(contract)">
            <mat-icon svgIcon="refuse" bf-color="warn"></mat-icon>
            <span>Decline</span>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <h3>Proposed Payment Schedule</h3>
      <div *ngFor="let payment of lastVersion.paymentSchedule" fxLayout="column" fxLayoutAlign="center start">
        <span>{{ payment.percentage }}% {{ payment.label }}</span>
        <span class="mat-caption">{{ payment.date }}</span>
      </div>
    </mat-card>
  </article>

  <!-- NEGOCIATION HISTORY -->
  <mat-card>
    <h3>Negociation History</h3>
    <mat-card-content>
      <bf-table-filter
        [source]="versions"
        [columns]="versionColumns"
        [initialVersionColumns]="initialVersionColumns">
        <ng-template colRef="status" let-status><span class="status">{{ status }}</span></ng-template>
      </bf-table-filter>
    </mat-card-content>
  </mat-card>

  <!-- DISTRIBUTION DEALS -->
  <ng-container *ngFor="let movie of movies$ | async">
    <mat-card *ngIf="showMovie(movie.id)">
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title fxLayout="row" fxLayoutAlign="space-between">
              <h3>{{ movie.main.title.international }}</h3>
              <span *ngIf="lastVersion.titles[movie.id].price as price">
                {{ price.amount | currency : getCurrencyCode(price.currency) }}
              </span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <section fxLayout="row" fxLayoutAlign="start start" class="movie-information">
            <img *ngIf="movie.promotionalElements.poster[0].media as poster" class="poster" [imgRef]="poster" alt="Movie poster" />
            <article>
              <div>
                <span *ngFor="let director of movie.main.directors; let isLast = last">
                  {{ director.firstName }} {{ director.lastName }}{{isLast ? '' : ', '}}
                </span>
              </div>
              <div>
                <span
                  *ngFor="let country of movie.main.originCountries; let isLast = last"
                  class="mat-body-2">
                  {{ country | translateSlug: 'TERRITORIES'}}{{isLast ? ',' : ' / '}}
                </span>
                <span class="mat-body-2"> {{ movie.main.productionYear }}</span>
              </div>
            </article>
          </section>
          <!-- MOVIE DISTRIBUTION DEAL LIST -->
          <!-- TODO: Use flattened data + reusable table => ISSUE#1744 -->
          <catalog-right-list [source]="movie.distributionDeals"></catalog-right-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
  </ng-container>
</ng-container>
