<ng-container *ngIf="waterfall$ | async as waterfall">
  <ng-container *ngIf="waterfall.versions.length else noWaterfall">
    <ng-container *ngIf="statements.length else noStatements">
      <header>
        <mat-chip-list aria-label="Statement type">
          <ng-container *ngFor="let type of statementTypes">
            <mat-divider *ngIf="type.divider && type.visible" [vertical]="true"></mat-divider>
            <mat-chip
            *ngIf="type.visible"
            [selected]="type.selected"
            (click)="changeType(type.key)">{{ type.value }}</mat-chip>
          </ng-container>
        </mat-chip-list>
        
        <article *ngIf="rightholders.length > 0">
          <span>
            <waterfall-rightholder-select *ngIf="selected !== 'directSales'"
              [rightholders]="rightholders"
              [control]="rightholderControl">
              <mat-label>Right Holder</mat-label>
            </waterfall-rightholder-select>
            <ng-container *ngIf="selected !== 'directSales'">
              <a *ngIf="rightholderContracts.length === 1 && rightholderContracts[0].id" mat-icon-button [routerLink]="['..', 'documents', rightholderContracts[0].id]">
                <mat-icon svgIcon="contract" matTooltip="See contract"></mat-icon>
              </a>

              <button *ngIf="rightholderContracts.length > 1" mat-icon-button [matMenuTriggerFor]="contractsMenu">
                <mat-icon svgIcon="contract" matTooltip="See contracts"></mat-icon>
              </button>
              
              <mat-menu #contractsMenu="matMenu">
                <a mat-menu-item *ngFor="let rightholderContract of rightholderContracts" [routerLink]="['..', 'documents', rightholderContract.id]">
                  {{ rightholderContract.name }}
                </a>
              </mat-menu>
            </ng-container>
          </span>
          <div>
            <a mat-button [disabled]="!canCreateStatement" [routerLink]="['// TODO #9524 #9525 #9532 #9531']">
              <span>Add statement for {{ rightholderControl.value | rightholderName: waterfall }}</span>
            </a>
          </div>
        </article>
      </header>

      <section>
        <mat-tab-group class="bf-tabs" *ngIf="rightholderContracts.length > 1 else singleContract">
          <ng-container *ngFor="let rightholderContract of rightholderContracts">
            <mat-tab *ngIf="rightholderContract.statements.length > 0" [label]="rightholderContract.name">
              <ng-template matTabContent>
                <waterfall-statement-table [statements]="rightholderContract.statements"></waterfall-statement-table>
              </ng-template>
            </mat-tab>
          </ng-container>
  
        </mat-tab-group>
  
        <ng-template #singleContract>
          <waterfall-statement-table *ngIf="haveStatements" [statements]="rightholderContracts[0].statements"></waterfall-statement-table>
        </ng-template>
      </section>

      <section *ngIf="!haveStatements">
        <waterfall-empty-statement-card [type]="selected"></waterfall-empty-statement-card>
      </section>

      <section *ngIf="haveStatements" class="flex-center">
        <a mat-button [routerLink]="['// TODO #9524 #9531']">
          <span>Add New Distributor</span>
        </a>
      </section>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #noWaterfall>
  <waterfall-empty></waterfall-empty>
</ng-template>

<ng-template #noStatements>
  <section class="flex-center">
    <waterfall-empty-statement-card type="mainDistributor"></waterfall-empty-statement-card>
    <waterfall-empty-statement-card type="salesAgent"></waterfall-empty-statement-card>
    <waterfall-empty-statement-card type="producer" disabled></waterfall-empty-statement-card>
  </section>
</ng-template>