section {
  margin-top: 24px;

  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  img {
    width: 300px;
  }
}

.offer_and_deals{
  padding: unset;
  text-decoration: underline;
}
