  <h1>Your Contract Offer <br/> has been successfully sent.</h1>
  <p>
    You can always find your contract offer on <a  routerLink="../../offer"><strong>Offer & Deals</strong></a> page. <br />
    Feel free to contact Archipel Content Team if you have a question.
  </p>
  <button (click)="openIntercom()" mat-button>Contact Archipel Team</button>
  <img asset="contract_offer.svg" alt="Offer has been created successfully">
  <a mat-flat-button color="primary" routerLink="../../offer">See Offers & Deals</a>
  <a mat-button color="primary" routerLink="/c/o/marketplace/title">Continue browsing Library</a>
