<section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
  <h1>Your Offer was successfully sent.</h1>
  <p>
    Our team will get back to you as soon as possible to coordinate the deal.<br />
    Feel free to <a [routerLink]="['./']" (click)="openIntercom()">contact us</a> if you have a question.</p>
  <img asset="contract_offer.svg" alt="Offer has been created successfully">
  <button mat-flat-button color="accent" [routerLink]="['/c/o/marketplace/title']">Return to Browsing</button>
</section>
