:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 24px;
  & > * {
    margin-bottom: 16px;
  }
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  a {
    padding: unset;
  }
}

img {
  width: 300px;
}
