<section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
  <h1>Your Contract Offer <br/> has been successfully sent.</h1>
  <p>
    You can always find your contract offer on <a mat-button [routerLink]="['../../offer']" class="offer_and_deals"><strong>Offer & Deals</strong></a> page. <br />
    Feel free to contact Archipel Content Team if you have a question.
  </p>
  <a (click)="openIntercom()" mat-button>Contact Archipel Team</a>
  <img asset="contract_offer.svg" alt="Offer has been created successfully">
  <button mat-flat-button color="primary" [routerLink]="['../../offer']">See Offers & Deals</button>
  <button mat-button color="primary" [routerLink]="['/c/o/marketplace/title']">Continue browsing Library</button>
</section>
