:host {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

section {
  display: flex;
  align-items: end;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
}

mat-icon.icon-ok {
  color: green;
}

mat-icon.icon-nok {
  color: red;
}