<div *ngFor="let control of form.controls; let i = index">
  <form-select [form]="control.get('method')"></form-select>
  <form-text [form]="control.get('field')"></form-text>
  <form-select [form]="control.get('condition')"></form-select>
  <form-typed-field [formControl]="control.get('value')"></form-typed-field>
  <button mat-icon-button (click)="form.removeAt(i)" [disabled]="control.disabled">
    <mat-icon svgIcon="close"></mat-icon>
  </button>
</div>
<button mat-icon-button (click)="form.add()" [disabled]="form.disabled">
  <mat-icon svgIcon="add"></mat-icon>
</button>
