<div cdkDropList  (cdkDropListDropped)="move($event)">
  <ng-container *ngFor="let control of form.controls; let i = index">
    <div class="row query" cdkDrag>
      <div class="row">
        <mat-icon class="handler" svgIcon="drag_indicator" cdkDragHandle></mat-icon>
        <span>{{ control.get('method').value }}: </span>
      </div>
      <div class="row control" [ngSwitch]="control.get('method').value">
        <ng-container *ngSwitchCase="'where'">
          <form-text [form]="control.get('field')"></form-text>
          <form-select [form]="control.get('condition')"></form-select>
          <form-typed-field [formControl]="control.get('value')"></form-typed-field>
        </ng-container>
        <ng-container *ngSwitchCase="'orderBy'">
          <form-text [form]="control.get('field')"></form-text>
          <form-select [form]="control.get('direction')"></form-select>
        </ng-container>
        <ng-container *ngSwitchCase="'limit'">
          <form-text [form]="control.get('limit')"></form-text>
        </ng-container>
        <ng-container *ngSwitchCase="'limitToLast'">
          <form-text [form]="control.get('limit')"></form-text>
        </ng-container>
        <ng-container *ngSwitchCase="'startAt'">
          <form-text [form]="control.get('value')"></form-text>
        </ng-container>
      </div>
      <button mat-icon-button (click)="form.removeAt(i)" [disabled]="control.disabled">
        <mat-icon svgIcon="cancel"></mat-icon>
      </button>
    </div>
  </ng-container>
</div>
<footer>
  <form-select [form]="method" (controlChange)="add()"></form-select>
</footer>
