:host {
  width: 100%;
}
.query {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control {
  flex: 1;
  display: flex;
  align-items: center;
}

// Gap
div > *:not(:first-child) {
  margin-left: 16px;
}

footer {
  display: flex;
  align-items: center;
}