:host {
  display: block;
}

header {
  padding: 24px;
  background-size: cover;
  background-position: center;

  img {
    height: 200px;
  }
}

analytics-map h5 {
  display: flex;
}

section {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;

  a {
    margin-bottom: 16px;
  }
}

section.surface{
  margin: 24px;
  display: block;
  header{
    padding: 0px;
  }
}


.film-page-button {
  height: fit-content;
}


.heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  h3{
    display: flex;
    align-items: center;
  }
}

bf-table.screenings{
  margin-top: 24px;
}

