<header fxLayout="column" fxLayoutGap="20px" class="dark-contrast-theme banner" bgAsset="background_header.png"
  bgTheme="dark">
  <button mat-icon-button (click)="goBack()">
    <mat-icon svgIcon="arrow_back"></mat-icon>
  </button>

  <ng-container *ngIf="title$ | async as title">
    <article fxLayout fxLayoutGap="24px">
      <a [routerLink]="['/c/o/dashboard/title/', title.id]">
        <img fxHide.lt-md [ref]="title.poster" asset="empty_poster.svg" alt="Movie Poster" class="poster">
      </a>

      <div fxFlex fxLayout="column">
        <p class="mat-body-1">{{ title.directors | displayName }}</p>
        <div fxLayout fxLayoutAlign="space-between">
          <h1 class="mat-display-1">{{ title.title.international }}</h1>
          <a mat-button [routerLink]="['/c/o/dashboard/title/', title.id]" class="film-page-button">See Film Page</a>
        </div>
        <h6>{{ title.genres | toLabel: 'genres' }}</h6>
      </div>
    </article>
  </ng-container>
</header>

<section>
  <article>
    <h3>Interested Users</h3>
    <p class="mat-body-1">See how many users interacted with your movie (viewed your title, added to wishlist, requested
      a screening, etc).</p>
  </article>

  <article class="surface">
    <a mat-button [routerLink]="['/c/o/dashboard']">
      <mat-icon svgIcon="arrow_back"></mat-icon>
      <span>Come back to Dashboard</span>
    </a>

    <div fxLayout fxLayout.lt-sm="column" fxLayoutGap="16px">
      <analytics-pie-chart fxFlex class="surface" [data]="orgActivity$ | async" (selection)="filterValue = $event">
        <mat-icon svgIcon="business"></mat-icon>
        <h5>Split by Company Activity</h5>
        <p class="mat-caption">Learn who are the users who were interested in this Title.</p>
      </analytics-pie-chart>
      <analytics-map fxFlex class="surface" [data]="territoryActivity$ | async" selectable
        (selection)="filterValue = $event">
        <mat-icon svgIcon="landscape"></mat-icon>
        <h5>Split by Company Territory</h5>
        <p class="mat-caption">Learn where are the interested people from.</p>
      </analytics-map>
    </div>
  </article>

  <bf-table [source]="buyerAnalytics$ | async" pagination="5" useFilter [filterValue]="filterValue"
    (rowClick)="viewBuyerActivity($event)">
    <ng-template colRef="user" label="Name" let-user sort>
      <a [href]="'mailto:' + user?.email">{{ user | displayName }}</a>
    </ng-template>
    <ng-template colRef="user.email" label="Email address" let-email sort>
      {{ email }}
    </ng-template>
    <ng-template colRef="org.name" label="Company name" let-name sort>
      {{ name }}
    </ng-template>
    <ng-template colRef="org.activity" label="Activity" let-activity sort [filter]="filters.orgActivity">
      {{ activity | toLabel:'orgActivity' }}
    </ng-template>
    <ng-template colRef="org.addresses.main.country" label="Country" let-country sort [filter]="filters.territories">
      {{ country | toLabel:'territories' }}
    </ng-template>
    <ng-template colRef="user.position" label="Position" let-position sort>
      {{ position }}
    </ng-template>
    <ng-template colRef="pageView" label="Views" let-pageView sort>
      {{ pageView }}
    </ng-template>
    <ng-template colRef="promoElementOpened" label="Promo Elements Opened" let-promoElementOpened sort>
      {{ promoElementOpened ? promoElementOpened : '-' }}
    </ng-template>
    <ng-template colRef="" label="In wishlist" let-item sort>
      {{ inWishlist(item) ? 'Yes' : '-' }}
    </ng-template>
    <ng-template colRef="screeningRequested" label="Screening requested" let-screeningRequested sort>
      {{ screeningRequested ? 'Yes' : '-' }}
    </ng-template>
    <ng-template colRef="askingPriceRequested" label="Asking price requested" let-askingPriceRequested sort>
      {{ askingPriceRequested ? 'Yes' : '-' }}
    </ng-template>
  </bf-table>

  <article>
    <h3>Title Performance</h3>
    <p class="mat-body-1">Check the overall metrics of your title performance.</p>
  </article>

  <article class="surface title_performance">
    <analytics-line-chart class="surface" [eventNames]="['pageView']" [data]="titleAnalytics$ | async">
      <mat-icon svgIcon="visibility"></mat-icon>
      <h5>Film Page Views</h5>
      <p class="mat-caption">See how many Buyers viewed your Film Page recently.</p>
    </analytics-line-chart>
    <analytics-line-chart class="surface" [eventNames]="interactions" [data]="titleInteractions$ | async">
      <mat-icon svgIcon="switch_access_shortcut"></mat-icon>
      <h5>Interactions</h5>
      <p class="mat-caption">Learn how people interact with your Title.</p>
    </analytics-line-chart>
  </article>

  <header>
    <h3>Screenings performance</h3>
    <mat-icon svgIcon="info" matTooltip="Statistics are updated in real time."></mat-icon>
    <ng-container *ngIf="ongoingScreenings$ | async as events">
      <a ongoing-event-button routerLink="/c/o/dashboard/event/{{events[0].id}}/statistics">
        Ongoing Screenings
      </a>
    </ng-container>
  </header>
  <ng-container *ngIf="endedOrOngoingScreenings$ | async as endedOrOngoingScreenings; else loading">
    <ng-container *ngIf="endedOrOngoingScreenings.length else noScreenings">
      <p class="mat-body-1">Check the cumulative statistics of this title's Screenings.</p>
      <article class="surface">
        <p>"0s" means the user watched less than a minute.</p>
        <analytics-metric-card-list [cards]="aggregatedScreeningCards$ | async"></analytics-metric-card-list>
        <ng-container *ngIf="invitations$ | async as invitations">
          <header>
            <button mat-button color="primary" [disabled]="!invitations.length" (click)="exportScreenerAnalytics()">Export
              to .CSV</button>
          </header>
          <bf-table class="screenings" [source]="invitations" useFilter pagination="5">
            <ng-template colRef label="Name" let-invitation="item" sort [filter]="filters.name">
              <b>{{ invitation | guest:'user' | displayName }}</b>
            </ng-template>
            <ng-template colRef label="Email" let-invitation="item" sort [filter]="filters.email">
              <span>{{ (invitation | guest: 'user').email }}</span>
            </ng-template>
            <ng-template colRef="guestOrg.name" label="Company Name" let-name sort>
              <span>{{ name ?? '-' }}</span>
            </ng-template>
            <ng-template colRef="guestOrg.activity" label="Activity" let-activity sort [filter]="filters.orgActivity">
              <span *ngIf="activity else noActivity">{{ activity | toLabel: 'orgActivity' }}</span>
              <ng-template #noActivity>-</ng-template>
            </ng-template>
            <ng-template colRef="guestOrg.addresses.main.country" label="Country" let-country sort
              [filter]="filters.territories">
              <span *ngIf="country else noCountry">
                {{ country | toLabel:'territories' }}
              </span>
              <ng-template #noCountry>-</ng-template>
            </ng-template>
            <ng-template colRef="status" label="Invitation" let-status sort>
              {{ status | toLabel: 'invitationStatus' }}
            </ng-template>
            <ng-template colRef="watchInfos.duration" label="Watch Time" let-watchtime sort>
              <span>{{ watchtime * 1000 | duration }}</span>
            </ng-template>
            <ng-template colRef="watchInfos.date" label="Watching Status" let-date sort>
              <bf-tag *ngIf="date | isWatchingNow">Watching Now</bf-tag>
            </ng-template>
            <ng-template colRef label="Action" let-item sticky>
              <a mat-icon-button matTooltip="View Event details"
                [routerLink]="['/c/o/dashboard/event', item.eventId, 'edit', 'statistics']">
                <mat-icon svgIcon="visibility"></mat-icon>
              </a>
              <ng-container *ngIf="item | guest:'user' as user">
                <ng-container *ngIf="user.orgId">
                  <a mat-icon-button matTooltip="View Buyer details" [routerLink]="['../../buyer/', user.uid]">
                    <mat-icon svgIcon="launch"></mat-icon>
                  </a>
                </ng-container>
              </ng-container>
            </ng-template>
          </bf-table>
        </ng-container>
      </article>
    </ng-container>
  </ng-container>
  <ng-template #noScreenings>
    <article class="no-analytics surface">
      <p class="mat-body-2">Statistics about your last screening session will appear once the session is over.</p>
      <article>
        <img asset="no_screenings.svg" alt="no-screenings">
        <a *ngIf="title$ | async as title" class="create-screening" 
          mat-button mat-flat-button color="primary" 
          [routerLink]="['/c/o/dashboard/event/new/edit']" 
          [queryParams]="{titleId: title.id}">
          Organize Screening
        </a>
      </article>
    </article>
  </ng-template>
  <ng-template #loading>
    <article class="loading-spinner">
      <logo-spinner></logo-spinner>
    </article>
  </ng-template>
</section>
