@import "@angular/flex-layout/mq";

:host {
  display: block;
}

.banner {
  padding: 24px;
  background-size: cover;
  background-position: center;

  img {
    height: 200px;
  }
}

h5 {
  margin-bottom: 0;
}

section {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }
  }

  a {
    margin-bottom: 16px;
  }
}

.film-page-button {
  height: fit-content;
}

bf-table.screenings {
  margin-top: 24px;
}

.vanity_metrics{
  display: flex;
  gap: 16px;
  analytics-line-chart{
    flex-grow: 1;
    h5{
      display: flex;
    }
  }
}


@include layout-bp(lt-lg) {
  .vanity_metrics{
    flex-direction: column;
  }
}
