<tunnel-page>
  <h4 title>TITLE INFORMATION</h4>
  <h1 subtitle>Credits</h1>
  <section tunnel-form>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Production information</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <movie-form-production-year [form]="productionYear"></movie-form-production-year>
        <movie-form-stakeholders [form]="stakeholders"></movie-form-stakeholders>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title><h3>More information</h3></mat-card-title>
      </mat-card-header>
      <mat-card-content> </mat-card-content>
    </mat-card>
  </section>
</tunnel-page>
