<ng-container *ngIf="sale$ | async as sale; else loading">
  <header fxLayout="column" fxLayoutAlign="start start">

    <!-- Internal -->
    <ng-container *ngIf="sale.sellerId === centralOrgId.catalog; else externalSale">
      <div fxLayout fxlayoutAlign="space-between center">
        <bf-tag *ngIf="sale.negotiation">
          {{ sale.negotiation | negotiationStatus | toLabel: 'contractStatus' }}
        </bf-tag>
        <a mat-button routerLink="/c/o/dashboard/standard-terms" target="_blank">
          <mat-icon svgIcon="file"></mat-icon>
          <span>See Standard Terms</span>
        </a>
      </div>
      <ng-container *ngIf="sale.buyerId | getOrg | async as org">
        <div fxLayout fxLayoutAlign="start center" fxLayoutGap="16px">
          <img height="100" width="100" [ref]="org?.logo" asset="empty_organization.svg" type="logo"
            alt="Organization Logo">
          <h1>{{ org | orgName }}</h1>
        </div>
      </ng-container>

      <div fxLayout fxLayoutAlign="space-between center" fxLayoutGap="16px">
        <span>Ref: {{ sale.offerId }} / Offer created: {{ sale._meta.createdAt | date: 'MM/dd/yyyy' }}</span>
        <button mat-button color="primary" (click)="openIntercom()">
          <mat-icon svgIcon="comment"></mat-icon>
          <span>Contact Archipel Content Team</span>
        </button>
      </div>
    </ng-container>

    <!-- External -->
    <ng-template #externalSale>
      <div fxLayout fxlayoutAlign="space-between center">
        <a mat-icon-button routerLink="/c/o/dashboard/sales" color="primary">
          <mat-icon svgIcon="arrow_back"></mat-icon>
        </a>
        <p>Sale external from Archipel Content</p>
      </div>


      <bf-tag>
        {{sale.status | toLabel: 'contractStatus'}}
        <ng-container *ngIf="sale.status === 'pending'">(displayed as pending)</ng-container>
      </bf-tag>

      <div fxLayout fxLayoutAlign="end center" fxLayoutGap="16px">
        <button mat-button color="primary" (click)="openIntercom()">
          <mat-icon svgIcon="comment"></mat-icon>
          <span>Contact Archipel Content Team</span>
        </button>
      </div>
    </ng-template>
  </header>

  <router-outlet></router-outlet>
</ng-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
