<list-page [items]="orgs$ | async">

  <list-page-app-bar>
    <form class="app-bar" [formGroup]="searchForm" fxLayout fxLayoutAlign="center center">
      <mat-icon matPrefix svgIcon="search"></mat-icon>
      <input type="text" formControlName="query" [value]="searchForm.query.value"
        placeholder="Search for a sale's company">
    </form>
  </list-page-app-bar>

  <list-page-title>
    <h1 class="mat-display-2 page-title">Sellers</h1>
  </list-page-title>

  <list-page-search>
    <mat-form-field appearance="outline" [formGroup]="searchForm">
      <mat-label>Search for a sale's company</mat-label>
      <mat-icon matPrefix svgIcon="search"></mat-icon>
      <input matInput type="text" formControlName="query" [value]="searchForm.query.value">
    </mat-form-field>
  </list-page-search>

  <list-page-description>
    <span i18n *ngIf="nbHits" class="mat-body-2">
      There {nbHits, plural, =1 {is} other {are}} {{ nbHits }} seller{nbHits, plural, =1 {} other {s}}
      available.
    </span>
  </list-page-description>

  <list-filter>
    <ng-template filter label="Company's Nationality" [form]="searchForm.countries">
      <chips-autocomplete [form]="searchForm.countries" placeholder="Country of Origin" scope='territories'>
        <mat-label>Type and select Country</mat-label>
      </chips-autocomplete>
    </ng-template>
  </list-filter>

  <ng-template listPageCard let-org>
    <org-card [org]="org"></org-card>
  </ng-template>

  <list-page-progress [value]="hitsViewed / nbHits * 100" (loadMore)="loadMore()">
    <span>You've viewed {{ hitsViewed }} sellers from {{ nbHits }}.</span>
  </list-page-progress>

</list-page>