<ng-template *ngIf="loading$ | async">
  <mat-spinner color="accent" #loading></mat-spinner>
</ng-template>
<ng-container *ngIf="(movie$ | async) as movie;" test-id="content">
  <header fxLayout="row" fxLayoutAlign="center" fxLayout.lt-sm="column">
    <article fxLayout="row" fxLayout.lt-sm="column" fxFlex>
      <div *ngIf="movie.main.poster as poster">
        <img class="movie-poster" [ref]="poster" asset="empty_poster.webp" alt="movie poster">
      </div>
      <div class="movie-info">
        <h4>{{ getTitle(movie) }}</h4>
        <h1>{{ movie.main.title.international }}</h1>
        <ng-container *ngIf="movie.main.title.international !== movie.main.title.original">
          <h3>{{ movie.main.title.original }}</h3>
        </ng-container>
        <p class="mat-body-1">{{ getDirectors(movie) }}</p>
        <p class="mat-body-2">{{ getOriginalCountries(movie) }}</p>
      </div>
    </article>
    <article fxLayout="column" fxLayoutAlign="space-around end">
      <a *ngIf="router.url.split('/').pop() !== 'avails'" class="switch-button" mat-stroked-button color="primary"
       routerLink="avails">Switch to Avails</a>
      <a *ngIf="router.url.split('/').pop() === 'avails'" class="switch-button" mat-stroked-button color="primary"
      routerLink="main">Switch to Main Information</a>
      <wishlist-button [movieId]="movie.id"></wishlist-button>
    </article>
  </header>
  <section>
    <nav mat-tab-nav-bar>
      <a mat-tab-link
      *ngFor="let link of navLinks"
      [routerLink]="link.path"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
     {{link.label}}
      </a>
    </nav>
    <router-outlet></router-outlet>
  </section>
</ng-container>
