@import '@angular/flex-layout/mq';

movie-header-cta {
  width: 100%;
  margin-bottom: 16px;
  
  section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
  }
  
  a {
    width: fit-content;
  }
}

movie-header-actions {
  display: flex;
  gap: 24px;
}

section.hero {
  padding: 40px;
}

mat-spinner {
  display: inline-block;
}

@include layout-bp(gt-sm) {
  movie-header-actions {
    margin-left: auto;
  }
}

@include layout-bp(lt-md) {
  movie-header-cta {
    org-chip {
      display: flex;
      justify-content: center;
    }

    section {
      justify-content: center;
    }
  }
}