@import "~@angular/flex-layout/mq";

movie-header-cta {
  width: 100%;
  margin-bottom: 16px;

  section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
  }
  
  a {
    width: fit-content;
  }
}

movie-header-actions {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 24px;
}

section.hero {
  padding: 40px;
}

@include layout-bp(lt-sm) {
  movie-header-actions {
    display: none;
  }
}