<section fxLayout="row" fxLayout="space-between stretch" fxLayoutGap="24px">
  <mat-card fxFlex *ngIf="versionView$ | async as version">
    <mat-card-header>
      <mat-card-title i18n>
        You made an offer for {{ version.titleIds.length }} title{version.titleIds.length, plural, =1 {} other {s}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p i18n *ngIf="version.price as price">
        Your offer is {{ price.amount | currency: price.currency }} for {{ version.titleIds.length }}
        title{version.titleIds.length, plural, =1 {} other {s}}:
      </p>
      <ul>
        <li *ngFor="let title of titles$ | async">{{ title.main.title.international }}</li>
      </ul>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="end end">
      <button mat-stroked-button color="primary" (click)="openIntercom()">
        <mat-icon svgIcon="comment"></mat-icon>
        <span>Connect with Archipel Team</span>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="payment-schedule">
    <mat-card-header>
      <mat-card-title>Payment Schedule</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list *ngIf="payment$ | async as payments">
        <mat-list-item *ngFor="let payment of payments.list">{{ payment }}</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</section>

<section *ngIf="versionsView$ | async as versions">
  <mat-card *ngIf="versions.length">
    <mat-card-header>
      <mat-card-title>Negotiation History</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <contract-version-table [versions]="versions"></contract-version-table>
    </mat-card-content>
  </mat-card>
</section>


<!-- DISTRIBUTION RIGHTS -->
<section *ngIf="titles$ | async as titles">
  <mat-card *ngIf="titles.length">
    <mat-accordion multi="false">
      <ng-container *ngFor="let movie of titles">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title fxLayout="row" fxLayoutAlign="space-between center">
              <h3>{{ movie.main.title.international }}</h3>
              <ng-container *ngIf="(activeVersion$ | async) as version">
                <span *ngIf="version.titles[movie.id].price as price">
                  {{ price.amount | currency : price.currency }}
                </span>
              </ng-container>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <ng-template matExpansionPanelContent>
            <article fxLayout="row" fxLayoutAlign="start start" class="movie-information">
              <img [ref]="movie.main.poster.media" asset="empty_poster.webp" alt="Movie poster" >
              <div>
                <p>
                  {{ getDirectors(movie) }}
                </p>
                <p class="mat-body-2">
                  <span>{{ movie.main.originCountries | translateSlug: 'TERRITORIES'}}, </span>
                  <span> {{ movie.main.productionYear }}</span>
                </p>
              </div>
            </article>
            <!-- MOVIE DISTRIBUTION RIGHT LIST -->
            <catalog-right-list [rights]="movie.distributionRights"></catalog-right-list>
          </ng-template>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </mat-card>
</section>
