:host {
  display: block;
  padding: 8px 24px;
}

section {
  margin-bottom: 24px;
}


ul {
  list-style-type: circle;
  padding-left: 15px;
}

.payment-schedule {
  width: 30%;
}


.movie-information {
  padding: 8px 0;
  img {
    height: 56px;
  }
}
