@import "~@angular/flex-layout/mq";
$banner-background: rgba(5, 7, 36);


catalog-landing {
  // Maximum width for large screens
  .max-width {
    max-width: 1920px; // equal to "lg" in Angular breakpoints
    margin: auto;
  }

  landing-header {
    header {
      background-image: url("/assets/images/content_header_background.png");
      background-repeat: no-repeat;
      background-size: cover;
      a, h2 {
        margin-top: 24px;
      }
      h4 {
        text-transform: uppercase;
      }
    }
  }

  landing-content {
    // TODO issue #6523
    .landing-presentation {
      padding: 72px 80px;
      .mat-display-1 {
        margin-bottom: 32px;
      }
      mat-tab-group {
        max-width: 970px;
        margin-left: 80px;
        mat-tab-header {
          position: sticky;
          top: 0;
          background-color: var(--background);
          z-index: 2;
        }
        header {
          margin-block: 32px;
          video {
            max-width: 550px;
          }
        }

        .features {
          margin-bottom: 24px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: 1fr;
          gap: 8px;
        }
        .surface {
          text-align: center;
        }
      
        .benefits {
          .benefits-container {
            padding: 32px;
            background-color: var(--background-card);
            white-space: pre-wrap;
          }
        }
      }
    }

    .join {
      background-color: $banner-background;
      background: linear-gradient(to right, $banner-background 0%, #2a1d34 50%, $banner-background 100%);
      padding: 96px 0;
    }

    .expertise {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      gap: 0 24px;
      padding: 80px;

      h3 {
        grid-row: 1;
        grid-column: 1;
      }
      div {
        grid-row: 2;
        grid-column: 1;
        display: flex;
        align-items: center;
        img {
          width: 80%;
        }
      }
      article {
        grid-row: 2;
        grid-column: 2;
        span {
          font-weight: bold;
        }
        a {
          text-decoration: underline;
          font-size: large;
        }
      }
    }
  }

  .landing-detail {
    padding: 80px;
    background-color: var(--background-card);
    a {
      width: 30%;
      cursor: pointer;
      transition: box-shadow 0.3s ease-in-out;

      .surface {
        width: 100%;
      }
    }
    a:hover {
      box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.318);
      transition: box-shadow 0.5s ease-in-out;
    }
  }
}

landing-app-link {
  section {
    padding-block: 72px;
  }
}

@include layout-bp(lt-lg) {
  catalog-landing {
    landing-content {
      .landing-presentation {
        mat-tab-group {
          .surface {
            padding: 32px;
          }
          margin: 0;
        }
      }
      .expertise {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        h3 {
          grid-row: 1;
          grid-column: 1;
        }
        div {
          grid-row: 2;
          grid-column: 1;
          justify-content: center;
          img {
            width: 60%
          }
        }
        article {
          grid-row: 3;
          grid-column: 1;
          margin-top: 48px;
        }
      }
    }
  }
}

@include layout-bp(lt-md) {
  catalog-landing {
    landing-header {
      header {
        p {
          width: 100%;
        }
      }
    }
    landing-content {
      .landing-presentation {
        mat-tab-group {
          .features {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
          }
          .benefits {
            div {
              text-align: center;
              img {
                margin-bottom: 16px;
              }
            }
          }
        }
      }
      .expertise {
        padding: 48px;
      }
    }
    
    .landing-detail {
      a {
        width: 75%
      }
    }
  }
}

@include layout-bp(lt-sm) {
  catalog-landing {
    landing-header {
      text-align: center;
    }
    landing-content {
      .landing-presentation {
        padding: 32px 16px;
      }
      text-align: center;

      .expertise {
        padding: 32px 16px;
        div {
          img {
            width: 80%;
          }
        }
      }

      .landing-detail {
        padding-inline: 48px;
        a {
          width: 100%
        }
      }
    }
  }
}

@include layout-bp(gt-lg) {
  catalog-landing {
    landing-header {
      header {
        background-image: linear-gradient(
          to right, 
          $banner-background 0%,
          rgba(0, 0, 0, 0) 40px,
          rgba(0, 0, 0, 0) calc(100% - 40px),
          $banner-background 100%
        ),
        url("/assets/images/content_header_background.png");
      }
    }
  }
}