<landing-toolbar color="primary" imgAsset="LogoArchipelContentPrimary.svg"></landing-toolbar>
<landing-header class="dark-contrast-theme">
  <h4>Archipel Content</h4>
  <p class="mat-display-2 offer">The only marketplace offering package deals</p>
  <h2>for TV, VOD and ancillary rights</h2>
</landing-header>
<catalog-view-marketplace></catalog-view-marketplace>
<catalog-key-features></catalog-key-features>
<landing-how-it-works
  [tabNames]="tabNames"
  [tabTitle]="tabTitle"
  [sellerFeatures]="sellerFeatures"
  [buyerFeatures]="buyerFeatures" >
</landing-how-it-works>
<landing-learn-more id="demo"></landing-learn-more>
<landing-footer logo="LogoArchipelContentPrimary.svg"></landing-footer>
