<landing-shell-page>
  <landing-header>
    <header class="max-width" fxLayout="column" fxLayoutAlign="start start" fxLayoutAlign.lt-sm="center center" fxLayoutGap="32px">
      <h4>Welcome to Archipel Content</h4>
      <h1 class="mat-display-2">The first marketplace offering <br> multi-seller deals</h1>
      <h2>for TV, VOD and ancillary rights</h2>
      <a mat-flat-button color="accent" routerLink="/auth/identity">
        <span>Join now</span>
        <mat-icon svgIcon="arrow_forward"></mat-icon>
      </a>
    </header>
  </landing-header>

  <landing-content>
    <section class="landing-presentation max-width">
      <h3 class="mat-display-1">Deals made easy</h3>
      <mat-tab-group animationDuration="1000ms" selectedIndex="0" (selectedTabChange)="onTabChanged($event)">
        <mat-tab [label]="tabNames[0]">
          <header fxLayout fxLayout.lt-lg="column" fxLayoutGap="32px">
            <video #sellerVideo [muted]="true" autoplay loop src="assets/videos/sellerLP.mp4" type="video/mp4"></video>
            <div>
              <h2>{{ tabTitle[0].title }}</h2>
              <p class="mat-body-1">{{ tabTitle[0].description }}</p>
            </div>
          </header>

          <div class="surface" *ngFor="let feature of sellerFeatures; let i = index" [ngClass]="{ reverse: i%2 !== 0 }">
            <div fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.lt-md="center center">
              <h3>{{ feature.title }}</h3>
              <p>{{ feature.description }}</p>
            </div>  
            <div fxLayoutAlign="center center">
              <img [asset]="feature.imgAsset" alt="seller feature image">
            </div>
          </div>
        </mat-tab>

        <mat-tab [label]="tabNames[1]">
           <header fxLayout fxLayoutGap="48px" fxLayout.lt-lg="column" fxLayoutGap="32px">
            <video #buyerVideo [muted]="true" autoplay loop src="assets/videos/buyerLP.mp4" type="video/mp4"></video>
            <div>
              <h2>{{ tabTitle[1].title }}</h2>
              <p class="mat-body-1">{{ tabTitle[1].description }}</p>
            </div>
          </header>

          <div class="surface" *ngFor="let feature of buyerFeatures; let i = index" [ngClass]="{ reverse: i%2 !== 0 }">
            <div fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.lt-md="center center">
              <h3>{{ feature.title }}</h3>
              <p>{{ feature.description }}</p>
            </div>  
            <div fxLayoutAlign="center center">
              <img [asset]="feature.imgAsset" alt="buyer feature image">
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </section>
    
    <section fxLayout="column" fxLayoutAlign="start center" class="dark-contrast-theme join" fxLayoutGap="40px">
      <h2 class="mat-display-2">Subscribe for free!</h2>
      <p>We take 10% commission when there is a deal</p>
      <a mat-flat-button color="primary" routerLink="/auth/identity">
        <span>Join now</span>
        <mat-icon svgIcon="arrow_forward"></mat-icon>
      </a>
    </section>

    <section class="expertise max-width">
      <h3 class="mat-display-1">Our expertise</h3>
      <div>
        <img [asset]="'content_our_expertise.svg'" alt="expertise img">
      </div>
      <article>
        <span>The Company</span>
        <p class="mat-body-1"><a href="https://cascade8.com/" target="_blank" rel="noreferrer noopener">Cascade8</a>  is the tech branch of the media company <a href="http://logicalpictures.com/" target="_blank" rel="noreferrer noopener">Logical Pictures Group</a>. It develops a technological ecosystem to digitize, streamline and optimize the activities of financing, selling and acquiring audiovisual content.</p>
        <span>The Applications</span>
        <p class="mat-body-1">This Cascade8 ecosystem is composed of various applications, each of which aims at solving a specific bottleneck in the audiovisual value chain (<a href="https://www.archipelmarket.com/" target="_blank" rel="noreferrer noopener">Archipel Market</a> , <a href="https://archipelcontent.com/" target="_blank" rel="noreferrer noopener">Archipel Content</a> , <a href="https://www.mediafinanciers.com/" target="_blank" rel="noreferrer noopener">Media Financiers</a> )
          <br>These applications are linked to one another to simplify user access and data reusability between the different services.
        </p>
        <span>Blockchain Projects</span>
        <p class="mat-body-1">To enrich web and software projects, <a href="https://cascade8.com/" target="_blank" rel="noreferrer noopener">Cascade8</a> and the <a href="http://logicalpictures.com/" target="_blank" rel="noreferrer noopener">Logical Pictures Group</a> are spearheads in the application of blockchain technology in the content industry, from rights & revenue management (Blockframes) and NFTs (<a href="https://www.filmseriesnft.com/" target="_blank" rel="noreferrer noopener">FilmSeriesNFT.com</a>) to STOs (through its tokenized investment fund <a href="https://www.logicalcontentventures.com/" target="_blank" rel="noreferrer noopener">Logical Content Ventures</a>).</p>
      </article>
    </section>
  </landing-content>
</landing-shell-page>
