@import "~@angular/flex-layout/mq";

landing-header {
  padding: 60px 200px;
  background-image: url("/assets/images/banner_header.png");
  a {
    margin-top: 80px;
  }
  h4 {
    text-transform: uppercase;
  }
  p {
    width: 75%;
  }
}

landing-content {
  // TODO issue #6523 move all this commit's code to shell component 
  padding: 48px 240px;

  h1 {
    margin-bottom: 12px;
  }

  .tab-margin {
    margin-top: 24px;
    align-items: flex-start;
    img {
      max-width: 600px;
    }
  }

  h5 {
    margin-top: 48px;
    text-transform: uppercase;
  }

  article {
    mat-card {
      width: 49%;
      min-height: 400px;
      margin-bottom: 24px;
      text-align: center;
      img {
        width: 150px;
      }
    }
  }

  .join {
    padding: 48px 0;
  }
}

@include layout-bp(lt-lg) {
  landing-content {
    padding: 48px 140px;
  }
}

@include layout-bp(lt-md) {
  landing-header {
    p {
      width: 80%;
    }
  }
  landing-content {
    padding: 48px 64px;
    article mat-card {
      width: 75%;
    }
  }
}

@include layout-bp(lt-sm) {
  landing-header {
    text-align: center;
    p {
      width: 90%;
    }
  }
  landing-content {
    padding: 24px 8px;
    text-align: center;
    article mat-card {
      width: 100%;
    }
  }
}
