<landing-shell-page>
  <landing-header>
    <header class="max-width" fxLayout="column" fxLayoutAlign="start start" fxLayoutAlign.lt-sm="center center">
      <h4>Welcome to Archipel Content</h4>
      <p class="mat-display-2">The only marketplace offering package deals</p>
      <h2>for TV, VOD and ancillary rights</h2>
      <a mat-flat-button color="accent" routerLink="/auth/identity">
        <span>Join now</span>
        <mat-icon svgIcon="arrow_forward"></mat-icon>
      </a>
    </header>
  </landing-header>

  <landing-content class="max-width">
    <catalog-view-marketplace></catalog-view-marketplace>
    <catalog-key-features></catalog-key-features>
    <h1 class="mat-display-1">How it works</h1>
    <mat-tab-group animationDuration="1000ms" selectedIndex="0">
      <mat-tab [label]="tabNames[0]">
        <article fxLayout="row" fxLayoutGap="24px" fxLayout.lt-lg="column" class="tab-margin">
          <img [asset]="tabTitle[0].imgAsset" alt="seller image">
          <div fxLayout="column">
            <h3>{{ tabTitle[0].title }}</h3>
            <ng-container *ngIf="tabTitle[0].description as description">
              <p class="mat-body-1">{{ description }}</p>
            </ng-container>
          </div>
        </article>
        <h5>Features</h5>
        <article fxLayout="row wrap" fxLayoutAlign="space-between">
          <mat-card *ngFor="let feature of sellerFeatures">
            <img [asset]="feature.imgAsset" alt="seller feature image">
            <h3>{{ feature.title }}</h3>
            <p class="mat-body-1">{{ feature.description }}</p>
          </mat-card>
        </article>
      </mat-tab>
      <mat-tab [label]="tabNames[1]">
        <article fxLayout="row" fxLayoutGap="24px" fxLayout.lt-lg="column" class="tab-margin">
          <img [asset]="tabTitle[1].imgAsset" alt="buyer image">
          <div fxLayout="column">
            <h3>{{ tabTitle[1].title }}</h3>
            <ng-container *ngIf="tabTitle[1].description as description">
              <p class="mat-body-1">{{ description }}</p>
            </ng-container>
          </div>
        </article>
        <h5>Features</h5>
        <article fxLayout="row wrap" fxLayoutAlign="space-between">
          <mat-card *ngFor="let feature of buyerFeatures">
            <img [asset]="feature.imgAsset" alt="buyer feature image">
            <h3>{{ feature.title }}</h3>
            <p class="mat-caption">{{ feature.description }}</p>
          </mat-card>
        </article>
      </mat-tab>
    </mat-tab-group>
    <section fxLayout="column" fxLayoutAlign="start center" class="join" fxLayoutGap="40px">
      <p class="mat-display-2">Interested? Join now!</p>
      <a mat-flat-button color="accent" routerLink="/auth/identity">
        <span>Sign up</span>
        <mat-icon svgIcon="arrow_forward"></mat-icon>
      </a>
    </section>
  </landing-content>
</landing-shell-page>
