@import "~@angular/flex-layout/mq";
$banner-background: rgba(5, 7, 54);

landing-header {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1920px) 1fr;
  padding: 0;

  header {
    padding: 60px 200px;
    background-image: url("/assets/images/banner_header.png");
    background-repeat: no-repeat;
    background-size: cover;
    a, h2 {
      margin-top: 24px;
    }
    h4 {
      text-transform: uppercase;
    }
    p {
      width: 75%;
    }
  }

  .banner-spacing {
    background-color: $banner-background;
  }
}

landing-content {
  // TODO issue #6523 move all this commit's code to shell component 
  padding: 48px 240px;

  h1 {
    margin-bottom: 12px;
  }

  .tab-margin {
    margin-top: 24px;
    align-items: flex-start;
    img {
      max-width: 600px;
    }
  }

  h5 {
    margin-top: 48px;
    text-transform: uppercase;
  }

  article {
    mat-card {
      width: 49%;
      min-height: 400px;
      margin-bottom: 24px;
      text-align: center;
      img {
        width: 150px;
      }
    }
  }

  .join {
    padding: 48px 0;
  }
}

@include layout-bp(lt-lg) {
  landing-content {
    padding: 48px 140px;
  }
}

@include layout-bp(lt-md) {
  landing-header {
    p {
      width: 80%;
    }
  }
  landing-content {
    padding: 48px 64px;
    article mat-card {
      width: 75%;
    }
  }
}

@include layout-bp(lt-sm) {
  landing-header {
    text-align: center;
    p {
      width: 90%;
    }
  }
  landing-content {
    padding: 24px 8px;
    text-align: center;
    article mat-card {
      width: 100%;
    }
  }
}

@include layout-bp(gt-lg) {
  landing-header {
    header {
      background-image: linear-gradient(
        to right, 
        $banner-background 0%,
        rgba(0, 0, 0, 0) 40px,
        rgba(0, 0, 0, 0) calc(100% - 40px),
        $banner-background 100%
      ),
      url("/assets/images/banner_header.png");
    }
  }

  landing-content {
    padding: 48px 0px;
  }
}