
<a mat-icon-button routerLink="..">
  <mat-icon svgIcon="arrow_back"></mat-icon>
</a>
<h1>Create Movie</h1>

<waterfall-title-form
  [movieId]="movieId"
  [movieForm]="movieForm"
  [waterfallForm]="waterfallForm"
></waterfall-title-form>

<section>
  <ng-container *ngIf="creating$ | async; else canCreate">
    <mat-spinner></mat-spinner>
  </ng-container>
  <ng-template #canCreate>
    <button mat-flat-button color="primary" (click)="create()" [disabled]="invalid$ | async">Create Movie</button>
  </ng-template>
</section>