<ng-container *ngIf="(titles$ | async) as titles; else loading">
  <ng-container *ngIf="(filter.value !== 'all' || titles.length); else empty">
    <dashboard-movie-list-header></dashboard-movie-list-header>

    <header mat-tab-nav-bar fxLayout="row" fxLayoutAlign="space-between end">
      <button mat-tab-link (click)="applyFilter('all')" [active]="filter.value === 'all'">All Projects <span
          *ngIf="(titleCount$ | async) as titleCount">({{ titleCount.all }})</span></button>
      <button mat-tab-link (click)="applyFilter('draft')" [active]="filter.value === 'draft'">Draft <span
          *ngIf="(titleCount$ | async) as titleCount">({{ titleCount.draft }})</span></button>
      <button mat-tab-link (click)="applyFilter('ongoing')" [active]="filter.value === 'ongoing'">Ongoing <span
          *ngIf="(titleCount$ | async) as titleCount">({{ titleCount.ongoing }})</span></button>
      <button mat-tab-link (click)="applyFilter('achieved')" [active]="filter.value === 'achieved'">Achieved <span
          *ngIf="(titleCount$ | async) as titleCount">({{ titleCount.achieved }})</span></button>
      <button mat-tab-link (click)="applyFilter('archived')" [active]="filter.value === 'archived'">Archived <span
          *ngIf="(titleCount$ | async) as titleCount">({{ titleCount.archived }})</span></button>
      <ng-container *ngIf="titles">
        <span fxFlex></span>
        <button [disabled]="!titles.length || exporting || (filter.value !== 'all' && filter.value !== 'achieved')" matTooltip="Links in the export will redirect to the marketplace" mat-button (click)="export(titles)">
          <mat-icon svgIcon="pdf"></mat-icon>
          <span>Export results</span>
        </button>
      </ng-container>
    </header>

    <bf-table [source]="titles" useFilter pagination="50">
      <ng-template colRef="title.international" label="Title" let-title let-movie="item" sort defaultSort [filter]="filters.movieTitle">
        <a [routerLink]="movie.id" [matTooltip]="title">
          <u>{{ title | maxLength:50 }}</u>
        </a>
      </ng-template>
      <ng-template colRef="productionStatus" label="Production Status" let-prod>{{ prod | toLabel: 'productionStatus'
        }}</ng-template>
      <ng-template colRef="campaign.cap" label="Goal Funding" let-cap let-movie="item" sort>
        {{ cap ? (cap | currency : movie.campaign.currency : 'symbol' : '1.0-0') : '-' }}
      </ng-template>
      <ng-template colRef="campaign.received" label="Funding Raised" let-received let-movie="item" sort>
        {{ received ? (received | currency : movie.campaign.currency : 'symbol' : '1.0-0') : '-' }}
      </ng-template>
      <ng-template colRef="campaignStarted" label="Campaign Started" let-date sort>{{ date | date: 'short' }}</ng-template>
      <ng-template colRef label="Actions" let-movie sticky>
        <dashboard-movie-table-actions [movie]="movie"></dashboard-movie-table-actions>
      </ng-template>
    </bf-table>
  </ng-container>
</ng-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

<ng-template #empty>
  <dashboard-empty-movie></dashboard-empty-movie>
</ng-template>
