:host {
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.import {
  margin-bottom: 24px;
}

header {
  margin-bottom: 16px;
}

nav[mat-tab-nav-bar] button {
  border: none;
  background-color: transparent;
}

mat-card {
  margin-bottom: 80px;
}

.no-title-card {
  width: 330px;
  height: 220px;
  img {
    width: 100px;
    align-self: center;
  }
}

h1 {
  margin: 0;
}
