:host {
  padding: 24px;
  display: flex;
  flex-direction: column;
}

header[mat-tab-nav-bar] button {
  border: none;
  background-color: transparent;
  span {
    margin-left: 4px;
  }
}

mat-spinner {
  align-self: center;
}
