<tunnel-page>
  <h4 title>TITLE INFORMATION</h4>
  <h1 subtitle>Keywords</h1>
  <section tunnel-form>
    <mat-accordion multi>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>Keywords</mat-panel-title>
        </mat-expansion-panel-header>
              <!-- keyword component -->
        <form [formGroup]="promotionalDescription">
          <movie-form-keywords formArrayName="keywords"></movie-form-keywords>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
</tunnel-page>
