<ng-container *ngIf="waterfall && movie">
  <article>
    <movie-header [movie]="movie"></movie-header>
  </article>

  <mat-tab-group>
    <!-- Waterfall -->
    <mat-tab label="Waterfall" #versionsAndActions>
      <ng-container *ngIf="versions.length else noWaterfall">
        <div>
          <h3>Versions</h3>
          <button mat-button [disabled]="(canInitWaterfall$ | async) === false" (click)="initWaterfall()" color="primary" [matTooltip]="(canInitWaterfall$ | async) ? 'Initialize a new version' : 'Missing data'">
            <mat-icon svgIcon="add"></mat-icon>
            <span>Initialize a new version</span>
          </button>
        </div>
        <bf-table [source]="versions" clickable useFilter pagination="50">
          <ng-template colRef="id" label="Id" let-id sort defaultSort>
            {{ id }}
          </ng-template>
          <ng-template colRef="name" label="Name" let-name sort>
            {{ name }}
          </ng-template>
          <ng-template colRef="description" label="Description" let-description sort>
            {{ description }}
          </ng-template>
          <ng-template colRef="blockIds" label="Blocks" let-blockIds sort>
            {{ blockIds.length }} block(s)
          </ng-template>
          <ng-template colRef="id" label="Actions" let-versionId sticky>
            <button mat-icon-button (click)="removeVersion(versionId)">
              <mat-icon svgIcon="delete" matTooltip="Delete version"></mat-icon>
            </button>
            <button mat-icon-button (click)="duplicateVersion(versionId)">
              <mat-icon svgIcon="file_copy" matTooltip="Duplicate version"></mat-icon>
            </button>
            <button mat-icon-button (click)="displayActions(versionId)">
              <mat-icon svgIcon="search" matTooltip="Show actions"></mat-icon>
            </button>
            <button mat-icon-button (click)="displayWaterfall(versionId)">
              <mat-icon svgIcon="star" matTooltip="Show waterfall"></mat-icon>
            </button>
            <a mat-icon-button target="_blank" [routerLink]="['/c/o/dashboard/crm/waterfall', waterfall.id, 'dashboard', versionId]" (click)="$event.stopPropagation()">
              <mat-icon svgIcon="launch" matTooltip="Go to dashboard"></mat-icon>
            </a>
          </ng-template>
        </bf-table>
      </ng-container>
      
      <ng-template #noWaterfall>
        <section>
          <h1>Waterfall not initialized.</h1>
          <p class="mat-body-1">
            Please initalize a first version that you're going to work with by importing the required elements:
          </p>
          <ul>
            <li>              
              <a mat-button routerLink="/c/o/dashboard/crm/import/documents">
                <mat-icon svgIcon="document_signed"></mat-icon><span matLine>1 Documents (contracts)</span>
              </a>
              <mat-icon svgIcon="check_circle" class="icon-ok" *ngIf="contracts.length else notImported"></mat-icon>
            </li>
            <li>
              <a mat-button routerLink="/c/o/dashboard/crm/import/sources">
                <mat-icon svgIcon="world"></mat-icon><span matLine>2 Sources</span>
              </a>
              <mat-icon svgIcon="check_circle" class="icon-ok" *ngIf="sources.length else notImported"></mat-icon>
            </li>
            <li>
              <a mat-button routerLink="/c/o/dashboard/crm/import/rights">
                <mat-icon svgIcon="local_offer"></mat-icon><span matLine>3 Rights</span>
              </a>
              <mat-icon svgIcon="check_circle" class="icon-ok" *ngIf="hasMinimalRights() else noMinimalRights"></mat-icon>
              <ng-template #noMinimalRights>
                <mat-icon svgIcon="cancel" class="icon-nok" matTooltip="All sources does not have an associated Right"></mat-icon>
              </ng-template>
            </li>
            <li>
              <a mat-button routerLink="/c/o/dashboard/crm/import/incomes">
                <mat-icon svgIcon="monetization"></mat-icon><span matLine>4 Incomes</span>
              </a>
              <mat-icon svgIcon="check_circle" class="icon-ok" *ngIf="incomes.length else notImported"></mat-icon>
            </li>
            <li>
              <a mat-button routerLink="/c/o/dashboard/crm/import/expenses">
                <mat-icon svgIcon="monetization"></mat-icon><span matLine>5 Expenses</span>
              </a>
              <mat-icon svgIcon="check_circle" class="icon-ok" *ngIf="expenses.length else notImported"></mat-icon>
            </li>
          </ul>
          <a *ngIf="(canInitWaterfall$ | async) else refresh" (click)="initWaterfall()" class="surface">
            <img asset="add_draft.svg" alt="Add waterfall image">
            <button mat-button color="primary" matTooltip="Initialize Waterfall">Initialize Waterfall</button>
          </a>
          <ng-template #refresh>
            <button mat-button (click)="loadAll()" color="primary" matTooltip="Refresh data">
              <mat-icon svgIcon="refresh_filters"></mat-icon>
              <span>Refresh data</span>
            </button>
          </ng-template>
        </section>
        <ng-template #notImported>
          <mat-icon svgIcon="cancel" class="icon-nok"></mat-icon>
        </ng-template>
      </ng-template>

      <ng-container *ngIf="actions.length">
        <h3>Actions</h3>
        <bf-table [source]="actions" clickable useFilter pagination="50">
          <ng-template colRef="actionId" label="#" let-actionId>
            {{ actionId }}
          </ng-template>
          <ng-template colRef="payload.date" label="Date" let-date sort>
            {{ date | date: 'MM/dd/yyyy' }}
          </ng-template>
          <ng-template colRef="blockId" label="Block" let-blockId sort>
            {{ getBlockName(blockId) }}
            <button mat-icon-button [cdkCopyToClipboard]="blockId" (click)="$event.stopPropagation()">
              <mat-icon svgIcon="file_copy"></mat-icon>
            </button>
          </ng-template>
          <ng-template colRef="name" label="Type" let-name sort>
            {{ name }}
          </ng-template>
          <ng-template colRef="payload.id" label="Id" let-id>
            {{ id ? id : '--' }}
            <button *ngIf="id" mat-icon-button [cdkCopyToClipboard]="id" (click)="$event.stopPropagation()">
              <mat-icon svgIcon="file_copy"></mat-icon>
            </button>
          </ng-template>
          <ng-template colRef="payload.orgId" label="Rightholder" let-orgId>
            {{ orgId ? getRightholderName(orgId) : '--' }}
          </ng-template>
          <ng-template colRef="payload.amount" label="Amount" let-amount sort>
            <ng-container *ngIf="amount else noPrice">
              <price-per-currency [price]="getPrice(amount)"></price-per-currency>
            </ng-container>
            <ng-template #noPrice>--</ng-template>
          </ng-template>
          <ng-template colRef="payload.from" label="From" let-from sort>
            {{ from ? from : '--' }}
          </ng-template>
          <ng-template colRef="payload.to" label="To" let-to sort>
            {{ to ? to : '--' }}
          </ng-template>
          <ng-template colRef="payload.percent" label="%" let-percent>
            {{ percent ? percent * 100  : '--' }}
          </ng-template>
        </bf-table>
      </ng-container>

      <ng-container *ngIf="tree">
        <h3>Waterfall</h3>
        <waterfall-g6-graph [tree]="tree" [waterfallId]="waterfall.id"></waterfall-g6-graph>
      </ng-container>
      
      <ng-container *ngIf="versions.length">
        <h3>Tree</h3>
        <article class="surface">
          <waterfall-g6-tree *ngIf="versionsAndActions.isActive" [waterfall]="waterfall"></waterfall-g6-tree>
        </article>
      </ng-container>
    </mat-tab>

    <!-- RIGHTHOLDERS -->
    <mat-tab label="Right Holders">
      <section class="actions">
        <button mat-stroked-button color="primary" [disabled]="!rightholders.length" (click)="removeRightholders(rightholders)">
          <mat-icon svgIcon="delete"></mat-icon>
          <span>Remove all rightholders</span>
        </button>
      </section>
      <bf-table [source]="rightholders" clickable useFilter pagination="50">
        <ng-template colRef="id" label="Id" let-id sort>
          {{ id }}
        </ng-template>
        <ng-template colRef="name" label="Name" let-name sort defaultSort>
          {{ name }}
        </ng-template>
        <ng-template colRef="roles" label="Roles" let-roles sort>
          {{ roles | toLabel: 'rightholderRoles' }}
        </ng-template>
        <ng-template colRef="" label="Action" let-rightholder sticky>
          <a mat-icon-button target="_blank" [routerLink]="['/c/o/dashboard/crm/waterfall', waterfall.id, 'rightholder', rightholder.id]" (click)="$event.stopPropagation()">
            <mat-icon svgIcon="launch"></mat-icon>
          </a>
          <button mat-icon-button (click)="removeRightholders([rightholder])">
            <mat-icon svgIcon="delete" matTooltip="Delete rightholder"></mat-icon>
          </button>
        </ng-template>
      </bf-table>
    </mat-tab>

    <!-- DOCUMENTS -->
    <mat-tab label="All Documents">
      <section class="actions">
        <button mat-stroked-button color="primary" [disabled]="!documents.length" (click)="removeDocuments(documents)">
          <mat-icon svgIcon="delete"></mat-icon>
          <span>Remove all documents</span>
        </button>
      </section>
      <bf-table [source]="documents" clickable useFilter pagination="50" (rowClick)="goToDocument($event.id)">
        <ng-template colRef="id" label="Id" let-id sort>
          {{ id }}
        </ng-template>
        <ng-template colRef="signatureDate" label="Signature Date" let-signatureDate sort defaultSort>
          {{ signatureDate | date: 'MM/dd/yyyy' }}
        </ng-template>
        <ng-template colRef="rootId" label="Parent" let-rootId sort>
          {{ rootId ? rootId : '--' }}
        </ng-template>
        <ng-template colRef="type" label="Type" let-type sort>
          {{ type }}
        </ng-template>
        <ng-template colRef="" label="Action" let-document sticky>
          <a mat-icon-button target="_blank" [routerLink]="['/c/o/dashboard/crm/waterfall', waterfall.id, 'document', document.id]" (click)="$event.stopPropagation()">
            <mat-icon svgIcon="launch"></mat-icon>
          </a>
          <button mat-icon-button (click)="removeDocuments([document])">
            <mat-icon svgIcon="delete" matTooltip="Delete document"></mat-icon>
          </button>
        </ng-template>
      </bf-table>
    </mat-tab>
    
    <!-- CONTRACTS -->
    <mat-tab label="1 - Contracts">
      <section class="actions">
        <button mat-stroked-button color="primary" [disabled]="!contracts.length" (click)="removeDocuments(contracts)">
          <mat-icon svgIcon="delete"></mat-icon>
          <span>Remove all contracts</span>
        </button>
      </section>
      <bf-table [source]="contracts" clickable useFilter pagination="50" (rowClick)="goToDocument($event.id)">
        <ng-template colRef="id" label="Id" let-id sort>
          {{ id }}
        </ng-template>
        <ng-template colRef="signatureDate" label="Signature Date" let-signatureDate sort defaultSort>
          {{ signatureDate | date: 'MM/dd/yyyy' }}
        </ng-template>
        <ng-template colRef="rootId" label="Parent" let-rootId sort>
          {{ rootId ? rootId : '--' }}
        </ng-template>
        <ng-template colRef="sellerId" label="Licensor" let-sellerId sort>
          {{ getRightholderName(sellerId) }}
        </ng-template>
        <ng-template colRef="buyerId" label="Licensee" let-buyerId sort>
          {{ getRightholderName(buyerId) }}
        </ng-template>
        <ng-template colRef="" label="Price" let-item sort>
          <ng-container *ngIf="getDeclaredAmount(item) as amount">
            <price-per-currency [price]="amount"></price-per-currency>
          </ng-container>
        </ng-template>
        <ng-template colRef="type" label="Type" let-type sort>
          {{ type }}
        </ng-template>
        <ng-template colRef="" label="Action" let-contract sticky>
          <a mat-icon-button target="_blank" [routerLink]="['/c/o/dashboard/crm/waterfall', waterfall.id, 'document', contract.id]" (click)="$event.stopPropagation()">
            <mat-icon svgIcon="launch"></mat-icon>
          </a>
          <button mat-icon-button (click)="removeDocuments([contract])">
            <mat-icon svgIcon="delete" matTooltip="Delete contract"></mat-icon>
          </button>
        </ng-template>
      </bf-table>
    </mat-tab>

    <!-- SOURCES -->
    <mat-tab label="2 - Sources">
      <section class="actions">
        <button mat-stroked-button color="primary" [disabled]="!sources.length" (click)="removeSources(sources)">
          <mat-icon svgIcon="delete"></mat-icon>
          <span>Remove all sources</span>
        </button>
      </section>
      <bf-table [source]="sources" clickable useFilter pagination="50">
        <ng-template colRef="id" label="Id" let-id sort defaultSort>
          {{ id }}
        </ng-template>
        <ng-template colRef="name" label="Name" let-name sort>
          {{ name }}
        </ng-template>
        <ng-template colRef="medias" label="Medias" let-medias sort>
          <mat-chip-list *ngIf="medias.length else noMedias" aria-label="Medias">
            <mat-chip disableRipple *ngFor="let media of medias  | toGroupLabel:'medias':'All'">
              {{ media }}
            </mat-chip>
          </mat-chip-list>
          <ng-template #noMedias>--</ng-template>
        </ng-template>
        <ng-template colRef="territories" label="Territories" let-territories sort>
          <span *ngIf="territories.length else noTerritories" class="group-label" (click)="openTerritoryModal(territories)">
            {{ territories | toGroupLabel:'territories':'World' | join | maxLength:30 }}
          </span>
          <ng-template #noTerritories>--</ng-template>
        </ng-template>
        <ng-template colRef="destinationId" label="Destination Right" let-destinationId sort>
          {{ destinationId }}
        </ng-template>
        <ng-template colRef="destinationId" label="Valid" let-destinationId sort>
          <mat-icon svgIcon="check_circle" class="icon-ok" *ngIf="rightExists(destinationId) else noMatchingRight"></mat-icon>
          <ng-template #noMatchingRight>
            <mat-icon svgIcon="cancel" class="icon-nok" matTooltip="Import required right"></mat-icon>
          </ng-template>
        </ng-template>
        <ng-template colRef="" label="Action" let-source sticky>
          <button mat-icon-button (click)="removeSources([source])">
            <mat-icon svgIcon="delete" matTooltip="Delete source"></mat-icon>
          </button>
        </ng-template>
      </bf-table>
    </mat-tab>

    <!-- RIGHTS -->
    <mat-tab label="3 - Rights">
      <section class="actions">
        <button mat-stroked-button color="primary" [disabled]="!rights.length" (click)="removeRights(rights)">
          <mat-icon svgIcon="delete"></mat-icon>
          <span>Remove all rights</span>
        </button>
      </section>
      <bf-table [source]="rights" clickable useFilter pagination="50">
        <ng-template colRef="id" label="Id" let-id sort>
          {{ id }}
          <button mat-icon-button [cdkCopyToClipboard]="id" (click)="$event.stopPropagation()">
            <mat-icon svgIcon="file_copy"></mat-icon>
          </button>
        </ng-template>
        <ng-template colRef="name" label="Name" let-name sort>
          {{ name }}
        </ng-template>
        <ng-template colRef="rightholderId" label="Org" let-rightholderId sort>
          {{ getRightholderName(rightholderId) }}
        </ng-template>
        <ng-template colRef="groupId" label="Group" let-groupId sort>
          {{ groupId ? groupId : '--' }}
        </ng-template>
        <ng-template colRef="date" label="Date" let-date sort defaultSort>
          {{ date | date: 'MM/dd/yyyy' }}
        </ng-template>
        <ng-template colRef="actionName" label="Action Name" let-actionName sort>
          {{ actionName }}
        </ng-template>
        <ng-template colRef="percent" label="%" let-percent>
          {{ percent ? percent  : '--' }}
        </ng-template>
        <ng-template colRef="conditions" label="Conditions" let-conditions>
          {{ conditions?.conditions?.length ? conditions.conditions.length  : '--' }}
        </ng-template>
        <ng-template colRef="" label="Actions" let-right sticky>
          <button mat-icon-button (click)="removeRights([right])">
            <mat-icon svgIcon="delete" matTooltip="Delete right"></mat-icon>
          </button>
        </ng-template>
      </bf-table>
    </mat-tab>

    <!-- INCOMES -->
    <mat-tab label="4 - Incomes">
      <section class="actions">
        <button mat-stroked-button color="primary" [disabled]="!incomes.length" (click)="removeIncomes(incomes)">
          <mat-icon svgIcon="delete"></mat-icon>
          <span>Remove all incomes</span>
        </button>
      </section>
      <bf-table [source]="incomes" clickable useFilter pagination="50">
        <ng-template colRef="id" label="Id" let-id sort>
          {{ id }}
        </ng-template>
        <ng-template colRef="" label="Contract Id" let-item sort>
          {{ getCurrentContract(item) }}
        </ng-template>
        <ng-template colRef="date" label="Date" let-date sort defaultSort>
          {{ date | date: 'MM/dd/yyyy' }}
        </ng-template>
        <ng-template colRef="" label="Source" let-item sort>
          {{ getAssociatedSource(item) }}
        </ng-template>
        <ng-template colRef="" label="Price" let-item sort>
          <ng-container *ngIf="toPricePerCurrency(item) as amount">
            <price-per-currency [price]="amount"></price-per-currency>
          </ng-container>
        </ng-template>
        <ng-template colRef="" label="Action" let-income sticky>
          <button mat-icon-button (click)="removeIncomes([income])">
            <mat-icon svgIcon="delete" matTooltip="Delete income"></mat-icon>
          </button>
        </ng-template>
      </bf-table>
    </mat-tab>

    <!-- EXPENSES -->
    <mat-tab label="5 - Expenses">
      <section class="actions">
        <button mat-stroked-button color="primary" [disabled]="!expenses.length" (click)="removeExpenses(expenses)">
          <mat-icon svgIcon="delete"></mat-icon>
          <span>Remove all expenses</span>
        </button>
      </section>
      <bf-table [source]="expenses" clickable useFilter pagination="50">
        <ng-template colRef="id" label="Id" let-id sort>
          {{ id }}
        </ng-template>
        <ng-template colRef="" label="Contract Id" let-item sort>
          {{ getCurrentContract(item) }}
        </ng-template>
        <ng-template colRef="date" label="Date" let-date sort defaultSort>
          {{ date | date: 'MM/dd/yyyy' }}
        </ng-template>
        <ng-template colRef="category" label="Category" let-category sort>
          {{ category }}
        </ng-template>
        <ng-template colRef="type" label="Type" let-type sort>
          {{ type }}
        </ng-template>
        <ng-template colRef="" label="Price" let-item sort>
          <ng-container *ngIf="toPricePerCurrency(item) as amount">
            <price-per-currency [price]="amount"></price-per-currency>
          </ng-container>
        </ng-template>
        <ng-template colRef="" label="Action" let-expense sticky>
          <button mat-icon-button (click)="removeExpenses([expense])">
            <mat-icon svgIcon="delete" matTooltip="Delete expense"></mat-icon>
          </button>
        </ng-template>
      </bf-table>
    </mat-tab>

    <!-- WORLD MAP -->
    <mat-tab label="World Sales" #worldSales>
      <waterfall-sales-map *ngIf="worldSales.isActive" [waterfallId]="waterfall.id"></waterfall-sales-map>
    </mat-tab>
  </mat-tab-group>
</ng-container>
