<section fxLayout="column" fxLayoutAlign="start center" class="video-section">
  <h3>View the marketplace</h3><!-- TODO #1396 change for custom typo -->
  <video controls>
    <!-- Add movie when existing TODO #1382 -->
    <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</section>
<section fxLayout="column" fxLayoutAlign="start center" class="join-section">
  <h3>Interested? Join now!</h3>
  <a mat-flat-button color="primary" routerLink="/auth">
    <span>Sign up</span>
    <mat-icon>arrow_forward</mat-icon>
  </a>
</section>
