<section fxLayout="row">
  <article>
    <header>
      <h1>Contact Us</h1>
      <h3>+33 (0)1 83 92 71 98</h3>
      <span class="mat-caption">Mon - Fri 10:00 AM - 8:00 PM CET</span>
      <p>Send us a message and we’ll quickly get back to you :</p>
    </header>
    <form [formGroup]="form" fxLayout="column">
      <mat-form-field appearance="outline">
        <input formControlName="subject" matInput placeholder="Subject">
      </mat-form-field>
      <mat-form-field class="textarea" appearance="outline">
        <textarea formControlName="message" matInput placeholder="Message"></textarea>
      </mat-form-field>
    </form>
    <div fxLayout="row" fxLayoutAlign="center">
      <button (click)="sendMessage()" type="submit" color="primary" mat-stroked-button>
        <mat-icon svgIcon="mail"></mat-icon>
        <span>Send a message</span>
      </button>
    </div>
  </article>
  <article>
    <p>Our offices are located at 59-61, Passage Choiseul, 75002, Paris</p>
  </article>
</section>
