:host {
  display: flex;
  flex-direction: column;
  margin: 32px;
}

header  {
  display: flex;
  justify-content: space-between;
}

languages-form, runs-form {
  display: block;
}

.surface {
  margin-bottom: 32px;
}

bf-form-table {
  margin-bottom: 40px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

span.group-label {
  cursor: pointer;
}
