@import "~@angular/flex-layout/mq";

h4,
p.mat-display-2 {
  margin: 0;
}

h4 {
  text-transform: uppercase;
}

shell-header {
  background-image: url("/assets/images/banner_header.png");

  a {
    margin-top: 80px;
  }
}

@include layout-bp(xs) {
  .offer {
    font-size: 30px;
  }
}
