:host {
  display: block;
}

$max-width: 1440px;

landing-header {
  background-image: url("/assets/images/ACM_banner_landing.png");
  div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: $max-width;
  }

  p.mat-display-2 {
    margin-bottom: 24px;
  }

  span {
    width: 50%;
  }

  a {
    width: fit-content;
    margin-top: 24px;
  }

  .download-link {
    margin-top: 16px;
  }
}

landing-content {
  max-width: $max-width;

  .showcase-illustrations {
    max-width: 700px;
  }

  .features {
    white-space: pre-wrap;
  }

  h5 {
    margin-top: 36px;
  }

  article {
    margin-top: 24px;
    mat-card {
      height: 350px;
      display: flex;
      flex-direction: column;
      place-content: center center;
      align-items: center;
      padding: 24px 16px;
      width: 49%;
      margin-bottom: 24px;
      p {
        text-align: center;
      }
      img {
        width: 150px;
        margin-bottom: 24px;
      }
    }

    .buyer-card:last-child {
      margin: 0 auto;
    }
  }

  .description {
    width: 60%;
  }
}

.join {
  margin-top: 80px;
}
