<!--
<landing-how-it-works
  [tabNames]="tabNames"
  [tabTitle]="tabTitle"
  [sellerFeatures]="sellerFeatures"
  [buyerFeatures]="buyerFeatures"
>
</landing-how-it-works>
<landing-learn-more id="demo"></landing-learn-more>
<landing-footer logo="lp_logo_archipel_market_outline.webp"></landing-footer>
 -->

<landing-shell>
  <shell-header class="dark-contrast-theme">
    <header fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.xs="center center">
      <h4>Welcome to Media Financiers</h4>
      <p class="mat-display-2 offer">The ongoing<br />film market</p>
      <a mat-flat-button color="accent" routerLink="/auth/connexion">
        <span>Join now</span>
        <mat-icon svgIcon="arrow_forward"></mat-icon>
      </a>
    </header>
  </shell-header>

  <shell-usp></shell-usp>
</landing-shell>