@import "~@angular/flex-layout/mq";

:host {
  display: block;
  height: 100vh;
  overflow: auto;
}

landing-header {
  background-image: url("/assets/images/banner_landing.png");
  h4 {
    text-transform: uppercase;
  }

  .p-margin {
    margin-bottom: 24px;
  }

  .p-width {
    width: 70%;
  }

  a {
    margin-top: 24px;
  }

  .download-link {
    margin-top: 16px;
  }
}

landing-content {
  h1 {
    margin-bottom: 12px;
  }

  .tab-margin {
    margin-top: 24px;
  }

  h5 {
    margin-top: 48px;
    text-transform: uppercase;
  }

  article {
    img {
      max-width: 635px;
      max-height: 440px;
    }
    mat-card {
      width: 49%;
      min-height: 400px;
      margin-bottom: 24px;
      text-align: center;
      justify-items: center;
      img {
        width: 150px;
        margin-bottom: 24px;
      }
    }

    .buyer-card:last-child {
      margin: 0 auto;
    }
  }
}

.join {
  margin-top: 80px;
  padding-bottom: 40px;
  p {
    margin-bottom: 24px;
  }
  a.mat-flat-button {
    margin-bottom: 36px;
  }
  h3 {
    margin-bottom: 8px;
  }
}

@include layout-bp(lt-md) {
  landing-header {
    .p-width {
      width: 80%;
    }
  }
  landing-content {
    article mat-card {
      width: 75%;
    }
  }
}

@include layout-bp(lt-sm) {
  landing-header {
    text-align: center;
    .p-width {
      width: 90%;
    }
  }
  landing-content {
    text-align: center;
    article mat-card {
      width: 100%;
    }
  }
}
