<header class="import-header" fxLayout="row" fxLayoutAlign="space-between center">
  <h1>My Deals</h1>
  <div fxLayoutGap="24px">
    <a test-id="import-contracts" mat-stroked-button color="primary" routerLink="import">
      <mat-icon svgIcon="excel"></mat-icon>
      <span>Import external Sales</span>
    </a>
  </div>
</header>
<ng-container *ngIf="sales$| async; else loading">
  <sale-list [internalSales]="internalSales$ | async" [externalSales]="externalSales$ | async">
    <section fxLayout="column" fxLayoutAlign="center center" fxFlexGap="16" empty>
      <h1>You have no Deals yet.</h1>
      <p>
        You will be notified as soon as a buyer makes an offer on your titles.<br />
        Or, you can import your external sales by clicking on the below button.
      </p>
      <a test-id="import-contracts" mat-stroked-button color="primary" routerLink="./import">
        <mat-icon svgIcon="excel"></mat-icon>
        <span>Import external Sales</span>
      </a>
      <button (click)="openIntercom()" mat-button>Contact the Archipel Team</button>
      <img asset="empty_contract.svg" alt="Image, you have no sales yet">
    </section>
  </sale-list>
</ng-container>


<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
