<ng-container *ngIf="sales$ | async as sales; else loading">
  <ng-container *ngIf="sales[0].length || sales[1].length; else empty">
    <header class="import-header" fxLayout="row" fxLayoutAlign="space-between center">
      <h1>My Deals</h1>
      <a test-id="import-contracts" mat-stroked-button color="primary" routerLink="import">
        <mat-icon svgIcon="excel"></mat-icon>
        <span>Import external Sales</span>
      </a>
    </header>
    <ng-container *ngIf="internalSales$ | async as internalSales">
      <internal-sales-list *ngIf="internalSales.length" [sales]="internalSales"></internal-sales-list>
    </ng-container>
    <ng-container *ngIf="externalSales$ | async as externalSales">
      <external-sales-list *ngIf="externalSales.length" [sales]="externalSales"></external-sales-list>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #empty>
  <section fxLayout="column" fxLayoutAlign="center center" fxFlexGap="16">
    <h1>You have no Deals yet.</h1>
    <p>
      You will be notified as soon as a buyer makes an offer on your titles.<br />
      Or, you can import your external sales by clicking on the below button.
    </p>
    <a test-id="import-contracts" mat-stroked-button color="primary" routerLink="./import">
      <mat-icon svgIcon="excel"></mat-icon>
      <span>Import external Sales</span>
    </a>
    <button (click)="openIntercom()" mat-button>Contact the Archipel Team</button>
    <img asset="empty_contract.svg" alt="Image, you have no sales yet">
  </section>
</ng-template>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
