article {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

form-autocomplete, form-chips-autocomplete {
  width: 100%;
}

/* TODO #9702 (mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
mat-radio-button {
  margin-right: 16px;
}