<tunnel-page>
  <h4 title>Legal Information</h4>
  <h1 subtitle>Chain of Titles</h1>
  <p class="mat-body-1" description>Please upload every files justifying the chain of titles.</p>
  <ng-container tunnel-form>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Upload Documents</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ng-container>
          <file-upload></file-upload>
          <!-- Add / Delete -->
          <!-- <footer *ngIf="!last" fxLayout="column" fxLayoutAlign="center center">
            <button mat-mini-fab color="warn" (click)="stillPhoto.removeAt(i)" aria-label="Remove a director form">
              <mat-icon>delete</mat-icon>
            </button>
            <span>Delete Still</span>
          </footer>
          <footer *ngIf="last" fxLayout="column" fxLayoutAlign="center center">
            <button mat-mini-fab color="primary" (click)="stillPhoto.add()" aria-label="Remove a director form">
              <mat-icon>add</mat-icon>
            </button>
            <span>Add Still</span>
          </footer> -->
          <mat-divider [inset]="true"></mat-divider>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </ng-container>
</tunnel-page>
