<ng-container *ngIf="mandates$|async as mandates">
  <form [availsFilter]="availsForm" [disabled]="!mandates.length"></form>

  <h2>Available Territories</h2>

  <ng-container *ngIf="org$ | async as org">
    <p>
      Click on the territories you're interested in to add them to your Selection. For territories that are not
      licensed,
      feel free to
      <a [routerLink]="['/c/o/marketplace/organization', org.id, 'member']">contact {{ org | orgName }}</a>.
    </p>
  </ng-container>

  <ng-container *ngIf="availabilities$ | async as availabilities; else loading">
    <world-map>
      <ng-container *ngIf="this.availsForm.invalid && mandates.length">
        <section class="overlay" >
          <article>
            <h3>
              Please fill in Avail Search Criteria section <br /> to show results on the Map.
            </h3>
          </article>
        </section>
      </ng-container>
      <ng-container *ngIf="!mandates.length">
        <section class="overlay">
          <article>
            <h3>Avails coming soon.</h3>
          </article>
        </section>
      </ng-container>
      <!-- MAP LAYERS -->
      <ng-container *ngFor="let tag of availabilities.available">
        <map-feature [tag]="tag.isoA3" color="#7795ff" (click)="addTerritory(tag)"
          (mouseover)="displayTerritoryTooltip(tag.label, 'Available')" (mouseout)="clearTerritoryTooltip()">
        </map-feature>
      </ng-container>
      <ng-container *ngFor="let tag of availabilities.sold">
        <map-feature [tag]="tag.isoA3" color="#9ca3c4" (mouseover)="displayTerritoryTooltip(tag.label, 'Rights sold')"
          (mouseout)="clearTerritoryTooltip()">
        </map-feature>
      </ng-container>
      <ng-container *ngFor="let tag of availabilities.selected">
        <map-feature [tag]="tag.isoA3" color="#1a49f5" (click)="removeTerritory(tag)"
          (mouseover)="displayTerritoryTooltip(tag.label, 'Selected')" (mouseout)="clearTerritoryTooltip()">
        </map-feature>
      </ng-container>
      <ng-container *ngFor="let tag of availabilities.inBucket">
        <map-feature [tag]="tag.isoA3" color="#1a49f5"
          (mouseover)="displayTerritoryTooltip(tag.label, 'Already in selection')" (mouseout)="clearTerritoryTooltip()">
        </map-feature>
      </ng-container>      
      <ng-container *ngFor="let tag of availabilities.notLicensed">
        <map-feature [tag]="tag.isoA3" 
          (mouseover)="displayTerritoryTooltip(tag.label, 'Not Licensed')" (mouseout)="clearTerritoryTooltip()">
        </map-feature>
      </ng-container>

      <!-- TOOLTIP ON HOVERING-->
      <article *ngIf="hoveredTerritory" class="hovered-territory-card">
        <ul>
          <li><b>{{ hoveredTerritory.name }}</b></li>
          <li class="mat-caption">{{ hoveredTerritory.status }}</li>
        </ul>
      </article>

      <!-- MAP LEGEND -->
      <article class="colors-card">
        <mat-list>
          <mat-list-item>
            <svg viewBox="0 0 100 100" width="10px" height="10px">
              <rect fill="#7795ff" x="0" y="0" width="100" height="100" rx="10" />
            </svg>
            <span class="mat-caption">Available</span>
          </mat-list-item>
          <mat-list-item>
            <svg viewBox="0 0 100 100" width="10px" height="10px">
              <rect fill="#9ca3c4" x="0" y="0" width="100" height="100" rx="10" />
            </svg>
            <span class="mat-caption">Rights Sold</span>
          </mat-list-item>
          <mat-list-item>
            <svg viewBox="0 0 100 100" width="10px" height="10px">
              <rect fill="#d3ddff" x="0" y="0" width="100" height="100" rx="10" />
            </svg>
            <span class="mat-caption">Not Licensed</span>
            <mat-icon matTooltip="You can contact the seller directly for more information." svgIcon="info"></mat-icon>
          </mat-list-item>
        </mat-list>
      </article>
    </world-map>
  </ng-container>
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>

  <article fxLayout fxLayoutAlign="end" *ngIf="!availsForm.invalid">
    <button mat-button color="primary" (click)="selectAll()">
      <mat-icon svgIcon="add"></mat-icon>
      <span>Select all available territories</span>
    </button>
  </article>

</ng-container>
