<form [formGroup]="availsForm" fxLayout fxLayout.lt-md="column" fxLayoutAlign="start start" fxLayoutGap="12px">
  <section fxLayoutGap="12px" fxFlex>
    <mat-form-field appearance="outline">
      <mat-icon matPrefix svgIcon="play_arrow"></mat-icon>
      <mat-label>Media</mat-label>
      <static-group formControlName="medias" scope="medias" displayAll="All Rights" required
        placeholder="Specify right(s) to filter" [withoutValues]="['theatrical']" test-id="medias">
      </static-group>
      <mat-error *ngIf="availsForm.hasError('required', 'medias')">
        <span>This field is mandatory</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex appearance="outline">
      <mat-label>Exclusivity</mat-label>
      <mat-select formControlName="exclusive" required>
        <mat-option [value]="true">Exclusive</mat-option>
        <mat-option [value]="false">Non exclusive</mat-option>
      </mat-select>
      <mat-icon matPrefix svgIcon="star"></mat-icon>
      <mat-error *ngIf="availsForm.hasError('required', 'exclusive')">This field is mandatory</mat-error>
    </mat-form-field>
  </section>

  <section fxLayoutGap="12px" fxFlex formGroupName="duration">
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="datepickerFrom" formControlName="from" placeholder="MM/DD/YYYY" required>
      <mat-datepicker-toggle matPrefix [for]="datepickerFrom" test-id="dateFrom">
        <mat-icon matDatepickerToggleIcon svgIcon="calendar_today"></mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #datepickerFrom> </mat-datepicker>
      <mat-error *ngIf="availsForm.hasError('required', 'duration.from')">This field is mandatory</mat-error>
      <mat-error *ngIf="availsForm.hasError('startOverEnd', 'duration.from')">Start date must not be later than end date
      </mat-error>
      <mat-error *ngIf="availsForm.hasError('inPast', 'duration.from')">Date must be in the future</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex appearance="outline">
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="datepickerTo" formControlName="to" placeholder="MM/DD/YYYY" required>
      <mat-datepicker-toggle matPrefix [for]="datepickerTo" test-id="dateTo">
        <mat-icon matDatepickerToggleIcon svgIcon="calendar_today"></mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #datepickerTo> </mat-datepicker>
      <mat-error *ngIf="availsForm.hasError('required', 'duration.to')">This field is mandatory</mat-error>
      <mat-error *ngIf="availsForm.hasError('startOverEnd', 'duration.to')">End date must not be earlier than start date
      </mat-error>
      <mat-error *ngIf="availsForm.hasError('inPast', 'duration.to')">Date must be in the future</mat-error>
    </mat-form-field>
  </section>

  <button mat-icon-button (click)="clear()" matTooltip="Clear fields">
    <mat-icon svgIcon="refresh_filters"></mat-icon>
  </button>
</form>

<h2>Available Territories</h2>

<ng-container *ngIf="org$ | async as org">
  <p>
    Click on the territories you're interested in to add them to your Selection. For territories that are not licensed,
    feel free to
    <a [routerLink]="['/c/o/marketplace/organization', org.id, 'member']">contact {{ org | orgName }}</a>.
  </p>
</ng-container>
<world-map>
  <ng-container *ngIf="(status$ | async) === 'INVALID'">
    <section class="overlay" fxLayout="column" fxLayoutAlign="center center">
      <article fxLayout="column" fxLayoutAlign="center center">
        <h3>
          Please fill in Avail Search Criteria section <br /> to show results on the Map.
        </h3>
      </article>
    </section>
  </ng-container>

  <!-- MAP LAYERS -->
  <ng-container *ngFor="let tag of (available$ | async);">
    <map-feature [tag]="tag.isoA3" color="#7795ff" (click)="addTerritory(tag)"
      (mouseover)="displayTerritoryTooltip(tag.label, 'Available')" (mouseout)="clearTerritoryTooltip()">
    </map-feature>
  </ng-container>
  <ng-container *ngFor="let tag of (sold$ | async); ">
    <map-feature [tag]="tag.isoA3" color="#9ca3c4" (mouseover)="displayTerritoryTooltip(tag.label, 'Rights sold')"
      (mouseout)="clearTerritoryTooltip()">
    </map-feature>
  </ng-container>
  <ng-container *ngFor="let tag of (selected$ | async);">
    <map-feature [tag]="tag.isoA3" color="#1a49f5" (click)="removeTerritory(tag)"
      (mouseover)="displayTerritoryTooltip(tag.label, 'Selected')" (mouseout)="clearTerritoryTooltip()">
    </map-feature>
  </ng-container>
  <ng-container *ngFor="let tag of (inSelection$ | async);">
    <map-feature [tag]="tag.isoA3" color="#1a49f5"
      (mouseover)="displayTerritoryTooltip(tag.label, 'Already in selection')" (mouseout)="clearTerritoryTooltip()">
    </map-feature>
  </ng-container>

  <!-- TOOLTIP ON HOVERING-->
  <article *ngIf="hoveredTerritory" class="hovered-territory-card">
    <ul>
      <li><b>{{ hoveredTerritory.name }}</b></li>
      <li class="mat-caption">{{ hoveredTerritory.status }}</li>
    </ul>
  </article>

  <!-- MAP LEGEND -->
  <article class="colors-card">
    <mat-list>
      <mat-list-item>
        <svg viewBox="0 0 100 100" width="10px" height="10px">
          <rect fill="#7795ff" x="0" y="0" width="100" height="100" rx="10" />
        </svg>
        <span class="mat-caption">Available</span>
      </mat-list-item>
      <mat-list-item>
        <svg viewBox="0 0 100 100" width="10px" height="10px">
          <rect fill="#9ca3c4" x="0" y="0" width="100" height="100" rx="10" />
        </svg>
        <span class="mat-caption">Rights Sold</span>
      </mat-list-item>
      <mat-list-item>
        <svg viewBox="0 0 100 100" width="10px" height="10px">
          <rect fill="#d3ddff" x="0" y="0" width="100" height="100" rx="10" />
        </svg>
        <span class="mat-caption" fxLayout fxLayoutAlign="start center">
          Not Licensed
          <mat-icon matTooltip="You can contact the seller directly for more information." svgIcon="info"></mat-icon>
        </span>
      </mat-list-item>
    </mat-list>
  </article>
</world-map>
<article fxLayout fxLayoutAlign="end">
  <button mat-button color="primary" (click)="selectAll()">
    <mat-icon svgIcon="add"></mat-icon>
    <span>Select all available territories</span>
  </button>
</article>
