:host {
  display: block;
  padding: 8px 24px;
}

section {
  margin-bottom: 24px;
}

ul {
  list-style-type: circle;
  padding-left: 15px;
  font-weight: bold;
}

.payment-schedule {
  width: 30%;
}


.movie-information {
  padding: 8px 0;

  img {
    height: 56px;
    border-radius: 4px;
    border: solid 1px var(--foreground-divider);
    margin-right: 15px;
  }

}
