* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, Helvetica Neue, sans-serif;
}

html {
  -webkit-print-color-adjust: exact;
}

@media print {
  .page {
    page-break-after: always;
  }

  .breakdown, .group {
    page-break-inside: avoid;
  
  }

  .statement-participation {
    page-break-inside: avoid;
  }
}

/** FRONT PAGE **/
.doc-title {
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.doc-title .separator {
  border-bottom: 4px solid #3C64F7;
  margin: 48px auto;
  width: 150px;
  text-align: center;
}

.doc-title p {
  font-size: 14px;
  text-align: center;
}

h1 {
  text-align: center;
}

.left-corner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 310px;
}

.right-corner {
  position: absolute;
  top: 0;
  right: 0;
  width: 310px;
}

.hp-logo {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 32px;
  width: 180px;
  margin-bottom: 32px;
}

/** HEADER **/
.statement-header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.statement-header .logo {
  margin-left: 8px;
  width: 180px;
  margin-top: 8px;
}

.statement-header .header {
  margin-right: 8px;
  margin-top: 8px;
  color: #454E5D;
  font-size: 12px;
  text-align: right;
}

.statement-header-separator {
  border-bottom: 1px solid #d3d5dc;
  margin: 0;
  width: 100%;
  text-align: center;
}

/** FROM - TO **/
.statement-parties{
  display: flex;
  gap: 64px;
  padding: 24px;
}

.statement-parties .separator {
  border-bottom: 4px solid #3C64F7;
  margin: 12px 0;
  width: 80px;
}

.statement-parties span {
  color: #666B81;
  text-transform: uppercase;
  font-size: 12px;
}

.statement-parties h2 {
  color: #454E5D;
  margin-top: 4px;
  margin-bottom: 4px;
}

.statement-parties .party-desc {
  min-height: 60px;
}

/** STATEMENT PARTICIPATION **/
.statement-participation {
  padding: 18px;
  display: flex;
  justify-content: space-between;
  background-color: #e2e7fe;
  color: #3c64f7;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 18px;
  border-bottom: 1px solid #C0C0C0;
}

/** BREAKDOWN **/
.breakdown {
  background-color: #f2f4f8;
  border: 1px solid #d3d5dc;
  border-radius: 4px;
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 18px;
}

.breakdown .header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.breakdown .header div, .breakdown .header span {
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
}

.breakdown .header span {
  color: #454E5D;
}
.breakdown .header div {
  color: #1f2a3b;
}

/** SURFACE **/
.surface {
  background-color: #FFFFFF;
  border: 1px solid #d3d5dc;
  border-radius: 4px;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 24px;
}

.surface h3 {
  color: #1f2a3b;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  margin-top: 0px;
}

.surface table {
  color: #666b81;
  width: 100%;
  border-collapse: collapse;
}

.surface table td:first-of-type, .surface table th:first-of-type {
  border-left: solid 1px #d3d5dc;
}

.surface table td:last-of-type, .surface table th:last-of-type {
  border-right: solid 1px #d3d5dc;
}

.surface table th {
  text-align: left;
  text-transform: uppercase;
}

.surface table td, .surface table th {
  border-top: solid 1px #d3d5dc;
  border-bottom: solid 1px #d3d5dc;
  border-collapse: collapse;
  font-size: 13px;
  font-weight: 400;
  padding: 16px;
}

.surface table tr.net td {
  font-weight: bold;
}

.surface table.groups tr.total td, .surface table.groups tr.right td {
  font-weight: bold;
}

div.total-net {
  font-weight: 800;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
  color: #1f2a3b;
}

div.to-be-recouped{
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: var(--foreground-third-text);
  padding-top: 24px;
}