<form [formGroup]="availsForm" fxLayout fxLayoutAlign="space-evenly center" fxLayoutGap="12px" id="avails">

  <mat-form-field fxFlex appearance="outline">
    <mat-icon matPrefix svgIcon="play_arrow"></mat-icon>
    <mat-label>Media</mat-label>
    <static-group formControlName="medias" scope="medias" displayAll="All Rights" required [withoutValues]="['theatrical']" test-id="medias" placeholder="Specify right(s) to filter">
    </static-group>
  </mat-form-field>
    <mat-form-field fxFlex appearance="outline">
    <mat-label>Exlusivity</mat-label>
    <mat-select formControlName="exclusive" required>
      <mat-option [value]="true">Exclusive</mat-option>
      <mat-option [value]="false">Non exclusive</mat-option>
    </mat-select>
    <mat-icon matPrefix svgIcon="star"></mat-icon>
  </mat-form-field>

  <mat-form-field fxFlex appearance="outline">
    <mat-icon matPrefix svgIcon="world"></mat-icon>
    <mat-label>Territories</mat-label>
    <static-group formControlName="territories" scope="territories" displayAll="World" required test-id="territories" placeholder="Specify territory to filter">
    </static-group>
  </mat-form-field>

  <button mat-icon-button (click)="clear()" matTooltip="Clear fields">
    <mat-icon svgIcon="refresh_filters"></mat-icon>
  </button>

</form>

<h2>Available Dates</h2>
<ng-container *ngIf="org$ | async as org">
  <p>
    Select the time window you're interested in to add it to your Selection. For periods that are not licensed, feel free to
    <a [routerLink]="['/c/o/marketplace/organization', org.id, 'member']">contact {{ org | orgName }}</a>.
  </p>

</ng-container>

<section class="surface" fxLayout="column">
  <!-- CALENDAR LEGEND -->
  <ul>
    <li>
      <svg viewBox="0 0 100 100" width="10px" height="10px">
        <rect fill="var(--primary)" x="0" y="0" width="100" height="100" rx="10" ry="10" />
      </svg>
      <span class="mat-caption">Available</span>
    </li>
    <li>
      <svg viewBox="0 0 100 100" width="10px" height="10px">
        <rect fill="var(--foreground-disabled-text)" x="0" y="0" width="100" height="100" rx="10" ry="10" />
      </svg>
      <span class="mat-caption">Sold</span>
    </li>
    <li>
      <svg viewBox="0 0 100 100" width="10px" height="10px">
        <rect fill="var(--primary-lighter)" x="0" y="0" width="100" height="100" rx="10" ry="10" />
      </svg>
      <span class="mat-caption">Already Selected</span>
    </li>
  </ul>

  <avails-calendar
    fxFlexAlign="center"
    fxFlexAlign.lt-md="start"
    [availableMarkers]="available$ | async"
    [soldMarkers]="sold$ | async"
    [inSelectionMarkers]="inSelection$ | async"
    [selectedMarker]="selected$ | async"
    (selected)="selected($event)"
  ></avails-calendar>


  <div *ngIf="(status$ | async) === 'INVALID'" class="overlay" fxLayoutAlign="center center">
    <article class="mat-body-2">
      Please fill in Avail Search Criteria section to show results on the Calendar.
    </article>
  </div>
</section>
