<form [formGroup]="availsForm" fxLayout fxLayoutAlign="space-evenly" fxLayoutGap="12px" id="avails">
  <static-group fxFlex formControlName="medias" scope="medias" displayAll="All Rights" required placeholder="Specify right(s) to filter" [withoutValues]="['theatrical']" test-id="medias" icon="play_arrow">
    <mat-label>Media</mat-label>
  </static-group>

  <mat-form-field fxFlex appearance="outline">
    <mat-label>Exlusivity</mat-label>
    <mat-select formControlName="exclusive" required>
      <mat-option [value]="true">Exclusive</mat-option>
      <mat-option [value]="false">Non exclusive</mat-option>
    </mat-select>
    <mat-icon matPrefix svgIcon="star"></mat-icon>
  </mat-form-field>

  <static-group fxFlex formControlName="territories" scope="territories" displayAll="World" placeholder="Specify territory to filter" required test-id="territories" icon="world">
    <mat-label>Territories</mat-label>
  </static-group>

</form>

<h2>Available Dates</h2>
<ng-container *ngIf="org$ | async as org">
  <p>
    Select the time window you're interested in to add it to your Selection. For periods that are not licensed, feel free to
    <a [routerLink]="['/c/o/marketplace/organization', org.id, 'member']">contact {{ org | orgName }}</a>.  
  </p>
</ng-container>
<mat-card>
  <mat-card-content fxLayout fxLayoutAlign="center">
    <avails-calendar [licensedMarkers]="licensed$ | async" [soldMarkers]="sold$ | async" (selected)="selected($event)"></avails-calendar>
    <section *ngIf="(status$ | async) === 'INVALID'" class="overlay" fxLayoutAlign="center center">
      <article class="mat-body-2">
        Please fill in Avail Search Criteria section to show results on the Calendar.
      </article>
    </section>
  </mat-card-content>
</mat-card>
