
:host {
  display: flex;

}

aside {
  width: 30%;
  margin-right: 24px;
  mat-card {
    mat-card-subtitle {
      margin-top: 20px;
    }

    mat-form-field {
      width: 100%;
    }
  }
}

.avails-card {
  flex: 1;
}

mat-card {
  margin-bottom: 24px;

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;

    article {
      padding: 48px;
      border-radius: 8px;
      background-color: var(--background-disabled-button);
      max-width: 80%;
      text-align: center;
    }
  }
}
