<ng-container *ngIf="(params$ | async | getParams:'app') as app">
  <article>
    <form-text [form]="form.get('title')"></form-text>
    <form-select [form]="form.get('mode')"></form-select>
  </article>
  <article>
    <form-chips-autocomplete
      [form]="form.get('titleIds')"
      [options]="app | getTitles | async"
      [getValue]="getValue"
      [displayLabel]="displayLabel">
    </form-chips-autocomplete>
  </article>
  <article>
    <form-firestore [form]="form.get('query')"></form-firestore>
  </article>
</ng-container>
