<ng-container *ngIf="(params$ | async | getParams:'app') as app">
  <article>
    <form-text [form]="form.get('title')"></form-text>
    <form-select [form]="form.get('mode')"></form-select>
  </article>
  <article>
    <mat-radio-group (change)="select($event)">
      <mat-radio-button value="titleIds">IDs</mat-radio-button>
      <mat-radio-button value="query">Firestore Query</mat-radio-button>
    </mat-radio-group>
  </article>

  <article>
    <form-chips-autocomplete
      [form]="form.get('titleIds')"
      [options]="app | getTitles | async"
      [getValue]="getValue"
      [displayLabel]="displayLabel">
    </form-chips-autocomplete>
  </article>
  <article>
    <form-firestore [form]="form.get('query')"></form-firestore>
  </article>
</ng-container>
