header {
  padding: 100px 0;
  background-image: url('/assets/images/catalog-marketplace-banner.png');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

mat-card {
  margin-top: 50px;
  width: 1000px;
}
