:host {
  display: block;
  height: 100%;
}

mat-sidenav-container {
  height: 100%;
}

.logo {
  height: 48px;
  img {
    height: 100%;
  }
}

mat-sidenav-content mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;

  search-widget {
    flex: 1;
  }
}