mat-sidenav-container {
  height: 100%;
  position: relative;
  #dashboard-navbar {
    width: 300px;
    border: none;

    .mat-toolbar {
      border: none;
    }
  }
  .help-button {
    position: absolute;
    left: 120px;
    bottom: 20px;
  }
}

mat-sidenav-content {
  #catalog-toolbar {
    border: none;
  }
}

.app-icon,
.app-icon-button {
  width: 157px;
}


.search-bar {
  flex: 1;
  margin: 0 15px 0 15px;
  padding-top: 20px;
   .mat-form-field{
     width: 100%;
   }
}

.avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
