<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <!-- <mat-toolbar> -->
    <ng-container app-icon>
      <button test-id="home" mat-icon-button class="app-icon-button" routerLink="/layout">
        <mat-icon svgIcon="LogoAC" class="app-icon"></mat-icon>
        logo
      </button>
    </ng-container>
    <!-- </mat-toolbar> -->
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon matListIcon>add</mat-icon>
        <span matLine>Overview</span>
      </a>
      <mat-chip-list>
        <a mat-list-item>
          <mat-icon matListIcon>add</mat-icon>
          <span matLine>Titles</span>
          <mat-chip>18</mat-chip>
        </a>
        <a mat-list-item>
          <mat-icon matListIcon>add</mat-icon>
          <span matLine>Deals</span>
          <mat-chip>18</mat-chip>
        </a>
      </mat-chip-list>
      <mat-divider></mat-divider>
      <a mat-list-item>
        <mat-icon matListIcon>add</mat-icon>
        <span matLine>Marketplace</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item>
        <mat-icon matListIcon>add</mat-icon>
        <span matLine>FAQ</span>
      </a>
      <a mat-list-item>
        <mat-icon matListIcon>add</mat-icon>
        <span matLine>Contact</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar fxLayout="row">
      <form fxFlex="60" fxLayoutAlign=" end">
        <mat-form-field floatLabel="never">
          <input matInput
          placeholder="Search for clients, negotiations, titles instead of listings..."
          [widgetTarget]="search" />
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
        <bf-widget #search>
          <mat-card>
            <mat-card-content>
              <mat-list>
                <h3 mat-subheader>Film</h3>
                <mat-list-item>
                  <a matLine fxLayoutAlign="start center">
                    <mat-icon mat-list-icon>add</mat-icon>
                    <span>MovieName | Year | Director</span>
                    <span>Published</span>
                  </a>
                  <a matLine fxLayoutAlign="start center">
                    <mat-icon mat-list-icon>add</mat-icon>
                    <span>MovieName | Year | Director</span>
                    <span>Published</span>
                  </a>
                </mat-list-item>
                <mat-divider [inset]="true"></mat-divider>
                <h3 mat-subheader>Deals</h3>
                <mat-list-item>
                  <a matLine fxLayoutAlign="start center">
                    <mat-icon mat-list-icon>add</mat-icon>
                    <span>MovieName | Year | Director</span>
                    <span>Published</span>
                  </a>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
            <mat-card-footer>
              <a mat-line>
                <button mat-button class="bottom-button" color="primary">view all search result <mat-icon>arrow_forward</mat-icon></button>
              </a>
            </mat-card-footer>
          </mat-card>
        </bf-widget>
      </form>
        <!-- This fills the remaining space of the current row -->
      <span class="example-fill-remaining-space"></span>
      <div fxLayout="row" fxLayoutAlign="start center">
        <a mat-icon-button>
          <mat-icon matListIcon [widgetTarget]="notification" matBadge="3" class="notification-icon">notification_important</mat-icon>
        </a>
        <bf-widget #notification>
          <mat-card>
            <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
              <mat-card-title>Recent Activity</mat-card-title>
              <a mat-icon-button class="more">
                <mat-icon>more_vert</mat-icon>
              </a>
            </mat-card-header>
            <mat-card-content>
              <mat-nav-list>
                <p matSubheader>Today</p>
                <a mat-list-item>
                  <div matListAvatar class="card-avatar" matBadge="22" matBadgePosition="below"></div>
                  <h3 matLine>Notification</h3>
                  <p matLine class="mat-caption">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                  <div matLine>
                    <a mat-mini-fab color="primary"><mat-icon>thumb_up</mat-icon></a>
                    <a mat-mini-fab><mat-icon>thumb_down</mat-icon></a>
                  </div>
                </a>
                <mat-divider [inset]="true"></mat-divider>
                <p matSubheader>Yesterday</p>
                <a mat-list-item>
                  <div matListAvatar class="card-avatar"></div>
                  <h3 matLine>Notification</h3>
                  <p matLine>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                  <div matLine>
                    <a mat-icon-button><mat-icon>thumb_up</mat-icon></a>
                    <a mat-icon-button><mat-icon>thumb_down</mat-icon></a>
                  </div>
                </a>
                <a mat-list-item>
                  <div matListAvatar class="card-avatar"></div>
                  <h3 matLine>Notification</h3>
                  <p matLine>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                  <div matLine>
                    <a mat-icon-button><mat-icon>thumb_up</mat-icon></a>
                    <a mat-icon-button><mat-icon>thumb_down</mat-icon></a>
                  </div>
                </a>
              </mat-nav-list>
            </mat-card-content>
            <mat-card-footer matButton color="primary">
              <a matLine>
                <button class="bottom-button">view all the notification <mat-icon>arrow_forward</mat-icon></button>
              </a>
            </mat-card-footer>
          </mat-card>
        </bf-widget>
        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="column" class="user-name">
            <div>Name</div>
            <div>role</div>
          </div>
        <img class="avatar" src="https://material.angular.io/assets/img/examples/shiba1.jpg" />
        <a mat-icon-button class="more-icon">
          <mat-icon>more_vert</mat-icon>
        </a>
        </div>
      </div>
    </mat-toolbar>
    <main>
      <!-- <router-outlet></router-outlet> -->
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
