<mat-sidenav-container>
  <mat-sidenav id="dashboard-navbar" mode="side" opened>
    <mat-toolbar>
      <ng-container app-icon>
        <button test-id="home" mat-icon-button class="app-icon-button" routerLink="/dashboard">
          <mat-icon svgIcon="LogoAC" class="app-icon"></mat-icon>
        </button>
      </ng-container>
    </mat-toolbar>
    <!-- TODO: update icons, connect with pages, get number for mat-chips -->
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon matListIcon>add</mat-icon>
        <span matLine>Overview</span>
      </a>
      <mat-chip-list>
        <a mat-list-item>
          <mat-icon matListIcon>add</mat-icon>
          <span matLine>Titles</span>
          <mat-chip>18</mat-chip>
        </a>
        <a mat-list-item>
          <mat-icon matListIcon>add</mat-icon>
          <span matLine>Deals</span>
          <mat-chip>18</mat-chip>
        </a>
      </mat-chip-list>
      <mat-divider></mat-divider>
      <a mat-list-item>
        <mat-icon matListIcon>add</mat-icon>
        <span matLine>Marketplace</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item>
        <mat-icon matListIcon>add</mat-icon>
        <span matLine>FAQ</span>
      </a>
      <a mat-list-item>
        <mat-icon matListIcon>add</mat-icon>
        <span matLine>Contact</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar id="catalog-toolbar" fxLayout="row">
      <!-- Search Bar -->
      <form fxFlex="60" fxLayoutAlign=" end">
        <mat-form-field no-underline floatLabel="never">
          <input matInput id="test"
          placeholder="Search for clients, negotiations, titles instead of listings..."
          [widgetTarget]="search" />
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
        <overlay-widget #search>
          <overlay-search-widget></overlay-search-widget>
        </overlay-widget>
      </form>
      <span class="example-fill-remaining-space"></span>
      <div fxLayout="row" fxLayoutAlign="start center">
        <!-- Notification -->
        <a mat-icon-button>
          <mat-icon matListIcon [widgetTarget]="notification" matBadge="3" matBadgeSize="small" class="notification-icon">notification_important</mat-icon>
        </a>
        <overlay-widget #notification>
          <overlay-notification-widget></overlay-notification-widget>
        </overlay-widget>
        <!-- User Info -->
        <!-- TODO: connect with account -->
        <div fxLayout="row" fxLayoutAlign="start center">
        <img class="avatar" src="https://material.angular.io/assets/img/examples/shiba1.jpg" />
        <a mat-icon-button class="more-icon">
          <mat-icon>more_vert</mat-icon>
        </a>
        </div>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
