<ng-container *ngIf="statement$ | async as statement">

  <waterfall-statement-distributor-summary *ngIf="['salesAgent', 'mainDistributor'].includes(statement.type)"  [form]="form" [statement]="statement"></waterfall-statement-distributor-summary>  
  <waterfall-statement-direct-sales-summary *ngIf="statement.type === 'directSales'" [form]="form" [statement]="statement"></waterfall-statement-direct-sales-summary>
  <waterfall-statement-producer-summary *ngIf="statement.type === 'producer'" [statement]="statement" [form]="form"></waterfall-statement-producer-summary>

  <footer *ngIf="statement.status === 'draft'">
    <a mat-flat-button routerLink="edit" *ngIf="statement.type !== 'producer'">
      <mat-icon svgIcon="arrow_back"></mat-icon>
      <span i18n>Back</span>
    </a>
    <button mat-flat-button 
      color="primary"
      [disabled]="form.invalid"
      (click)="report(statement)"
      matTooltip="Report Statement"
      i18n-matTooltip
    >
      <span i18n>Report Statement</span>
      <mat-icon iconPositionEnd svgIcon="arrow_forward"></mat-icon>
    </button>
  </footer>

  <footer *ngIf="statement.status === 'draft'">
    <button mat-button 
      (click)="save(statement)"
      [disabled]="form.invalid"
      matTooltip="Save & Come back later"
      i18n-matTooltip
    >
      <mat-icon svgIcon="save"></mat-icon>
      <span i18n>Save & Come back later</span>
    </button>
  </footer>

  <footer *ngIf="canBypassRules && statement.status === 'reported' && statement.reviewStatus === 'pending'">
    <button mat-flat-button 
      color="warn"
      (click)="reviewStatement(statement, 'declined')"
      matTooltip="Mark Statement as reviewed"
      i18n-matTooltip
    >
      <span i18n>Reject Statement</span>
      <mat-icon svgIcon="refuse"></mat-icon>
    </button>
    <button mat-flat-button 
      color="primary"
      (click)="reviewStatement(statement, 'accepted')"
      matTooltip="Mark Statement as reviewed"
      i18n-matTooltip
    >
      <span i18n>Approve Statement</span>
      <mat-icon svgIcon="update"></mat-icon>
    </button>
  </footer>
</ng-container>
