:host {
  padding: 24px;
}

h1 {
  margin-bottom: 32px;
}

button {
  margin-top: 32px;
}

form {
  width: 100%;
}

mat-form-field, static-select {
  width: 100%;
}

mat-card {
  padding: 24px 16px;
  margin-bottom: 24px;
}

.mat-card-header .mat-card-title {
  margin-bottom: 16px;
  &.title {
    margin-bottom: 4px;
  }
}

crm-organization-form {
  width: 100%;
}
