<tunnel-page>
  <ng-container tunnel-form>
    <p class="mat-body-1">
      Please verify that all the information you have entered is correct before submitting to Archipel Market for
      validation.
    </p>

    <div *ngIf="blockingFields.length" class="mat-body">
      <span class="invalid-fields">You have {{ blockingFields.length }} blocking field{{blockingFields.length > 1 ? 's' : ''}}
        to fill in or fix: {{ blockingFields | fromCamelCase | titlecase }}</span>
    </div>

    <!-- MAIN INFORMATION -->
    <section id="main-information">
      <h3>Main Information</h3>
      <movie-summary-main [movie]="form" [link]="('main' | getPath)"></movie-summary-main>
    </section>

    <mat-divider></mat-divider>

    <!-- STORYLINE ELEMENTS -->

    <section id="storyline-elements">
      <h3>Storyline Elements</h3>
      <movie-summary-synopsis [movie]="form" [link]="('story-elements' | getPath)"></movie-summary-synopsis>
    </section>

    <mat-divider></mat-divider>

    <!-- PRODUCTION INFORMATION -->

    <section id="production-information">
      <h3>Production Information</h3>
      <movie-summary-production [movie]="form" [link]="('production' | getPath)"></movie-summary-production>
    </section>

    <mat-divider></mat-divider>

    <!-- ARTISTIC TEAM -->

    <section id="artistic-team">
      <h3>Artistic Team</h3>
      <movie-summary-artistic [movie]="form" [link]="('artistic' | getPath)"></movie-summary-artistic>
    </section>

    <mat-divider></mat-divider>

    <!-- SELECTION AND REVIEWS -->

    <section id="reviews">
      <h3>Selections & Reviews</h3>
      <movie-summary-review [movie]="form" [link]="('reviews' | getPath)"></movie-summary-review>
    </section>

    <mat-divider></mat-divider>

    <!-- ADDITIONAL INFORMATION -->

    <section id="additional-information">
      <h3>Additional Information</h3>
      <movie-summary-additional-information [movie]="form" [link]="('additional-information' | getPath)">
      </movie-summary-additional-information>
    </section>

    <mat-divider></mat-divider>

    <!-- SHOOTING INFORMATION -->
    <ng-container *ngIf="form | hasStatus: ['development', 'shooting', 'post_production', 'finished']">

      <section id="shooting-information">
        <h3>Shooting Information</h3>
        <movie-summary-shooting-information [movie]="form" [link]="('shooting-information' | getPath)">
        </movie-summary-shooting-information>
      </section>

      <mat-divider></mat-divider>
    </ng-container>

    <!-- SALES PITCH -->

    <ng-container *ngIf="form | hasStatus: ['development', 'shooting', 'post_production', 'finished']">

      <section id="sales-pitch">
        <h3>Sales Pitch</h3>
        <movie-summary-sales-pitch [movie]="form" [link]="('sales-pitch' | getPath)"></movie-summary-sales-pitch>
      </section>

      <mat-divider></mat-divider>
    </ng-container>

    <!-- TECHNICAL INFORMATION -->

    <section id="technical-information">
      <h3>Technical Specifications</h3>
      <movie-summary-technical-info [movie]="form" [link]="('technical-spec' | getPath)"></movie-summary-technical-info>
    </section>

    <mat-divider></mat-divider>

    <!-- AVAILABLE VERSIONS -->

    <section id="available-versions">
      <h3>Available Versions</h3>
      <movie-summary-available-versions [movie]="form" [link]="('available-versions' | getPath)">
      </movie-summary-available-versions>
    </section>

    <mat-divider></mat-divider>

    <!-- PROMOTIONAL ELEMENTS -->

    <section id="promotional-elements">
      <h3>Promotional Elements</h3>
      <movie-summary-media-files [movie]="form" [link]="('media-files' | getPath)"></movie-summary-media-files>
      <movie-summary-media-images [movie]="form" [link]="('media-images' | getPath)"></movie-summary-media-images>
      <movie-summary-media-videos [movie]="form" [link]="('media-videos' | getPath)"></movie-summary-media-videos>
      <movie-summary-media-notes [movie]="form" [link]="('media-notes' | getPath)"></movie-summary-media-notes>
    </section>

    <!-- Submit -->
    <button id="publish" test-id="publish" mat-flat-button color="accent" class="submit" (click)="submit()"
      [disabled]="isPublished$ | async">
      <span>Publish to Marketplace</span>
      <mat-icon svgIcon="arrow_forward"></mat-icon>
    </button>
    <p *ngIf="isPublished$ | async" class="submit mat-caption" >Already published!</p>
  </ng-container>

</tunnel-page>
