
<ng-container *ngIf="loading$ | async; else ready">
  <article>
    <mat-spinner></mat-spinner>
  </article>
</ng-container>
<ng-template #ready>
  <a mat-icon-button routerLink="..">
    <mat-icon svgIcon="arrow_back"></mat-icon>
  </a>
  <h1>Edit Movie</h1>

  <waterfall-title-form
    [movieId]="movieId"
    [movieForm]="movieForm"
    [waterfallForm]="waterfallForm"
  ></waterfall-title-form>

  <section>
    <ng-container *ngIf="updating$ | async; else edit">
      <mat-spinner></mat-spinner>
    </ng-container>
    <ng-template #edit>
      <button mat-flat-button color="primary" (click)="update()" [disabled]="invalid$ | async">Edit Movie</button>
    </ng-template>
  </section>
</ng-template>