@import '~@angular/flex-layout/mq';

section {
  height: 100%;
  margin: 0 200px;
}

@include layout-bp(md) {
  section {
    margin: 0 100px;
  }
}

@include layout-bp(sm) {
  section {
    margin: 0 50px;
  }
}

@include layout-bp(xs) {
  section {
    margin: 0 20px;
  }
}
