:host {
  display: block;
}

header {
  padding: 32px 48px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-image: linear-gradient(to bottom, var(--primary-lighter), transparent);

  bf-tag {
    margin-bottom: 8px;
  }

  article {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    h1, h2 {
      margin-bottom: 8px;
    }
  }
}

section {
  margin: 36px 48px;
}