<ng-container *ngIf="offer$ | async as offer">
  <header>
    <bf-tag>{{ offer.status | toLabel:'offerStatus' }}</bf-tag>
    <article>
      <div>
        <h1>{{ offer.id }}</h1>
        <span>Offer created: {{ offer._meta.createdAt | date: 'MM/dd/yyyy' }}</span>
      </div>
      <div *ngIf="offer.contracts as contracts">
        <h2>
          {{ contracts.length}} {{contracts.length>1 ? 'Titles':'Title'}}
        </h2>
        <h2 *ngIf="contracts | total:'negotiation.price' as price; else noPrice">
          Total: {{ price | currency:offer.currency }}
        </h2>
        <ng-template #noPrice>
          <h2>{{ contracts.length }} asking price requested</h2>
        </ng-template>
      </div>
    </article>
    <div fxLayout fxLayoutAlign="space-between center" fxFlexAlign="stretch">
      <button mat-flat-button color="primary" (click)="openIntercom()">
        <mat-icon svgIcon="comment"></mat-icon>
        <span>Contact Archipel Team</span>
      </button>
      <a mat-button routerLink="/c/o/marketplace/terms" color="primary" target="_blank">
        <mat-icon svgIcon="file"></mat-icon>
        <span>See Terms & Conditions</span>
      </a>
    </div>
  </header>

  <section class="surface" *ngIf="offer.specificity">
    <h2>Specific Terms</h2>
    <p>{{ offer.specificity }}</p>
  </section>

  <section class="surface" *ngIf="offer.delivery">
    <h2>Delivery Specifications</h2>
    <p>{{ offer.delivery }}</p>
  </section>

  <router-outlet></router-outlet>
</ng-container>
