:host {
  display: block;
}

header {
  padding: 32px 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // https://stackoverflow.com/questions/46309641/what-happens-in-safari-with-the-transparent-color
  background-image: linear-gradient(to bottom, var(--primary-lighter), var(--background));

  bf-tag {
    margin-bottom: 8px;
  }

  article {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    h1, h2 {
      margin-bottom: 8px;
    }
    h2 {
      text-align: right;
    }
  }
}

section {
  margin: 36px 48px;
}
