@import 'mixins';

:host {
  display: block;
  background-color: white;
}

article {
  display: block;
  width: 60%;
  margin: auto;
  padding: 30px 0;
}

.feature-description {
  width: 45%;
}

img {
  width: 300px;
  margin: 20px;
}

a {
  color: inherit;
  text-decoration: underline;
}

@include tablet {
  div {
    width: 100%;
  }
}