<article>
  <form-text [form]="form.get('title')"></form-text>
  <form-text [form]="form.get('description')"></form-text>
</article>
<h5>CTA Links</h5>
<article class="links">
  <ng-container *ngFor="let control of links.controls; let i = index">
    <div class="link">
      <form-link [form]="control"></form-link>
      <button mat-icon-button (click)="links.removeAt(i)">
        <mat-icon svgIcon="close"></mat-icon>
      </button>
    </div>
  </ng-container>
  <button mat-button (click)="links.add()">
    <mat-icon svgIcon="add"></mat-icon>
    <span>Add Link</span>
  </button>
</article>
<h5>Background Image</h5>
<article>
  <form-text [form]="form.get('background')"></form-text>
</article>