h4 {
  text-transform: uppercase;
}

mat-divider {
  border-top-width: 2px;
  margin: 24px 0;
}

h5 {
  margin-bottom: 16px;
}

.total-budget {
  margin-bottom: 32px;
}

.total-icon {
  max-height: 16px;
  max-width: 16px;
}

file-upload {
  margin-top: 8px;
}
