<ng-container *ngIf="contracts$ | async as contracts; else loading">
  <ng-container *ngIf="contracts.length; else empty">
    <header class="import-header" fxLayout="row" fxLayoutAlign="space-between center">
      <h1>Contracts</h1>
    </header>

    <header mat-tab-nav-bar fxLayout="row" fxLayoutAlign="space-between end">
      <button mat-tab-link (click)="resetFilter()" [active]="(filter$ | async) === ('' || null) ">All Contracts</button>
      <button mat-tab-link (click)="applyFilter('contracts')"
        [active]="(filter$ | async) === 'contracts'">contracts</button>
      <button mat-tab-link (click)="applyFilter('on_going_deals')"
        [active]="(filter$ | async) === 'on_going_deals'">Ongoing Deals</button>
      <button mat-tab-link (click)="applyFilter('past_deals')" [active]="(filter$ | async) === 'past_deals'">Past
        Deals</button>
    </header>

    <mat-card>
      <bf-table-filter [source]="contracts | filterBy: filterByStatus: { value: filter.value, exclude: 'archived' }"
        [columns]="columns" [initialColumns]="initialColumns" clickable showFilter showPaginator
        (rowClick)="goToTitle($event)" link="/c/o/dashboard/contract/">
        <ng-template colRef="offerId" let-offerId><b>{{ offerId }}</b></ng-template>
        <ng-template colRef="titleId" let-titleId>
          <!-- titleId might be empty continue working from here -->
          <ng-container *ngIf="titleId | getTitle | async as title">{{title.title?.international | maxLength:50}}
          </ng-container>
        </ng-template>
      </bf-table-filter>
    </mat-card>
  </ng-container>
</ng-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

<ng-template #empty>
  <section class="empty" fxLayout="column" fxFlexAlign="center" fxLayoutGap="16px">
    <h1>There are no contracts to display yet.</h1>
    <img asset="empty_results.svg" alt="Empty result image">
  </section>
</ng-template>
