<ng-container *ngIf="contracts$ | async as contracts; else loading">
  <ng-container *ngIf="contracts.length; else empty">
    <header class="import-header" fxLayout="row" fxLayoutAlign="space-between center">
      <h1>Contracts</h1>
    </header>

    <mat-card>
      <bf-table-filter [source]="contracts" [columns]="columns" [initialColumns]="initialColumns" clickable showFilter
        showPaginator (rowClick)="goToContract($event)">
        <ng-template colRef="offerId" let-id>
          {{ id }}&nbsp;&nbsp;
          <ng-container *ngIf="(id|getOffer|async) as offer">
            <ng-container *ngIf="offer">
              <bf-tag>{{offer.status | toLabel:'offerStatus'}}</bf-tag>
            </ng-container>
          </ng-container>
        </ng-template>
        <ng-template colRef="titleId" let-titleId>
          <ng-container *ngIf="titleId">
            <ng-container *ngIf="(titleId| getTitle | async) as title">
              {{title.title?.international | maxLength:50}}
            </ng-container>
          </ng-container>
        </ng-template>
        <ng-template colRef="id" let-id>
          <ng-container *ngIf="(id| getIncome | async) as income; else loadingPrice">
            <ng-container *ngIf="income?.price; else noIncome">
              {{income.price | currency:income.currency}}
            </ng-container>
          </ng-container>
          <ng-template #noIncome>-</ng-template>
          <ng-template #loadingPrice>
            <mat-spinner diameter="15"></mat-spinner>
          </ng-template>
        </ng-template>
        <ng-template colRef="_meta.createdAt" let-date>{{date | date:'MM/dd/yyyy'}}</ng-template>
        <ng-template colRef="status" let-status>
          <span>{{(status| titlecase)}}</span>
        </ng-template>
      </bf-table-filter>
    </mat-card>
  </ng-container>
</ng-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

<ng-template #empty>
  <section fxLayout="column" fxLayoutAlign="center center" fxFlexGap="16">
    <h1>You have no contract yet.</h1>
    <p>
      You will be notified as soon as a buyer makes an offer on your titles.
    </p>
    <button (click)="openIntercom()" mat-button>Contact the Archipel Team</button>
    <img asset="empty_results.svg" alt="Offer has been created successfully">
  </section>
</ng-template>
