:host {
  padding: 24px;
  display: flex;
  flex-direction: column;
}

mat-spinner {
  align-self: center;
}

.empty {
  img {
    width: 380px;
    margin: 0 auto;
  }
}

section {
  margin-top: 24px;

  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  img {
    width: 300px;
  }
}
