:host {
  padding: 24px;
  display: flex;
  flex-direction: column;
}

mat-spinner {
  align-self: center;
}


.box-around{
  padding: 4px 16px;
  margin-left: 4px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.123);
}
