<ng-container *ngIf="(titles$ | async) as titles; else loading">
  <ng-container *ngIf="titles.length; else empty">
    <header class="import-header" fxLayout="row" fxLayoutAlign="space-between center">
      <h1>My Titles</h1>
      <div fxLayoutGap="24px">
        <a mat-stroked-button color="primary" routerLink="../import">
          <mat-icon svgIcon="excel"></mat-icon>
          <span>Import Titles</span>
        </a>
        <a mat-mini-fab color="primary" routerLink="lobby" matTooltip="Add a new title">
          <mat-icon svgIcon="add"></mat-icon>
        </a>
      </div>
    </header>

    <header mat-tab-nav-bar fxLayout="row" fxLayoutAlign="space-between end">
      <button mat-tab-link (click)="resetFilter()" [active]="(filter$ | async) === ('' || null) ">
        <span>All </span>
        <span *ngIf="(titleCount$ | async) as titleCount">({{ titleCount.all }})</span></button>
      <button mat-tab-link (click)="applyFilter('draft')" [active]="(filter$ | async) === 'draft'">
        <span>Drafts </span>
        <span *ngIf="(titleCount$ | async) as titleCount">({{ titleCount.draft }})</span>
      </button>
      <button mat-tab-link (click)="applyFilter('accepted')" [active]="(filter$ | async) === 'accepted'">
        <span>Published </span>
        <span *ngIf="(titleCount$ | async) as titleCount">({{ titleCount.accepted }})</span>
      </button>
      <button mat-tab-link (click)="applyFilter('archived')" [active]="(filter$ | async) === 'archived'">
        <span>Archived </span>
        <span *ngIf="(titleCount$ | async) as titleCount">({{ titleCount.archived }})</span>
      </button>
    </header>

    <bf-table [source]="result$ | async" pagination="50" useFilter>
      <ng-template colRef label="Title" let-movie sort>
        <a [routerLink]="movie.id" [matTooltip]="movie.title.international">
          <u>{{ movie.title.international | maxLength:50 }}</u>
        </a>
      </ng-template>
      <ng-template colRef label="Director(s)" let-movie>
        {{ movie.directors | displayName | maxLength:50 }}
      </ng-template>
      <ng-template colRef="productionStatus" label="Production Status" let-prod sort>
        {{ prod | toLabel: 'productionStatus' }}
      </ng-template>
      <ng-template colRef="app.festival.status" label="Status" let-status>
        <bf-tag>{{ status | toLabel: 'storeStatus' }}</bf-tag>
      </ng-template>

      <ng-template  colRef label="Actions" let-movie sticky>
        <div class="action-buttons">
          <a [routerLink]="movie.id" mat-icon-button matTooltip="View">
            <mat-icon svgIcon="visibility"></mat-icon>
          </a>
          <a [routerLink]="['/c/o/dashboard/tunnel/movie', movie.id]" mat-icon-button matTooltip="Edit">
            <mat-icon svgIcon="edit"></mat-icon>
          </a>
          <button *ngIf="movie.app[app].status === 'archived' else archive" type="button" mat-icon-button (click)="changeMovieStatus(movie, 'draft')" matTooltip="Restore">
            <mat-icon svgIcon="restore"></mat-icon>
          </button>
          <ng-template #archive>
            <button type="button" mat-icon-button (click)="changeMovieStatus(movie, 'archived')" matTooltip="Archive">
            <mat-icon svgIcon="archive"></mat-icon>
          </button>
          </ng-template>
        </div>
      </ng-template>
    </bf-table>
  </ng-container>

</ng-container>

<ng-template #loading>
  <article fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </article>
</ng-template>

<ng-template #empty>
  <section fxLayout="column" fxLayoutAlign="center center">
    <dashboard-no-title></dashboard-no-title>
    <article fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="24px">
      <mat-card class="no-title-card" fxLayout="column" fxLayoutalign="center center">
        <img asset="add_title.svg" alt="Add title image">
        <a routerLink="lobby" mat-button color="primary">Add one title</a>
      </mat-card>
      <mat-card class="no-title-card" fxLayout="column">
        <img asset="add_files.svg" alt="Upload files image">
        <a routerLink="../import" mat-button color="primary">Import titles in bulk</a>
      </mat-card>
    </article>
    <h3>Or</h3>
    <button (click)="openIntercom()" mat-flat-button color="primary">
      Contact the {{ app | appName }} team
    </button>
  </section>

</ng-template>
