<ng-container *ngIf="(titles$ | async) as titles; else loading">
  <ng-container *ngIf="titles.length; else empty">
    <dashboard-movie-list-header></dashboard-movie-list-header>

    <header mat-tab-nav-bar fxLayout="row" fxLayoutAlign="space-between end">
      <button mat-tab-link (click)="resetFilter()" [active]="(filter$ | async) === ('' || null) ">
        <span>All </span>
        <span *ngIf="(titleCount$ | async) as titleCount">({{ titleCount.all }})</span></button>
      <button mat-tab-link (click)="applyFilter('draft')" [active]="(filter$ | async) === 'draft'">
        <span>Drafts </span>
        <span *ngIf="(titleCount$ | async) as titleCount">({{ titleCount.draft }})</span>
      </button>
      <button mat-tab-link (click)="applyFilter('accepted')" [active]="(filter$ | async) === 'accepted'">
        <span>Published </span>
        <span *ngIf="(titleCount$ | async) as titleCount">({{ titleCount.accepted }})</span>
      </button>
      <button mat-tab-link (click)="applyFilter('archived')" [active]="(filter$ | async) === 'archived'">
        <span>Archived </span>
        <span *ngIf="(titleCount$ | async) as titleCount">({{ titleCount.archived }})</span>
      </button>
    </header>

    <bf-table [source]="result$ | async" pagination="50" useFilter>
      <ng-template colRef="title.international" label="Title" let-title let-movie="item" sort [filter]="filters.movieTitle">
        <a [routerLink]="movie.id" [matTooltip]="title">
          <u>{{ title | maxLength:50 }}</u>
        </a>
      </ng-template>
      <ng-template colRef="directors" label="Director(s)" let-directors [filter]="filters.movieDirectors">
        <span (click)="openDetails('Director\'s', directors)">
          {{ directors | displayName | maxLength:50 }}
        </span>
      </ng-template>
      <ng-template colRef="productionStatus" label="Production Status" let-prod sort>
        {{ prod | toLabel: 'productionStatus' }}
      </ng-template>
      <ng-template colRef="app.festival.status" label="Status" let-status>
        <bf-tag>{{ status | toLabel: 'storeStatus' }}</bf-tag>
      </ng-template>
      <ng-template colRef label="Actions" let-movie sticky>
        <dashboard-movie-table-actions [movie]="movie"></dashboard-movie-table-actions>
      </ng-template>
    </bf-table>
  </ng-container>
</ng-container>

<ng-template #loading>
  <logo-spinner></logo-spinner>
</ng-template>

<ng-template #empty>
  <dashboard-empty-movie></dashboard-empty-movie>
</ng-template>
