<ng-container *ngIf="(titles$ | async) as titles; else loading">
  <ng-container *ngIf="titles.length; else empty">
    <header fxLayout="row" fxLayoutAlign="space-between center" class="import">
      <h1>My Titles</h1>
      <div fxLayoutGap="24px">
        <a mat-stroked-button color="primary" routerLink="../import">
          <mat-icon svgIcon="excel"></mat-icon>
          <span>Import Movies</span>
        </a>
        <a mat-mini-fab color="primary" routerLink="lobby" matTooltip="Add a new title">
          <mat-icon svgIcon="add"></mat-icon>
        </a>
      </div>
    </header>

    <mat-card>
      <bf-table-filter [source]="titles" [columns]="columns" [initialColumns]="initialColumns" showFilter showPaginator clickable
        (rowClick)="goToTitle($event)">
        <ng-template colRef="title" let-title><b>{{ title.international }}</b></ng-template>
        <ng-template colRef="view" let-movie="item">{{ movie | getViews | async }}</ng-template>
        <ng-template colRef="directors" let-directors>{{ directors | displayName }}</ng-template>
        <ng-template colRef="productionStatus" let-prod>{{ prod | toLabel: 'productionStatus' }}</ng-template>
        <ng-template colRef="storeConfig.status" let-status>{{ status | toLabel: 'storeStatus' }}</ng-template>
      </bf-table-filter>
    </mat-card>
  </ng-container>

</ng-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

<ng-template #empty>
  <section fxLayout="column" fxLayoutAlign="center center">
    <dashboard-no-title></dashboard-no-title>
    <article fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="24px">
      <mat-card class="no-title-card" fxLayout="column" fxLayoutalign="center center">
        <img asset="add_title.webp" alt="Add title image">
        <a routerLink="lobby" mat-button color="primary">Add one title</a>
      </mat-card>
      <mat-card class="no-title-card" fxLayout="column">
        <img asset="add_files.webp" alt="Upload files image">
        <a routerLink="../import" mat-button color="primary">Import your titles in bulk</a>
      </mat-card>
    </article>
  </section>
</ng-template>
