:host {
  display: block;
  padding: 16px 24px; 
}

h1 {
  margin-bottom: 16px;
}

h2, article {
  margin-bottom: 16px;
}

section {
  margin-bottom: 40px;
}

user-card {
  margin: 24px;
  max-width: 300px;
}