<h1>Contact</h1>

<section *ngIf="org$ | async as org">
  <h2>Company Information</h2>
  <article>
    <h5>Address</h5>
    <p>{{ org | orgAddress | titlecase }}</p>
  </article>
  <article *ngIf="org.addresses.main.phoneNumber">
    <h5>Phone Number</h5>
    <p>{{ org.addresses.main.phoneNumber }}</p>
  </article>
  <article *ngIf="org.email">
    <h5>Email Address</h5>
    <a [href]="'mailto:' + org.email">{{ org.email }}</a>
  </article>
</section>

<section>
  <h2>Team</h2>
  <article fxLayout="row wrap" fxLayoutGap="24px grid">
    <ng-container *ngFor="let user of members$ | async">
      <user-card [user]="user"></user-card>
    </ng-container>
  </article>
</section>
