@use 'surface';
@import "@angular/flex-layout/mq";

:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("/assets/images/light/stars_wallpaper.svg");
  background-position: center;
  background-repeat: no-repeat;

  article {
    text-align: center;

    menu {
      padding: 0;
      text-align: left;
    }

    form {
      p {
        margin-bottom: 16px;
      }

      a {
        font-weight: bold;
      }

      footer {
        margin-top: 16px;
        div {
          display: flex;
          flex-direction: column;
          align-items: start;
          margin-bottom: 24px;
        }
        span {
          white-space: break-spaces;
        }
      }
    }
  }
}

.names-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

@include layout-bp(gt-xs) {
  :host {
    justify-content: center;
    align-items: center;
    position: relative;

    header {
      position: absolute;
      top: 40px;
      left: 40px;
    }

    & > article {
      @include surface.surface;
      padding: 24px;

      menu {
        margin: 0;
      }

      form {
        padding: 40px;

        div {
          flex-direction: row;
          gap: 16px;
        }
      }
    }
  }
}

@include layout-bp(xs) {
  :host {
    header {
      align-self: center;
      margin-top: auto;
      padding-top: 24px;

      a[app-logo] {
        height: 48px;
      }
    }

    & > article {
      padding: 24px;
      margin-bottom: auto;

      menu {
        margin: 0 0 12px 0;
      }

      form {
        div {
          flex-direction: column;
          gap: 8px;
          mat-form-field {
            width: 100%;
          }
        }
      }
    }
  }
}
