mat-form-field {
  width: 100%;
}

list-filter {
  static-check-boxes,
  filter-budget {
    padding: 0 16px;
  }
}

button {
  margin-bottom: 24px;
}

mat-icon[matPrefix] {
  margin-right: 12px;
}

mat-form-field {
  width: 100%;
}

.page-title {
  text-align: center;
}

list-filter {
  display: flex;
  justify-content: center;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
}
