@import "~@angular/flex-layout/mq";

mat-card {
  margin-top: 20px;
  width: 100%;
  min-width: 300px;
  .mat-card-content {
    padding-left: 20px;

    h5 {
      margin-top: 16px;
    }
  }
  a {
    margin-bottom: 10px;
  }
}

li {
  margin-bottom: 4px;
  word-break: break-word;
  strong {
    opacity: 0.5;
    font-weight: normal;
  }
  img {
    max-height: 50px;
  }
}

.synopsis {
  word-break: keep-all;
}

.tech-information {
  margin-bottom: 20px;
}

@include layout-bp(lt-sm) {
  section {
    flex-wrap: wrap;
    // We need to overwrite the element style from @angula/flexlayout
    place-content: center !important;
    mat-card {
      max-width: none !important;
    }
    article {
      max-width: none !important;
    }
  }
}
