<ng-template *ngIf="loading$ | async">
  <mat-spinner color="accent" #loading></mat-spinner>
</ng-template>
<ng-container *ngIf="(movie$ | async) as movie;" test-id="content">
  <section fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="20px">
    <!-- PROMO LINKS -->
    <mat-card *ngIf="hasLink(movie)" fxLayout="column" fxFlex="30">
      <ng-container *ngFor="let promoLink of promoLinks">
        <a *ngIf="getLink(movie, promoLink) as link" mat-flat-button [color]="link.color" [href]="link.url" target="_blank">
          <mat-icon [svgIcon]="link.icon" [color]="link.color"></mat-icon><span>{{ link.label }}</span></a>
      </ng-container>
    </mat-card>
    <article fxFlex="70">
      <!-- STORY CARD -->
      <mat-card *ngIf="hasStory(movie)">
        <mat-card-header>
          <h3>Storyline Elements</h3>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li *ngIf="movie.synopsis as synopsis">
              <strong>Synopsis </strong><span class="synopsis">{{ synopsis }}</span>
            </li>
            <li *ngIf="movie.keywords.length > 0">
              <strong>Keywords </strong>
              <mat-chip-list fxLayout="row" fxLayoutGap="5px">
                <ng-container *ngFor="let keyword of movie.keywords">
                  <mat-chip>{{ keyword }}</mat-chip>
                </ng-container>
              </mat-chip-list>
            </li>
            <li *ngIf="movie.keyAssets">
              <strong>Key Assets </strong><span>{{ movie.keyAssets }}</span>
            </li>
          </ul>
        </mat-card-content>
      </mat-card>

      <!-- FESTIVALS -->
      <mat-card *ngIf="movie.prizes.length > 0">
        <mat-card-header>
          <h3>Festivals</h3>
        </mat-card-header>
        <mat-card-content>
            <ul>
              <ng-container  *ngIf="movie.prizes as prizes">
                <li><strong>Festivals </strong></li>
                <li *ngFor="let prize of prizes">{{ getPrize(prize) }}</li>
                <li *ngFor="let prize of prizes">
                  <img *ngIf="prize.logo.url" [ref]="prize.logo" asset="empty_poster.webp">
                </li>
              </ng-container>
            </ul>
        </mat-card-content>
      </mat-card>

      <!-- CREDIT CARD -->
      <mat-card *ngIf="movie.cast || movie.crew || movie.stakeholders">
        <mat-card-header>
          <h3>Credits</h3>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <ng-container *ngIf="movie.cast.length > 0">
              <h5>CAST</h5>
              <li><strong i18n>Principal Cast </strong>
                <ng-container *ngFor="let cast of movie.cast; let isLast = last">
                  <span>{{ cast.firstName }} {{ cast.lastName }}{{ isLast? '' : ', '}}</span>
                </ng-container>
              </li>
            </ng-container>
            <ng-container *ngIf="movie.stakeholders || movie.producers.length > 0">
              <h5>COMPANY CREDITS</h5>
              <ng-container *ngIf="movie.stakeholders as stakeholders">
                <li *ngIf="stakeholders.executiveProducer.length > 0"><strong i18n>Executive Producer{stakeholders.executiveProducer.length, plural,=1 {} other {s}}</strong>
                  <span> {{ getStakeholder(movie, 'executiveProducer') }}</span></li>
                <li *ngIf="stakeholders.coProducer.length > 0"><strong i18n>Co-Producer{stakeholders.coProducer.length, plural,=1 {} other {s}}</strong>
                  <span> {{ getStakeholder(movie, 'coProducer') }}</span></li>
              </ng-container>
              <ng-container *ngIf="movie.producers.length > 0">
                <li><strong i18n>Producer{movie.producers.length, plural,=1 {} other {s}}</strong>
                  <span> {{ getSalesCast(movie, 'producers') }}</span></li>
              </ng-container>
              <ng-container *ngIf="movie.stakeholders as stakeholders">
                <li *ngIf="stakeholders.distributor.length > 0"><strong i18n>Distributor{stakeholders.distributor.length, plural,=1 {} other {s}}</strong>
                  <span> {{ getStakeholder(movie, 'distributor') }}</span></li>
                <li *ngIf="stakeholders.salesAgent.length > 0"><strong i18n>Sales Agent{stakeholders.salesAgent.length, plural,=1 {} other {s}}</strong>
                  <span> {{ getStakeholder(movie, 'salesAgent') }}</span></li>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="movie.crew.length > 0">
              <b>ARTISIC CREW</b>
              <ng-container *ngFor="let crew of movie.crew; let isLast = last">
                <li *ngIf="crew.role === 'score-composer'"><strong i18n>Score Composer{crew.length, plural,=1 {} other {s}} </strong>
                  <span>{{ crew.firstName }} {{ crew.lastName }} ({{ crew.role }}) {{ isLast ? '' : ', ' }}</span>
                <li *ngIf="crew.role === 'writer' as writer"><strong i18n>Writer{writer.length, plural,=1 {} other {s}} </strong>
                  <span>{{ crew.firstName }} {{ crew.lastName }} ({{ crew.role }}) {{ isLast ? '' : ', ' }}</span>
              </ng-container>
            </ng-container>
          </ul>
        </mat-card-content>
      </mat-card>

      <!-- BUDGET CARD -->
      <mat-card *ngIf="hasBudget(movie)">
        <mat-card-header>
          <h3>Budget, Quota & Critics</h3>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li *ngIf="movie.estimatedBudget.from && movie.estimatedBudget.to"><strong>Budget </strong>
              <span>{{ budgetRange(movie.estimatedBudget) }}</span></li>
            <li *ngIf="movie.boxOffice.length > 0"><strong>Box Office </strong>
              <span *ngFor="let boxOffice of movie.boxOffice; let isLast = last">{{ boxOffice.unit }} {{ boxOffice.value }} ({{ boxOffice.territory  | translateSlug: 'TERRITORIES'}}){{ isLast ? '' : ', ' }}</span></li>
            <li *ngIf="movie.certifications.length > 0"><strong>Quotas </strong>
              <span *ngFor="let quota of movie.certifications; let isLast = last">{{ quota | translateSlug: 'CERTIFICATIONS' }}{{ isLast ? '' : ', ' }}</span></li>
            <li *ngIf="movie.rating.length > 0"><strong>Rating </strong>
              <span *ngFor="let rating of movie.rating; let isLast = last">
              {{ rating.country | translateSlug: 'TERRITORIES' }} : {{ rating.value }}{{ isLast ? '' : '; ' }}
              </span>
            </li>
            <li *ngIf="movie.review.length > 0"><strong>Film Review </strong>
            <span *ngFor="let review of movie.review">{{ review.criticName }} in {{ review.journalName}} "{{ review.criticQuote }}" {{ review.revueLink }}</span></li>
          </ul>
        </mat-card-content>
      </mat-card>

    <!-- TECHNICAL INFORMATION CARD -->
    <mat-card *ngIf="movie.languages" class="tech-information">
      <mat-card-header>
        <h3>Technical Information</h3>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <ng-container *ngIf="movie.format">
            <li *ngIf="movie.format"><strong>Shooting Format </strong>
              <span>{{ movie.format | translateSlug: 'MOVIE_FORMAT'}}</span></li>
          </ng-container>
          <ng-container *ngIf="movie.formatQuality">
            <li *ngIf="movie.formatQuality"><strong>Format Quality </strong>
            <span>{{ movie.formatQuality }}</span></li>
          </ng-container>
          <ng-container *ngIf="movie.color">
            <li *ngIf="movie.color"><strong>Color / B&W </strong>
            <span>{{ movie.color | translateSlug: 'COLORS'}}</span></li>
          </ng-container>
          <ng-container *ngIf="movie.soundFormat">
            <li *ngIf="movie.soundFormat"><strong>Sound Format </strong>
            <span>{{ movie.soundFormat | translateSlug: 'SOUND_FORMAT' }}</span></li>
          </ng-container>
          <li *ngIf="movie.languages"><strong>Versions </strong>
            <ng-container *ngFor="let version of movie.languages | keyvalue; let isLast = last">
              {{ version.key | translateSlug: 'LANGUAGES'}}:
              <ng-container *ngFor="let info of version.value | keyvalue; let isLast = last">
                <ng-container *ngIf="info.value">
                  {{ info.key | translateSlug: 'VERSION_INFO' }}
                </ng-container>
              </ng-container>
              {{ isLast ? '' : '| ' }}
            </ng-container>
          </li>
        </ul>
      </mat-card-content>
    </mat-card>

    </article>
  </section>
</ng-container>
