<ng-container *ngIf="event$ |  async as event">
  <event-view [event]="event">
    <ng-container [ngSwitch]="event.type">

      <!-- Screening -->
      <section class="screening" *ngSwitchCase="'screening'">
        <movie-header *ngIf="event.movie" [movie]="event.movie" [showBackArrow]="false">
          <movie-header-preferences>
            <p>{{ event.movie.synopsis }}</p>
            <org-chip [org]="event.org"></org-chip>
          </movie-header-preferences>
          <movie-header-cta>
            <a mat-stroked-button color="primary" [routerLink]="['../../title', event.movie.id]">
              More Details
            </a>
          </movie-header-cta>
        </movie-header>
      </section>

      <!-- Meeting -->
      <section class="meeting" fxLayout="column"  fxLayoutAlign="center center" fxLayoutGap="40px" *ngSwitchCase="'meeting'">
        <article>
          <h2>Your meeting is over!</h2>
          <div>It lasted {{ ({ 'start': event.start, 'end': event.end }) | duration }}</div>
          <div>There were {{ attended }} attendees of {{ expected }} expected</div>
          <div *ngFor="let invitation of invitations$ | async">
            <span *ngIf="(invitation | guest: 'user') as user">
              {{ user.firstName }} {{ user.lastName }}
            </span>
          </div>
        </article>
      </section>

    </ng-container>
  </event-view>
</ng-container>
