section {
  padding: 24px;
}

.screening {
  org-chip {
    width: fit-content;
  }
  movie-header-cta {
    margin-top: 16px;
  }
}

.meeting {
  h5 {
    text-transform: uppercase;
  }

  .organized-by {
    img {
      height: 120px;
      border-radius: 50%;
    }
  }
}