section {
  padding: 24px;
}

form {
  width: 100%;
}

p {
  text-align: center;
}

mat-spinner {
  margin-left: 8px;
  display: inline-block;
}

mat-checkbox{
  margin-bottom: 24px;
  // a{
  //   text-decoration: underline;
  // }
}
