@import 'mixins';

header {
  padding: 100px 0;
  background-image: url('/assets/images/catalog-marketplace-banner.png');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

movie-card {
  height: 390px;
  width: 310px;
  margin: 15px;
}

section {
  padding: 20px 100px;
  min-height: calc(100vh - (var(--toolbarHeight) * 2) - 30px); // TODO #1212

  aside {
    position: sticky;
    top: calc(var(--toolbarHeight) + 20px);

    mat-card {
      max-height: calc(100vh - var(--toolbarHeight) - 40px);
      overflow: auto;
    }

    .movie-list {
      width: 100%;
    }

    .filter {
      width: 500px;
    }

    .filter-checkboxes {
      height: 270px;
      flex-wrap: wrap;
    }

    .filter-checkboxes-media {
      height: 260px;
      flex-wrap: wrap;
    }

    .filter-checkboxes-status {
      height: 50px;
      flex-wrap: wrap;
    }
  }

  article {
    width: 100%;
    mat-divider {
      width: 65%
    }

    movie-card {
      height: auto;
      width: 300px;
      margin: 15px;
    }

    movie-display-list {
      width: 100%;
      cursor: pointer;
    }
  }

  .sales-agents-chip-list {
    width: 100%;
  }

  .cancel-btn {
    height: 18px;
    width: 18px;
    line-height: 18px;
    font-size: 18px;
  }

  h3.mat-h3 {
    display: inline;
    font-weight: inherit;
    font-size: 16px;
  }
}

@include mobile {
  h1 {
    text-align: center;
  }
  section {
    padding: 10px 10px;
    aside {
      width: 100%;
      position: static;
      mat-card {
        height: 100%;
      }
      .filter {
        margin-top: 50px;
      }
    }
    article mat-form-field-wrapper {
      width: 80%;
    }
  }

}

@include tablet {
  section aside {
    position: static;
    .filter {
      margin-top: 50px;
    }
  }
}

@include medium {
  aside.filter {
    width: 50%;
  }
}
