<section class="surface">
  <p class="mat-body-1">
    Here you can define your own Calculation Method for Film Amortization. <br/>
    You can have several different Calculation Methods for different Right Holders.
  </p>
  <article>
    <a class="surface" matTooltip="Calculate Film Amortization" [routerLink]="['..', 'amortization-edit', service.createId()]">
      <img asset="film_amortization.svg" alt="Calculate Film Amortization image">
      <button mat-button color="primary">Calculate Film Amortization</button>
    </a>
  </article>
</section>