span,
.surface {
  margin-bottom: 16px;
}

section.surface {
  margin-left: 24px;
  margin-right: 24px;
}

mat-spinner {
  margin: 16px auto;
}

.actions {
  margin-bottom: 16px;
  padding: 0 24px;
  width: 100%;
}

contract-item {
  margin: 24px;
  holdback-list {
    margin-top: 16px;
  }
}

p.mat-caption {
  text-align: end;
}
