<ng-container *ngIf="sale$ | async as sale; else loading">
  <header fxLayout fxLayoutAlign="start center" fxLayoutGap="16px" *ngIf="sale.negotiation as negotiation">
    <ng-container [ngSwitch]="negotiation?.status">
      <ng-container *ngSwitchCase="'accepted'">
        <button mat-flat-button color="primary" disabled matTooltip="You have already accepted this offer, please connect with the AC Team">
          <span>Accepted</span>
          <mat-icon svgIcon="check"></mat-icon>
        </button>
      </ng-container>
      <ng-container *ngSwitchCase="'declined'">
        <button mat-flat-button color="primary" disabled matTooltip="You have already declined this offer, please connect with the AC Team">
          <span>Declined</span>
          <mat-icon svgIcon="refuse"></mat-icon>
        </button>
      </ng-container>
      <ng-container *ngSwitchCase="'pending'">
        <button [disabled]="!(negotiation | canAccept)" mat-stroked-button color="primary" (click)="accept(sale.id, sale.movie)">
          <mat-icon svgIcon="check"></mat-icon>
          <span>Accept</span>
        </button>
        <a [disabled]="negotiation.createdByOrg === orgId" mat-stroked-button color="primary" routerLink="../negotiation">
          <mat-icon svgIcon="negotiate"></mat-icon>
          <span>Negotiate</span>
        </a>
      </ng-container>
    </ng-container>
  </header>

  <section>
    <article class="surface" *ngIf="sale.specificity as specificity">
      <h2>Specific Terms</h2>
      <p>{{ specificity }}</p>
    </article>
    <article class="surface" *ngIf="sale.delivery as delivery">
      <h2>Delivery Specifications</h2>
      <p>{{ delivery }}</p>
    </article>
  </section>
  
  <ng-container *ngIf="sale.negotiation as negotiation">
    <contract-item [contract]="negotiation">
      <div class="price" price>
        <h2 *ngIf="negotiation?.price else askPrice">
          {{ negotiation.price | currency: sale.income?.currency }}
        </h2>
        <ng-template #askPrice>
          <h3>Asking Price requested</h3>
          <p class="mat-caption">To set a price click on <a routerLink="../negotiation">negotiate</a></p>
        </ng-template>
      </div>
      <footer>
        <holdback-list [holdbacks]="sale.holdbacks"></holdback-list>
      </footer>
    </contract-item>
  </ng-container>
</ng-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
