<h1>Line-up</h1>
<section fxLayout="row wrap" fxLayoutGap="24px grid">
  <ng-container *ngFor="let title of titles$ | async">
    <movie-card [movie]="title" [link]="['../../../title', title.id]" size="poster">
      <ng-container *ngIf="title.id | getCampaign | async as campaign">
        <span matTooltip="Minimum investment amount">
          {{ campaign.minPledge | currency : campaign.currency : 'symbol' : '1.0-0' }}
        </span>
      </ng-container>
    </movie-card>
  </ng-container>
</section>