<h1>Offers & Deals</h1>
<header mat-tab-nav-bar fxLayout="row" fxLayoutAlign="space-between end">
  <button mat-tab-link (click)="resetFilter()" [active]="(filter$ | async) === '' ">All Offers</button>
  <button mat-tab-link (click)="applyFilter('draft')" [active]="(filter$ | async) === 'draft'">Offers</button>
  <button mat-tab-link (click)="applyFilter('submitted')" [active]="(filter$ | async) === 'submitted'">
    Ongoing Deals
  </button>
  <button mat-tab-link (click)="applyFilter('accepted')" [active]="(filter$ | async) === 'accepted'">
    Past Deals
  </button>
</header>
<bf-table-filter [source]="contracts" [columns]="columns" [initialColumns]="initialColumns" clickable showFilter
  showPaginator (rowClick)="goToTitle($event)">
  <ng-template colRef="title" let-title><b>{{ title.international }}</b></ng-template>
  <ng-template colRef="receipt" let-receipt> <b>{{ receipt | currency }}</b></ng-template>
  <ng-template colRef="status" let-status>{{ status | toLabel: 'storeStatus' }}</ng-template>
</bf-table-filter>
