:host {
  display: block;
  padding: 25px;
}

mat-card {
  width: 330px;
  height: 220px;
}

img {
  width: 380px;
}

p {
  text-align: center;
  margin-bottom: 24px;
  a {
    text-decoration: underline;
  }
}

h3 {
  margin-top: 24px;
}
