<h1>Offers & Deals</h1>
<header mat-tab-nav-bar fxLayout="row" fxLayoutAlign="space-between end">
  <button mat-tab-link (click)="resetFilter()" [active]="(filter$ | async) === '' ">All Offers</button>
  <button mat-tab-link (click)="applyFilter('draft')" [active]="(filter$ | async) === 'draft'">Offers</button>
  <button mat-tab-link (click)="applyFilter('submitted')" [active]="(filter$ | async) === 'submitted'">
    Ongoing Deals
  </button>
  <button mat-tab-link (click)="applyFilter('accepted')" [active]="(filter$ | async) === 'accepted'">
    Past Deals
  </button>
</header>
<bf-table [source]="contracts" clickable useFilter showPaginator (rowClick)="goToTitle($event)">
  <ng-template colRef="title.international" label="Title" let-title sort><b>{{ title }}</b></ng-template>
  <ng-template colRef="receipt" label="Receipt" let-receipt sort> <b>{{ receipt | currency }}</b></ng-template>
  <ng-template colRef="status" lable="Status" let-status>{{ status | toLabel: 'storeStatus' }}</ng-template>
  <ng-template colRef="id" lable="ID" let-id>{{id}}</ng-template>
</bf-table>
