<tunnel-page>
  <h4 title>END</h4>
  <h1 subtitle>Summary of Title & Licensed Rights</h1>
  <p description class="mat-body-1">
    Please verify that all the information you have entered is correct before submitting to Archipel Content for validation.
  </p>

  <mat-card tunnel-form>
    <movie-summary-main
      [main]="form.main"
      [salesInfo]="form.salesInfo"
    >
    </movie-summary-main>
    <movie-summary-country [main]="form.main" [salesInfo]="form.salesInfo"></movie-summary-country>
    <movie-summary-sales-cast [salesCast]="form.salesCast"></movie-summary-sales-cast>
    <movie-summary-festival-prizes [festivalPrizes]="form.festivalPrizes"></movie-summary-festival-prizes>
  </mat-card>
</tunnel-page>
