<cal-header [viewDate]="viewDate" (viewDateChange)="updateViewDate($event)"></cal-header>
<cal-week [viewDate]="viewDate" [events]="events$ | async">
    
  <!-- Small Events -->
  <ng-template calEventSmall let-event>
    <div class="card" fxLayout="column" fxLayoutAlign="center center">
      <h5>unavailable</h5>
    </div>
  </ng-template>

  <!-- Large Events -->
  <ng-template calEventLarge let-event>
    <div class="card" fxLayout="column" fxLayoutAlign="center center">
      <h5>unavailable</h5>
    </div>
  </ng-template>

</cal-week>