:host {
  display: block;
  padding: 16px 24px; 
}

mat-radio-group {
  margin-top: 12px;

  mat-radio-button {
    margin-right: 8px;
  }
  
  mat-icon {
    margin-right: 32px;
    width: 16px;
  }
}