<html>
  <head>
    <style type="text/css">{{css}}</style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <div class="page">
      <img class="right-corner" src="{{images.rightCorner}}" >
      <div class="doc-title">
        <p><strong>Movie: </strong>{{data.movie.title.international}}</p>
        <h1>{{pageTitle}}</h1>
        <h1>{{data.rightholder.name}}</h1>
        <div class="separator"></div>
        <p><strong>Covered Period: </strong>{{data.duration.from}} - {{data.duration.to}}</p>
      </div>
      <img class="hp-logo" src="{{images.appLogo}}">
      <img class="left-corner" src="{{images.leftCorner}}" >
    </div>
    <div class="page">
      test2
    </div>

  </body>

</html>