<html>
  <head>
    <style type="text/css">{{css}}</style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <div class="page">
      <img class="right-corner" src="{{images.rightCorner}}" >
      <div class="doc-title">
        <p><strong>Movie: </strong>{{data.movie.title.international}}</p>
        <h1>{{pageTitle}}</h1>
        <h1>{{data.rightholder.name}}</h1>
        <div class="separator"></div>
        <p><strong>Covered Period: </strong>{{date data.statement.duration.from}} - {{date data.statement.duration.to}}</p>
      </div>
      <img class="hp-logo" src="{{images.appLogo}}">
      <img class="left-corner" src="{{images.leftCorner}}" >
    </div>
    <div class="page">
      <div class="statement-header">
        <img class="logo" src="{{images.appLogo}}">
        <div class="header">
          <p>
            <strong>
              {{data.movie.title.international}}
              {{#if data.movie.directors}} Directed by {{ data.movie.directors }} {{/if}}
            </strong>
            </br>
            <strong>Covered Period: </strong> {{date data.statement.duration.from}} - {{date data.statement.duration.to}}
          </p>
        </div>
      </div>
      <div class="statement-header-separator"></div>
      <div class="statement-parties">
        <div>
          <span>From</span>
          <h2>{{data.statement.sender}}</h2>
          {{#if data.statement.senderAddress}}
            <div class="party-desc">
              {{#if data.statement.senderAddress.street}}{{data.statement.senderAddress.street}}<br/>{{/if}}
              {{#if data.statement.senderAddress.zipCode}}{{data.statement.senderAddress.zipCode}} {{/if}} 
              {{#if data.statement.senderAddress.city}} {{data.statement.senderAddress.city}}<br/>{{/if}}
              {{toLabel data.statement.senderAddress.country 'territories'}}
            </div>
          {{/if}}
          <div class="separator"></div>
        </div>
        <div>
          <span>To</span>
          <h2>{{data.statement.receiver}}</h2>
          <div class="party-desc">
            {{#if data.contract}}
              Contract: {{data.contract.name}}
              <br/>
              Signature date: {{date data.contract.signatureDate}}
            {{/if}}
          </div>
          <div class="separator"></div>
        </div>
      </div>

      {{#if data.statement.payments.rightholder}}
        <div class="statement-participation">
          <span>total participation:</span>
          <span>
            {{formatPair data.statement.payments.rightholder.price data.statement.payments.rightholder.currency}}
          </span>
        </div>
      {{/if}}
      {{#if data.statement.reportedData.producerNetParticipation}}
        <div class="statement-participation">
          <span>total participation:</span>
          <span>
            {{pricePerCurrency data.statement.reportedData.producerNetParticipation}}
          </span>
        </div>
      {{/if}}

      {{#if data.statement.reportedData.sourcesBreakdown}}
        {{#data.statement.reportedData.sourcesBreakdown}}
          <div class="breakdown">
            {{#if (eq @index 0)}}
              <div class="header">
                <span>Calculation breakdown</span>
                <div>Net Receipts</div>
              </div>
            {{/if}}
            <div class="surface">
              <div class="header">
                <h3>{{name}}</h3>
                <div>{{pricePerCurrency net}}</div>
              </div>
              <table>
                <tr>
                  <th>Section</th>
                  <th>Prior Period</th>
                  <th>Current Period</th>
                  <th>Cumulative</th>
                </tr>
                {{#rows}}
                  <tr class="{{#if type}}{{type}}{{/if}}">
                    <td>{{section}}</td>
                    <td>
                      {{#if (eq type "right")}}({{/if}}
                      {{pricePerCurrency previous}}
                      {{#if (eq type "right")}}){{/if}}
                    </td>
                    <td>
                      {{#if (eq type "right")}}({{/if}}
                      {{pricePerCurrency current}}
                      {{#if (eq type "right")}}){{/if}}
                    </td>
                    <td>
                      {{#if (eq type "right")}}({{/if}}
                      {{pricePerCurrency cumulated}}
                      {{#if (eq type "right")}}){{/if}}
                    </td>
                  </tr>
                {{/rows}}
              </table>
            </div>
            {{#if (isLast @index ../data.statement.reportedData.sourcesBreakdown)}}
              {{#if ../data.statement.totalNetReceipt}}
                <div class="total-net">
                  Total Net Receipts:
                  <span>
                    {{pricePerCurrency ../data.statement.totalNetReceipt}}
                  </span>
                </div>
              {{/if}}
            {{/if}}
          </div>
        {{/data.statement.reportedData.sourcesBreakdown}}
      {{/if}}

      {{#if data.statement.reportedData.groupsBreakdown}}
        {{#data.statement.reportedData.groupsBreakdown}}
          <div class="breakdown">
            {{#if (eq @index 0)}}
              <div class="header">
                <span>Calculation breakdown</span>
                <div>Net Receipts</div>
              </div>
            {{/if}}
            <div class="surface">
              <div class="header">
                <h3>{{group.name}}</h3>
              </div>
              <table class="groups">
                <tr>
                  <th>Section</th>
                  <th></th>
                  <th>Net Receipt</th>
                </tr>
                {{#rows}}
                  <tr class="{{#if type}}{{type}}{{/if}}">
                    <td>{{name}}</td>
                    <td>
                      {{#if (eq type "right")}}
                        {{ percent }} %
                      {{/if}}
                    </td>
                    <td>
                      {{formatPair taken ../../data.mainCurrency}}
                    </td>
                  </tr>
                {{/rows}}
              </table>
              {{#if stillToBeRecouped}}
                <div class="to-be-recouped">
                  Still to be recouped:
                  {{pricePerCurrency stillToBeRecouped}}
                </div>
              {{/if}}
              {{#if mgStatus}}
                <div class="to-be-recouped">
                  <span>
                    Before recoupment:
                    {{pricePerCurrency mgStatus.investments}}
                  </span>
                  <span>
                    Still to be recouped:
                    {{pricePerCurrency mgStatus.stillToBeRecouped}}
                  </span>
                </div>
              {{/if}}
            </div>
          </div>
        {{/data.statement.reportedData.groupsBreakdown}}
      {{/if}}

      {{#if data.statement.reportedData.details}}
        {{#data.statement.reportedData.details}}
          <div class="breakdown">
            {{#if (eq @index 0)}}
              <div class="header">
                <span>Calculation details</span>
              </div>
            {{/if}}
            <div class="surface">
              <div class="header">
                <h3>{{name}}</h3>
              </div>
              <table class="groups">
                <tr>
                  <th>From</th>
                  <th>To</th>
                  <th></th>
                  <th>%</th>
                  <th>Taken</th>
                </tr>
                {{#details}}
                  <tr>
                    <td>{{from}}</td>
                    <td>{{to}}</td>
                    <td>
                      {{formatPair amount ../../data.mainCurrency}}
                    </td>
                    <td>{{percent}}</td>
                    <td>
                      {{formatPair taken ../../data.mainCurrency}}
                    </td>
                  </tr>
                {{/details}}
              </table>
            </div>
          </div>
        {{/data.statement.reportedData.details}}
      {{/if}}

      {{#if data.statement.reportedData.rightsBreakdown}}
        <div class="breakdown">
          {{#data.statement.reportedData.rightsBreakdown}}
            <div class="surface">
              <div class="header">
                <h3>{{name}}</h3>
                <div>{{pricePerCurrency total}}</div>
              </div>
              <table>
                <tr>
                  <th>Section</th>
                  <th>Prior Period</th>
                  <th>Current Period</th>
                  <th>Cumulative</th>
                </tr>
                {{#rows}}
                  <tr class="{{#if type}}{{type}}{{/if}}">
                    <td>{{section}}</td>
                    <td>
                      {{#if (eq type "right")}}({{/if}}
                      {{pricePerCurrency previous}}
                      {{#if (eq type "right")}}){{/if}}
                    </td>
                    <td>
                      {{#if (eq type "right")}}({{/if}}
                      {{pricePerCurrency current}}
                      {{#if (eq type "right")}}){{/if}}
                    </td>
                    <td>
                      {{#if (eq type "right")}}({{/if}}
                      {{pricePerCurrency cumulated}}
                      {{#if (eq type "right")}}){{/if}}
                    </td>
                  </tr>
                {{/rows}}
              </table>
              {{#if stillToBeRecouped}}
                <div class="to-be-recouped">
                  Still to be recouped:
                  {{pricePerCurrency stillToBeRecouped}}
                </div>
              {{/if}}
              {{#if mgStatus}}
                <div class="to-be-recouped">
                  <span>
                    Before recoupment:
                    {{pricePerCurrency mgStatus.investments}}
                  </span>
                  <span>
                    Still to be recouped:
                    {{pricePerCurrency mgStatus.stillToBeRecouped}}
                  </span>
                </div>
              {{/if}}
            </div>
          {{/data.statement.reportedData.rightsBreakdown}}
        </div>
      {{/if}}

      <div class="group">
        {{#if data.statement.reportedData.expenses}}
          <div class="breakdown">
            <div class="surface">
              <div class="header">
                <h3>
                  {{#if (eq data.statement.type "producer")}}
                    Distributor details
                  {{else}}
                    Expenses details
                  {{/if}}
                </h3>
              </div>
              <table>
                <tr>
                  {{#if (eq data.statement.type "producer")}}
                    <th>Rightholder</th>
                  {{/if}}
                  <th>Date</th>
                  <th>Expenses name</th>
                  <th>Type</th>
                  <th>Amount</th>
                </tr>
                {{#data.statement.reportedData.expenses}}
                  <tr>
                    {{#if (eq ../data.statement.type "producer")}}
                      <td>{{rightholderName rightholderId}}</td>
                    {{/if}}
                    <td>{{date date}}</td>
                    <td>{{nature}}</td>
                    <td>{{expenseType typeId contractId}}</td>
                    <td>{{formatPair price currency}}</td>
                  </tr>
                {{/data.statement.reportedData.expenses}}
              </table>
            </div>
          </div>
        {{/if}}

        {{#if data.statement.reportedData.interests}}
          <div class="breakdown">
            <div class="header">
              <span>Interest Calculation</span>
            </div>
            <div class="surface">
              <div class="header">
                <h3>Interest Rate Details</h3>
              </div>
              <table>
                <tr>
                  <th>Event</th>
                  <th>Amount invested</th>
                  <th>Revenues earned</th>
                  <th>Event date</th>
                  <th>Amount Owed</th>
                  <th>Period Days</th>
                  <th>Period interests</th>
                  <th>Period interests owed</th>			
                </tr>
                {{#data.statement.reportedData.interests}}
                  <tr>
                    <td>{{event}}</td>
                    <td>{{formatPair invested ../data.mainCurrency}}</td>
                    <td>{{formatPair revenues ../data.mainCurrency}}</td>
                    <td>{{date date}}</td>
                    <td>{{formatPair amountOwed ../data.mainCurrency}}</td>
                    <td>{{periodDays}}</td>
                    <td>{{formatPair periodInterests ../data.mainCurrency}}</td>
                    <td>{{formatPair interestOwed ../data.mainCurrency}}</td>
                  </tr>
                {{/data.statement.reportedData.interests}}
              </table>
            </div>
          </div>
        {{/if}}

        {{#if data.statement.payments.rightholder}}
          <div class="statement-participation">
            <span>total participation:</span>
            <span>
              {{formatPair data.statement.payments.rightholder.price data.statement.payments.rightholder.currency}}
          </div>
        {{/if}}
        {{#if data.statement.reportedData.producerNetParticipation}}
          <div class="statement-participation">
            <span>total participation:</span>
            <span>
              {{pricePerCurrency data.statement.reportedData.producerNetParticipation}}
            </span>
          </div>
        {{/if}}
      </div>

      {{#if data.statement.comment}}
        <div class="surface">
          <h3>Comment</h3>
          <p>{{data.statement.comment}}</p>
        </div>
      {{/if}}
    </div>

    {{#data.parentStatements}}
      <div class="page">
        <div class="statement-header">
          <img class="logo" src="{{../images.appLogo}}">
          <div class="header">
            <p>
              <strong>
                {{../data.movie.title.international}}
                {{#if ../directors}} Directed by {{ ../directors }} {{/if}}
              </strong>
              </br>
              <strong>Covered Period: </strong> {{date duration.from}} - {{date duration.to}}
            </p>
          </div>
        </div>
        <div class="statement-header-separator"></div>
        <div class="statement-parties">
          <div>
            <span>From</span>
            <h2>{{sender}}</h2>
            {{#if senderAddress}}
              <div class="party-desc">
                {{#if senderAddress.street}}{{senderAddress.street}}<br/>{{/if}}
                {{#if senderAddress.zipCode}}{{senderAddress.zipCode}} {{/if}} 
                {{#if senderAddress.city}} {{senderAddress.city}}<br/>{{/if}}
                {{toLabel senderAddress.country 'territories'}}
              </div>
            {{/if}}
            <div class="separator"></div>
          </div>
          <div>
            <span>To</span>
            <h2>{{receiver}}</h2>
            <div class="party-desc">
              {{#if ../data.contract}}
                Contract: {{../data.contract.name}}
                <br/>
                Signature date: {{date ../data.contract.signatureDate}}
              {{/if}}
            </div>
            <div class="separator"></div>
          </div>
        </div>

        {{#if payments.rightholder}}
          <div class="statement-participation">
            <span>total participation:</span>
            <span>
              {{formatPair payments.rightholder.price payments.rightholder.currency}}
            </span>
          </div>
        {{/if}}
        {{#if reportedData.producerNetParticipation}}
          <div class="statement-participation">
            <span>total participation:</span>
            <span>
              {{pricePerCurrency reportedData.producerNetParticipation}}
            </span>
          </div>
        {{/if}}
    
        {{#if reportedData.sourcesBreakdown}}
          {{#reportedData.sourcesBreakdown}}
            <div class="breakdown">
              {{#if (eq @index 0)}}
                <div class="header">
                  <span>Calculation breakdown</span>
                  <div>Net Receipts</div>
                </div>
              {{/if}}
              <div class="surface">
                <div class="header">
                  <h3>{{name}}</h3>
                  <div>{{pricePerCurrency net}}</div>
                </div>
                <table>
                  <tr>
                    <th>Section</th>
                    <th>Prior Period</th>
                    <th>Current Period</th>
                    <th>Cumulative</th>
                  </tr>
                  {{#rows}}
                    <tr class="{{#if type}}{{type}}{{/if}}">
                      <td>{{section}}</td>
                      <td>
                        {{#if (eq type "right")}}({{/if}}
                        {{pricePerCurrency previous}}
                        {{#if (eq type "right")}}){{/if}}
                      </td>
                      <td>
                        {{#if (eq type "right")}}({{/if}}
                        {{pricePerCurrency current}}
                        {{#if (eq type "right")}}){{/if}}
                      </td>
                      <td>
                        {{#if (eq type "right")}}({{/if}}
                        {{pricePerCurrency cumulated}}
                        {{#if (eq type "right")}}){{/if}}
                      </td>
                    </tr>
                  {{/rows}}
                </table>
              </div>
              {{#if (isLast @index ../reportedData.sourcesBreakdown)}}
                {{#if ../totalNetReceipt}}
                  <div class="total-net">
                    Total Net Receipts:
                    <span>
                      {{pricePerCurrency ../totalNetReceipt}}
                    </span>
                  </div>
                {{/if}}
              {{/if}}
            </div>
          {{/reportedData.sourcesBreakdown}}
        {{/if}}

        <div class="group">
          {{#if reportedData.rightsBreakdown}}
            <div class="breakdown">
              {{#reportedData.rightsBreakdown}}
                <div class="surface">
                  <div class="header">
                    <h3>{{name}}</h3>
                    <div>{{pricePerCurrency total}}</div>
                  </div>
                  <table>
                    <tr>
                      <th>Section</th>
                      <th>Prior Period</th>
                      <th>Current Period</th>
                      <th>Cumulative</th>
                    </tr>
                    {{#rows}}
                      <tr class="{{#if type}}{{type}}{{/if}}">
                        <td>{{section}}</td>
                        <td>
                          {{#if (eq type "right")}}({{/if}}
                          {{pricePerCurrency previous}}
                          {{#if (eq type "right")}}){{/if}}
                        </td>
                        <td>
                          {{#if (eq type "right")}}({{/if}}
                          {{pricePerCurrency current}}
                          {{#if (eq type "right")}}){{/if}}
                        </td>
                        <td>
                          {{#if (eq type "right")}}({{/if}}
                          {{pricePerCurrency cumulated}}
                          {{#if (eq type "right")}}){{/if}}
                        </td>
                      </tr>
                    {{/rows}}
                  </table>
                  {{#if stillToBeRecouped}}
                    <div class="to-be-recouped">
                      Still to be recouped:
                      {{pricePerCurrency stillToBeRecouped}}
                    </div>
                  {{/if}}
                  {{#if mgStatus}}
                    <div class="to-be-recouped">
                      <span>
                        Before recoupment:
                        {{pricePerCurrency mgStatus.investments}}
                      </span>
                      <span>
                        Still to be recouped:
                        {{pricePerCurrency mgStatus.stillToBeRecouped}}
                      </span>
                    </div>
                  {{/if}}
                </div>
              {{/reportedData.rightsBreakdown}}
            </div>
          {{/if}}
  
          {{#if reportedData.expenses}}
            <div class="breakdown">
              <div class="surface">
                <div class="header">
                  <h3>Expenses details</h3>
                </div>
                <table>
                  <tr>
                    <th>Date</th>
                    <th>Expenses name</th>
                    <th>Type</th>
                    <th>Amount</th>
                  </tr>
                  {{#reportedData.expenses}}
                    <tr>
                      <td>{{date date}}</td>
                      <td>{{nature}}</td>
                      <td>{{expenseType typeId contractId}}</td>
                      <td>{{formatPair price currency}}</td>
                    </tr>
                  {{/reportedData.expenses}}
                </table>
              </div>
            </div>
          {{/if}}
    
          {{#if payments.rightholder}}
            <div class="statement-participation">
              <span>total participation:</span>
              <span>
                {{formatPair payments.rightholder.price payments.rightholder.currency}}
            </div>
          {{/if}}
          {{#if reportedData.producerNetParticipation}}
            <div class="statement-participation">
              <span>total participation:</span>
              <span>
                {{pricePerCurrency reportedData.producerNetParticipation}}
              </span>
            </div>
          {{/if}}
        </div>

        {{#if comment}}
          <div class="surface">
            <h3>Comment</h3>
            <p>{{comment}}</p>
          </div>
        {{/if}}
      </div>
    {{/data.parentStatements}}

  </body>

</html>