<mat-nav-list *ngIf="org$ | async as org">
  <a mat-list-item routerLink="/c/o/marketplace/home" routerLinkActive="active">
    <mat-icon mat-list-icon svgIcon="home"></mat-icon>
    <span mat-line><b>Home</b></span>
  </a>
  <a test-id="library" mat-list-item routerLink="/c/o/marketplace/title" routerLinkActive="active">
    <mat-icon mat-list-icon svgIcon="video_library"></mat-icon>
    <span mat-line><b>Titles</b></span>
  </a>
  <a test-id="sellers" mat-list-item routerLink="/c/o/marketplace/organization" routerLinkActive="active">
    <mat-icon mat-list-icon svgIcon="sellers"></mat-icon>
    <span mat-line><b>Sales Agents</b></span>
  </a>
  <a mat-list-item routerLink="/c/o/marketplace/event" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <mat-icon mat-list-icon svgIcon="screening"></mat-icon>
    <span mat-line><b>Screening List</b></span>
  </a>
  <a mat-list-item routerLink="/c/o/marketplace/event/calendar" routerLinkActive="active">
    <mat-icon mat-list-icon svgIcon="calendar_today"></mat-icon>
    <span mat-line><b>My Calendar</b></span>
  </a>
  <a mat-list-item routerLink="/c/o/marketplace/wishlist" routerLinkActive="active">
    <mat-icon mat-list-icon svgIcon="favorite"></mat-icon>
    <span mat-line><b>Wishlist</b></span>
  </a>
  <ng-container *ngIf="org | canAccess: 'dashboard':'festival'">
    <mat-divider></mat-divider>
    <a mat-list-item routerLink="/c/o/dashboard/home" routerLinkActive="active">
      <mat-icon matListIcon svgIcon="dashboard"></mat-icon>
      <span matLine><b>My Dashboard</b></span>
    </a>
  </ng-container>
  <mat-divider fxHide.gt-xs></mat-divider>
  <a fxHide.gt-xs mat-list-item routerLink="/c/o/account/profile" routerLinkActive="active">
    <mat-icon matListIcon svgIcon="account_circle"></mat-icon>
    <span matLine><b>Profile</b></span>
  </a>
  <a fxHide.gt-xs mat-list-item [routerLink]="['/c/o/organization', org.id]" routerLinkActive="active">
    <mat-icon matListIcon svgIcon="business"></mat-icon>
    <span matLine><b>Organization</b></span>
  </a>
  <mat-list-item fxHide.gt-xs (click)="logout()">
    <mat-icon matListIcon svgIcon="logout"></mat-icon>
    <span matLine><b>Log out</b></span>
  </mat-list-item>
</mat-nav-list>

<section fxHide.gt-xs>
  <!-- Invitations -->
  <a mat-icon-button routerLink="invitations" matTooltip="Invitations">
    <ng-container *ngIf="invitationCount$ | async as count; else noInvitation">
      <mat-icon svgIcon="invitation" [matBadge]="count" matBadgeColor="accent" matBadgeSize="small"></mat-icon>
    </ng-container>
    <ng-template #noInvitation>
      <mat-icon svgIcon="invitation"></mat-icon>
    </ng-template>
  </a>
  <!-- Notifications -->
  <a mat-icon-button routerLink="notifications" matTooltip="Notifications">
    <ng-container *ngIf="notificationCount$ | async as count; else noNotification">
      <mat-icon svgIcon="notifications" [matBadge]="count" matBadgeColor="accent" matBadgeSize="small">
      </mat-icon>
    </ng-container>
    <ng-template #noNotification>
      <mat-icon svgIcon="notifications"></mat-icon>
    </ng-template>
  </a>
</section>
