event-analytics {
  display: block;
  padding: 24px;
}

section {
  background-color: var(--background-card);
  border-radius: 4px;
  border: solid 1px var(--foreground-divider);
  padding: 24px 16px;

  .manage-files-btn {
    margin-bottom: 40px;
  }

  a {
    color: var(--primary);
    text-decoration: underline;
  }

  a {
    color: var(--primary);
    text-decoration: underline;
  }

  p.no-files {
    width: 70%;
    text-align: center;
    margin: 32px auto;
  }

  mat-list-item {
    cursor: pointer;
  }
}

.link {
  mat-form-field {
    display: block;
  }

  button {
    margin-top: 20px;
  }
}
