event-analytics {
  display: block;
  padding: 24px;
}

mat-card {
  button {
    width: 30%;
  }

  mat-divider {
    position: static;
  }

  mat-list {
    mat-list-item {
      mat-icon {
        min-width: 28px;
        margin: 0 14px;
      }
    }
  }

  p.no-files {
    width: 70%;
    text-align: center;
    margin: 32px auto;
  }
}
