<ng-container *ngIf="form">
  <event-edit @slideUpList [form]="form" [invitations]="invitations$ | async">
    <ng-container [ngSwitch]="type">
      <!-- Screening -->
      <ng-container *ngSwitchCase="'screening'">
        <h2>Screening</h2>
        <section [formGroup]="form.meta" fxLayout="column">
          <ng-container *ngIf="(titles$ | async) as titles else loading">
            <!-- Title -->
            <mat-form-field appearance="outline">
              <mat-label>Select the title to display</mat-label>
              <mat-select formControlName="titleId">
                <mat-option *ngFor="let title of titles" [value]="title.id" [disabled]="!title.promotional.videos?.screener?.jwPlayerId">
                  <ng-container *ngIf="title.promotional.videos?.screener?.jwPlayerId else noVideo">
                    {{ title.title.international }}
                  </ng-container>
                  <ng-template #noVideo>
                    <span class="text-disabled">{{ title.title.international }}</span>
                    <span> - </span>
                    <span class="text-warn">Upload video first.</span>
                  </ng-template>
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- Description -->
            <mat-form-field appearance="outline">
              <mat-label>Description</mat-label>
              <textarea matInput
                placeholder="Add a description"
                formControlName="description"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="4"
                maxlength="500"></textarea>
              <mat-hint>Limited to 500 characters.</mat-hint>
            </mat-form-field>
          </ng-container>
          <ng-template #loading>
            <mat-spinner diameter="50"></mat-spinner>
          </ng-template>
        </section>
      </ng-container>

      <!-- Meeting -->
      <ng-container *ngSwitchCase="'meeting'">
        <h2>Meeting</h2>
        <section [formGroup]="form.meta" fxLayout="column">
          <div class="link" fxLayout>
            <mat-form-field class="link" appearance="outline" fxFlex>
              <mat-label>Link to Video Call</mat-label>
              <input matInput type="text" disabled [value]="link">
            </mat-form-field>
            <button mat-icon-button [cdkCopyToClipboard]="link" matTooltip="Copy the link">
              <mat-icon svgIcon="file_copy"></mat-icon>
            </button>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Organized by</mat-label>
            <mat-select formControlName="organizerId">
              <ng-container *ngFor="let member of members$ | async">
                <mat-option [value]="member.uid">{{ member | displayName }}</mat-option>
              </ng-container>
            </mat-select>
            <mat-hint>This person will appear as event organizer on the marketplace and all invitations will be sent in their name.</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput
              placeholder="Add a message"
              formControlName="description"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="4"
              maxlength="500"></textarea>
            <mat-hint>Limited to 500 characters.</mat-hint>
          </mat-form-field>
        </section>
        <section>
          <h6>My Files for this Meeting</h6>
          <p>
            Add the files you'll want to share during the meeting.
            If you can't find the files you're looking for, you can upload them directly in <a routerLink="/c/o/dashboard/files">My Files</a> page.
          </p>

          <div fxLayout="row">
            <button class="manage-files-btn" mat-stroked-button color="primary" (click)="openFileSelector()">
              <mat-icon svgIcon="folder"></mat-icon>
              <span>Add Files</span>
            </button>
          </div>

          <p>Selected Files ({{files.value.length}})</p>
          <mat-divider></mat-divider>

          <ng-container *ngIf="!!files.value.length; else empty">
            <mat-list>
              <mat-list-item *ngFor="let file of files.value; let i = index" (click)="previewFile(file)">
                <mat-icon mat-list-icon [svgIcon]="file | fileTypeImage: 'icon'"></mat-icon>
                <div mat-line>{{file | filePath: ' > ' | async}}</div>
                <button mat-icon-button (click)="removeSelectedFile(i, $event)">
                  <mat-icon svgIcon="delete" color="primary"></mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
          </ng-container>
          <ng-template #empty>
            <p class="no-files">There is no selected files yet. Please click the button above to add files.</p>
          </ng-template>

        </section>
      </ng-container>
    </ng-container>
  </event-edit>
  <ng-container *ngIf="isEventStarted()">
    <event-analytics [eventId]="form.id.value"></event-analytics>
  </ng-container>
</ng-container>
