<tunnel-page>
  <h4 title>TITLE INFORMATION</h4>
  <h1 subtitle>Synopsis</h1>
  <section tunnel-form>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Storyline</mat-card-title>
      </mat-card-header>
      <!-- TODO##1416 stoyline component -->
      <mat-card-content>
        <movie-form-synopsis [form]="synopsis"></movie-form-synopsis>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Key Assets</mat-card-title>
      </mat-card-header>
      <!-- TODO#1478 Sync Data and UI  -->
      <mat-card-content>
        <movie-form-key-assets [form]="keyAssets"></movie-form-key-assets>
      </mat-card-content>
    </mat-card>
  </section>
</tunnel-page>
