<tunnel-page>
  <h4 title>TITLE INFORMATION</h4>
  <h1 subtitle>Synopsis</h1>
  <section tunnel-form>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Storyline</mat-card-title>
      </mat-card-header>
      <!-- stoyline component -->
      <mat-card-content>
        <form>

        </form>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Key Assets</mat-card-title>
      </mat-card-header>
      <!-- key assets component -->
    </mat-card>
  </section>
</tunnel-page>
