<tunnel-page>
  <h4 title>TITLE INFORMATION</h4>
  <h1 subtitle>Synopsis</h1>
  <section tunnel-form>
    <mat-accordion multi>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>Storyline</mat-panel-title>
        </mat-expansion-panel-header>
        <!-- TODO##1416 stoyline component -->
          <form [formGroup]="story">
            <movie-form-synopsis formGroupName="synopsis"></movie-form-synopsis>
          </form>
     </mat-expansion-panel>
     <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Key Assets</mat-panel-title>
      </mat-expansion-panel-header>
      <!-- TODO#1478 Sync Data and UI  -->
        <form [formGroup]="promotionalDescription">
          <movie-form-key-assets></movie-form-key-assets>
        </form>
     </mat-expansion-panel>
    </mat-accordion>
  </section>
</tunnel-page>
