<section class="surface">
  <header>
    <h1>Buyers' Activities</h1>
    <a mat-button routerLink="../title">
      <span>See Titles' Activities</span>
      <mat-icon svgIcon="arrow_forward"></mat-icon>
    </a>
  </header>
  <a mat-button routerLink="..">
    <mat-icon svgIcon="arrow_back"></mat-icon>
    <span>Back to Dashboard</span>
  </a>
  <article>
    <analytics-pie-chart class="surface" [data]="orgActivity$ | async"></analytics-pie-chart>
    <analytics-metric-card-list [cards]="aggregatedCards$ | async"></analytics-metric-card-list>
  </article>
</section>

<bf-table [source]="buyersAnalytics$ | async" pagination="10" useFilter clickable (rowClick)="goToBuyer($event)">
  <ng-template colRef="user" label="Name" let-user sort>
    <b>{{ user | displayName }}</b>
  </ng-template>
  <ng-template colRef="user.email" label="Email" let-email sort>
    {{ email }}
  </ng-template>
  <ng-template colRef="org.name" label="Company name" let-name sort>
    {{ name }}
  </ng-template>
  <ng-template colRef="org.activity" label="Activity" let-activity sort>
    {{ activity | toLabel:'orgActivity' }}
  </ng-template>
  <ng-template colRef="pageView" label="# Title Page Views" let-pageView sort>
    {{ pageView }}
  </ng-template>
  <ng-template colRef="addedToWishlist" label="Titles in Wishlist" let-wishlist sort>
    {{ wishlist }}
  </ng-template>
  <ng-template colRef="promoElementOpened" label="Promo Elements Opened" let-promoElementOpened sort>
    {{ promoElementOpened }}
  </ng-template>
  <ng-template colRef="screeningRequested" label="Screening Requests" let-screeningRequested sort>
    {{ screeningRequested }}
  </ng-template>
  <ng-template colRef="askingPriceRequested" label="Asking Price Requested" let-askingPriceRequested sort>
    {{ askingPriceRequested }}
  </ng-template>
</bf-table>
