header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

article, mat-radio-group {
  display: flex;
  margin-bottom: 16px;
}

form-chips-autocomplete {
  width: 100%;
}

mat-radio-button {
  margin-right: 16px;
}