<global-modal>
  <ng-container *ngIf="data.form as form">
    <header>
      <h2>Update Funding Status</h2>
      <p class="mat-caption">
        Please update regulary your funding status to provide your investors<br />
        with up to date information. The currency is the same as you’ve chosen for your project.
      </p>
    </header>
    <form fxLayout="column" fxLayoutGap="8px" [formGroup]="form" (ngSubmit)="data.onSave()">
      <!-- Received -->
      <mat-form-field appearance="outline">
        <mat-label>Funding Status</mat-label>
        <input type="number" matInput formControlName="received" [errorStateMatcher]="data.errorMatcher" min="0"
          required />
        <mat-icon matSuffix [svgIcon]="form.getCurrency()"></mat-icon>
        <mat-error *ngIf="form.hasError('receivedOverflow')">
          Your funding status should be lower than your needed investment
          ({{ form.get('cap').value ? form.get('cap').value: 0 | currency: form.getCurrency() : 'symbol' : '1.0-0' }}).
        </mat-error>
      </mat-form-field>

      <footer fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px">
        <button mat-flat-button type="submit" color="primary"
        [disabled]="form.invalid || form.get('received').value < 0">Update</button>
        <button mat-stroked-button mat-dialog-close type="reset" color="primary">Cancel</button>
      </footer>
    </form>
  </ng-container>
</global-modal>
