<section fxLayout fxLayoutAlign="space-between">
  <article>
    <strong>Organization files</strong> are the documents that you have attached to your organization,<br/>
    They will be accessible to all your organization members.
  </article>
  <a mat-stroked-button color="primary" (click)="openDialog()">
    <mat-icon svgIcon="add"></mat-icon>
    <span>Upload file</span>
  </a>
</section>
<ng-container *ngIf="(org$ | async).documents.notes as notes">
  <bf-table-filter [source]="notes" [columns]="columns" [initialColumns]="initialColumns" showFilter>
    <ng-template colRef="ref" let-ref>
      <img [asset]="ref | fileTypeImage">
    </ng-template>
    <ng-template colRef="title" let-name>{{ name }}</ng-template>
    <ng-template colRef="edit" let-item="item">
      <button mat-button (click)="openDialog(item)">
        <mat-icon svgIcon="pencil"></mat-icon>
      </button>
    </ng-template>
    <ng-template colRef="delete" let-item="item">
      <button mat-button (click)="deleteFile(item)">
        <mat-icon svgIcon="trash"></mat-icon>
      </button>
    </ng-template>
  </bf-table-filter>
</ng-container>
