<layout-marketplace>
  <aside>
    <mat-nav-list>
      <a mat-list-item routerLink="home" routerLinkActive="active">
        <mat-icon mat-list-icon svgIcon="home"></mat-icon>
        <span mat-line><b>Home</b></span>
      </a>
      <a test-id="library" mat-list-item routerLink="title" routerLinkActives="active">
        <mat-icon mat-list-icon svgIcon="video_library"></mat-icon>
        <span mat-line><b>Projects</b></span>
      </a>
      <a test-id="sellers" mat-list-item routerLink="organization" routerLinkActives="active">
        <mat-icon mat-list-icon svgIcon="sellers"></mat-icon>
        <span mat-line><b>Partners</b></span>
      </a>
      <a mat-list-item routerLink="wishlist" routerLinkActive="active">
        <mat-icon mat-list-icon svgIcon="heart_fill"></mat-icon>
        <span mat-line><b>My Wishlist</b></span>
      </a>
      <ng-container *ngIf="org$ | async | canAccess: 'dashboard'">
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/c/o/dashboard/home" routerLinkActive="active">
          <mat-icon matListIcon svgIcon="dashboard"></mat-icon>
          <span matLine><b>My Dashboard</b></span>
        </a>
      </ng-container>
    </mat-nav-list>
  </aside>

  <header fxFlex fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.xs="center center"
    class="dark-contrast-theme">

    <h4>Welcome to Media Financiers</h4>
    <h1 class="mat-display-2">The financing hub <br />for films and TV series</h1>
    <p>
      Media Financiers enables private investors to coproduce films and TV series selected by top film financing firms,
      benefiting from their expertise in dealmaking and content acquisition to access top projects at best conditions.
    </p>
    <div class="actions" fxLayout="row" fxLayoutGap="24px">
      <a mat-flat-button color="accent" test-id="library" routerLink="../title">What's on the platform today</a>
      <a mat-stroked-button test-id="sales agent" routerLink="../organization">Who's on the platform today</a>
    </div>
  </header>

</layout-marketplace>