@import "~@angular/flex-layout/mq";

:host {
  display: block;
  height: 100%;
}

.logo {
  height: 48px;
}

header {
  padding: 100px 96px;
  margin-bottom: 80px;
  background-image: url("/assets/images/ACMbannerlanding.png");
  background-size: cover;

  h4 {
    text-transform: uppercase;
    margin-bottom: 0;
  }
  h1 {
    margin-bottom: 32px;
  }
  p {
    width: 70%;
    text-align: justify;
  }

  .actions {
    margin-top: 24px;
  }
}

@include layout-bp(xs) {
  header {
    padding: 60px 0;
  }
}

@include layout-bp(sm) {
  header {
    padding: 20px;
  }
}

@include layout-bp(md) {
  header {
    padding: 40px;
  }
}
