@import "@angular/flex-layout/mq";

layout-marketplace {
  aside {
    @include layout-bp(gt-xs) {
      &:not(.opened) auth-sidenav,
      &.opened auth-sidenav {
        display: none;
      }
  
      &:not(.opened) {
        .mat-list-base .mat-list-item .mat-list-text {
          display: none;
        }
      }
    }
  }

  header {
    flex: 1;
  }

  @include layout-bp(xs) {
    header header {
      margin-inline: 0;
    }
  }
}
