
<main fxLayout="column">
  <crm-bread-crumb></crm-bread-crumb>

  <a mat-button routerLink="titles" routerLinkActive="mat-primary">
    <mat-icon svgIcon="movie"></mat-icon><span matLine>Titles</span>
  </a>
  <a mat-button routerLink="orgs" routerLinkActive="mat-primary">
    <mat-icon svgIcon="group"></mat-icon><span matLine>Organizations</span>
  </a>
  <a mat-button routerLink="contracts" routerLinkActive="mat-primary">
    <mat-icon svgIcon="document"></mat-icon><span matLine>Contracts</span>
  </a>
  <a mat-button routerLink="documents" routerLinkActive="mat-primary">
    <mat-icon svgIcon="document_signed"></mat-icon><span matLine>Documents</span>
  </a>
  <a mat-button routerLink="statements" routerLinkActive="mat-primary">
    <mat-icon svgIcon="monetization"></mat-icon><span matLine>Statements</span>
  </a>
  <a mat-button routerLink="sources" routerLinkActive="mat-primary">
    <mat-icon svgIcon="world"></mat-icon><span matLine>Sources</span>
  </a>
  <a mat-button routerLink="rights" routerLinkActive="mat-primary">
    <mat-icon svgIcon="local_offer"></mat-icon><span matLine>Rights</span>
  </a>
  <a mat-button routerLink="imdb" routerLinkActive="mat-primary">
    <mat-icon svgIcon="movie"></mat-icon><span matLine>Imdb</span>
  </a>

  <router-outlet></router-outlet>
</main>
