@import '~@angular/flex-layout/mq';

:host {
  display: block;
}

mat-card#background-card {
  border: none;
}

article {
  display: block;
  width: 60%;
  margin: auto;
  padding: 30px 0;
}

.feature-description {
  width: 45%;
}

img {
  width: 300px;
  margin: 20px;
}

a {
  color: inherit;
  text-decoration: underline;
}

@include layout-bp(sm) {
  div {
    width: 100%;
  }
  .feature-description {
    width: 100%;
  }
}

@include layout-bp(xs) {
  .feature-description {
    width: 100%;
  }
}
