<mat-card id="background-card">
  <article fxLayout="row"
    fxLayoutAlign="space-between start"
    fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="start center">
    <div class="feature-description">
      <h3>Package deals</h3>
      <p>
        On Archipel Content, Content Buyers can browse through a consolidated library
        in which they can pick and choose titles from a multitude of Sellers
        (Sales Agents, Distributors, Producers…) to make one single multi-title package offer.
      </p>
      <p>
        <b>
          One curated library, <br>
          One package offer, <br>
          One contract.
      </b>
      </p>
    </div>
    <img asset="feature_key1.svg" alt="Feature Image">
  </article>

  <article fxLayout="row-reverse"
    fxLayoutAlign="space-between start"
    fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="start center">
    <div class="feature-description">
      <h3>Blockchain</h3>
      <p>
        Blockchain is an open, distributed ledger that can record transactions
        between different parties efficiently in a verifiable and permanent way.
      </p>
      <p>
        On Archipel Content, we aim to use it for securing authentication processes,
        timestamping transactions, and implementing an automated and instantaneous revenue redistribution.
      </p>
    </div>
      <img asset="feature_key2.svg" alt="Feature Image">
  </article>

  <article fxLayout="row"
    fxLayoutAlign="space-between start"
    fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="start center">
    <div class="feature-description">
      <h3>Our expertise</h3>
      <p>
        Cascade8 is the tech branch of Logical Pictures Group, which designs and implements tailor-made financial,
        artistic and technological solutions in entertainment to foster talent.
        It has made its mark internationally in the content industry by developing a unique creative environment,
        thanks to specialized and autonomous sister companies: <a href="http://logicalpictures.com/" target="_blank">Logical Pictures</a>
        (films & series financing and production), <a href="https://www.21contentventures.com/" target="_blank">21 Content Ventures</a>
        (films & series financing), <a href="https://www.pulsarcontent.com/" target="_blank">Pulsar Content</a>
        (international sales), <a href="https://www.thejokersfilms.com/" target="_blank">The Jokers</a> (distribution),
        <a href="https://loveboat.co/" target="_blank">Loveboat</a> (advertising)
        and <a href="https://cascade8.com/" target="_blank">Cascade8</a> (software tools).
        This expertise and network help us create tech solutions that correspond to the industry professionals’ needs and standards.
      </p>
    </div>
      <img asset="feature_key3.svg" alt="Feature Image">
  </article>
</mat-card>
