<mat-card id="background-card">
  <article fxLayout="row"
    fxLayoutAlign="space-between start"
    fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="start center">
    <div class="feature-description">
      <h3>Package deals</h3>
      <p>
        Archipel Content gives Content Buyers access to a consolidated library
        where they can buy quality content from a multitude of Sellers
        (Sales Agents, Distributors, Producers…) in one simple package.
      </p>
      <p>
        <b>
          One massive library, <br>
          One package offer, <br>
          One contract.
      </b>
      </p>
    </div>
    <img asset="feature_key1.webp" alt="Feature Image">
  </article>

  <article fxLayout="row-reverse"
    fxLayoutAlign="space-between start"
    fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="start center">
    <div class="feature-description">
      <h3>Blockchain</h3>
      <p>
        Blockchain is an open, distributed ledger that can record transactions
        between different parties efficiently in a verifiable and permanent way.
      </p>
      <p>
        On Archipel Content, we use it for securing authentication processes,
        timestamping transactions, and implementing an automated and instantaneous revenue redistribution.
      </p>
    </div>
      <img asset="feature_key2.webp" alt="Feature Image">
  </article>

  <article fxLayout="row"
    fxLayoutAlign="space-between start"
    fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="start center">
    <div class="feature-description">
      <h3>Our expertise</h3>
      <p>
        We also have advanced expertise in the Media industry,
        as Archipel Content comes directly from the expertise of the film production and financing outfit
        <a href="http://logicalpictures.com/" target="_blank">Logical Pictures</a> and the international sales outfit
        <a href="https://www.pulsarcontent.com/" target="_blank">Pulsar Content</a>, with whom we work hand in hand.
        This expertise and network help us create tech solutions that suit the industry’s needs and standards.
      </p>
    </div>
      <img asset="feature_key3.webp" alt="Feature Image">
  </article>
</mat-card>
