@import '@angular/flex-layout/mq';

:host {
  display: block;
}

mat-card#background-card {
  border: none;
  margin-bottom: 56px;
}

article {
  display: block;
  padding: 30px 0;
}

img {
  width: 300px;
  margin: 20px;
}

a {
  color: inherit;
}

@include layout-bp(lt-md) {
  .feature-description {
    text-align: center;
    width: 100%;
  }
}
