<ng-container *ngIf="contracts$ | async as contracts">
  <section>
    <button mat-button color="primary" [disabled]="!contracts.length" (click)="removeDocuments(contracts)">
      <mat-icon svgIcon="delete"></mat-icon>
      <span>Remove all contracts</span>
    </button>
  </section>
  <bf-table [source]="contracts" clickable useFilter pagination="50" (rowClick)="goTo($event.id)">
    <ng-template colRef="id" label="Id" let-id sort>
      {{ id }}
    </ng-template>
    <ng-template colRef="signatureDate" label="Signature Date" let-signatureDate sort defaultSort>
      {{ signatureDate | date: 'dd/MM/yyyy' }}
    </ng-template>
    <ng-template colRef="rootId" label="Parent" let-rootId sort>
      {{ rootId ? rootId : '--' }}
    </ng-template>
    <ng-template colRef="sellerId" label="Licensor" let-sellerId sort>
      {{ getRightholderName(sellerId) }}
    </ng-template>
    <ng-template colRef="buyerId" label="Licensee" let-buyerId sort>
      {{ getRightholderName(buyerId) }}
    </ng-template>
    <ng-template colRef="" label="Price" let-item sort>
      <price-per-currency *ngIf="getDeclaredAmount(item) as amount" [price]="amount"></price-per-currency>
    </ng-template>
    <ng-template colRef="type" label="Type" let-type sort>
      {{ type | toLabel: 'rightholderRoles' }}
    </ng-template>
    <ng-template colRef="" label="Action" let-contract sticky>
      <a mat-icon-button target="_blank" [routerLink]="['/c/o/dashboard/crm/waterfall', contract.titleId, 'documents', contract.id]" (click)="$event.stopPropagation()">
        <mat-icon svgIcon="launch"></mat-icon>
      </a>
      <button mat-icon-button (click)="removeDocuments([contract]);$event.stopPropagation()">
        <mat-icon svgIcon="delete" matTooltip="Delete contract"></mat-icon>
      </button>
    </ng-template>
  </bf-table>
</ng-container>
