
:host {
  display: block;
  padding: 24px;
}

nav {
  margin-bottom: 24px;
}

mat-card {
  margin-bottom: 12px;
}

.expansion-panel-content {
  margin-left: 32px;
}

#rights {
  margin-top: 32px;
}

ul {
  margin: 0;

  li {
    display: grid;

    div {
      font-size: 13px;
    }

    span {
      font-weight: 500;
    }

    &:first-child {
      margin-bottom: 8px;
    }
    
  }

  .excluding-territories {
    mat-chip {
      opacity: 0.57;
    }
  }
}
