<section fxLayout="row" fxLayout="space-between center" fxLayoutGap="24px">

  <aside>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Avail Search Criteria</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-header>
        <mat-card-subtitle>
          <span>Fill in the following fields to know where, when and in which conditions this title is available</span>
          <span>
            Search results use an "and" logic for multiple conditions, not and "or" logic.
            <mat-icon matTooltip="If you check TV and VOD media, you will get territories where both media are available (not either of them)" svgIcon="info"></mat-icon>
          </span>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <avails-title-filter [form]="availsForm"></avails-title-filter>
      </mat-card-content>
      <mat-card-actions align="end" fxLayoutGap="24px">
        <button mat-flat-button color="warn" (click)="clear()" matTooltip="Clear all filters">
          Clear
        </button>
        
        <button mat-flat-button color="primary" (click)="query()">
          Aplly filters
        </button>
      </mat-card-actions>
    </mat-card>
  </aside>

  <mat-card class="map-card">
    <mat-card-header>
      <mat-card-title>Available territories</mat-card-title>
      <mat-card-subtitle *ngIf="org$ | async as org">
        Click on the territories you're interested in to add them to your Selection. For territories that are not licensed, feel free to 
        <a [routerLink]="['/c/o/marketplace/organization', org.id, 'member']">contact {{ org | orgName }}</a>.
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <world-map>

        <!-- MAP LAYERS -->
        <ng-container *ngFor="let tag of (notLicensedTerritories$ | async); trackBy: trackByTag">
          <map-feature [tag]="tag.isoA3" color="color-3"
            (mouseover)="dislpayTerritoryTooltip(tag.label, 'Not licensed')" (mouseout)="clearTerritoryTooltip()">
          </map-feature>
        </ng-container>
        <ng-container *ngFor="let tag of (rightsSoldTerritories$ | async); trackBy: trackByTag">
          <map-feature [tag]="tag.isoA3" color="color-2"
            (mouseover)="dislpayTerritoryTooltip(tag.label, 'Rights sold')" (mouseout)="clearTerritoryTooltip()">
          </map-feature>
        </ng-container>
        <ng-container *ngFor="let tag of (availableTerritories$ | async); trackBy: trackByTag">
          <map-feature [tag]="tag.isoA3" color="color-1" (click)="select(tag)"
            (mouseover)="dislpayTerritoryTooltip(tag.label, 'Available')" (mouseout)="clearTerritoryTooltip()">
          </map-feature>
        </ng-container>
        <ng-container *ngFor="let tag of territoriesIsoA3">
          <map-feature [tag]="tag" color="color-4"></map-feature>
        </ng-container>
   
        <!-- TOOLTIP ON HOVERING-->
        <mat-card *ngIf="hoveredTerritory" class="hovered-territory-card">
          <ul>
            <li> {{ hoveredTerritory.name }} </li>
            <li class="mat-caption"> {{ hoveredTerritory.status }} </li>
          </ul>
        </mat-card>

        <!-- MAP LEGEND -->
        <mat-card class="colors-card">
          <mat-list>
            <mat-list-item>
              <svg viewBox="0 0 100 100" width="10px" height="10px">
                <rect fill="var(--color-1)" x="0" y="0" width="100" height="100" />
              </svg>
              <span class="mat-caption">Available</span>
            </mat-list-item>
            <mat-list-item>
              <svg viewBox="0 0 100 100" width="10px" height="10px">
                <rect fill="var(--color-2)" x="0" y="0" width="100" height="100" />
              </svg>
              <span class="mat-caption">Rights Sold</span>
            </mat-list-item>
            <mat-list-item>
              <svg viewBox="0 0 100 100" width="10px" height="10px">
                <rect fill="var(--color-3)" x="0" y="0" width="100" height="100" />
              </svg>
              <span class="mat-caption">
                Not Licensed 
                <mat-icon matTooltip="You can contact the seller directly for more information." svgIcon="info"></mat-icon>
              </span>
            </mat-list-item>
          </mat-list>
        </mat-card>
      </world-map>
    </mat-card-content>

  </mat-card>
</section>

<mat-card>
  <mat-card-content>
    TERM CARD
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-footer fxLayoutAlign="center center">
    <button mat-flat-button color="primary" class="mat-body-2">
      <span>Add to Selection</span>
      <mat-icon svgIcon="arrow_forward"></mat-icon>
    </button>
  </mat-card-footer>

</mat-card>