@import 'mixins';

section {
  padding: 15px 0;
}

aside {
  position: sticky;
  top: calc(var(--toolbarHeight) + 20px);
  width: 500px;
}

.map-card {
  flex: 1;

  world-map {
    height: 500px;
    z-index: 1;
    background-color: var(--background-map-background)
  }
}

.colors-card {
  position: absolute;
  bottom: 30px;
  right: 15px;
  z-index: 999;

  svg {
    margin-right: 10px;
  }
}

strong {
  opacity: 0.5;
  font-weight: normal;
}

@include mobile {
  section {
    padding: 10px 10px;
    aside {
      width: 100%;
      position: static;
      mat-card {
        height: 100%;
      }
    }
  }
}

@include tablet {
  section aside {
    position: static;
    width: 100%;
  }
}

@include medium {
  aside {
    position: static;
    width: 100%;
  }
}
