$dark-theme: (
  is-dark: true,
  primary: (
    200: #2a3052,
    500: #9eb1ff,
    800: #8298ff,
    contrast: (
      200: #f9f8ff,
      500: #2a3052,
      800: #2a3052,
    ),
  ),
  accent: (
    200: #ffb7b0,
    500: #ff6e61,
    800: #ff5145,
    contrast: (
      200: #272a44,
      500: #f9f8ff,
      800: #f9f8ff,
    ),
  ),
  warn: (
    100: #ff3f33,
    500: #ff3f33,
    700: #ff3f33,
    contrast: (
      500: #ffffff,
    ),
  ),
  background: (
    900: #010314,
    800: #06081c,
    700: #121424,
    600: #16192e,
    500: #1f1f26,
  ),
  foreground: (
    900: #f9f8ff,
    800: #bbc3e7,
    700: #9ca3c4,
    600: #666b81,
    500: #272a44,
  ),
);


$light-theme: (
  is-dark: false,
  primary: (
    200: #8da4fa,
    500: #3C64F7,
    800: #0f31f0,
    contrast: (
      200: #1f2a3b,
      500: #ffffff,
      800: #ffffff,
    ),
  ),
  accent: (
    200: #ffb7b0,
    500: #ff6e61,
    800: #ff5145,
    contrast: (
      200: #1f2a3b,
      500: #ffffff,
      800: #ffffff,
    ),
  ),
  warn: (
    100: #ff3f33,
    500: #ff3f33,
    700: #ff3f33,
    contrast: (
      500: #ffffff,
    ),
  ),
  background: (
    900: #f4f4f4,
    800: #ffffff,
    700: #fdfdfd,
    600: #e7e7e7,
    500: #dbdce0,
  ),
  foreground: (
    900: #080b0f,
    800: #1f2a3b,
    700: #454e5d,
    600: #666b81,
    500: #d3d5dc,
  ),
);
