@use 'sass:map';
@use '~@angular/material' as mat;
@use "../typography" as typography;
@use '../components/anchor' as anchor;
@use '../components/bf-calendar' as calendar;
@use '../components/bf-font-color' as fontColor;
@use '../components/bf-widget' as widget;
@use '../components/scroll' as scroll;
@use '../components/bf-tunnel' as tunnel;
@use '../components/apex-chart' as apex-chart;
@use '../components/surface' as surface;


@use '../components/mat-expansion-panel' as expansion-panel;
@use '../components/mat-button' as button;
@use '../components/mat-card' as card;
@use '../components/mat-list' as list;
@use '../components/mat-snack-bar' as snack-bar;
@use '../components/mat-slider' as slider;
@use '../components/mat-native-control' as native-control;
@use '../components/mat-table' as table;
@use '../components/mat-toolbar' as toolbar;
@use '../components/mat-chips' as chips;
@use '../components/mat-form-field' as form-field;
@use '../components/mat-icon' as icon;
@use '../components/mat-toggle-button' as toggle-button;
@use '../components/mat-sidenav' as sidenav;
@use '../components/mat-dialog' as dialog;
@use '../components/mat-tabs' as tabs;
@use '../components/mat-tooltip' as tooltip;
@use '../components/mat-datepicker' as datepicker;


@include mat.core(typography.$bf-typography);
// While density is private we need to set it here to avoid duplicated themes
@include mat.all-component-themes((
  density: maximum  // options: minimum, default, maximum
));


// THEME

@function getContrast($theme) {
  $foreground-contrast: (
    900: #ffffff,
    800: #ffffff,
    700: #ffffff,
    600: #ffffff,
    500: #ffffff,
  );
  @return (
    is-dark: map.get($theme, "is-dark"),
    primary: map.get($theme, "primary"),
    accent: map.get($theme, "accent"),
    warn: map.get($theme, "warn"),
    background: map.get($theme, "background"),
    foreground: $foreground-contrast
  );
}

@function getTheme($theme) {
  $primary: map.get($theme, "primary");
  $accent: map.get($theme, "accent");
  $warn: map.get($theme, "warn");
  $background: map.get($theme, "background");
  $foreground: map.get($theme, "foreground");

  ////////////////
  // BACKGROUND //
  ////////////////
  $mat-background: (
    app-bar: map.get($background, 800),
    status-bar: map.get($background, 800),
    background: map.get($background, 900),
    disabled-button: map.get($background, 500),
    hover: rgba(map.get($primary, 800), 0.05),
    card: map.get($background, 800),
    dialog: map.get($background, 800),
    raised-button: map.get($background, 800),
    focused-button: map.get($primary, 800),
    selected-button: map.get($primary, 800),
    selected-disabled-button: map.get($background, 500),
    disabled-button-toggle: map.get($background, 500),
    unselected-chip: map.get($background, 500),
    disabled-list-option: map.get($background, 500),
    tooltip: rgba(map.get($background, 500), 0.9),
  );

  ////////////////
  // FOREGROUND //
  ////////////////
  $mat-foreground: (
    base: map.get($foreground, 900),
    divider: map.get($foreground, 500),
    dividers: map.get($foreground, 500),
    disabled: map.get($foreground, 500),
    disabled-button: map.get($foreground, 200),
    disabled-text: map.get($foreground, 600),
    elevation: rgba(#010101, 0.6),
    hint-text: map.get($foreground, 600),
    secondary-text: map.get($foreground, 600),
    icon: map.get($foreground, 700),
    icons: map.get($foreground, 700),
    text: map.get($foreground, 700),
    slider-min: map.get($foreground, 700),
    slider-off: rgba(map.get($foreground, 700), 0.26),
    slider-off-active: rgba(map.get($foreground, 700), 0.38),
  );

  //////////
  // FONT //
  //////////
  $font: (
    display-4: map.get($foreground, 700),
    display-3: map.get($foreground, 700),
    display-2: map.get($foreground, 700),
    display-1: map.get($foreground, 700),
    h1: map.get($foreground, 800),
    h2: map.get($foreground, 800),
    h3: map.get($foreground, 800),
    h4: map.get($foreground, 800),
    h5: map.get($foreground, 800),
    h6: map.get($foreground, 800),
    mat-body-1: map.get($foreground, 700),
    mat-body-2: map.get($foreground, 700),
    mat-caption: map.get($foreground, 600),
  );

  ///////////
  // THEME //
  ///////////
  $mat-theme: (
    // Standard
    primary: mat.define-palette($primary, 500, 200, 800),
    accent: mat.define-palette($accent, 500, 200, 800),
    warn: mat.define-palette($warn, 500),
    is-dark: map.get($theme, "is-dark"),
    foreground: $mat-foreground,
    background: $mat-background,
    font: $font
  );

  @return (
    color: $mat-theme,
    typography: typography.$bf-typography
  );
}

@mixin mat-theme($theme) {
  // Typography
  @include expansion-panel.typography($theme);
  @include button.typography($theme);
  @include native-control.typography($theme);
  @include list.typography($theme);
  @include toolbar.typography($theme);
  @include tooltip.typography($theme);

  // Colors
  @include mat.core-color($theme);
  @include mat.all-component-colors($theme);

  @include anchor.color($theme);
  @include fontColor.color($theme);
  @include calendar.color($theme);
  @include scroll.color($theme);
  @include widget.color($theme);
  @include tunnel.color($theme);
  @include apex-chart.color($theme);
  @include surface.color($theme);

  // override material
  @include expansion-panel.color($theme);
  @include button.color($theme);
  @include card.color($theme);
  @include list.color($theme);
  @include snack-bar.color($theme);
  @include slider.color($theme);
  @include chips.color($theme);
  @include form-field.color($theme);
  @include tabs.color($theme);
  @include toolbar.color($theme);
  @include toggle-button.color($theme);
  @include sidenav.color($theme);
  @include icon.color($theme);
  @include dialog.color($theme);
  @include datepicker.color($theme);
  @include table.color($theme);

  $config: mat.get-color-config($theme);
  $background: map.get($config, 'background');
  $foreground: map.get($config, 'foreground');
  $primary: map.get($config, 'primary');
  $accent: map.get($config, 'accent');
  $warn: map.get($config, 'warn');

  // Add css variables here when you need one
  --primary: #{mat.get-color-from-palette($primary)};
  --primary-contrast: #{mat.get-color-from-palette($primary, 'default-contrast')};
  --accent: #{mat.get-color-from-palette($accent)};
  --accent-contrast: #{mat.get-color-from-palette($accent, 'default-contrast')};
  --warn: #{mat.get-color-from-palette($warn)};
  --warn-contrast: #{mat.get-color-from-palette($warn, 'default-contrast')};
  --active: #5f6e8680;
  // Background
  --background-disabled-button: #{mat.get-color-from-palette($background, 'disabled-button')};
  --background-slider: #{mat.get-color-from-palette($foreground, 'slider-min')};
  --background-hover: #{mat.get-color-from-palette($background, 'hover')};
  --background-tooltip: #{mat.get-color-from-palette($background, 'tooltip')};
  --background-card: #{mat.get-color-from-palette($background, 'card')};
  --background: #{mat.get-color-from-palette($background, 'background', 0.5)};
  // Foreground
  --foreground-disabled-text: #{mat.get-color-from-palette($foreground, 'disabled-text')};
  --foreground-divider: #{mat.get-color-from-palette($foreground, 'divider')};
  --foreground-text: #{mat.get-color-from-palette($foreground, 'text')};
  --foreground-base: #{mat.get-color-from-palette($foreground, 'base')};
  --primary-lighter: #{mat.get-color-from-palette($primary, 200)};
}

