$dark-theme: (
  is-dark: true,
  primary: (
    100: #cfd8ff,
    200: #cfd8ff,
    400: #9eb1ff,
    500: #9eb1ff,
    700: #8298ff,
    800: #8298ff,
    contrast: (
      100: #24374e,
      200: #24374e,
      400: #f9f8ff,
      500: #f9f8ff,
      700: #f9f8ff,
      800: #f9f8ff,
    )
  ),
  accent: (
    100: #ffb7b0,
    200: #ffb7b0,
    400: #ff6e61,
    500: #ff6e61,
    700: #FF5145,
    800: #FF5145,
    contrast: (
      100: #272A44,
      200: #272A44,
      400: #f9f8ff,
      500: #f9f8ff,
      700: #f9f8ff,
      800: #f9f8ff,
    )
  ),
  warn: (
    500: #ff3f33,
    contrast: (
      500: #FFFFFF
    )
  ),
  background: (
    900: #010314,
    800: #06081C,
    700: #121424,
    600: #06081C,
    500: #1F1F26,
  ),
  foreground: (
    900: #f9f8ff,
    800: #BBC3E7,
    700: #9CA3C4,
    600: #666B81,
    500: #272A44,
  )
);



$light-theme: (
  is-dark: false,
  primary: (
    100: lighten(#8DA4FA, 10%),
    200: #8DA4FA,
    400: lighten(#1A49F5, 10%),
    500: #1A49F5,
    700:  lighten(#0F31F0, 10%),
    800:  #0F31F0,
    contrast: (
      100: #1F2A3B,
      200: #1F2A3B,
      400: #FFFFFF,
      500: #FFFFFF,
      700: #FFFFFF,
      800: #FFFFFF,
    )
  ),
  accent: (
    100: #FFB7B0,
    200: #FFB7B0,
    400: #FF6E61,
    500: #FF6E61,
    700: #FF5145,
    800: #FF5145,
    contrast: (
      100: #1F2A3B,
      200: #1F2A3B,
      400: #FFFFFF,
      500: #FFFFFF,
      700: #FFFFFF,
      800: #FFFFFF,
    )
  ),
  warn: (
    500: #ff3f33,
    contrast: (
      500: #FFFFFF
    )
  ),
  background: (
    900: #f4f4f4,
    800: #FFFFFF,
    700: #fdfdfd,
    600: #E7E7E7,
    500: #DBDCE0,
  ),
  foreground: (
    900: #080B0F,
    800: #1F2A3B,
    700: #454E5D,
    600: #666B81,
    500: #D3D5DC,
  )
);

