//////////////
// PALETTES //
//////////////

$mat-dark-bf-orange: (
  50: #ffeeec,
  100: #ffd4d0,
  200: #ffb7b0,
  300: #ff9a90,
  400: #ff8479,
  500: #ff6e61,
  600: #ff6659,
  700: #ff5b4f,
  800: #ff5145,
  900: #ff3d31,
  A100 : #fffdfd,
  A200 : #fffafa,
  A400 : #ffe0de,
  A700 : #ffc7c4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$mat-dark-bf-blue: (
  50: #f3f6ff,
  100: #e2e8ff,
  200: #cfd8ff,
  300: #bbc8ff,
  400: #adbdff,
  500: #9eb1ff,
  600: #96aaff,
  700: #8ca1ff,
  800: #8298ff,
  900: #7088ff,
  A100 : #ffffff,
  A200 : #fdfdff,
  A400 : #f9faff,
  A700 : #f8f9ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$mat-dark-bf-red: (
  50 : #ffe8e7,
  100 : #ffc5c2,
  200 : #ff9f99,
  300 : #ff7970,
  400 : #ff5c52,
  500 : #ff3f33,
  600 : #ff392e,
  700 : #ff3127,
  800 : #ff2920,
  900 : #ff1b14,
  A100 : #fffcfc,
  A200 : #fffbfb,
  A400 : #ffc9c8,
  A700 : #ffb0ae,
  contrast: (
    50: #000000,
    100: #000000,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

////////////////
// BACKGROUND //
////////////////

// Background palette for dark themes.
$bf-dark-contrast-background: (
  app-bar:      #121424,
  status-bar:   #121424,
  background:   #010314,
  card:         #121424,
  hover:        rgba(mat-color($mat-dark-bf-blue, 500), 0.05),
  dialog:           #121424,
  disabled-button:  #1C1F2E,
  raised-button:    mat-color($mat-dark-bf-blue, 500),
  focused-button:     #CFD8FF,
  selected-button:    map_get($mat-grey, 900),
  selected-disabled-button: #1C1F2E,
  disabled-button-toggle: #1C1F2E,
  unselected-chip:    #1F1F26,
  disabled-list-option: #1C1F2E,
);

////////////////
// FOREGROUND //
////////////////

// Foreground palette for dark themes.
$bf-dark-contrast-foreground: (
  base:           mat-color($mat-dark-bf-blue, 500),
  text:           #ffffff,
  divider:        #FFFFFF,
  dividers:       #272A44,
  disabled:       #505563,
  disabled-text:    #505563,
  disabled-button:  #505563,
  elevation:      rgba(#000, 0.12),
  hint-text:        #FFFFFF,
  secondary-text:   $light-secondary-text,
  icon:           #B7BCD9,
  icons:          #B7BCD9,
  slider-min:       rgba(#000, 0.87),
  slider-off:       rgba(#000, 0.26),
  slider-off-active: rgba(#000, 0.38),

  // Custom variables
  blue-icon:    #9eb1ff,
  dark-text:    #80818a,
);

//////////
// FONT //
//////////
$bf-dark-contrast-font: (
  display-4: #FFFFFF,
  display-3: #FFFFFF,
  display-2: #FFFFFF,
  display-1: #FFFFFF,
  h1: #FFFFFF,
  h2: #FFFFFF,
  h3: #FFFFFF,
  h4: #FFFFFF,
  h5: #FFFFFF,
  h6: #FFFFFF,
  mat-body-1: #FFFFFF,
  mat-body-2: #FFFFFF,
  mat-caption: #FFFFFF,
);


///////////
// THEME //
///////////

$bf-dark-contrast-primary: mat-palette($mat-dark-bf-blue, 500, 50, 500);
$bf-dark-contrast-accent: mat-palette($mat-dark-bf-orange, 500, 50, 700);
$bf-dark-contrast-warn: mat-palette($mat-dark-bf-red, 500);

$bf-dark-contrast-theme: (
  // Standard
  primary: $bf-dark-contrast-primary,
  accent: $bf-dark-contrast-accent,
  warn: $bf-dark-contrast-warn,
  is-dark: true,
  foreground: $bf-dark-contrast-foreground,
  background: $bf-dark-contrast-background,
  // font key is not standard angular theme, we've created font palette for each typography config except button & input
  font: $bf-dark-contrast-font
);
