$dark-theme: (
  is-dark: true,
  primary: (
    200: #2a3052,
    500: #9eb1ff,
    800: #8298ff,
    contrast: (
      200: #f9f8ff,
      500: #2a3052,
      800: #2a3052,
    ),
  ),
  accent: (
    200: #581B1E,
    500: #A81C22,
    800: #D01B22,
    contrast: (
      200: #1F2A3B,
      500: #FFFFFF,
      800: #FFFFFF,
    )
  ),
  warn: (
    500: #ff3f33,
    contrast: (
      500: #FFFFFF
    )
  ),
  background: (
    900: #0E0E11,
    800: #202026,
    700: #28282F,
    600: #222327,
    500: #000000,
  ),
  foreground: (
    900: #f9f8ff,
    800: #C6C6C6,
    700: #DCDCDC,
    600: #BEBFC2,
    500: #575759
  )
);



$light-theme: (
  is-dark: false,
  primary: (
    200: #8da4fa,
    500: #3C64F7,
    800: #0f31f0,
    contrast: (
      200: #1f2a3b,
      500: #ffffff,
      800: #ffffff,
    ),
  ),
  accent: (
    200: #FFB7B0,
    500: #A81C22,
    800: #D01B22,
    contrast: (
      200: #1F2A3B,
      500: #FFFFFF,
      800: #FFFFFF,
    )
  
  ),
  warn: (
    500: #FF3712,
    contrast: (
      500: #FFFFFF
    )  
  ),
  background: (
    900: #f4f4f4,
    800: #FFFFFF,
    700: #fdfdfd,
    600: #E7E7E7,
    500: #DBDCE0,
  ),
  foreground: (
    900: #080B0F,
    800: #1F2A3B,
    700: #454E5D,
    600: #666B81,
    500: #D3D5DC,
  )
);

