<ng-container *ngIf="movies$ | async as movies; else loading">
  <ng-container *ngIf="movies.length; else empty">
    <header class="import-header" fxLayout="row" fxLayoutAlign="space-between center">
      <h1>My Titles</h1>
      <div fxLayoutGap="24px">
        <a test-id="import-titles" mat-stroked-button color="primary" routerLink="../import">
          <mat-icon svgIcon="excel"></mat-icon>
          <span>Import Titles</span>
        </a>
        <a mat-mini-fab color="primary" routerLink="lobby" matTooltip="Add a new Title" test-id="add-movie">
          <mat-icon svgIcon="add"></mat-icon>
        </a>
      </div>
    </header>

    <header mat-tab-nav-bar fxLayout="row" fxLayoutAlign="space-between end">
      <button mat-tab-link (click)="resetFilter()" [active]="(filter$|async) === ''">All <span
          *ngIf="(movieCount$ | async) as movieCount">({{ movieCount.all }})</span></button>
      <button mat-tab-link (click)="applyFilter('draft')" [active]="(filter$ | async) === 'draft'">Drafts <span
          *ngIf="(movieCount$ | async) as movieCount">({{ movieCount.draft }})</span></button>
      <button mat-tab-link (click)="applyFilter('submitted')" [active]="(filter$ | async) === 'submitted'">Submitted
        <span *ngIf="(movieCount$ | async) as movieCount">({{ movieCount.submitted }})</span></button>
      <button mat-tab-link (click)="applyFilter('accepted')" [active]="(filter$ | async) === 'accepted'">Published <span
          *ngIf="(movieCount$ | async) as movieCount">({{ movieCount.accepted }})</span></button>
      <button mat-tab-link (click)="applyFilter('archived')" [active]="(filter$ | async) === 'archived'">Archived <span
          *ngIf="(movieCount$ | async) as movieCount">({{ movieCount.archived }})</span></button>
    </header>

    <mat-card>
      <!-- [initialColumns]="initialColumns"  -->
      <!-- [columns]="columns"  -->
      <bf-table [source]="movies | filterBy: filterByMovie: { value: filter.value, exclude: 'archived' }"
        (rowClick)="goToTitle($event)" clickable showFilter pagination="50">
        <ng-template colRef="title.international" label="Title" let-title><b>{{ title| maxLength:50 }}</b></ng-template>
        <ng-template colRef="id" label="#Sales (Total Gross Receipt)" let-titleId>
          <ng-container *ngIf="titleId | getIncomesFromTitle | async as incomes">
            {{ incomes.length }}
            <ng-container *ngIf="incomes.length > 0; else noIncome">
              ({{ incomes | sum : 'price' | currency:incomes[0].currency }})
            </ng-container>
            <ng-template #noIncome>($0)</ng-template>
          </ng-container>
        </ng-template>
        <ng-template colRef="release.year" label="Release Year" let-year><b>{{ year }}</b></ng-template>
        <ng-template colRef="directors" label="Director(s)" let-directors><b>{{ directors | displayName }}</b>
        </ng-template>
        <ng-template colRef="app.catalog.status" label="Status" let-status>
          <bf-tag>{{ status | toLabel: 'storeStatus' }}</bf-tag>
        </ng-template>
      </bf-table>
    </mat-card>
  </ng-container>
</ng-container>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

<ng-template #empty>
  <section fxLayout="column" fxLayoutAlign="center center">
    <dashboard-no-title></dashboard-no-title>
    <article fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="24px">
      <mat-card class="no-title-card" fxLayout="column" fxLayoutalign="center center">
        <img asset="add_title.svg" alt="Add title">
        <a routerLink="lobby" mat-button color="primary">Add one title</a>
      </mat-card>
      <mat-card class="no-title-card" fxLayout="column">
        <img asset="add_files.svg" alt="Upload files">
        <a routerLink="../import" mat-button color="primary">Import titles in bulk</a>
      </mat-card>
    </article>
    <h3>Or</h3>
    <button (click)="openIntercom()" mat-flat-button color="primary">
      Contact the {{ appName }} team
    </button>
  </section>
</ng-template>
