<section>
  <article fxLayout="row" fxLayoutAlign="start center">
    <h1>Wishlist</h1>
  </article>
  <article *ngIf="(currentWishlist$ | async) as wishlist">
    <ng-container *ngIf="wishlist.movies.length else noWishlist">
      <catalog-wishlist-current-repertory
        [movies]="wishlist.movies" >
      </catalog-wishlist-current-repertory>
    </ng-container>
    <ng-template #noWishlist>
      <article fxLayout="column" fxLayoutAlign="center center">
        <p>Your wishlist is empty.</p>
        <img asset="no_wishlist.webp" alt="No whislist image">
        <button mat-flat-button color="accent" routerLink="../../search">Explore the Library</button>
      </article>
    </ng-template>
  </article>
</section>
