:host {
  display: block;
  padding: 24px;
}

table {
  width: 100%;
}

.express-button {
  margin-top: 16px;
  margin-bottom: 60px;
}

tr.mat-row {
  cursor: pointer;
}

h4 {
  margin-bottom: 8px;
}

.picture {
  border-radius: 50%;
  width: 40px;
}

p {
  margin-bottom: 40px;
}

th.mat-header-cell {
  font-weight: lighter;
}

article {
  height: 100%;
}

img {
  width: 380px;
}
