<ng-container *ngIf="rightholder">
  <button class="go-back" mat-icon-button routerLink="../..">
    <mat-icon svgIcon="arrow_back"></mat-icon>
    <span>BACK TO WATERFALL</span>
  </button>
  <article>
    <movie-header [movie]="movie" [showBackArrow]="false"></movie-header>
  </article>
  <h3>{{ rightholder.name }}</h3>

  <section>
    <article>
      <static-select [control]="waterfallRoleControl" multiple scope="rightholderRoles">
        <mat-label>Waterfall Role</mat-label>
        <mat-error>This field is mandatory</mat-error>
      </static-select>
      <button mat-button color="primary" [disabled]=!waterfallRoleControl.valid (click)="save()">
        <mat-icon svgIcon="edit"></mat-icon>
        <span>Update</span>
      </button>
    </article>
  
    <apx-chart *ngIf="options.series.length"
      [chart]="{ type: 'bar', stacked: true }" 
      [series]="options.series"
      [xaxis]="options.xAxis"
      [tooltip]="{ y: formatter }">
    </apx-chart>
  </section>

  <h3>Rightholder Rights</h3>
  <bf-table [source]="rights" clickable useFilter pagination="50">
    <ng-template colRef="id" label="Id" let-id sort>
      {{ id }}
      <button mat-icon-button [cdkCopyToClipboard]="id" (click)="$event.stopPropagation()">
        <mat-icon svgIcon="file_copy"></mat-icon>
      </button>
    </ng-template>
    <ng-template colRef="name" label="Name" let-name sort>
      {{ name }}
    </ng-template>
    <ng-template colRef="type" label="Type" let-type sort>
      {{ type | toLabel: 'rightTypes' }}
    </ng-template>
    <ng-template colRef="groupId" label="Group" let-groupId sort>
      {{ groupId ? groupId : '--' }}
    </ng-template>
    <ng-template colRef="percent" label="%" let-percent>
      {{ percent ? percent  : '--' }}
    </ng-template>
    <ng-template colRef="conditions" label="Conditions" let-conditions>
      {{ conditions?.conditions?.length ? conditions.conditions.length  : '--' }}
    </ng-template>
    <ng-template colRef="id" label="Right Revenue" let-id sort>
      <price-per-currency [price]="getRightRevenue(id)"></price-per-currency>
    </ng-template>
  </bf-table>
</ng-container>