<bf-table [source]="_invitations" useFilter pagination="100">
  <ng-template colRef="id" label="Id" let-invitId>
    {{ invitId }}
  </ng-template>
  <ng-template colRef="date" label="Invitation date" let-date sort>
    {{ date | date: 'medium'}}
  </ng-template>
  <ng-template colRef="guestOrg" label="Guest org" let-guestOrg>
    <ng-container *ngIf="guestOrg else noOrg">
      <a [routerLink]="['/c/o/dashboard/crm/organization', guestOrg.id]">
        <span>{{ guestOrg | orgName:'long' }} </span>
        <mat-icon svgIcon="visibility"></mat-icon>
      </a>
    </ng-container>
    <ng-template #noOrg>--</ng-template>
  </ng-template>
  <ng-template label="First Name" colRef="guest.firstName" let-firstName>
    {{ firstName }}
  </ng-template>
  <ng-template label="Last Name" colRef="guest.lastName" let-lastName>
    {{ lastName }}
  </ng-template>
  <ng-template label="Email" colRef="guest.email" let-email>
    {{ email }}
  </ng-template>
  <ng-template label="User" colRef="guest.uid" let-uid>
    <a mat-icon-button [routerLink]="['/c/o/dashboard/crm/user', uid]">
      <mat-icon svgIcon="visibility"></mat-icon>
    </a>
  </ng-template>
  <ng-template colRef="event.accessibility" label="Accessibility" let-accessibility sort>
    {{ accessibility | toLabel:'accessibility' }}
  </ng-template>
  <ng-template colRef="status" label="Status" let-status sort>
    {{ status | titlecase }}
  </ng-template>
</bf-table>
