:host {
  display: block;
  height: 100%;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 256px;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;

  .logo {
    height: 48px;
    img {
      height: 100%;
    }
  }

  form {
    flex: 1;

    input {
      flex: 1;
      height: 100%;
      border: none;
      font-size: 18px;
      line-height: 1.44;
      letter-spacing: 0.5px;
      background-color: transparent;
    }
    input:focus {
      outline: none;
    }
  }

  mat-divider {
    height: 60%;
  }
}