<mat-sidenav-container>
  <mat-sidenav #sidenav id="dashboard-navbar">
    <!-- SIDE NAVIGATION -->
    <mat-nav-list>
      <a mat-list-item routerLink="home" routerLinkActive="active">
        <mat-icon mat-list-icon svgIcon="home"></mat-icon>
        <span mat-line>Home</span>
      </a>
      <a test-id="library" mat-list-item routerLink="search" routerLinkActives="active">
        <mat-icon mat-list-icon svgIcon="video_library"></mat-icon>
        <span mat-line>Library</span>
      </a>
      <a mat-list-item routerLink="selection" routerLinkActive="active">
        <mat-icon mat-list-icon svgIcon="basket"></mat-icon>
        <span mat-line>My Selection</span>
      </a>
      <a mat-list-item routerLink="wishlist" routerLinkActive="active">
        <mat-icon mat-list-icon svgIcon="heart_fill"></mat-icon>
        <span mat-line>Wishlist</span>
      </a>
      <a mat-list-item routerLink="deals" routerLinkActive="active">
        <mat-icon mat-list-icon svgIcon="wallet"></mat-icon>
        <span mat-line>Offers & Deals</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content #content>
    <!-- TOOLBAR -->
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="default center" fxLayoutGap="24px">
        <button test-id="menu" mat-icon-button (click)="sidenav.toggle()">
          <mat-icon svgIcon="menu"></mat-icon>
        </button>
        <a routerLink=".">
          <app-logo></app-logo>
        </a>
      </div>
      <div fxLayout="row" fxLayoutGap="24px">
        <a test-id="heart-icon" mat-icon-button routerLink="wishlist">
          <mat-icon svgIcon="heart_fill" color="primary" [matBadge]="wishlistCount$ | async" [matBadgeHidden]="!(wishlistCount$ | async)"
            matBadgeColor="accent" matBadgeSize="small">
          </mat-icon>
        </a>
        <button mat-icon-button routerLink="selection">
          <mat-icon svgIcon="basket" color="primary" [matBadge]="cartCount$ | async" [matBadgeHidden]="!(cartCount$ | async)"
            matBadgeColor="accent" matBadgeSize="small">
          </mat-icon>
        </button>
        <mat-divider vertical></mat-divider>
        <!-- Invitations -->
        <a mat-icon-button routerLink="invitations" test-id="invitations-link">
          <ng-container *ngIf="invitationCount$ | async as count; else noInvitation">
            <mat-icon svgIcon="add_member" [matBadge]="count" matBadgeColor="accent" matBadgeSize="small"></mat-icon>
          </ng-container>
          <ng-template #noInvitation>
            <mat-icon svgIcon="add_member"></mat-icon>
          </ng-template>
        </a>
        <!-- Notifications -->
        <a mat-icon-button routerLink="notifications" test-id="notifications-link">
          <ng-container *ngIf="notificationCount$ | async as count; else noNotification">
            <mat-icon svgIcon="bell" [matBadge]="count" matBadgeColor="accent" matBadgeSize="small"></mat-icon>
          </ng-container>
          <ng-template #noNotification>
            <mat-icon svgIcon="bell"></mat-icon>
          </ng-template>
        </a>
        <auth-widget></auth-widget>
      </div>
    </mat-toolbar>

    <!-- CONTENT -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
