:host {
  display: block;
  height: 100%;
}

mat-sidenav-container {
  height: 100%;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;

  .logo {
    height: 48px;
    img {
      height: 100%;
    }
  }
}
