:host {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

h3 {
  margin-top: 40px;
}

section {
  display: flex;
  gap: 16px;
  justify-content: space-between;

  article {
    width: 40%;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  apx-chart {
    width: 60%;
  }
}