<ng-container *ngIf="waterfall$ | async as waterfall">
  <ng-container *ngIf="waterfall.versions.length">
    <bf-table [source]="waterfall.versions" clickable useFilter pagination="50" (rowClick)="goTo($event.id)">
      <ng-template colRef="id" label="Id" let-id sort defaultSort>
        {{ id }}
      </ng-template>
      <ng-template colRef="name" label="Name" let-name sort>
        {{ name }}
      </ng-template>
      <ng-template colRef="description" label="Description" let-description sort>
        {{ description }}
      </ng-template>
      <ng-template colRef="blockIds" label="Blocks" let-blockIds sort>
        {{ blockIds.length }} block(s)
      </ng-template>
      <ng-template colRef="id" label="Actions" let-versionId sticky>
        <a mat-icon-button target="_blank" [routerLink]="['/c/o/dashboard/crm/waterfall', waterfall.id, 'dashboards', versionId]" (click)="$event.stopPropagation()">
          <mat-icon svgIcon="launch" matTooltip="Go to dashboard"></mat-icon>
        </a>
      </ng-template>
    </bf-table>
  </ng-container>
</ng-container>
