<tunnel-page>
  <h4 title>TITLE INFORMATION</h4>
  <h1 subtitle>Budget, Quotas, Critics</h1>
  <section tunnel-form>
    <mat-accordion multi>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>Budget Range</mat-panel-title>
        </mat-expansion-panel-header>
        <!-- Estimated Budget -->
        <movie-form-estimated-budget [form]="estimatedBudget"></movie-form-estimated-budget>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Quotas</mat-panel-title>
          <mat-panel-description>Select all that apply</mat-panel-description>
        </mat-expansion-panel-header>
        <!-- Certifications -->
        <movie-form-certifications [form]="certifications"></movie-form-certifications>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
</tunnel-page>
