@import 'mixins';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-toolbar mat-spinner {
  height: 80%;
}

mat-sidenav-container {
  flex: 1;
  
  mat-card {
    margin: 10px;
    text-align: center;
    width: calc(50% - 20px);
  }
  
  @include mobile {
    mat-card {
      margin: 10px;
      text-align: center;
      width: calc(100% - 20px);
    }
  }
  
  .card-image {
    border-radius: 50%;
    margin-bottom: 10px;
  }
}

mat-sidenav {
  padding: 16px;
}
