<mat-toolbar class="flex-container">
  <app-logo class="item-center"></app-logo>
  <span class="item-right">
    <ng-container *ngIf="!loading else isLoading">
      <a mat-icon-button [routerLink]="routeBeforeTunnel">
        <mat-icon svgIcon="cross"></mat-icon>
      </a>
    </ng-container>
    <ng-template #isLoading>
      <mat-spinner diameter="50"></mat-spinner>
    </ng-template>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened="true" position="start" mode="side">
    <h5>Instructions</h5>
    <p class="mat-caption">
      You can fill it out in one go or over time. You may navigate between steps, but all sections must be completed
      before submitting to Archipel Content for validation. Your title will be published on the platform only once you
      have signed a contract with us.
    </p>

    <h5>Files you need</h5>
    <p class="mat-caption">
      Poster(s), banner image, still photos and chain of titles.
      You will also need to provide the links to the promo reel, screener and trailer.
    </p>
  </mat-sidenav>

  <mat-sidenav-content fxLayout="column" fxLayoutAlign="space-between center" fxLayout.lt-md="column">
    <section fxLayout="column">
      <header>
        <h1>Add a Title</h1>
        <h2>The 3-step process will take about a half-hour to complete.</h2>
      </header>
      <article fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" fxLayout.lt-md="column">
        <ng-container *ngFor="let content of cardContents">
          <mat-card>
            <article fxLayout="column" fxLayoutAlign="center center">
              <img [asset]="content.img" alt="{{ content.title }}">
              <div>
                <h3>{{ content.title }}</h3>
              </div>
            </article>
          </mat-card>
        </ng-container>
      </article>
    </section>
    <div fxLayout="row" fxLayoutAlign="center">
      <button test-id="begin" mat-flat-button color="accent" (click)="begin()">
        Begin
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
