<ng-container *ngIf="statement$ | async as statement">
  
  <waterfall-statement-distributor-edit *ngIf="['salesAgent', 'mainDistributor'].includes(statement.type)" [statement]="statement" [form]="form"></waterfall-statement-distributor-edit>
  <waterfall-statement-direct-sales-edit *ngIf="statement.type === 'directSales'" [statement]="statement" [form]="form"></waterfall-statement-direct-sales-edit>

  <ng-container *ngIf="waterfall$ | async as waterfall">
    <footer>
      <button [disabled]="form.invalid" mat-flat-button color="primary" (click)="save(statement, waterfall, true)">
        <span i18n>Calculate split</span>
        <mat-icon svgIcon="arrow_forward"></mat-icon>
      </button>
    </footer>
  
    <footer>
      <button [disabled]="form.invalid" mat-button (click)="save(statement, waterfall)" matTooltip="Save & Come back later" i18n-matTooltip>
        <mat-icon svgIcon="save"></mat-icon>
        <span i18n>Save & Come back later</span>
      </button>
    </footer>
  </ng-container>
</ng-container>
