<ng-container *ngIf="statement$ | async as statement">
  <ng-container *ngIf="sources$ | async as sources">
    <waterfall-statement-header [statement]="statement" [sources]="sources"></waterfall-statement-header>

    <waterfall-statement-period [statement]="statement" [form]="form"></waterfall-statement-period>

    <waterfall-statement-distributor-edit [sources]="sources" [form]="form"></waterfall-statement-distributor-edit>
  
    <footer>
      <button mat-flat-button color="primary" (click)="save(sources, statement, true)">
        <span>Continue</span>
        <mat-icon svgIcon="arrow_forward"></mat-icon>
      </button>
    </footer>

    <footer>
      <button mat-button (click)="save(sources, statement)">
        <mat-icon svgIcon="save"></mat-icon>
        <span>Save & Come back later</span>
      </button>
    </footer>
  </ng-container>
</ng-container>
