table {
  width: 100%;
}

img {
  height: 40px;
  margin: 8px 8px 8px 0px;
}

.express-button {
  margin-top: 16px;
  margin-bottom: 60px;
}

tr.mat-row {
  cursor: pointer;
}

h4 {
  margin-bottom: 8px;
}

.picture {
  border-radius: 50%;
  width: 40px;
}

p {
  margin-bottom: 40px;
}

th.mat-header-cell {
  font-weight: lighter;
}
