<h1>Offers & Deals</h1>

<mat-tab-group>
  <mat-tab *ngFor="let tab of tabs$ | async">
    <ng-template mat-tab-label>
      {{ tab.name }} ({{ tab.contracts.length }})
    </ng-template>
    <ng-template matTabContent>
      <ng-container *ngIf="tab.contracts.length; else noContracts">
        <contract-table [contracts]="tab.contracts"></contract-table>
      </ng-container>
      <ng-template #noContracts >
        <span>There are no contract in {{ tab.name }}</span>
      </ng-template>
    </ng-template>
  </mat-tab>
</mat-tab-group>
