<main fxLayout="column">
  <crm-bread-crumb></crm-bread-crumb>
  <ng-container *ngIf="users$ | async as users; else loading">

    <article fxLayout="column" fxLayoutAlign="center center">
      <button [disabled]="exporting" mat-flat-button color="primary" (click)="exportTable(users)">
        <ng-container *ngIf="exporting else export">
          <span>Generating CSV...</span>
        </ng-container>
        <ng-template #export>
          <span>Export to CSV</span>
          <mat-icon svgIcon="arrow_upward"></mat-icon>
        </ng-template>
      </button>
    </article>

    <bf-table clickable [source]="users" pagination="50" useFilter (rowClick)="goToEdit($event)">
      <ng-template colRef="uid" let-uid>
        <span>{{ uid }}</span>
        <button mat-icon-button [cdkCopyToClipboard]="uid" (click)="$event.stopPropagation()">
          <mat-icon svgIcon="file_copy"></mat-icon>
        </button>
        <button mat-icon-button (click)="goToEditNewTab(uid, $event)">
          <mat-icon svgIcon="launch"></mat-icon>
        </button>
      </ng-template>
      <ng-template colRef="email" sort let-email>
        <span>{{ email }}</span>
        <button mat-icon-button [cdkCopyToClipboard]="email" (click)="$event.stopPropagation()">
          <mat-icon svgIcon="file_copy"></mat-icon>
        </button>
      </ng-template>
      <ng-template colRef="firstName" sort label="First Name" let-name>{{ name }}</ng-template>
      <ng-template colRef="lastName" sort label="Last Name" let-name>{{ name }}</ng-template>
      <ng-template colRef="org" let-org label="Organization">
        <a *ngIf="org else noOrg" [routerLink]="['/c/o/dashboard/crm/organization', org.id]">
          <span>{{ org | orgName:'long'}} </span><mat-icon svgIcon="visibility"></mat-icon>
        </a>
        <ng-template #noOrg>--</ng-template>
      </ng-template>
      <ng-template colRef="firstConnection" sort  label="First Connection" let-firstConnection>
        {{ firstConnection | date: 'mediumDate' }}
      </ng-template>
      <ng-template colRef="lastConnection" sort label="Last Connection" let-lastConnection>
        {{ lastConnection | date: 'mediumDate' }}
      </ng-template>
      <ng-template colRef="pageView" label="Page View" sort let-pageView>{{ pageView }}</ng-template>
      <ng-template colRef="sessionCount" label="Session Count" sort let-sessionCount>{{ sessionCount }}</ng-template>
      <ng-template colRef="createdFrom" label="Created From" sort let-app>{{ app }}</ng-template>
      <ng-template colRef="org.addresses.main.country" sort label="Country" let-country>
        {{ country ? country : '--' }}
      </ng-template>
    </bf-table>

  </ng-container>

  <ng-template #loading>...loading users</ng-template>
  <crm-dashboard dashboard="users"></crm-dashboard>
</main>
