<section fxLayout="row" fxLayout="space-between stretch" fxLayoutGap="24px">
  <mat-card fxFlex>
    <mat-card-header>
      <mat-card-title>You made an offer for {{ count$ | async }} titles</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p></p>
      <p></p>
      <ul>
        <li></li>
      </ul>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="end end">
      <button mat-stroked-button >
        <mat-icon svgIcon="comment"></mat-icon>
        <span>Connect with Archipel Team</span>
      </button>
    </mat-card-actions>
  </mat-card>
</section>