@mixin bf-missing-control-theme($theme) {
  $background: map-get($theme, background);
  $warn: map-get($theme, warn);

  .missing-control {
    color: #F6A92C;
  }

  .mandatory-control {
    color: mat-color($warn, 500);
  }
}
