@mixin bf-table-theme($theme) {
  $background: map-get($theme, background);

  bf-table-filter {
    // Doesn't work. We need to find the right class
    .mat-form-field-outline, input {
      background-color: mat-color($background, background);
    }
    mat-form-field .mat-form-field-wrapper {
      padding-bottom: 0;
      margin: 0;
    }
  }
}
