.light-theme {
  h3 {
    color: mat-color($bf-light-foreground, subheading);
  }
  h4 {
    color: mat-color($bf-light-foreground, subheading);
  }
}

.dark-theme {
  h2 {
    color: mat-color($bf-dark-foreground, title);
  }
  h3 {
    color: mat-color($bf-dark-foreground, subheading);
  }
  h4 {
    color: mat-color($bf-dark-foreground, text);
  }
}
