@mixin mat-bf-chips-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .mat-chip.mat-standard-chip {
    &.mat-primary {
      @include mat-chips-theme-color($primary);
    }

    &.mat-warn {
      @include mat-chips-theme-color($warn);
    }

    &.mat-accent {
      @include mat-chips-theme-color($accent);
    }
  }
}

.dark-theme {
  // Chip in the movie-card for line-up page
  // It may change in the future depending on UX decision
  mat-chip.movie-chip { // TODO: Get rid of the !important
    background-color: rgba(0, 0, 0, 0.288) !important;
    color: #FFFFFF !important;
  }
}
