@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $config: mat.get-color-config($theme);
  $primary: map.get($config, 'primary');
  $foreground: map.get($config, 'foreground');

  .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb,
  .mat-slider-min-value.mat-slider-thumb-label-showing.cdk-focused .mat-slider-thumb-label {
    background-color: mat.get-color-from-palette($primary, 500);
  }

  .mat-slider-track-background,
  .mat-slider:hover .mat-slider-track-background {
    background-color: mat.get-color-from-palette($foreground, 'divider');
  }

  .mat-slider-thumb-label {
    width: 37px;
    height: 37px;
  }

  .mat-slider-thumb-label-text {
    font-size: 11px;
  }
}
