@mixin mat-bf-sidenav-theme($theme) {
  $background: map-get($theme, background);

  mat-sidenav {
    width: 256px;

    // // No border bottom for the toolbar in the dashboard sidenav
    // &#dashboard-navbar .mat-toolbar {
    //   border-bottom: none;
    // }
  }

  mat-sidenav-content[tunnelSpecificities] {
    background-color: mat-color($background, app-bar);
  }
}
