@mixin mat-bf-dialog-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-dialog-container {
    position: relative;
    display: flex;
    height: 100%;
    padding: 80px;
    .mat-dialog-close {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
