@mixin mat-bf-icon-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-icon {
    path, g, polygon {
      fill: mat-color($foreground, icon);
    }
    &.mat-primary {
      color: mat-color($primary, 500);
      path, g, polygon {
        fill: mat-color($primary, 500);
      }
    }
    &.mat-accent {
      color: mat-color($accent, 500);
      path, g, polygon {
        fill: mat-color($accent, 500);
      }
    }
    &.mat-warn {
      color: mat-color($warn, 500);
      path, g, polygon {
        fill: mat-color($warn, 500);
      }
    }
    &[color="beware"] {
      color: mat-color($background, beware);
      path, g, polygon {
        fill: mat-color($background, beware);
      }
    }
    &[color="disabled"] {
      color: mat-color($background, disabled-button);
      path, g, polygon {
        fill: mat-color($background, disabled-button);
      }
    }
  }

  .fullscreen {
    mat-icon {
      path {
        fill: #fff;
      }
    }
  }
}
