@use 'sass:map';
@use '@angular/material' as mat;


@mixin color($theme) {
  $config: mat.get-color-config($theme);
  $background: map.get($config, 'background');

  .mat-tooltip {
    background-color: mat.get-color-from-palette($background, 'tooltip');
    color: var(--primary-contrast);
  }
}


// TYPOGRAPHY
@mixin typography($theme) { 
  .mat-tooltip {
    line-height: 12px;
  }
}