.mat-nav-list, .mat-list, .mat-selection-list {
  border-radius: 10px;
}

@mixin mat-bf-list-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme , foreground);

  .mat-list-base {
    background-color: mat-color($background, app-bar);
    border: 1px solid mat-color($foreground, divider);
  }

  .mat-nav-list .mat-list-item.mat-list-item-with-avatar {
    height: 72px;
  }

  // Every nav-list in a sidenav won't get border
  .mat-sidenav .mat-nav-list, .mat-list-base {
    border: none;
  }

  // Every list in bf-widget won't get border
  .bf-widget {
    .mat-list.mat-list-base {
      border: none;
    }
    .mat-nav-list {
      border: none;
    }
  }
}
