.mat-nav-list, .mat-list, .mat-selection-list {
  border-radius: 10px;
}

@mixin mat-bf-list-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme , foreground);

  .mat-list-base {
    background-color: mat-color($background, app-bar);
    border: 1px solid mat-color($foreground, divider);
  }

  .mat-nav-list .mat-list-item.mat-list-item-with-avatar {
    height: 72px;
  }

  // Removed as it create weird behaviour with mat-selection-list (21/01/2020)
  // If you need that somewhere please specify the type of list you want to apply this style on
  // .mat-list-base .mat-list-item .mat-list-item-content {
  //   padding: 0 0 0 20px;
  // }

  // Use to let active link in color in mat-nav-list, used with routerLinkActive
  .mat-nav-list a.active {
    color: mat-color($primary, 500);
    &:focus {
      background: transparent;
    }
  }

  // Every nav-list in a sidenav won't get border
  .mat-sidenav .mat-nav-list, .mat-list-base {
    border: none;
  }
}



@mixin bf-list-typography($config) {
  $font-family: mat-font-family($config);

  // Default list
  .mat-list-base {
    .mat-list-item {
      font-size: mat-font-size($config, body-2);
    }

    .mat-list-option {
      font-size: mat-font-size($config, body-2);
    }
  }
}
