@use 'sass:map';
@use '~@angular/material' as mat;

@mixin color($theme) {
  $config: mat.get-color-config($theme);
  $foreground: map.get($config, 'foreground');

  mat-chip.mat-standard-chip {
    color: mat.get-color-from-palette($foreground, icon);
    // Disabled the over animation when the mat chip is only informative
    // that means when we deativate the ripple effect
    &[disableRipple] {
      &::after {
        opacity: 0;
      }
    }
  }

  // Chip for the movie' status on the movie card
  mat-chip[selected][disableRipple].mat-primary {
    &.movie-chip {
      background-color: rgba(0, 0, 0, 0.288);
      color: #FFFFFF;
    }

    &.tag {
      width: fit-content;
      background: none;
      border: 1px solid var( --foreground-text);
      border-radius: 2px;
      padding: 4px 8px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
      color: var(--foreground-text);
    }
  }
}
