@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $config: mat.get-color-config($theme);
  $foreground: map.get($config, 'foreground');

  .mat-simple-snackbar-action {
    .mat-button {
      .mat-button-wrapper {
        color: mat.get-color-from-palette($foreground, divider);
      }
    }
  }
}
