@mixin mat-bf-table-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-table {
    background-color: transparent;

    thead {
      background-color: mat-color($background, card);
    }
    td.mat-cell {
      font-size: 16px;
    }
    td.mat-cell:first-of-type {
      border-left: solid 1px mat-color($foreground, divider);
    }

    td.mat-cell:last-of-type {
      border-right: solid 1px mat-color($foreground, divider);
    }

    .mat-header-cell {
      border-top: solid 1px mat-color($foreground, divider);
      &:first-of-type {
        border-radius: 10px 0 0 0;
        border-left: solid 1px mat-color($foreground, divider);
      }
      &:last-of-type {
        border-right: solid 1px mat-color($foreground, divider);
        border-radius: 0 10px 0 0;
      }
    }
  }

  // Style all paginator that are direcly after a mat table
  .mat-table + .mat-paginator {
    border: solid 1px mat-color($foreground, divider);
    border-top: none;
    border-radius: 0 0 10px 10px;
  }


}
