@mixin mat-bf-expansion-panel-theme($theme) {
  $foreground: map-get($theme, foreground);

  .mat-expansion-panel {
    @include _mat-theme-overridable-elevation(0, $theme);
  }
  .mat-expansion-panel-body {
    padding: 0;
    padding-bottom: 16px;
  }
  .mat-expansion-panel-spacing {
    margin: 0;
  }
  .mat-accordion .mat-expansion-panel {
    border-bottom: solid 1px mat-color($foreground, divider);
    &:last-of-type {
      border-bottom: none;
    }
  }
}

@mixin mat-bf-expansion-panel-typography($config) {
  .mat-expansion-panel-header-title {
    font: {
      size: mat-font-size($config, body-2);
      weight: mat-font-weight($config, button);
    }
  }

  .mat-expansion-panel-content {
    @include mat-typography-level-to-styles($config, body-2);
  }
}
