@use 'sass:map';
@use '~@angular/material' as mat;
@import "~@angular/flex-layout/mq";

@mixin color($theme) {
  $config: mat.get-color-config($theme);

  .mat-dialog-container {
    position: relative;
    border-radius: 8px;
    .mat-dialog-close {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
