@mixin mat-bf-chips-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  $default-bg-chip: mat-color($background, unselected-chip);
  $default-fg-chip: mat-color($foreground, text);

  .mat-chip.mat-standard-chip {
    &.mat-default {
      @include mat-chips-color($default-fg-chip, $default-bg-chip);
    }

    &.mat-primary {
      @include mat-chips-theme-color($primary);
      &.movie-chip {
        background-color: rgba(0, 0, 0, 0.288);
        color: #FFFFFF;
      }
    }

    &.mat-warn {
      @include mat-chips-theme-color($warn);
    }

    &.mat-accent {
      @include mat-chips-theme-color($accent);
    }
  }
}
