@mixin mat-bf-sidenav-theme($theme) {
  $background: map-get($theme, background);

  mat-sidenav {
    width: 260px;
  }

  .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
  }

  mat-sidenav-content[tunnelSpecificities] {
    background-color: mat-color($background, app-bar);
  }
}
