@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $config: mat.get-color-config($theme);
  $foreground: map-get($config, foreground);

  .mat-tab-label:hover {
    .mat-icon {
      path, g, polygon {
        fill: mat.get-color-from-palette($foreground, base);
      }
    }
  }

  .mat-mdc-tab-header {
    border-bottom: 1px solid mat.get-color-from-palette($foreground, divider);
  }

  .bf-tabs {
    .mat-tab-header {
      border-bottom: none;
      padding: 24px;
      justify-content: center;

      .mat-tab-label-container {
        flex-grow: 0;
        padding: 1px;
      }
    }

    .mat-tab-label-active {
      background-color: var(--primary);
      border: 1px solid var(--primary);
      .mat-tab-label-content {
        color: #ffffff;
      }
    }
    .mat-tab-label:not(.mat-tab-label-active) {
      color: #ffffff;
      border: 1px solid var(--primary);
      .mat-tab-label-content {
        color: var(--primary);
      }
    }
    
  }
}
