@mixin mat-bf-expansion-panel-theme($theme) {
  $foreground: map-get($theme, foreground);

  .mat-expansion-panel {
    @include _mat-theme-overridable-elevation(0, $theme);
  }

  .mat-accordion .mat-expansion-panel {
    border-bottom: solid 1px mat-color($foreground, divider);
    &:last-of-type {
      border-bottom: none;
    }
  }
}
