.mat-nav-list, .mat-list, .mat-selection-list {
  border-radius: 10px;
}

@mixin mat-bf-list-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme , foreground);

  // use mainly for the sidenav in movie tunnel, I can't override this in the component, it has to be at the style root.
  .mat-list-base .mat-list-item .mat-list-item-content {
    padding: 0;
  }

  .mat-list-base {
    padding: 0;
    background-color: mat-color($background, app-bar);
    border: 1px solid mat-color($foreground, divider);
  }

  // Removed as it create weird behaviour with mat-selection-list (21/01/2020)
  // If you need that somewhere please specify the type of list you want to apply this style on
  // .mat-list-base .mat-list-item .mat-list-item-content {
  //   padding: 0 0 0 20px;
  // }

  // Use to let active link in color in mat-nav-list, used with routerLinkActive
  .mat-nav-list a.active {
    color: mat-color($primary, 500);
    background-color: rgba(mat-color($primary, 500), 0.05);

    // Mat icons inside active link should be colored too
    .mat-list-icon {
      path, g, polygon {
        fill: mat-color($primary, 500);
      }
    }
  }

  // Every nav-list in a sidenav won't get border
  .mat-sidenav .mat-nav-list, .mat-list-base {
    border: none;
    background: transparent;
  }

  // Color the tab that is active and set the size of the ink-bar to the text' size
  nav[mat-tab-nav-bar] a[mat-tab-link],
  .mat-tab-label {
    opacity: 1;
    min-width: 10px;
    padding: 0 16px;
    &.mat-tab-label-active {
      color:  mat-color($primary, 500);
    }
  }
}


@mixin mat-bf-list-typography($config) {
  $font-family: mat-font-family($config);

  // Default list
  .mat-list-base {
    .mat-list-item {
      font-size: mat-font-size($config, body-2);
    }

    .mat-list-option {
      font-size: mat-font-size($config, body-2);
    }
  }
}
