@mixin mat-bf-toolbar-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-toolbar {
    box-shadow: none;
    border-bottom: 1px solid mat-color($foreground, divider);
    background: mat-color($background, app-bar);
  }
}
