@mixin mat-bf-snack-bar-theme($theme) {
  $is-dark-theme: map-get($theme, is-dark);
  $primary: map-get($theme, primary);

  .mat-simple-snackbar-action {
    color: if($is-dark-theme, inherit, mat-color($primary, text));
  }
}
