header {
  padding: 150px 0;
  background-image: url('/assets/images/catalog-marketplace-banner.png');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

  p {
    width: 50%;
    margin-bottom: 30px;
    text-align: center;
  }
}

section {
  padding: 50px 0;
}

article {
  width: 80%;
  margin: 75px 0;

  aside {
    width: 30%;

    a {
      margin-top: 20px;
    }
  }

  mat-carousel {
    flex: 1;

    .overlay {
      height: 100%;
    }

    footer {
      width: 100%;
      padding: 10px 30px;
    }
  }
}
