@import 'mixins';

header {
  padding: 50px;
  // TODO: replace image when the real one is available.
  background-image: url('/assets/images/catalog-marketplace-banner.png');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;

  h3 {
    margin: 0;
  }

  span {
    width: 35%;
    text-align: left;
  }

  .first-header-text {
    font-size: 40px;
    font-weight: 300;
  }

  .second-header-text {
    font-size: 28px;
    font-weight: 300;
  }

  a {
    margin-top: 20px;
  }
}

article {
  width: 80%;
  margin: 75px 0;

  aside {
    width: 30%;

    a {
      margin-top: 20px;
    }
  }

  mat-carousel {
    flex: 1;
    margin: 10px;

    h2 {
      margin: 0;
    }

    .overlay {
      height: 100%;
    }

    .informations {
      width: 100%;
      padding: 10px 30px;
    }

    button.mat-icon-button {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
}

@include mobile {
  header {
    padding: 50px 0;
  }

  h1 {
    text-align: center;
    margin-top: 0;
  }
}
