<!-- TODO(#838): Use HostBinding instead of root div -->
<div test-id="content">
  <header fxLayout="column" fxLayoutAlign="center center">
    <h1>Welcome to Archipel content</h1>
    <p>The only marketplace offering package deals for TV, VOD and Ancillary rights.</p>
    <a mat-flat-button color="accent" test-id="discover" routerLink="/layout/o/catalog/search">Check out the line up</a>
  </header>

  <section fxLayout="column" fxLayoutAlign="start center">
    <ng-container *ngFor="let section of moviesBySections$ | async; let i = index">
      <!-- We want by every iteration of the keys array that the text switches side-->
      <article [fxLayout]="layout(i)" fxLayoutAlign="center start">
        <aside fxLayout="column" [fxLayoutAlign]="alignment(i)" fxLayoutGap="20px">
          <h1>{{ section.title }}</h1>
          <h4>{{ section.subline}} </h4>
          <a mat-flat-button test-id="seeMore1" color="accent" routerLink="/layout/o/catalog/search">See more</a>
        </aside>
        <mat-carousel test-id="mat-carousel1" proportion="50" [hideArrows]="true" [hideIndicators]="true">
          <!-- We only want to use the first image in the promotinalElements.images array-->
            <mat-carousel-slide #matCarouselSlide *ngFor="let movie of section.movies" [image]="getBanner(movie)">
              <div fxLayout="column" fxLayoutAlign="end start" class="black-bg-opacity-30 overlay">
                <ng-container *ngIf="(isAddedToWishlist(movie.id) | async); else alreadyAdded">
                  <button mat-icon-button (click)="addToWishlist(movie)">
                    <mat-icon svgIcon="heart_filled"></mat-icon>
                  </button>
                </ng-container>
                <ng-template #alreadyAdded>
                  <button mat-icon-button (click)="addToWishlist(movie)">
                    <mat-icon svgIcon="heart"></mat-icon>
                  </button>
                </ng-template>
                <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="5px" class="informations">
                  <b *ngIf="movie.main.status as status" class="status-text">{{ status.toUpperCase() }}</b>
                  <h2>{{ movie.main.title.original }}</h2>
                  <div>
                    <span *ngFor="let director of movie.main.directors; let isLast=last">
                      {{ director.firstName }} {{ director.lastName }}{{isLast ? ' ' : ', '}}
                    </span>
                  </div>
                  <b>
                    <span *ngFor="let country of movie.main.originCountries | slice:0:2; let isLast=last; let i=index">
                      {{ country | translateSlug: 'TERRITORIES'}}{{isLast ? '' : ', '}}{{i == 1 && movie.main.originCountries.length > 2 ? ',  ' : ''}}
                    </span>
                    <span *ngIf="movie.main.originCountries.length > 2">... </span>
                    <span *ngIf="!!movie.main.length">| {{ movie.main.length }} min </span>
                    <span>| {{ movie.main.genres[0] | translateSlug: 'GENRES' }} </span>
                  </b>
                  <span>{{ movie.salesAgentDeal.salesAgent.displayName}}</span>
                </div>
              </div>
            </mat-carousel-slide>
        </mat-carousel>
      </article>
    </ng-container>
  </section>

</div>
