<ng-template *ngIf="loading$ | async">
  <mat-spinner color="accent" #loading></mat-spinner>
</ng-template>
<ng-container *ngIf="(movie$ | async) as movie;">
  <header fxLayout="row" fxLayoutAlign="start start">
    <article fxLayout="row" fxLayout.lt-md="column" fxFlex>
       <ng-container *ngIf="movie.poster as poster">
        <img
          class="movie-poster"
          [ref]="poster"
          asset="empty_poster.webp"
          alt="movie poster"
        >
      </ng-container>
      <div class="movie-info" fxLayout="column" fxLayoutAlign="start start">
        <h4>
          {{ movie.contentType | toLabel: 'contentType' }}
          <ng-container *ngIf="movie.contentType && movie.productionStatus">|</ng-container>
          {{ movie.productionStatus | toLabel: 'productionStatus' }}
          <ng-container *ngIf="movie.productionStatus && movie.totalRunTime">|
          {{ movie.totalRunTime }} min
          </ng-container>
        </h4>
        <h1>{{ movie.title.international }}</h1>
        <h6>{{ getDirectors(movie) }}</h6>
        <span>
          <ng-container *ngFor="let country of movie.originCountries">
            {{ country | translateSlug: 'TERRITORIES'}},
          </ng-container>
          <ng-container *ngIf="movie.releaseYear">
            {{ movie.releaseYear }}
          </ng-container>
        </span>
        <a mat-button [routerLink]="['/c/o/dashboard/tunnel/movie', movie.id]">
          <mat-icon svgIcon="pencil"></mat-icon>
          <span>Edit</span>
        </a>
      </div>
    </article>
  </header>
  <section>
    <nav mat-tab-nav-bar>
      <a mat-tab-link
         *ngFor="let link of navLinks"
         [routerLink]="link.path"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>
    <router-outlet></router-outlet>
  </section>
</ng-container>
