<ng-container *ngIf="movie">
  <button class="go-back" mat-icon-button routerLink="../..">
    <mat-icon svgIcon="arrow_back"></mat-icon>
    <span>BACK TO WATERFALL</span>
  </button>
  <article>
    <movie-header [movie]="movie" [showBackArrow]="false"></movie-header>
  </article>
  <h3>Dashboard - {{ version.name }}</h3>

  <section>
    <mat-form-field appearance="fill">
      <mat-label>Blocks</mat-label>
      <mat-select (selectionChange)="selectBlock($event.value)" [(value)]="currentBlock">
        <mat-option *ngFor="let block of blocks" [value]="block.id">
          {{ block.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h3 *ngIf="currentState">
      Total film revenue : <price-per-currency [price]="getTotalIncomes(currentState.incomes)"></price-per-currency>
    </h3>
  </section>

  <ng-container *ngIf="currentState">
    <h3>Rightholders summary</h3>
    <bf-table [source]="currentState.orgs | keyvalue" useFilter clickable (rowClick)="goTo('rightholder', $event.value.id)" pagination="50">
      <ng-template colRef="value.id" label="Right Holder" let-id sort>
        {{ getRightholderName(id) }}
      </ng-template>
      <ng-template colRef="value.id" label="Roles" let-id sort>
        {{ getRightholder(id).roles | toLabel: 'rightholderRoles' }}
      </ng-template>
      <ng-template colRef="value.revenu" label="Calculated Revenue" let-revenu sort>
        <price-per-currency [price]="getPrice(revenu.calculated)"></price-per-currency>
      </ng-template>
      <ng-template colRef="value.revenu" label="Actual Revenue" let-revenu sort>
        <strong>
          <price-per-currency [price]="getPrice(revenu.actual)"></price-per-currency>
        </strong>
      </ng-template>
      <ng-template colRef="value.id" label="Pending revenue" let-id sort>
        <price-per-currency [price]="getPendingRevenue(id)"></price-per-currency>
      </ng-template>
      <ng-template colRef="value.turnover" label="Turnover" let-turnover sort>
        <price-per-currency [price]="getPrice(turnover.actual)"></price-per-currency>
      </ng-template>
      <ng-template colRef="value" label="Distributed" let-org sort>
        <price-per-currency [price]="getPrice(org.turnover.actual - org.revenu.actual)"></price-per-currency>
      </ng-template>
      <ng-template colRef="value" label="Action" let-rightholder sticky>
        <a mat-icon-button target="_blank" [routerLink]="['/c/o/dashboard/crm/waterfall', waterfall.id, 'rightholder', rightholder.id]" (click)="$event.stopPropagation()">
          <mat-icon svgIcon="launch"></mat-icon>
        </a>
      </ng-template>
    </bf-table>

    <h3>Statements to create</h3>
    <bf-table [source]="producersOrCoproducers" clickable (rowClick)="displayRightholderStatements($event.id)" useFilter pagination="50">
      <ng-template colRef="name" label="Right Holder" let-name sort>
        {{ name }}
      </ng-template>
      <ng-template colRef="roles" label="Roles" let-roles sort>
        {{ roles | toLabel: 'rightholderRoles' }}
      </ng-template>
      <ng-template colRef="id" label="Statements to create" let-id sort>
        {{ statementsToCreate(id).length }}
      </ng-template>
    </bf-table>
  </ng-container>

  <article *ngIf="rightholderStatements?.pending.length">
    <h3>Pending statements for "{{ getRightholderName(rightholderStatements.rightholderId) }}"</h3>
    <bf-table [source]="rightholderStatements.pending" useFilter pagination="50">
      <ng-template colRef="type" label="Type" let-type sort>
        {{ type | toLabel: 'statementType' }}
      </ng-template>
      <ng-template colRef="" label="Contract Id" let-item sort>
        {{ getCurrentContract(item) }}
      </ng-template>
      <ng-template colRef="duration.from" label="From" let-from sort defaultSort>
        {{ from | date: 'dd/MM/yyyy' }}
      </ng-template>
      <ng-template colRef="duration.to" label="To" let-to sort defaultSort>
        {{ to | date: 'dd/MM/yyyy' }}
      </ng-template>
      <ng-template colRef="incomeIds" label="Sources" let-incomeIds sort defaultSort>
        {{ getIncomesSources(incomeIds) | join:'name' | maxLength:75 }}
      </ng-template>
      <ng-template colRef="" label="Actions" let-statement sticky>
        <button mat-icon-button (click)="createStatement(statement, false);">
          <mat-icon svgIcon="add" matTooltip="Create statement"></mat-icon>
        </button>
        <button mat-icon-button (click)="createStatement(statement);">
          <mat-icon svgIcon="launch" matTooltip="Create and go to statement"></mat-icon>
        </button>
      </ng-template>
    </bf-table>
  </article>

  <article *ngIf="rightholderStatements?.existing.length">
    <h3>Existing statements for "{{ getRightholderName(rightholderStatements.rightholderId) }}"</h3>
    <bf-table [source]="rightholderStatements.existing" useFilter clickable (rowClick)="goTo('statement', $event.id)" pagination="50">
      <ng-template colRef="type" label="Type" let-type sort>
        {{ type | toLabel: 'statementType' }}
      </ng-template>
      <ng-template colRef="" label="Contract Id" let-item sort>
        {{ getCurrentContract(item) }}
      </ng-template>
      <ng-template colRef="status" label="Status" let-status sort>
        {{ status | toLabel: 'statementStatus' }}
      </ng-template>
      <ng-template colRef="duration.from" label="From" let-from sort defaultSort>
        {{ from | date: 'dd/MM/yyyy' }}
      </ng-template>
      <ng-template colRef="duration.to" label="To" let-to sort defaultSort>
        {{ to | date: 'dd/MM/yyyy' }}
      </ng-template>
      <ng-template colRef="incomeIds" label="Sources" let-incomeIds sort defaultSort>
        {{ getIncomesSources(incomeIds) | join:'name' | maxLength:75 }}
      </ng-template>
      <ng-template colRef="id" label="Actions" let-statementId sticky>
        <a mat-icon-button target="_blank" [routerLink]="['/c/o/dashboard/crm/waterfall', waterfall.id, 'statement', statementId]">
          <mat-icon svgIcon="launch" matTooltip="Go to statement"></mat-icon>
        </a>
      </ng-template>
    </bf-table>
  </article>

</ng-container>