:host {
  width: 100%;
}

section {
  flex: 1;
  padding: 0;
  margin: 32px;

  header {
    display: flex;
    align-items: start;
    margin: 8px;

    div {
      display: flex;
      align-items: center;
      span {
        font-weight: bold;
      }
      p {
        margin: 0 24px;
        padding: 12px 8px;
        font-weight: 600;
      }
    }
  }

  mat-divider {
    position: initial;
  }

  article {
    padding: 32px;
  }
}