<ng-container *ngIf="events$ | async as events else loading">
  <ng-container *ngIf="events.length; else empty">
    <section fxLayout fxLayoutAlign="space-between start">
      <h1>Screening Schedule</h1>
      <button mat-button (click)="exportToCalendar(events)">
        <mat-icon svgIcon="cloud_download"></mat-icon>
        <span>Export All Events</span>
      </button>
    </section>
    <event-list [events]="events">
      <ng-template let-event>
        <event-screening-item [event]="event"></event-screening-item>
      </ng-template>
    </event-list>
  </ng-container>
</ng-container>

<ng-template #empty>
  <event-empty type="screening"></event-empty>
</ng-template>

<ng-template #loading>
  <article test-id="screening-spinner" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </article>
</ng-template>