<cal-header [(viewDate)]="viewDate"></cal-header>
<cal-week [viewDate]="viewDate" eventType="screening" [events]="events$ | async" editable>

  <!-- Small Events -->
  <ng-template calEventSmall let-event>
    <a class="small" [routerLink]="event | eventLink">
      <ng-container *ngIf="event.movie as movie">
        <div class="background" [backgroundRef]="movie.promotionalElements.banner.media">
          <div class="overlay">
            <span>{{ movie.main.title.international }}</span>
          </div>
        </div>
      </ng-container>
      <span *ngIf="!event.movie">{{ event.title }}</span>
    </a>
  </ng-template>

  <!-- Large Events -->
  <ng-template calEventLarge let-event>
    <a class="large" [routerLink]="event | eventLink">
      <ng-container *ngIf="event.movie as movie">
        <div class="background" [backgroundRef]="movie.promotionalElements.poster[0].media">
          <div class="overlay">
            <span>{{ movie.main.title.international }}</span>
          </div>
        </div>
      </ng-container>
      <span *ngIf="!event.movie">{{ event.title }}</span>
    </a>
  </ng-template>
</cal-week>

<!-- Let's keep it for now and see if it's missing -->
<!-- Edit form
<ng-template #editTemplate let-form>
  <button mat-icon-button class="mat-dialog-close" mat-dialog-close>
    <mat-icon svgIcon="cross"></mat-icon>
  </button>
  <h3>Edit</h3>
  <event-form [form]="form"></event-form>
  
  <mat-dialog-actions fxLayout fxLayoutAlign="end center" fxLayoutGap="16px">
    <a mat-button mat-dialog-close [routerLink]="[form.value.id, 'edit']">More Details</a>
    <button mat-flat-button color="primary" [mat-dialog-close]="form.value">Save</button>
  </mat-dialog-actions>
</ng-template>
 -->