<section fxLayout="column" fxLayoutAlign="center center">
  <h1>You have no titles to sell yet</h1>
  <p class="mat-body-1">
    You may add several titles at once or just one at a time.
    <br>
    All titles are subject to validation and a contract with Archipel Content.
  </p>
  <article fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="24px">
    <mat-card fxLayout="column" fxLayoutalign="center center">
      <img asset="add_title.svg" alt="Add title image">
      <a routerLink="../tunnel/movie" mat-stroked-button color="primary">Add one title</a>
    </mat-card>
    <mat-card fxLayout="column" >
      <img asset="upload_files.svg" alt="Upload files image">
      <a routerLink="../import" mat-stroked-button color="primary">Import your titles in bulk</a>
    </mat-card>
  </article>
</section>
