<ng-container *ngIf="titles$ | async as titles">
  <ng-container *ngIf="titles.length else noTitles">
    <header fxLayout="row" fxLayoutAlign="space-between center">
      <h1>{{ count$ | async }} titles in the cart</h1>
      <a mat-button color="primary" routerLink="../deals">
        <mat-icon svgIcon="wallet"></mat-icon>
        <span>Consult your Current Offers and Deals</span>
      </a>
    </header>
    
    <!-- Movies documents here are filled with the distribution deals from the cart -->
    <article *ngFor="let title of titles">
      <movie-banner [movie]="selectMovie(title.movieId) | async">
        <movie-banner-actions fxLayout="column" fxLayoutAlign="space-between end">
          <catalog-wishlist-button [movieId]="title.movieId"></catalog-wishlist-button>
          <button mat-button color="warn" (click)="removeTitle(title.movieId)">
            <mat-icon svgIcon="trash"></mat-icon>
            <span>Remove Title</span>
          </button>
          <a mat-button color="primary" [routerLink]="['..', title.movieId, 'view/avails']">
            <mat-icon svgIcon="add"></mat-icon>
            <span>Add Exploitation Rights</span>
          </a>
        </movie-banner-actions>
      </movie-banner>
    
      <ng-container *ngIf="title.deals.length">
        <h3>Exploitation Rights</h3>
        <catalog-right-list [source]="title.deals"></catalog-right-list>
      </ng-container>
    </article>
    
    <footer fxLayout="column" fxLayoutAlign="center center">
      <button mat-flat-button color="accent" (click)="create()">Create an Offer</button>
      <p>
        Pay attention, if you create an offer, you’ll <b>find your current offer</b> on your “<b>Offers & Deals</b>” page 
      </p>
      <a mat-button color="primary" routerLink="../home">Continue Browsing the Library</a>
    </footer>
  </ng-container>
</ng-container>

<ng-template #noTitles >
  <button mat-button color="primary" (click)="store.upsert('EtVJsbtCxhVXjH923F0E', { deals: [] })">Add</button>
  <article fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="40px">
    <h1>You have not yet selected any titles</h1>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px">
      <a mat-flat-button color="accent" routerLink="../home">Continue browsing the Library</a>
      <span>Or</span>
      <a mat-stroked-button color="primary" routerLink="../deals">Consult your current Offers and Deals</a>
    </div>
    <p>Do you need help ? Explore our FAQ page or chat with us.</p>
  </article>
</ng-template>