<ng-container *ngIf="waterfall$ | async as waterfall">
  <ng-container *ngIf="waterfall.versions.length; else noWaterfall">
    <ng-container *ngIf="(state$ | async) as state; else loading">
      <waterfall-graph *ngIf="(rights$ | async) as rights; else loading" [state]="state.waterfall.state" [rights]="rights" [sources]="waterfall.sources"></waterfall-graph>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #noWaterfall>
  <waterfall-empty></waterfall-empty>
</ng-template>

<ng-template #loading>
  <article>
    <logo-spinner></logo-spinner>
  </article>
</ng-template>