@import '@angular/flex-layout/mq';

article {
  display: flex;
  justify-content: center;
}

waterfall-sidebar {
  margin: 24px 0 24px 24px;
  overflow: scroll;
  padding-right: 16px;
}

waterfall-graph {
  padding: 24px;
}

waterfall-version-selector {
  padding-left: 24px;
}

@include layout-bp(lt-xl) {
  waterfall-sidebar {
    height: 41vh;
    min-height: 650px;
  }
}

@include layout-bp(xl) {
  waterfall-sidebar {
    height: 54vh;
  }
}