@import '@angular/flex-layout/mq';

layout-dashboard  {
  aside {
    &.opened mat-nav-list {
      width: 260px;
    }

    @include layout-bp(gt-sm) {
      &:not(.opened) {
        .mat-list-base .mat-list-item .mat-list-text {
          display: none;
        }
      }
    }
  
    @include layout-bp(gt-xs) {
      &:not(.opened) auth-sidenav,
      &.opened auth-sidenav {
        display: none;
      }
    }
  }
}
