<ng-container *ngIf="shell.waterfall$ | async as waterfall">

  <ng-container *ngIf="waterfall.versions.length else noWaterfall">
    <div>
      <h3>Versions</h3>
      <waterfall-version-selector></waterfall-version-selector>
    </div>
    <bf-table [source]="waterfall.versions" useFilter pagination="50">
      <ng-template colRef="id" label="Id" let-id sort defaultSort>
        {{ id }}
        <button mat-icon-button [cdkCopyToClipboard]="id" (click)="$event.stopPropagation()">
          <mat-icon svgIcon="file_copy"></mat-icon>
        </button>
      </ng-template>
      <ng-template colRef="name" label="Name" let-name sort>
        {{ name }}
      </ng-template>
      <ng-template colRef="" label="Default" let-version sort>
        <mat-slide-toggle [checked]="version.default" [disabled]="version.default || version.standalone" (click)="setVersionAsDefault(version)" color="primary"></mat-slide-toggle>
      </ng-template>
      <ng-template colRef="standalone" label="Standalone" let-standalone sort>
        <mat-icon [svgIcon]="standalone ? 'check_circle': 'cancel'"></mat-icon>
      </ng-template>
      <ng-template colRef="description" label="Description" let-description sort>
        {{ description }}
      </ng-template>
      <ng-template colRef="blockIds" label="Blocks" let-blockIds sort>
        {{ blockIds.length }} block(s)
      </ng-template>
      <ng-template colRef="" label="Actions" let-version sticky>
        <button mat-icon-button (click)="removeVersion(version.id)">
          <mat-icon svgIcon="delete" matTooltip="Delete version"></mat-icon>
        </button>
        <button mat-icon-button [disabled]="version.standalone" (click)="duplicateVersion(version.id)">
          <mat-icon svgIcon="file_copy" [matTooltip]="version.standalone ? 'Cannot duplicate standalone version' : 'Duplicate version'"></mat-icon>
        </button>
        <button mat-icon-button (click)="refreshWaterfall(version.id)">
          <mat-icon svgIcon="refresh" matTooltip="Refresh waterfall"></mat-icon>
        </button>
        <button mat-icon-button (click)="displayActions(version.id)">
          <mat-icon svgIcon="search" matTooltip="Show actions"></mat-icon>
        </button>
        <button mat-icon-button (click)="displayWaterfall(version.id)">
          <mat-icon svgIcon="star" matTooltip="Show waterfall"></mat-icon>
        </button>
        <a mat-icon-button target="_blank" [routerLink]="['/c/o/dashboard/crm/waterfall', waterfall.id, 'dashboards', version.id]" (click)="$event.stopPropagation()">
          <mat-icon svgIcon="launch" matTooltip="Go to dashboard"></mat-icon>
        </a>
      </ng-template>
    </bf-table>
  </ng-container>
  
  <ng-template #noWaterfall>
    <waterfall-empty showImportLinks></waterfall-empty>
  </ng-template>

  <ng-container *ngIf="shell.actions$ | async as actions">
    <ng-container *ngIf="(displayActions$ | async) && actions.length">
      <h3>Actions</h3>
      <bf-table [source]="actions" useFilter pagination="50">
        <ng-template colRef="actionId" label="#" let-actionId>
          {{ actionId }}
        </ng-template>
        <ng-template colRef="payload.date" label="Date" let-date sort defaultSort>
          {{ date | date: 'dd/MM/yyyy' }}
        </ng-template>
        <ng-template colRef="block" label="Block" let-block sort>
          {{ block.name }}
          <button mat-icon-button [cdkCopyToClipboard]="block.id" (click)="$event.stopPropagation()">
            <mat-icon svgIcon="file_copy"></mat-icon>
          </button>
        </ng-template>
        <ng-template colRef="name" label="Type" let-name>
          {{ name }}
        </ng-template>
        <ng-template colRef="payload.id" label="Id" let-id>
          {{ id ? id : '--' }}
          <button *ngIf="id" mat-icon-button [cdkCopyToClipboard]="id" (click)="$event.stopPropagation()">
            <mat-icon svgIcon="file_copy"></mat-icon>
          </button>
        </ng-template>
        <ng-template colRef="payload" label="Rightholder" let-payload>
          <ng-container *ngIf="payload.orgId">{{ payload.orgId | rightholderName: waterfall }}</ng-container>
          <ng-container *ngIf="payload.blameId">{{ payload.blameId | rightholderName: waterfall }}</ng-container>
          <ng-container *ngIf="!payload.orgId && !payload.blameId">--</ng-container>
        </ng-template>
        <ng-template colRef="payload.amount" label="Amount" let-amount>
          <ng-container *ngIf="amount else noPrice">
            <price-per-currency [price]="amount | formatPair"></price-per-currency>
          </ng-container>
          <ng-template #noPrice>--</ng-template>
        </ng-template>
        <ng-template colRef="payload.from" label="From" let-from>
          {{ getPayloadPair(from) }}
        </ng-template>
        <ng-template colRef="payload.to" label="To" let-to>
          {{ getPayloadPair(to) }}
        </ng-template>
        <ng-template colRef="payload.percent" label="%" let-percent>
          {{ percent ? percent * 100  : '--' }}
        </ng-template>
      </bf-table>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="(displayWaterfall$ | async) && (shell.state$ | async) as state">
    <h3>Waterfall</h3>
    <waterfall-g6-graph [tree]="state.waterfall" [rightholders]="waterfall.rightholders"></waterfall-g6-graph>
  </ng-container>
  
  <ng-container *ngIf="waterfall.versions.length">
    <h3>Tree</h3>
    <article class="surface">
      <waterfall-g6-tree [waterfall]="waterfall"></waterfall-g6-tree>
    </article>
  </ng-container>
</ng-container>
