<mat-sidenav-container cdkDropListGroup>
  <mat-sidenav-content *ngIf="form">
    <mat-toolbar>
      <a mat-icon-button routerLink="..">
        <mat-icon svgIcon="arrow_back"></mat-icon>
      </a>
      <button mat-icon-button (click)="save()">
        <mat-icon svgIcon="floppy"></mat-icon>
      </button>
    </mat-toolbar>
    <mat-accordion cdkDropList (cdkDropListDropped)="move($event)">
      <ng-container *ngFor="let control of sections.controls; let i = index">
        <mat-expansion-panel cdkDrag>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="handler" svgIcon="drag_indicator" cdkDragHandle></mat-icon>
            </mat-panel-title>
            <mat-panel-description>
              {{ control.value._type }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="form">
            <form-outlet [form]="control" [schema]="control.schema"></form-outlet>
          </div>
          <mat-divider></mat-divider>
          <footer>
            <button mat-button color="warn" (click)="remove(i)">Delete</button>
          </footer>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </mat-sidenav-content>
  <mat-sidenav opened mode="side" position="end">
    <mat-action-list cdkDropList [cdkDropListData]="types">
      <ng-container *ngFor="let type of types">
        <button cdkDrag mat-list-item (click)="add(type)">{{ type }}</button>
      </ng-container>
    </mat-action-list>
  </mat-sidenav>
</mat-sidenav-container>