@import "@angular/flex-layout/mq";

movie-header-cta {
  width: 100%;

  .orgs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .buttons {
    display: flex;
  }
  
  section {
    gap: 16px;

    wishlist-button {
      margin: auto 0;
    }
  }
}

movie-header-actions {
  display: flex;
  gap: 24px;

  section {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;

    a {
      margin-top: auto;
    }
  }
}

@include layout-bp(gt-sm) {
  movie-header-actions {
    margin-left: auto;
  }
}

@include layout-bp(lt-md) {
  movie-header-actions section {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@include layout-bp(xs) {  
  org-chip {
    display: flex;
    justify-content: center;
  }
}
