<ng-container *ngIf="movie$ | async as movie">
  <movie-view [navLinks]="navLinks">
    <movie-header [movie]="movie">
      <movie-header-cta fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="32px">
        <ng-container *ngFor="let org of orgs$ | async">
          <org-chip [org]="org"></org-chip>
          <a mat-stroked-button color="primary" [href]="'mailto:' + org.email">
            <span>Contact Sales Agent</span>
            <mat-icon svgIcon="arrow_forward"></mat-icon>
          </a>
          <article *ngIf="hasLink(movie)" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="24px">
            <wishlist-button [movieId]="movie.id" small></wishlist-button>
            <ng-container *ngFor="let link of getLinks(movie) | slice:0:2">
              <a [href]="link.url" target="_blank" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon [svgIcon]="link.icon"></mat-icon>
                <span>{{ link.label }}</span>
              </a>
            </ng-container>
            <ng-container>
              <a *ngIf="getLinks(movie).length > 3" [matMenuTriggerFor]="more" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon svgIcon="more_horiz"></mat-icon>
                <span>More</span>
              </a>
              <mat-menu #more>
                <ng-container *ngFor="let link of getLinks(movie) | slice:3:5">
                  <a [href]="link.url" target="_blank" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon [svgIcon]="link.icon"></mat-icon>
                    <span>{{ link.label }}</span>
                  </a>
                </ng-container>
              </mat-menu>
            </ng-container>
          </article>
        </ng-container>
      </movie-header-cta>
    </movie-header>
  </movie-view>
</ng-container>
