<ng-container *ngIf="movie$ | async as movie">
  <title-marketplace-shell [routes]="navLinks">
    <movie-header [movie]="movie">

      <movie-header-cta fxLayout="column" fxLayoutGap="32px">
        <section>
          <ng-container *ngFor="let org of orgs$ | async">
            <org-chip [org]="org"></org-chip>
          </ng-container>
        </section>
        <ng-container *ngIf="(eventId$ | async) as eventId; else request">
          <section fxLayout fxLayoutAlign="space-between" fxLayout.lt-sm="column">
            <button mat-stroked-button [disabled]="requestSent" (click)="requestAskingPrice()">
              <span class="linear-wipe">Request Asking Price</span>
            </button>
            <a ongoing-event-button [routerLink]="['/event', eventId, 'r', 'i']">Ongoing Screening</a>
          </section>
        </ng-container>
        <ng-template #request>
          <section fxLayout fxLayout.lt-sm="column">
            <event-request-screening [movieId]="movie.id" animated></event-request-screening>
            <button mat-stroked-button  [disabled]="requestSent" (click)="requestAskingPrice()">
              <span class="linear-wipe">Request Asking Price</span>
            </button>
          </section>
        </ng-template>
      </movie-header-cta>

      <movie-header-actions fxHide.lt-sm fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">
        <wishlist-button [movieId]="movie.id"></wishlist-button>
        <movie-promotional-links [movie]="movie" [links]="promoLinks"></movie-promotional-links>
      </movie-header-actions>
    </movie-header>

    <movie-screening></movie-screening>
  </title-marketplace-shell>
</ng-container>
