:host {
  display: block;
}

h6 {
  text-transform: uppercase;
}

.organization {
  display: flex;
  align-items: center;
  border-radius: 16px;
  img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  span {
    margin: 0 8px;
  }
}

.organization:hover {
  background-color: var(--background-disabled-button);
}