movie-header-cta {
  width: 100%;
  margin-bottom: 16px;

  section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 16px;
  }
  
  a {
    width: fit-content;
  }
}
 