<layout-marketplace>
  <aside>
    <mat-nav-list>
      <a test-id="home" mat-list-item routerLink="home" routerLinkActive="active">
        <mat-icon mat-list-icon svgIcon="home"></mat-icon>
        <span mat-line><b>Home</b></span>
      </a>
      <a test-id="library" mat-list-item routerLink="title" routerLinkActive="active">
        <mat-icon mat-list-icon svgIcon="video_library"></mat-icon>
        <span mat-line><b>Library</b></span>
      </a>
      <!-- #7243 Put back once there are enough sellers -->
      <!-- <a test-id="sellers" mat-list-item routerLink="organization" routerLinkActive="active">
        <mat-icon mat-list-icon svgIcon="sellers"></mat-icon>
        <span mat-line><b>Sellers</b></span>
      </a> -->
      <a test-id="offers" mat-list-item routerLink="offer" routerLinkActive="active">
        <mat-icon mat-list-icon svgIcon="document"></mat-icon>
        <span mat-line><b>Offers & Deals</b></span>
      </a>
      <a test-id="selection" mat-list-item routerLink="selection" routerLinkActive="active">
        <mat-icon mat-list-icon svgIcon="shopping_basket"></mat-icon>
        <span mat-line><b>My Selection</b></span>
      </a>
      <a mat-list-item routerLink="wishlist" routerLinkActive="active">
        <mat-icon mat-list-icon svgIcon="favorite"></mat-icon>
        <span mat-line><b>Wishlist</b></span>
      </a>
      <ng-container *ngIf="org$ | async | canAccess: 'dashboard':'catalog'">
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/c/o/dashboard/home" routerLinkActive="active" test-id="dashboard">
          <mat-icon matListIcon svgIcon="dashboard"></mat-icon>
          <span matLine><b>My Dashboard</b></span>
        </a>
      </ng-container>
    </mat-nav-list>
  </aside>
  ​
  <header fxFlex fxLayout fxLayoutAlign="end center" fxLayoutGap="24px">
    <a mat-button class="link-to-app" color="primary" href="https://www.archipelmarket.com/" target="_blank">        
      <mat-icon svgIcon="mini_logo"></mat-icon>
      <span>Discover Events And Line-Ups</span>
    </a>
    <a mat-icon-button routerLink="selection" matTooltip="My selection">
      <mat-icon svgIcon="shopping_basket"
        [matBadge]="contractCount$ | async"
        [matBadgeHidden]="(contractCount$ | async) === 0"
        matBadgeColor="accent"
        matBadgeSize="small">
      </mat-icon>
    </a>
  </header>

</layout-marketplace>
