@import '~@angular/flex-layout/mq';

header, section {
  padding: 0 24px;
}

header {
  height: 300px;
  background: linear-gradient(to bottom, var(--background-disabled-button), transparent);
  article {
    padding: 53px 0px 17px 24px;
    height: 168px;
  }
}

header h4 {
  text-transform: uppercase;
}

.movie-poster {
  width: 168px;
  height: 220px;
  margin-right: 16px;
  border-radius: 5px;
}

nav.mat-tab-nav-bar {
  margin-bottom: 32px;
}

@include layout-bp(lt-md) {
  header {
    height: auto;
    article {
      height: auto;
    }
  }

  .movie-info {
    margin: 20px 0px;
  }
}
