:host {
  display: block;
  padding: 24px;
}

mat-card {
  width: 100%;
  word-break: break-all;
  margin-bottom: 16px;
  .mat-card-content {
    padding-left: 20px;
  }
  a {
    margin-bottom: 10px;
  }
}


li {
  margin-bottom: 4px;
  strong {
    opacity: 0.5;
    font-weight: normal;
  }
  img {
    max-height: 50px;
  }
}

.synopsis {
  word-break: keep-all;
}
