<layout-dashboard>
  <aside fxLayout="column" fxLayoutAlign="space-between">
    <mat-nav-list fxFlex>
      <a mat-list-item routerLink="home" routerLinkActive="active">
        <mat-icon matListIcon svgIcon="dashboard"></mat-icon>
        <span matLine><b>Dashboard</b></span>
      </a>
      <a mat-list-item routerLink="title" routerLinkActive="active">
        <mat-icon matListIcon svgIcon="video_library"></mat-icon>
        <span matLine><b>My Titles</b></span>
      </a>
      <a mat-list-item routerLink="deals" routerLinkActive="active">
        <mat-icon matListIcon svgIcon="wallet"></mat-icon>
        <span matLine><b>Offers and Deals</b></span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="contact" routerLinkActive="active">
        <mat-icon matListIcon svgIcon="mail"></mat-icon>
        <span matLine><b>Contact</b></span>
      </a>
    </mat-nav-list>
  </aside>
</layout-dashboard>