:host {
  display: block;
  height: 100vh;
}

aside {
  flex: 1;
}

mat-sidenav-container {
  height: 100%;
  #dashboard-navbar .mat-toolbar {
    border-bottom: none;
  }
}

.logo {
  height: 48px;
  img {
    height: 100%;
  }
}

mat-sidenav-content mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}
