<!-- In case bucket doesn't exist yet, empty is shown -->
<ng-container *ngIf="bucket$ | async as bucket; else empty">
  <ng-container *ngIf="!!bucket.contracts.length else empty">
    <header class="dark-contrast-theme main-header" bgAsset="banner_header_page.webp">
      <div class="main-title" fxLayout="column" fxLayoutAlign="center center">
        <h1>My Selection</h1>
        <p>There are {{ bucket.contracts.length }} titles in my selection</p>
        <p>Total price: {{ total$ | async | currency:bucket.currency }}</p>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <p *ngIf="bucket | bucketTitles | getTitle | async as titles">
          {{ (titles | deepKey:'title.international') }}
        </p>
        <button mat-flat-button color="primary" (click)="createOffer(bucket)">Create Offer</button>
      </div>
    </header>

    <section>
      <h2>Please select a currency</h2>
      <static-select test-id="selection-currency" [control]="currencyForm" scope="movieCurrencies"
        [withoutValues]="withoutCurrencies">
        <mat-label>Currency</mat-label>
      </static-select>
    </section>

    <ng-container *ngIf="(bucket$ |async) as bucket">
      <ng-container *ngFor="let contract of bucket.contracts; trackBy: trackById; let i = index">
        <contract-item
          [contract]="contract"
          [columns]="columns"
          (openDetails)="openDetails"
          >
            <mat-form-field appearance="outline" price>
              <mat-label>Price</mat-label>
              <input matInput type="number" min="0" [value]="contract.price" [attr.test-id]="'price-' + i"
                (input)="setPrice(i, $event.target.value)" (blur)="updatePrice(i, $event.target.value)" />
              <mat-icon matPrefix [svgIcon]="bucket.currency"></mat-icon>
            </mat-form-field>
            <ng-template #colActionTemplate label="Actions" let-termIndex="index" let-titleId="titleId">
              <a mat-icon-button [routerLink]="['/c/o/marketplace/title', titleId, 'avails']" [queryParams]="{ contract: i, term: termIndex }" matTooltip="Edit">
                <mat-icon svgIcon="edit"></mat-icon>
              </a>
              <button mat-icon-button (click)="removeTerm(i, termIndex)" matTooltip="Delete">
                <mat-icon svgIcon="delete"></mat-icon>
              </button>
            </ng-template>
            <footer fxLayout fxLayoutAlign="space-between" class="footer" footer>
              <ng-container *ngIf="contract.titleId | getTitle | async as title">
                <button mat-button (click)="removeContract(i, title)" test-id="delete-contract">
                  Delete all rights for this title
                </button>
                <a mat-flat-button [routerLink]="['../title', title.id, 'avails']" color="primary">
                  Add Rights
                </a>
              </ng-container>
            </footer>
        </contract-item>
      </ng-container>
    </ng-container>
    <footer fxLayout="column" fxLayoutAlign="center center" class="summary" test-id="footer-total-price">
      <p test-id="total-price">Total Price: {{ total$ | async | currency:bucket.currency }}</p>
      <button mat-flat-button color="accent" (click)="createOffer(bucket)" test-id="create-offer">Create Offer</button>
    </footer>
  </ng-container>
</ng-container>

<ng-template #empty>
  <section class="empty" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
    <h1>There is no title to display in your Selection.</h1>
    <span>Select titles to populate your Selection.</span>
    <img asset="empty_selection.png" alt="No rights in selection">
    <button mat-flat-button color="accent" [routerLink]="['/c/o/marketplace/title']">Browse Library</button>
  </section>
</ng-template>
