.main-header {
  padding: 48px;
  background-size: cover;
  .main-title {
    margin-bottom: 32px;
    p {
      margin-bottom: 0;
    }
  }
}
section {
  margin: 24px;

  footer {
    margin-top: 12px;
  }
}
.ellipsis {
  max-width: 400px;
  cursor: pointer;
}

.contract {
  padding: 24px;
  margin-bottom: 72px;

  img {
    max-width: 150px;
    max-height: 200px;
    cursor: pointer;
  }
}

.summary {
  padding-bottom: 72px;
}

.empty {
  margin-top: 72px;

  img {
    width: 380px;
    margin: 24px 0;
  }
}

static-select {
  width: 35%;
}
