:host {
  display: block;
}

.main-header {
  padding: 48px;
  background-size: cover;
  .main-title {
    margin-bottom: 32px;
  }
}

.currency {
  margin: 24px;
}

contract-item {
  margin: 24px;
  footer {
    margin-top: 12px;
    mat-divider {
      margin: 16px 0;
    }
  }
}

.summary {
  padding-bottom: 72px;
}

section.empty {
  padding: 24px;
  img {
    width: 380px;
  }
}

static-select {
  width: 35%;
}
