.main-header {
  padding: 48px;
  background-size: cover;
  .main-title {
    margin-bottom: 32px;
    p {
      margin-bottom: 0;
    }
  }
}

contract-item footer {
  margin-top: 12px;
}

.summary {
  padding-bottom: 72px;
}

.empty {
  img {
    width: 380px;
    margin: 24px 0;
  }
}

static-select {
  width: 35%;
}
