<crm-bread-crumb></crm-bread-crumb>

<ng-container *ngIf="orgs$ | async as orgs; else loading">

  <article fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout fxLayoutGap="16px">
      <button mat-flat-button color="primary" (click)="createOrg()" test-id="create-org">
        <span>Create org</span>
        <mat-icon svgIcon="add"></mat-icon>
      </button>
      <a mat-flat-button color="primary" [href]="'crm' | goToApp:'dashboard':'crm/import/orgs'">
        <span>Import orgs</span>
        <mat-icon svgIcon="arrow_downward"></mat-icon>
      </a>
      <button mat-flat-button color="primary" (click)="exportTable(orgs)">
        <span>Export to CSV</span>
        <mat-icon svgIcon="arrow_upward"></mat-icon>
      </button>
    </div>
  </article>

  <bf-table [source]="orgs" pagination="50" useFilter>
    <ng-template colRef="id" let-id>{{ id }}</ng-template>
    <ng-template colRef="status" let-status sort>
      <bf-tag>{{ status }}</bf-tag>
    </ng-template>
    <ng-template colRef="name" label="Organization Name" sort let-name>
      {{ name }}
    </ng-template>
    <ng-template colRef="addresses.main.country" label="Country" let-country sort [filter]="filters.territories">
      {{ (country | toLabel:'territories') || '--' }}
    </ng-template>
    <ng-template colRef="status" label="Status" sort let-status>
      {{ status | toLabel: 'organizationStatus' }}
    </ng-template>
    <ng-template colRef="activity" sort let-activity>
      {{ activity | toLabel: 'orgActivity'}}
    </ng-template>
    <ng-template colRef="appAccess" label="App Access" let-appAccess>
      <ul>
        <ng-container *ngFor="let app of apps">
          <li>{{ app | appName:'short' }} : {{ appAccess[app]?.dashboard ? 'yes': 'no' }} : {{ appAccess[app]?.marketplace ? 'yes': 'no' }} </li>
        </ng-container>
      </ul>
    </ng-template>
    <ng-template colRef="id" label="Action" let-orgId sticky>
      <a target="_blank" [routerLink]="['/c/o/dashboard/crm/organization', orgId]">
        <mat-icon svgIcon="launch"></mat-icon>
      </a>
    </ng-template>
  </bf-table>
</ng-container>

<ng-template #loading>...loading orgs</ng-template>
