<crm-bread-crumb></crm-bread-crumb>

<ng-container *ngIf="orgs$ | async as orgs; else loading">

  <article fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout fxLayoutGap="16px">
      <button mat-flat-button color="primary" (click)="createOrg()">
        <span>Create org</span>
        <mat-icon svgIcon="add"></mat-icon>
      </button>
      <a mat-flat-button color="primary" [href]="'crm' | goToApp:'dashboard':'crm/import/orgs'">
        <span>Import orgs</span>
        <mat-icon svgIcon="arrow_downward"></mat-icon>
      </a>
      <button mat-flat-button color="primary" (click)="exportTable(orgs)">
        <span>Export to CSV</span>
        <mat-icon svgIcon="arrow_upward"></mat-icon>
      </button>
    </div>
  </article>

  <bf-table [source]="orgs" pagination="50" useFilter>
    <ng-template colRef="id" let-id sort>{{ id }}</ng-template>
    <ng-template colRef="status" let-status sort>
      <bf-tag>{{ status }}</bf-tag>
    </ng-template>
    <ng-template colRef="denomination.full" label="Organization Name" sort let-fullName>
      {{ fullName }}
    </ng-template>
    <ng-template colRef="addresses.main.country" defaultSort label="Country" sort let-country>
      {{ country ?? '--' | titlecase }}
    </ng-template>
    <ng-template colRef label="Status" sort let-org>
      {{ org.status ?? '--' | titlecase }}
    </ng-template>
    <ng-template colRef="activity" sort let-activity>
      {{ activity | toLabel: 'orgActivity'}}
    </ng-template>
    <ng-template colRef="appAccess" label="App Access" let-appAccess>
      <ul>
        <ng-container *ngFor="let a of app">
          <li>{{ a | appName:'short' }} : {{ appAccess[a]?.dashboard ? 'yes': 'no' }} : {{ appAccess[a]?.marketplace ? 'yes': 'no' }} </li>
        </ng-container>
      </ul>
    </ng-template>
    <ng-template colRef label="Action" let-org sticky>
      <a target="_blank" [routerLink]="['/c/o/dashboard/crm/organization', org.id]">
        <mat-icon svgIcon="launch"></mat-icon>
      </a>
    </ng-template>
  </bf-table>
</ng-container>

<ng-template #loading>...loading orgs</ng-template>
