<main fxLayout="column">
  <crm-bread-crumb></crm-bread-crumb>

  <ng-container *ngIf="orgs$ | async as orgs; else loading">

    <article fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout fxLayoutGap="16px">
        <button mat-flat-button color="primary" (click)="createOrg()">
          <span>Create org</span>
          <mat-icon svgIcon="add"></mat-icon>
        </button>
        <a mat-flat-button color="primary" [href]="'festival' | goToApp:'dashboard':'import'">
          <span>Import orgs</span>
          <mat-icon svgIcon="arrow_downward"></mat-icon>
        </a>
        <button mat-flat-button color="primary" (click)="exportTable(orgs)">
          <span>Export to CSV</span>
          <mat-icon svgIcon="arrow_upward"></mat-icon>
        </button>
      </div>
    </article>

    <bf-table-filter [source]="orgs" [columns]="versionColumns" [initialColumns]="initialColumns" [pageSize]="50"
      [filterPredicate]="filterPredicate" showFilter showLoader showPaginator clickable (rowClick)="goToEdit($event)">
      <ng-template colRef="logo" let-logo>
        <ng-container *ngIf="logo.storagePath; else nologo">
          <img class="logo" [ref]="logo" asset="empty_poster.svg">
        </ng-container>
        <ng-template #nologo>
          --
        </ng-template>
      </ng-template>
      <ng-template colRef="denomination.full" let-denominationFull>
        {{ denominationFull }}
      </ng-template>
      <ng-template colRef="denomination.public" let-denominationPublic>
        {{ denominationPublic }}
      </ng-template>
      <ng-template colRef="addresses.main.country" let-country>
        {{ country ? country : '--' }}
      </ng-template>
      <ng-template colRef="activity" let-activity>
        {{ activity | toLabel: 'orgActivity'}}
      </ng-template>
      <ng-template colRef="appAccess" let-appAccess>
        <ul>
          <ng-container *ngFor="let a of app">
            <li>{{ a | appName:true }} : {{ !!appAccess[a] && appAccess[a].dashboard ? 'yes': 'no' }} : {{ !!appAccess[a] && appAccess[a].marketplace ? 'yes': 'no' }} </li>
          </ng-container>
        </ul>
      </ng-template>
    </bf-table-filter>
  </ng-container>

  <ng-template #loading>...loading orgs</ng-template>
</main>
