<landing-toolbar color="primary" imgAsset="logo_archipel_market_outline.svg"></landing-toolbar>
<landing-header class="dark-contrast-theme">
  <h4>Welcome to Archipel Market</h4>
  <p class="mat-display-2 offer">The ongoing<br />film market</p>
</landing-header>
<cookie-form></cookie-form>
<landing-how-it-works
  [tabNames]="tabNames"
  [tabTitle]="tabTitle"
  [sellerFeatures]="sellerFeatures"
  [buyerFeatures]="buyerFeatures"
>
</landing-how-it-works>
<landing-learn-more id="demo"></landing-learn-more>
<landing-footer logo="lp_logo_archipel_market_outline.webp"></landing-footer>
