@import "~@angular/flex-layout/mq";

:host {
  display: block;
}

landing-header {
  background-image: url("/assets/images/banner_landing_new.jpg ");

  h4 {
    text-transform: uppercase;
  }
}

landing-content {
  .landing-partners {
    padding: 80px;
    background-color: var(--background-card);
    div {
      margin-top: 24px;
    }
  }

  .landing-presentation {
    padding: 80px
  }

  h1 {
    margin-bottom: 12px;
  }

  h5 {
    margin-top: 48px;
    text-transform: uppercase;
  }

  mat-tab-group {
      padding-inline: 80px;
      header {
        margin-block: 32px;
        padding-right: 32px;
        img {
          width: 450px;
        }
      } 
  }
  
  article {
    .surface {
      width: 32%;
      margin-bottom: 24px;
      padding: 32px 72px;
      text-align: center;
      div {
        height: 128px; 
        margin-bottom: 24px;
        img {
          width: 150px;
        }
      }
    }
  }

  .benefits {
    display: grid;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr ;
    > div {
      padding: 32px;
      background-color: var(--background-card);
    }
  }
  

  .landing-join {
    background-image: url("/assets/images/background_hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
    padding: 96px 0;
  }
}

@include layout-bp(lt-lg) {
  landing-content {
    article .surface {
      padding: 32px;
    }
  }
}

@include layout-bp(lt-md) {
  landing-content {
    article .surface{
      width: 75%;
    }
    .benefits {
      grid-template-columns: 1fr ;
      grid-template-rows: repeat(4, 1fr);
    }
  }
}

@include layout-bp(lt-sm) {
  landing-content {
    text-align: center;
    article .surface{
      width: 100%;
    }
  }
}
