@import "~@angular/flex-layout/mq";

:host {
  display: block;
}

landing-header {
  background-image: url("/assets/images/banner_landing_new.jpg ");

  h4 {
    text-transform: uppercase;
  }
}

landing-content {
  .landing-partners {
    padding: 80px 80px;
    background-color: var(--background-card);
  }

  .landing-presentation {
    padding: 72px 80px
  }

  h1 {
    margin-bottom: 12px;
  }

  .tab-margin {
    margin-top: 24px;
  }

  h5 {
    margin-top: 48px;
    text-transform: uppercase;
  }

  article {
    mat-card {
      width: 49%;
      min-height: 400px;
      margin-bottom: 24px;
      text-align: center;
      img {
        width: 150px;
      }
    }
  }

  .landing-join {
    background-image: url("/assets/images/background_hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
    padding: 96px 0;
  }
}

@include layout-bp(lt-md) {
  landing-content {
    article mat-card {
      width: 75%;
    }
  }
}

@include layout-bp(lt-sm) {
  landing-content {
    text-align: center;
    article mat-card {
      width: 100%;
    }
  }
}
