<tunnel-page>
  <h4 title>LICENSED RIGHTS</h4>
  <h1 subtitle>Ongoing Deals</h1>
  <p description>
    Please add below all ongoing licensed rights you want to sell on Archipel Content marketplace when
    they are free.</p>
  <ng-container tunnel-form>
    <ng-container *ngIf="formContract">
      <ng-container *ngFor="let controls of formContract.controls; let i = index">
        <!-- TODO #1523 -->
        <h2>Deal #1</h2>
        <mat-accordion multi>
          <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <!-- TODO #1523 -->
                # Deal
              </mat-panel-title>
            </mat-expansion-panel-header>
            <h3>Deal</h3>
            <!-- Licensee Name -->
            <contract-form-party-name [form]="contract(i)" *ngIf="i%2 === 0"></contract-form-party-name>
            <mat-divider></mat-divider>
            <!-- Territories -->
            <h3>Territories to this deal</h3>
            <distribution-form-territory [form]="distributionDeal(i)"></distribution-form-territory>
            <mat-divider></mat-divider>
            <!-- Media rights -->
            <h3>Rights</h3>
            <span class="caption">Only fill out fields that apply</span>
            <distribution-form-rights [form]="distributionDeal(i)"></distribution-form-rights>
            <mat-divider></mat-divider>
            <!-- Terms specification -->
            <h3>Terms</h3>
            <span class="caption">You can either enter specific term dates or a license period</span>
            <distribution-form-terms [form]="distributionDealTerms(i)"></distribution-form-terms>
            <mat-divider></mat-divider>
            <!-- Holdbacks -->
            <!-- TODO #1523 -->
            <h3>Holdbacks</h3>
            <span class="caption">Please specify the holdbacks related to this deal, if any.</span>
            <h6>Holdback Rights</h6>
            <div fxLayout="column" fxLayoutAlign="start center">
              <ng-container *ngFor="let holdback of distributionDealHoldbacks(i).controls; let index = index">
                <distribution-form-holdbacks [form]="holdback"></distribution-form-holdbacks>
                <button mat-fab color="warn" (click)="removeHoldback(i,index)">
                  <mat-icon>delete</mat-icon>
                </button>
              </ng-container>
              <button mat-fab color="primary" (click)="addHoldback(i)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <mat-divider></mat-divider>
            <!-- Languages -->
            <distribution-form-languages [form]="distributionDealAssetLanguages(i)"></distribution-form-languages>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>
    </ng-container>
    <button mat-fab color="primary" (click)="addContract()">
      <mat-icon>add</mat-icon>
    </button>
  </ng-container>
</tunnel-page>