<header
  fxLayout="column"
  fxLayoutAlign="center start"
  fxLayoutAlign.xs="center center"
  fxLayoutGap="20px">
  <h1>Archipel Content</h1><!-- TODO #1396 change for custom typo -->
  <span class="mat-display-4">The only marketplace offering package deals</span><!-- TODO #1396 change for custom typo -->
  <span class="mat-display-1">for TV, VOD and ancillary rights</span><!-- TODO #1396 change for custom typo -->
  <a mat-flat-button color="accent" routerLink="/auth/connexion">
    <span>Join now</span>
    <mat-icon>arrow_forward</mat-icon>
  </a>
</header>
