<layout-dashboard>
  <aside fxLayout="column" fxLayoutAlign="space-between">
    <mat-nav-list fxFlex>
      <a mat-list-item routerLink="home" routerLinkActive="active">
        <mat-icon matListIcon svgIcon="dashboard"></mat-icon>
        <span matLine><b>Dashboard</b></span>
      </a>
      <a mat-list-item routerLink="graph" routerLinkActive="active">
        <mat-icon matListIcon svgIcon="business"></mat-icon>
        <span matLine><b>Graph</b></span>
      </a>
      <a mat-list-item routerLink="table" routerLinkActive="active">
        <mat-icon matListIcon svgIcon="search_table"></mat-icon>
        <span matLine><b>Table</b></span>
      </a>
      <auth-sidenav fxHide.gt-xs></auth-sidenav>
    </mat-nav-list>

    <auth-sidenav-widget fxHide.gt-xs></auth-sidenav-widget>
  </aside>
</layout-dashboard>
