<form [formGroup]="form">
  <header>
  </header>
  <mat-accordion>
    <ng-container *ngFor="let section of sections.controls">
      <mat-expansion-panel>
        <ng-template 
          [ngTemplateOutlet]="getTemplate(section.get('type').value)"
          [ngTemplateOutletContext]="{ $implicit: section }">
        </ng-template>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</form>
<aside>
  <mat-list>
    <ng-container *ngFor="let component of components">
      <mat-list-item></mat-list-item>
    </ng-container>
  </mat-list>
</aside>

<ng-template #carousel let-form>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
  </form>
</ng-template>