<tunnel-page>
  <h4 title>Uploaded Media</h4>
  <h1 subtitle>Images</h1>
  <p description class="mat-body-1">Upload your images in .jpeg or .png formats, they will be used for promotional purposes. When you upload an image, we will help you to match the size required.</p>
  <section tunnel-form>
    <!-- Banner -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>Banner Image</mat-card-title>
        <mat-card-subtitle>The banner image will be used at the top of the film page in the marketplace</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <movie-promotional-elements-images [form]="banner" type="banner" [ratio]="16/9" setWidth="500"></movie-promotional-elements-images>
      </mat-card-content>
    </mat-card>
    <!-- Poster -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>Movie poster image</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngFor="let control of poster.controls">
          <movie-promotional-elements-images [form]="control" type="poster" [ratio]="5/7" setWidth="500"></movie-promotional-elements-images>
        </ng-container>
      </mat-card-content>
    </mat-card>
    <!-- Still Photos -->
    <article *ngFor="let control of stillPhoto.controls; let i = index; let last = last">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Still photos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <movie-promotional-elements-images [form]="control" type="stillPhoto" [ratio]="7/5" setWidth="500"></movie-promotional-elements-images>
        </mat-card-content>
        <!-- Add / Delete -->
        <footer *ngIf="!last" fxLayout="column" fxLayoutAlign="center center">
          <button mat-mini-fab color="warn" (click)="stillPhoto.removeAt(i)" aria-label="Remove a director form">
            <mat-icon>delete</mat-icon>
          </button>
          <p>Delete Still</p>
        </footer>
        <footer *ngIf="last" fxLayout="column" fxLayoutAlign="center center">
          <button mat-mini-fab color="primary" (click)="stillPhoto.add()" aria-label="Remove a director form">
            <mat-icon>add</mat-icon>
          </button>
          <p>Add Still</p>
        </footer>
      </mat-card>
    </article>
  </section>
</tunnel-page>