<tunnel-page>
  <h4 title>Uploaded Media</h4>
  <h1 subtitle>Images</h1>
  <p description class="mat-body-1">Upload your images in .jpeg or .png formats, they will be used for promotional purposes. When you upload an image, we will help you to match the size required.</p>
  <section tunnel-form>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Banner Image</mat-card-title>
        <mat-card-subtitle>The banner image will be used at the top of the film page in the marketplace</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <movie-promotional-elements-images [form]="promotionalElements.get('promotionalElements')" type="banner"></movie-promotional-elements-images>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Movie poster image</mat-card-title>
      </mat-card-header>
      <!-- <mat-card-content>
        <drop-cropper 
        storagePath="poster" 
        [ratio]="3/7" 
        [formControl]="poster"
        [setWidth]="300"
        >
        <h3 type>Movie poster image*</h3>
        <p dimensions class="mat-body-2">Dimensions : 300 x 700 px</p>
      </drop-cropper>
      </mat-card-content> -->
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Still photos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- <movie-promotional-elements-images [form]="promotionalElements" type="banner"></movie-promotional-elements-images> -->
      </mat-card-content>
    </mat-card>
  </section>
</tunnel-page>