@import '~@angular/flex-layout/mq';

:host {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 24px;
}

h4 {
  text-transform: uppercase;
}

h2, h4, h6 {
  margin: 0;
}

p {
  margin-top: 8px;
  a {
    color: var(--primary);
  }
}

section {
  height: 100%;
  width: 100%;
  text-align: center;
  img {
    width: 100%;
    margin-top: 16px;
  }
}

.screen {
  width: 75%;
  padding-top: calc(56.25% * 0.75); /* 16:9 Aspect Ratio: 9 / 16 * 75% (screen size) */
  position: relative;
  background-size: cover;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    // Organization Logo
    img.organizationLogo {
      height: 80px;
      width: 80px;
      border-radius: 50%;
    }
    button, a {
      margin-top: 24px;
    }
  }
}

.meeting {
  width: 100%;
  .visio {
    height: 500px;
    border: solid 1px black;
  }
  .meeting-container {
    height: 100%;
  }
}

@include layout-bp(lt-md) {
  .screen {
    width: 100%;
    padding-top: calc(56.25% * 1); /* 16:9 Aspect Ratio: 9 / 16 * 100% (screen size) */
  }
}
