<h2>Title Information</h2>

<!-- Main card -->
<mat-card>
  <mat-card-header fxLayout="row" fxLayoutAlign="start center">
    <mat-card-title>Main Information</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <movie-summary-main [movie]="form" [link]="getPath('main')"></movie-summary-main>
    <movie-summary-country [movie]="form" [link]="getPath('main')"></movie-summary-country>
    <movie-summary-information [movie]="form" [link]="getPath('main')"></movie-summary-information>
    <movie-summary-sales-cast [movie]="form" [link]="getPath('main')"></movie-summary-sales-cast>
    <movie-summary-financiers-prizes [movie]="form" [link]="getPath('main')"></movie-summary-financiers-prizes>
  </mat-card-content>
</mat-card>

<!-- Story card -->
<mat-card>
  <mat-card-header fxLayout="row" fxLayoutAlign="start center">
    <mat-card-title>Storyline Elements</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <movie-summary-story [movie]="form" [link]="getPath('synopsis')"></movie-summary-story>
  </mat-card-content>
</mat-card>

<!-- Credit card -->
<mat-card>
  <mat-card-header fxLayout="row" fxLayoutAlign="start center">
    <mat-card-title>Credits</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <movie-summary-credit [movie]="form" [link]="getPath('credits')"></movie-summary-credit>
  </mat-card-content>
</mat-card>

<!-- Budget card -->
<mat-card>
  <mat-card-header fxLayout="row" fxLayoutAlign="start center">
    <mat-card-title>Budget, Quota & Critics</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <movie-summary-budget [movie]="form" [review]="form.review" [link]="getPath('budget')"></movie-summary-budget>
  </mat-card-content>
</mat-card>

<h2>Media</h2>

<!-- Technical Information card -->
<mat-card>
  <mat-card-header fxLayout="row" fxLayoutAlign="start center">
    <mat-card-title>Technical Information</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <movie-summary-technical-information [movie]="form" [link]="getPath('technical-info')"></movie-summary-technical-information>
  </mat-card-content>
</mat-card>

<!-- Images card -->
<mat-card>
  <mat-card-header fxLayout="row" fxLayoutAlign="start center">
    <mat-card-title>Promotional Images</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <movie-summary-image [form]="form" [link]="getPath('images')"></movie-summary-image>
  </mat-card-content>
</mat-card>

<!-- Files card -->
<mat-card>
  <mat-card-header fxLayout="row" fxLayoutAlign="start center">
    <mat-card-title>Files & Links</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <movie-summary-file [promotional]="form.promotional" [link]="getPath('files&links')"></movie-summary-file>
  </mat-card-content>
</mat-card>
