@import '@angular/flex-layout/mq';

section {
  margin: 0 0 56px ;
}

.mat-display-1 {
  color: white;
  margin-bottom: 20px;
}

.video-container {
  position: relative;
}

.cover {
  padding-top: 200px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url('/assets/images/video_cover.png');
  background-color: #000000;
  box-shadow: inset 0px 0px 1000px 200px rgba(0,0,0,0.5);
  background-size: cover;
}

.show {
  display: none;
}

@include layout-bp(xs) {
  .cover {
    padding-top: 0;
  }
}

@include layout-bp(sm) {
  .cover {
    padding-top: 100px;
  }
}
