<aside>
  <form [formGroup]="form">
    <mat-accordion>
      <!-- Dates -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Dates
          </mat-panel-title>
        </mat-expansion-panel-header>
        <span formGroupName="duration">
          <input matInput type="text" formControlName="from" placeholder="From" autocomplete="off">
          <input matInput type="text" formControlName="to" placeholder="To" autocomplete="off">
        </span>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <!-- Territories -->
        <mat-expansion-panel-header>
          <mat-panel-title>
            Territories
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let territory of selectedMovieTerritories; let i = index" selectable removable
            (removed)="removeTerritory(territory, i)">
            {{territory}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input placeholder="Territories available" #territoryInput [matAutocomplete]="auto"
            [matChipInputFor]="chipList" [formControl]="territoriesControl">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTerritory($event)">
          <mat-option *ngFor="let territory of territoriesFilter | async" [value]="territory">
            {{territory}}
          </mat-option>
        </mat-autocomplete>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Mandate Media</mat-panel-title>
        </mat-expansion-panel-header>
        <span>
          <mat-checkbox *ngFor="let media of movieMedias">{{media}}</mat-checkbox>
        </span>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</aside>

<section>

</section>