<tunnel-page>
  <h4 title>TITLE INFORMATION</h4>
  <h1 subtitle>Main Information</h1>
  <section tunnel-form>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Content Type</mat-card-title>
      </mat-card-header>
      <!-- Content type component -->
      <mat-card-content>
        <movie-content-type [form]="main"></movie-content-type>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Theatrical Release</mat-card-title>
      </mat-card-header>
      <!-- Theatrical release component -->
      <mat-card-content>
        <movie-theatrical-release [form]="salesInfo"></movie-theatrical-release>
      </mat-card-content>
    </mat-card>
  </section>
</tunnel-page>
