<tunnel-page>
  <h4 title>TITLE INFORMATION</h4>
  <h1 subtitle>Main Information</h1>
  <ng-container tunnel-form>
    <!-- Content type component -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>Content Type</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <movie-form-content-type [form]="main"></movie-form-content-type>
      </mat-card-content>
    </mat-card>

    <!-- Directors -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>Director(s)</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <movie-form-directors [form]="main.get('directors')"></movie-form-directors>
      </mat-card-content>
    </mat-card>

    <!-- Country of Origin -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>Country(ies) of Origin</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <movie-form-original-releases
          [releasesForm]="salesInfo.get('originalRelease')"
          [countriesForm]="main.get('originCountries')"></movie-form-original-releases>
        <mat-divider></mat-divider>
        <h6 class="mat-body-2">Domestic Distributors</h6>
        <movie-form-stakeholders [form]="main.get('stakeholders').get('distributor')"></movie-form-stakeholders>
        <mat-divider></mat-divider>
        <movie-form-languages [form]="main.get('originalLanguages')"></movie-form-languages>
      </mat-card-content>
    </mat-card>

    <!-- General Information -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>General Information</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <movie-form-genre [form]="main.genres" [customGenreForm]="main.customGenres"></movie-form-genre>
        <mat-divider></mat-divider>
        <movie-form-total-runtime [form]="main.get('totalRunTime')"></movie-form-total-runtime>
        <p class="mat-body-2">Principal Cast Members</p>
        <movie-form-sales-cast role="cast" [form]="salesCast.get('cast')"></movie-form-sales-cast>
      </mat-card-content>
    </mat-card>

    <!-- Festival -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>Festivals</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <movie-form-festival-prizes [form]="festivalPrizes"></movie-form-festival-prizes>
      </mat-card-content>
    </mat-card>


  </ng-container>
</tunnel-page>
