:host {
  display: block;
}

.detail {
  margin: 24px 0px;
}

.banner {
  background-image: url("/assets/images/banner_empty.png");
  background-size: cover;
  padding: 40px 0px;
  margin-bottom: 80px;
  text-align: center;
}

.movie-header-slider {
  margin-top: 16px;
}

/* We need some extra padding because of the intercom button. It covers the slide arrows */
section {
  padding-bottom: 100px;
}

bf-carousel {
  margin-bottom: 80px;
}
