<header fxFlex fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.xs="center center"
  class="dark-contrast-theme">

  <h4>Welcome to Media Financiers</h4>
  <h1 class="mat-display-2">The financing hub <br />for films and TV series</h1>
  <p>
    Media Financiers enables private investors to coproduce films and TV series selected by top film financing firms,
    benefiting from their expertise in dealmaking and content acquisition to access top projects at best conditions.
  </p>
  <div class="actions" fxLayout="row" fxLayoutGap="24px">
    <a mat-flat-button color="accent" test-id="library" routerLink="../title">What's on the platform today</a>
    <a mat-stroked-button test-id="sales agent" routerLink="../organization">Who's on the platform today</a>
  </div>
</header>

<section fxLayout="column" fxLayoutGap="48px">
  <ng-container *ngFor="let section of sections; let i = index">
    <ng-container *ngIf="section.movies | async as movies">
      <article fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="space-between start" flex>
          <h1>{{ section.title }}</h1>
          <a mat-button routerLink="../title" [queryParams]="section?.queryParams" color="primary">
            <span>See all</span>
            <mat-icon svgIcon="arrow_forward"></mat-icon>
          </a>
        </div>
        <bf-carousel flex [min]="4">
          <ng-container *ngFor="let movie of movies.hits">
            <movie-card [movie]="movie" [size]="section.size" [link]="['/c/o/marketplace/title', movie.objectID]"
              [col]="3" carouselItem>
              <ng-container *ngIf="movie.objectID | getCampaign | async as campaign">
                <span matTooltip="Minimum investment amount">
                  {{ campaign.minPledge | currency : campaign.currency : 'symbol' : '1.0-0' }}
                </span>
              </ng-container>
            </movie-card>
          </ng-container>
        </bf-carousel>
      </article>
    </ng-container>
  </ng-container>
  <!-- Banner -->
  <section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px" class="banner dark-contrast-theme">
    <h1>Do you want to learn more <br />about investing in the film industry ?</h1>
    <a mat-flat-button color="accent" href="assets/docs/film-industry.pdf" target="_blank">
      Download cinema investing guide
    </a>
  </section>
  <ng-template *ngIf="(orgs | async)?.hits as hits">
    <section *ngIf="hits.length">
      <div fxLayout="row" fxLayoutAlign="space-between start" flex>
        <h1>Our Partners</h1>
        <a mat-button routerLink="/c/o/marketplace/organization" color="primary">
          <span>See all</span>
          <mat-icon svgIcon="arrow_forward"></mat-icon>
        </a>
      </div>
      <bf-carousel flex [min]="4">
        <ng-container *ngFor="let org of hits">
          <org-card-minimal [org]="org" carouselItem [col]="3"></org-card-minimal>
        </ng-container>
      </bf-carousel>
    </section>
  </ng-template>
  <section>
    <div fxLayout="row" fxLayoutAlign="space-between start" flex>
      <h1>Our Benefits</h1>
    </div>
    <bf-carousel flex [min]="2">
      <mat-card *ngFor="let benefit of benefits" carouselItem [col]="6">
        <img [asset]="benefit.imgAsset" type="logo" alt="benefit feature image">
        <h3>{{ benefit.title }}</h3>
        <p class="mat-body-1" [innerHTML]="benefit.description"></p>
      </mat-card>
    </bf-carousel>
  </section>

</section>