@import "~@angular/flex-layout/mq";

:host {
  display: flex;
  flex-direction: column;
}

.banner {
  background-image: url("/assets/images/banner_empty.png");
  background-size: cover;
  padding: 40px 0px;
  margin-bottom: 80px;
  text-align: center;
}

.benefits {
  white-space: pre-wrap;
}

bf-carousel {
  margin-bottom: 80px;
}

header {
  padding: 38px 80px;
  margin-bottom: 80px;
  background-image: url("/assets/images/banner_landing.png"), url("/assets/images/banner_empty.png");
  background-size: cover;

  h4 {
    text-transform: uppercase;
    margin-bottom: 0;
  }
  h1 {
    margin-bottom: 32px;
  }
  p {
    width: 70%;
    text-align: justify;
  }

  .actions {
    margin-top: 24px;
  }
}

mat-card {
  height: 350px;
  display: flex;
  flex-direction: column;
  place-content: center start;
  align-items: center;
  padding: 24px 16px;
  width: 49%;
  margin-bottom: 24px;
  p {
    text-align: center;
  }
  img {
    width: 150px;
    margin-bottom: 40px;
  }
}

@include layout-bp(xs) {
  header {
    padding: 60px 0;
  }
}

@include layout-bp(sm) {
  header {
    padding: 20px;
  }
}

@include layout-bp(md) {
  header {
    padding: 40px;
  }
}
