<header fxFlex fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.xs="center center"
  class="dark-contrast-theme" fxFlex="100%">

  <h4>Welcome to Media Financiers</h4>
  <h1 class="mat-display-2">The professional financing hub <br />for films and TV series</h1>
  <p>
    Media Financiers enables private investors to co-produce exclusive films and TV series in the same conditions as top
    professional content financiers.
  </p>
  <div class="actions" fxLayout="row" fxLayoutGap="24px">
    <a mat-flat-button color="accent" routerLink="../title">Projects</a>
    <a mat-stroked-button routerLink="../organization">Financiers</a>
  </div>
</header>

<section fxLayout="column" fxLayoutGap="48px">
  <ng-container *ngFor="let section of sections; let i = index">
    <ng-container *ngIf="section.movies | async as movies">
      <article fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="space-between start" flex>
          <h1>{{ section.title }}</h1>
          <a mat-button routerLink="../title" [queryParams]="section?.queryParams" color="primary">
            <span>See all</span>
            <mat-icon svgIcon="arrow_forward"></mat-icon>
          </a>
        </div>
        <bf-carousel flex [min]="4">
          <ng-container *ngFor="let movie of movies.hits">
            <movie-card [movie]="movie" [size]="section.size" [link]="['/c/o/marketplace/title', movie.objectID]"
              [col]="3" carouselItem>
              <ng-container *ngIf="movie.objectID | getCampaign | async as campaign">
                <span matTooltip="Minimum investment amount">
                  {{ campaign.minPledge | currency : campaign.currency : 'symbol' : '1.0-0' }}
                </span>
              </ng-container>
            </movie-card>
          </ng-container>
        </bf-carousel>
      </article>
    </ng-container>
  </ng-container>
  <!-- Banner -->
  <section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px" class="banner dark-contrast-theme">
    <h1>Want to know more about investing <br /> in the content industry?</h1>
    <a mat-flat-button color="accent" href="assets/docs/film-industry.pdf" target="_blank">
      Download our investment guide
    </a>
  </section>
  <section>
    <div fxLayout="row" fxLayoutAlign="space-between start" flex>
      <h1>Professional Financiers</h1>
      <a mat-button routerLink="/c/o/marketplace/organization" color="primary">
        <span>See all</span>
        <mat-icon svgIcon="arrow_forward"></mat-icon>
      </a>
    </div>
    <bf-carousel flex [min]="4">
      <ng-container *ngFor="let org of (orgs | async)?.hits">
        <org-card-minimal [org]="org" carouselItem [col]="2"></org-card-minimal>
      </ng-container>
    </bf-carousel>
  </section>
  <section>
    <div fxLayout="row" fxLayoutAlign="space-between start" flex>
      <h1>What's in it for you?</h1>
    </div>
    <bf-carousel flex [min]="2">
      <mat-card *ngFor="let benefit of benefits" carouselItem [col]="6">
        <img [asset]="benefit.imgAsset" alt="benefit feature image" loading="eager">
        <h3>{{ benefit.title }}</h3>
        <p class="mat-body-1 benefits">{{ benefit.description }}</p>
        <a *ngIf="benefit?.link?.href" [href]="benefit.link.href" target="_blank">
          {{ benefit.link.text }}
        </a>
      </mat-card>
    </bf-carousel>
  </section>

</section>
