<ng-container *ngIf="shell.canBypassRules$ | async"> <!-- TODO #9689 remove all shell.canBypassRules$ | async & use shell.canBypassRules ? (on all components, also on .ts files when it make sense)-->
  <waterfall-organization-invite *ngIf="shell.waterfall$ | async as waterfall" [waterfall]="waterfall" [invitations]="invitations$ | async"></waterfall-organization-invite>
  <waterfall-pending-invitations [invitations]="pendingInvitations$ | async"></waterfall-pending-invitations>
</ng-container>

<section class="surface">
  <header>
    <h1>Involved Companies</h1>
    <a *ngIf="shell.canBypassRules$ | async" mat-button [routerLink]="['../right-holders-management']" >
      <mat-icon svgIcon="business"></mat-icon>
      <span>Manage Companies</span>
    </a>
  </header>
  <waterfall-rightholder-table *ngIf="shell.waterfall$ | async as waterfall" [waterfall]="waterfall"></waterfall-rightholder-table>
</section>

<section class="surface" *ngIf="shell.canBypassRules$ | async">
  <header>
    <h1>Accepted Right Holders</h1>
  </header>
  <waterfall-organization-table ></waterfall-organization-table>
</section>
