<ng-container *ngIf="shell.canBypassRules">
  <ng-container *ngIf="shell.waterfall$ | async as waterfall">
    <waterfall-organization-invite [waterfall]="waterfall" [invitations]="invitations$ | async"></waterfall-organization-invite>
    <waterfall-pending-invitations [invitations]="pendingInvitations$ | async" [waterfall]="waterfall"></waterfall-pending-invitations>
  </ng-container>
</ng-container>

<section class="surface">
  <header>
    <h1 i18n>Involved Companies</h1>
    <a *ngIf="shell.canBypassRules" mat-button [routerLink]="['../right-holders-management']" >
      <mat-icon svgIcon="business"></mat-icon>
      <span i18n>Manage Companies</span>
    </a>
  </header>
  <waterfall-rightholder-table *ngIf="shell.waterfall$ | async as waterfall" [waterfall]="waterfall"></waterfall-rightholder-table>
</section>

<section class="surface" *ngIf="shell.canBypassRules">
  <header>
    <h1 i18n>Right Holders using Blockframes</h1>
  </header>
  <waterfall-organization-table></waterfall-organization-table>
</section>
