<list-page [items]="movies$ | async" exportButton>

  <!-- App Bar Search -->
  <list-page-app-bar>
    <form class="app-bar" [formGroup]="searchForm">
      <input type="text" formControlName="query" [value]="searchForm.query.value"
        placeholder="Search for titles, directors, keywords, ...">
    </form>
  </list-page-app-bar>

  <list-page-title>
    <h1 class="mat-display-2 page-title">All Projects</h1>
  </list-page-title>

  <!-- SEARCH BAR -->

  <list-page-search>
    <form [formGroup]="searchForm">
      <mat-form-field appearance="outline">
        <mat-label>Search for titles, directors, keywords, ...</mat-label>
        <mat-icon matPrefix svgIcon="search"></mat-icon>
        <input matInput type="text" formControlName="query" [value]="searchForm.query.value">
      </mat-form-field>
    </form>
  </list-page-search>

  <!-- FILTERS (ng-content) -->
  <list-filter>

    <ng-template filter label="Partner" [form]="searchForm.sellers">
      <algolia-chips-autocomplete index="org" displayWithPath="name" [filters]="['appModule:dashboard']"
        [form]="searchForm.sellers" label="Search for a Partners" placeholder="Organization name">
      </algolia-chips-autocomplete>
    </ng-template>

    <ng-template filter label="Genre" [form]="searchForm.genres">
      <chips-autocomplete [form]="searchForm.genres" scope="genres"
        [withoutValues]="['wildlife','natureEnvironment','huntingFishing', 'archeologyHistory' ,'travelDiscovery', 'fashion' ]">
        <mat-label>Genres</mat-label>
      </chips-autocomplete>
    </ng-template>

    <ng-template filter label="Country of Origin" [form]="searchForm.originCountries">
      <chips-autocomplete [form]="searchForm.originCountries" placeholder="Country of Origin" scope="territories">
        <mat-label>Type and select Country</mat-label>
      </chips-autocomplete>
    </ng-template>

    <ng-template filter label="Language & Version" [form]="searchForm.languages">
      <title-language-filter [form]="searchForm.languages"></title-language-filter>
    </ng-template>

    <ng-template filter label="Production Status" [form]="searchForm.productionStatus">
      <static-check-boxes fxLayout="column" [form]="searchForm.productionStatus" scope="productionStatus">
      </static-check-boxes>
    </ng-template>

    <ng-template filter label="Social Goal" [form]="searchForm.socialGoals">
      <static-check-boxes fxLayout="column" [form]="searchForm.socialGoals" scope="socialGoals"></static-check-boxes>
    </ng-template>

    <ng-template filter label="Budget" [form]="searchForm.minBudget">
      <filter-budget fxLayout="column" [form]="searchForm.minBudget"></filter-budget>
    </ng-template>

    <button mat-icon-button (click)="clear()" matTooltip="Clear all filters">
      <mat-icon svgIcon="refresh_filters"></mat-icon>
    </button>

  </list-filter>

  <!-- TITLE COUNT (ng-content)-->
  <list-page-description *ngIf="nbHits">
    <span i18n class="mat-body-2">
      There {nbHits, plural, =1 {is} other {are}} {{ nbHits }} project{nbHits, plural, =1 {} other {s}}
      available.
    </span>
  </list-page-description>

  <!-- EXPORT (ng-content)-->
  <pdf-export *ngIf="movies$ | async as movies">
    <button [disabled]="exporting" mat-button (click)="export(movies)" matTooltip="Export to PDF">
      <mat-icon svgIcon="pdf"></mat-icon>
      <span>Export Titles</span>
    </button>
  </pdf-export>

  <!-- TITLE CARD -->
  <ng-template listPageCard let-title>
    <movie-card [movie]="title" [link]="['/c/o/marketplace/title',  title.objectID]" size="poster">
      <ng-container *ngIf="title.objectID | getCampaign | async as campaign">
        <span matTooltip="Minimum investment amount">
          {{ campaign.minPledge | currency : campaign.currency : 'symbol' : '1.0-0' }}
        </span>
      </ng-container>
    </movie-card>
  </ng-template>

  <list-page-progress *ngIf="nbHits" [value]="hitsViewed / nbHits * 100" (loadMore)="loadMore()">
    You've viewed {{ hitsViewed }} of {{ nbHits }} titles
  </list-page-progress>

</list-page>
