<title-list [titles]="movieSearchResults$ | async">

  <!-- App Bar Search -->
  <ng-template titleAppBarSearch>
    <form class="app-bar" [formGroup]="filterForm">
      <input type="text" formControlName="query" [value]="filterForm.query">
    </form>
  </ng-template>

  <!-- SORT -->
  <ng-template titleSort>

    <mat-form-field class="sort">
      <mat-label>Sort by</mat-label>
      <mat-select [formControl]="sortByControl">
        <mat-option *ngFor="let option of sortOptions" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </ng-template>


  <!-- SEARCH BAR -->
  <ng-template titleSearch>

    <form [formGroup]="filterForm">
      <mat-form-field appearance="outline">
        <mat-label>Search for titles, directors, keywords, ...</mat-label>
        <mat-icon matPrefix svgIcon="magnifying_glasses"></mat-icon>
        <input matInput type="text" formControlName="query" [value]="filterForm.query.valueChanges | async">
      </mat-form-field>
    </form>

  </ng-template>


  <!-- FILTERS (ng-content) -->
  <title-filter>

    <!-- TODO issue#2576 -->
    <ng-template filter label="Sales Agents" [form]="filterForm.sellers">
      <algolia-chips-autocomplete
        index="org"
        displayWithPath="name"
        [filters]="['appAccess:financiers', 'appModule:dashboard']"
        [form]="filterForm.sellers"
        label="Search for a Sales Agent"
        placeholder="Organization name"
      ></algolia-chips-autocomplete>
    </ng-template>

    <ng-template filter label="Genres" [form]="filterForm.genres">
      <chips-autocomplete [form]="filterForm.genres" model="GENRES"></chips-autocomplete>
    </ng-template>

    <ng-template filter label="Country of Origin" [form]="filterForm.originCountries" >
      <chips-autocomplete [form]="filterForm.originCountries" placeholder="Country of Origin" model="TERRITORIES"></chips-autocomplete>
    </ng-template>

    <ng-template filter label="Language & Version" [form]="filterForm.languages">
      <title-language-filter [languagesFilterForm]="filterForm.languages"></title-language-filter>
    </ng-template>

    <ng-template filter label="Production Status" [form]="filterForm.productionStatus">
      <static-check-boxes fxLayout="column" [form]="filterForm.productionStatus" model="productionStatus" type="constant"></static-check-boxes>
    </ng-template>

    <ng-template filter label="Budget" [form]="filterForm.minBudget">
      <filter-budget fxLayout="column" [form]="filterForm.minBudget"></filter-budget>
    </ng-template>

  </title-filter>

  <button mat-icon-button (click)="clear()" matTooltip="Clear all filters">
    <mat-icon svgIcon="refresh_filters"></mat-icon>
  </button>

  <!-- TITLE CARD -->
  <ng-template titleCard let-title>

    <movie-card [movie]="title" [link]="['/c/o/marketplace/title',  title.id]" size="poster">
    </movie-card>

  </ng-template>

</title-list>
