<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <a routerLink="/welcome" class="logo">
    <img asset="archipel-content.svg" type="logo" alt="Archipel Content Logo"/>
  </a>
  <button mat-icon-button (click)="sidenav.toggle()" aria-label="toggle button">
    <mat-icon svgIcon="chevron_left"></mat-icon>
  </button>
</mat-toolbar>
<mat-divider></mat-divider>
<mat-nav-list>
  <a mat-list-item routerLink="about">About Us</a>
  <a mat-list-item routerLink="faq">FAQ</a>
  <a mat-list-item routerLink="Welcome">Schedule a demo</a>
</mat-nav-list>
