article {
  width: 80%;
  margin: 75px 0;

  aside {
    width: 31%;

    a {
      margin-top: 20px;
    }
  }

  bf-slider {
    flex: 1;
    margin: 10px;
    color: white;

    h2 {
      margin: 0;
    }

    .overlay {
      height: 100%;
    }

    .informations-wrapper {
      height: 100%;

      .informations {
        width: 100%;
        padding: 10px 30px;
        h3,
        .mat-body-2,
        .mat-caption {
          color: white;
        }
      }
    }

    wishlist-button {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
}
