@import "@angular/flex-layout/mq";

:host {
  display: flex;
  flex-direction: column;
}

.banner {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .banner-details {
    h4 {
      margin-bottom: 0;
    }
    .links {
      margin-top: 24px;
    }
  }
}

.hero {
  padding: 40px;
  background-image: url("/assets/images/banner_empty.png");
  background-size: cover;
  min-height: 236px;

  h1 {
    margin-bottom: 0;
    text-align: center;
  }
  .links {
    margin-top: 24px;
  }
}

.cards {
  padding: 48px 0;
  header {
    margin: 8px 24px;
  }
}

// two consecutive list of cards (titles, orgs, org-titles) should not cumulate their paddings
.cards + .cards {
  padding-top: 0;
}

.org-titles {
  background-color: var(--background-card);
}

movie-slide {
  height: 700px;
}

@include layout-bp(gt-sm) {
  .banner, movie-slide {
    padding: 40px 80px;
  }
  .banner {
    flex-direction: row;
    .banner-details {
      width: 60%;
    }
    img {
      margin-left: 24px;
      width: 500px;
      max-width: 50%;
    }
  }
}
@include layout-bp(lt-md) {
  .banner, movie-slide {
    padding: 24px;
  }
  .banner {
    flex-direction: column;
    .banner-details {
      width: 100%;
    }
    img {
      margin-top: 24px;
      max-width: 80%;
    }
  }
}
