<!-- TODO(#838): Use HostBinding instead of root div -->
<div test-id="content">
  <header fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.xs="center center" fxLayoutGap="20px"
    class="dark-contrast-theme">
    <h2>Archipel Content</h2>
    <h1>The only marketplace offering package deals</h1>
    <p>for TV, VOD and ancillary rights</p>
    <a mat-flat-button color="accent" test-id="library" routerLink="/c/o/marketplace/title">View the Library</a>
  </header>

  <section fxLayout="column" fxLayoutAlign="start center">
    <ng-container *ngFor="let section of moviesBySections$ | async; let i = index">
      <!-- We want by every iteration of the keys array that the text switches side-->
      <article [fxLayout]="layout(i)" fxLayout.lt-md="column" fxLayoutAlign="center start">
        <aside fxLayout="column" [fxLayoutAlign]="alignment(i)" fxLayoutAlign.lt-md="center center" fxLayoutGap="20px">
          <h1>{{ section.title }}</h1>
          <p>{{ section.subline}} </p>
          <a mat-flat-button test-id="seeMore1" color="accent" routerLink="/c/o/marketplace/title">See more</a>
        </aside>
        <bf-slider test-id="mat-carousel1" hideArrows hideIndicators loop autoplay maxHeight="300px" maxWidth="750px">
          <bf-slide *ngFor="let movie of section.movies;" [image]="movie.banner.media"
            overlayColor="medium">
            <div fxLayout="column" fxLayoutAlign="end start" [routerLink]="['/c/o/marketplace/title', movie.id]"
              class=informations-wrapper>
              <wishlist-button [movieId]="movie.id" small></wishlist-button>
              <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="5px" class="informations">
                <h3 mat-button color="primary">{{ movie.title.international }}</h3>
                <div>
                  <span class="mat-body-2"
                    *ngFor="let director of movie.directors; let isLast=last; let i = index">
                    {{ movie.directors[i] | displayName }}{{isLast ? '' : ', '}}
                  </span>
                </div>
                <span class="mat-caption">{{ getMainInfo(movie) }}</span>
                <span class="mat-caption"
                  *ngFor="let salesAgent of movie.stakeholders.salesAgent; let isLast=last">
                  {{ salesAgent.displayName }}{{isLast ? '' : ', '}}
                </span>
              </div>
            </div>
          </bf-slide>
        </bf-slider>
      </article>
    </ng-container>
  </section>
</div>
