<a mat-icon-button routerLink="..">
  <mat-icon svgIcon="arrow_back"></mat-icon>
</a>
<ng-container *ngIf="contract$ | async as sale">
  <ng-container *ngIf="sale.negotiation?.status === 'pending' && sale.negotiation?.createdByOrg !== activeOrgId">
    <header fxLayout fxLayoutAlign="center center" fxLayoutGap="24px">
      <button mat-stroked-button color="primary" (click)="accept()" [disabled]="sale.income?.price">
        <mat-icon svgIcon="check"></mat-icon>
        <span>Accept</span>
      </button>
      <a mat-stroked-button color="primary" routerLink="negotiation">
        <mat-icon svgIcon="negotiate"></mat-icon>
        <span>Negotiate</span>
      </a>
    </header>
  </ng-container>
  <contract-item [contract]="sale">
    <p price *ngIf="sale.income as income">
      <ng-container *ngIf="income.price > 0; else askPrice">
        <span>{{ income.price | currency: sale.income.currency }}</span>
      </ng-container>
      <ng-template #askPrice>
        <span>Asking Price Requested</span>
      </ng-template>
    </p>

    <footer>
      <holdback-list [holdbacks]="sale.holdbacks"></holdback-list>
    </footer>
  </contract-item>
</ng-container>
