<a mat-button routerLink=".." test-id="back">
  <mat-icon svgIcon="arrow_back"></mat-icon>
  <span>Come back to Contract List</span>
</a>
<ng-container *ngIf="contract$ | async as sale">
  <ng-container *ngIf="sale.negotiation as negotiation">
    <ng-container *ngIf="negotiation | canNegotiate:activeOrgId ">
      <header fxLayout fxLayoutAlign="center center" fxLayoutGap="24px">
        <ng-container *ngIf="negotiation.price else noPrice">
          <button mat-stroked-button color="primary" (click)="accept()" test-id="accept">
            <mat-icon svgIcon="check"></mat-icon>
            <span>Accept</span>
          </button>
        </ng-container>
        <ng-template #noPrice>
          <button disabled mat-stroked-button>
            <mat-icon svgIcon="check"></mat-icon>
            <span matTooltip="You cannot accept a contract without a price">Accept</span>
          </button>
        </ng-template>
        <a mat-stroked-button color="primary" routerLink="negotiate" test-id="negotiate">
          <mat-icon svgIcon="negotiate"></mat-icon>
          <span>Negotiate</span>
        </a>
      </header>
    </ng-container>
    <contract-item [contract]="negotiation">
      <div class="price" price>
        <h2 *ngIf="negotiation.price else askPrice">
          {{ negotiation.price | currency: negotiation.currency }}
        </h2>
        <ng-template #askPrice>
          <h3>Asking Price requested</h3>
          <ng-container *ngIf="negotiation | canNegotiate:activeOrgId ">
            <p class="mat-caption">To set a price click on <a routerLink="negotiate">negotiate</a></p>
          </ng-container>
        </ng-template>
      </div>

      <footer>
        <holdback-list [holdbacks]="sale.holdbacks"></holdback-list>
      </footer>
    </contract-item>

  </ng-container>
</ng-container>
