@import '~@angular/flex-layout/mq';

form.app-bar {
  width: 100%;
  input {
    background-color: transparent;
    font-size: 2rem;
  }
}

mat-form-field {
  width: 100%;
}

title-filter {
  static-check-boxes, filter-budget {
    padding: 0 16px;
  }
}

button {
  margin-bottom: 24px;
}

mat-icon[matPrefix] {
  margin-right: 12px;
}

.progress {
  margin-bottom: 16px;
}

.paginator {
  background: inherit;
}
