@import "@angular/flex-layout/mq";

mat-form-field {
  width: 100%;
}

list-filter {
  padding-bottom: 24px;
  static-check-boxes,
  filter-budget {
    padding: 0 16px;
  }
}

mat-form-field {
  width: 100%;
}

.page-title {
  text-align: center;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
}

list-page-progress {
  margin-top: 72px;
  margin-bottom: 16px;
}

list-page-description, pdf-export button {
  margin: 24px;
}

.refresh {
  flex-shrink: 0;
}

@include layout-bp(gt-xs) {
  list-page-search form {
    display: flex;
    gap: 8px;
  }
}