<list-page [items]="movies">

  <!-- App Bar Search -->
  <list-page-app-bar>
    <form class="app-bar" [formGroup]="searchForm">
      <input type="text" formControlName="query" [value]="searchForm.query.value"
        placeholder="Search for titles, directors, keywords...">
    </form>
  </list-page-app-bar>

  <list-page-title>
    <h1 class="mat-display-2 page-title">On the market today</h1>
  </list-page-title>

  <!-- SEARCH BAR -->

  <list-page-search>
    <form [formGroup]="searchForm">
      <mat-form-field appearance="outline">
        <mat-label>Search for titles, directors, keywords...</mat-label>
        <mat-icon matPrefix svgIcon="search"></mat-icon>
        <input matInput type="text" formControlName="query" [value]="searchForm.get('query').value" />
      </mat-form-field>
    </form>
  </list-page-search>

  <!-- FILTERS (ng-content) -->
  <list-filter>
    <movie-festival-title-search (newTest)="test($event)"></movie-festival-title-search>
  </list-filter>

  <!-- TITLE COUNT (ng-content)-->
  <list-page-description *ngIf="nbHits">
    <span i18n class="mat-body-2">
      There {nbHits, plural, =1 {is} other {are}} {{ nbHits }} title{nbHits, plural, =1 {} other {s}}
      available.
    </span>
  </list-page-description>

  <!-- EXPORT (ng-content)-->
  <pdf-export *ngIf="movies">
    <button [disabled]="exporting" mat-button (click)="export(movies)" matTooltip="Export to PDF">
      <mat-icon svgIcon="pdf"></mat-icon>
      <span>Export {nbHits, plural, =1 {title} other {titles}}</span>
    </button>
  </pdf-export>

  <!-- TITLE CARD -->
  <ng-template listPageCard let-title>
    <movie-card [movie]="title" [link]="['/c/o/marketplace/title',  title.objectID]" size="poster">
      <event-request-screening [movieId]="title.objectID" iconOnly></event-request-screening>
    </movie-card>
  </ng-template>

  <list-page-progress [value]="hitsViewed / nbHits * 100" (loadMore)="loadMore()">
    You've viewed {{ hitsViewed }} of {{ nbHits }} titles
  </list-page-progress>

</list-page>
