@import '~@angular/flex-layout/mq';
form.app-bar {
  width: 25em;
  
  ::ng-deep .mat-form-field .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  ::ng-deep .mat-form-field-subscript-wrapper {
    margin-top: -5px;
  }
}

mat-form-field {
  width: 100%;
}

title-filter {
  static-check-boxes, filter-budget {
    padding: 0 16px;
  }
}

button {
  margin-bottom: 24px;
}

mat-icon[matPrefix] {
  margin-right: 12px;
}

.progress {
  margin-bottom: 16px;
}
