<main fxLayout="column">
  <crm-bread-crumb></crm-bread-crumb>
  <article fxLayout="column" fxLayoutAlign="center center">
    <button [disabled]="!eventListLoaded" mat-flat-button color="primary" (click)="exportTable()">
      <span>Export to CSV</span>
      <mat-icon svgIcon="arrow_upward"></mat-icon>
    </button>
  </article>

  <bf-table [source]="rows" pagination="50" showFilter showLoader showPaginator clickable (rowClick)="goToEdit($event)">
    <ng-template colRef="id" label="Id" let-id>
      {{id}}
    </ng-template>
    <ng-template colRef="title" label="Title" let-title>
      {{title}}
    </ng-template>
    <ng-template colRef="type" label="Type" let-type>
      {{type}}
    </ng-template>
    <ng-template colRef="start" label="Start" let-start>
      {{ start | date: 'medium'}}
    </ng-template>
    <ng-template colRef="hostedBy" label="Hosted by" let-hostedBy>
      {{hostedBy}}
    </ng-template>
    <ng-template colRef="invited" label="Number of invitations" let-invited>
      {{invited}}
    </ng-template>
    <ng-template colRef="confirmed" label="Confirmed" let-confirmed>
      {{confirmed}}
    </ng-template>
    <ng-template colRef="pending" label="Pending" let-pending>
      {{pending}}
    </ng-template>
    <ng-template colRef="accessibility" label="Accessibility" let-accessibility>
      {{accessibility}}
    </ng-template>
    <ng-template colRef="isSecret" label="Hidden on Marketplace" let-isSecret>
      {{isSecret}}
    </ng-template>
  </bf-table>

  <crm-dashboard dashboard="events"></crm-dashboard>
</main>
