<main fxLayout="column">
  <crm-bread-crumb></crm-bread-crumb>
  <article fxLayout="column" fxLayoutAlign="center center">
    <button [disabled]="!eventListLoaded" mat-flat-button color="primary" (click)="exportTable()">
      <span>Export to CSV</span>
      <mat-icon svgIcon="arrow_upward"></mat-icon>
    </button>
  </article>

  <bf-table [source]="rows" pagination="50" useFilter>
    <ng-template colRef="id" label="Id" let-id sort>
      {{id}}
    </ng-template>
    <ng-template colRef="title" label="Title" let-title sort>
      {{title}}
    </ng-template>
    <ng-template colRef="type" label="Type" let-type sort>
      {{type}}
    </ng-template>
    <ng-template colRef="start" label="Start" let-start sort>
      {{ start | date: 'medium'}}
    </ng-template>
    <ng-template colRef="end" label="End" let-end sort>
      {{ end | date: 'medium'}}
    </ng-template>
    <ng-template colRef="hostedBy" label="Hosted by" let-hostedBy sort>
      {{hostedBy}}
    </ng-template>
    <ng-template colRef="invited" label="Number of invitations" let-invited sort>
      {{invited}}
    </ng-template>
    <ng-template colRef="confirmed" label="Confirmed" let-confirmed sort>
      {{confirmed}}
    </ng-template>
    <ng-template colRef="pending" label="Pending" let-pending sort>
      {{pending}}
    </ng-template>
    <ng-template colRef="accessibility" label="Accessibility" let-accessibility sort>
      {{accessibility}}
    </ng-template>
    <ng-template colRef="isSecret" label="Hidden on Marketplace" let-isSecret sort>
      {{isSecret}}
    </ng-template>
    <ng-template colRef label="Action" let-event sticky>
      <a mat-icon-button [routerLink]="['/c/o/dashboard/crm/event', event.id]">
        <mat-icon svgIcon="visibility"></mat-icon>
      </a>
      <button mat-icon-button [cdkCopyToClipboard]="event.id" (click)="$event.stopPropagation()">
        <mat-icon svgIcon="file_copy"></mat-icon>
      </button>
    </ng-template>
  </bf-table>

  <crm-dashboard dashboard="events"></crm-dashboard>
</main>
