<mat-toolbar [ngClass]="toolbarColor$ | async" (scroll)="scrollHandler()" fxLayout="row" fxLayoutAlign="space-between center">
  <!-- Burger menu -->
  <button fxHide.gt-sm mat-icon-button (click)="sidenav.toggle();">
    <mat-icon>menu</mat-icon>
  </button>
  <nav fxHide.lt-md fxLayout="row" fxLayoutAlign="space-between center">
    <a routerLink="/" class="logo">
      <img asset="archipel-content.svg" type="logo" alt="Archipel Content Logo"/>
    </a>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
      <a mat-button routerLink="about">About us</a>
      <a mat-button routerLink="faq">FAQ</a>
      <a mat-button routerLink="welcome" fragment="demo">Schedule a demo</a>
    </div>
  </nav>
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="16px">
    <a mat-button (click)="isSignin(false)" routerLink="/auth/connexion" fragment="signin">Login</a>
    <a mat-stroked-button (click)="isSignin(true)" routerLink="/auth/connexion" fragment="signup"><b>Sign up</b></a>
  </div>
</mat-toolbar>
