<mat-toolbar [ngClass]="toolbarColor$ | async" (scroll)="scrollHandler()" fxLayout="row" fxLayoutAlign="space-between center">
  <nav fxLayout="row" fxLayoutAlign="space-between center">
    <a routerLink="/" class="logo">
      <img asset="archipel-content.svg" type="logo" alt="Archipel Content Logo"/>
    </a>
    <a fxHide.lt-md mat-stroked-button href="#demo">Schedule a demo</a>
  </nav>
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="16px">
    <a mat-button routerLink="/auth/connexion" fragment="signin">Login</a>
    <a mat-button routerLink="/auth/connexion" fragment="signup"><b>Sign up</b></a>
  </div>
</mat-toolbar>
