@import "~@angular/flex-layout/mq";

:host {
  display: block;
}

header {
  padding: 100px 96px;
  margin-bottom: 80px;
  background-image: url("/assets/images/ACMbannerlanding.webp");
  background-size: cover;
  text-align: center;
  border: none;
  
  h1.mat-display-2 {
    margin-bottom: 80px;
  }
  h4 {
    text-transform: uppercase;
    margin-bottom: 0;
  }
}

.detail {
  margin: 24px 0px;
}

.movie-header-slider {
  margin-top: 16px;
}

bf-slider {
  margin-bottom: 80px;
}

/* We need some extra padding because of the intercom button. It covers the slide arrows */
section {
  padding-bottom: 100px;
}

bf-carousel {
  margin-bottom: 80px;
}

@include layout-bp(xs) {
  header {
    padding: 50px 0;
  }
}

@include layout-bp(sm) {
  header {
    padding: 20px;
  }
}

@include layout-bp(md) {
  header {
    padding: 20px;
  }
}
