<div test-id="content">
  <header fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.xs="center center" class="dark-contrast-theme">
    <h4>Welcome to Archipel Market</h4>
    <h1 class="mat-display-2">The ongoing<br/> film market</h1>
    <div fxLayout="row" fxLayoutGap="24px">
      <a mat-flat-button color="accent" test-id="library" routerLink="../title">What's on the market today</a>
      <a mat-stroked-button test-id="sales agent" routerLink="../organization">Who's on the market today</a>
    </div>
  </header>

  <section fxLayout="column" fxLayoutGap="48px">
    <ng-container *ngFor="let section of sections; let i = index">
      <article fxLayout="column" *ngIf="(section.movieCount$ | async) >= 4">
        <div fxLayout="row" fxLayoutAlign="space-between start" flex>
          <h1>{{ section.title }}</h1>
          <a mat-button routerLink="../title" color="primary">
            <span>See all</span>
            <mat-icon svgIcon="arrow_forward"></mat-icon>
          </a>
        </div>
        <bf-carousel flex>
          <ng-container *ngFor="let movie of section.movies$ | async">
            <movie-card [movie]="movie" size="banner" [link]="'/c/o/marketplace/title/' + movie.id" [col]="3"
              carouselItem>
            </movie-card>
          </ng-container>
        </bf-carousel>
        <ng-container *ngIf="i === 0">
          <div fxLayout="row" fxLayoutAlign="space-between start" flex class="movie-header-slider">
            <h1>Featured films</h1>
            <a mat-button routerLink="../title" class="active" color="primary">
              <span>See all</span>
              <mat-icon svgIcon="arrow_forward"></mat-icon>
            </a>
          </div>
          <bf-slider hideIndicators loop class="dark-contrast-theme">
            <bf-slide *ngFor="let movie of section.movies$ | async" overlayColor="gradient"
              [image]="movie.promotionalElements.banner.media">
              <movie-slide [movie]="movie">
                <movie-slide-cta>
                  <ng-container *ngIf="movie.promotionalElements.trailer">
                    <a mat-flat-button color="primary" [routerLink]="['/c/o/marketplace/title/', movie.id]"
                      class="detail">
                      More Details</a>
                  </ng-container>
                </movie-slide-cta>
                <movie-slide-actions>
                  <wishlist-button [movieId]="movie.id"></wishlist-button>
                </movie-slide-actions>
              </movie-slide>
            </bf-slide>
          </bf-slider>
        </ng-container>
      </article>
    </ng-container>
  </section>
</div>
