<button class="go-back" mat-icon-button (click)="goBack()">
  <mat-icon svgIcon="arrow_back"></mat-icon>
  <span>BACK TO CONTRACTS</span>
</button>
<ng-container *ngIf="contract$ | async as contract">
  <section class="surface" fxLayout="column" fxLayoutGap="16px">
    <ng-container *ngIf="contract.licensor as seller">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <org-chip [org]="seller" baseUrl="/c/o/dashboard/crm/organization/"></org-chip>
        <p>{{ seller.email }}</p>
      </div>
    </ng-container>
    <static-select fxLayout="row" fxLayoutGap="16px" [control]="statusForm" [withoutValues]="['negotiating']" required scope="contractStatus">
      <mat-label>Seller's approval for a title.</mat-label>
    </static-select>
    <button mat-flat-button color="primary" (click)="update(contract.id)" class="center-button">Update</button>
  </section>

  <section class="surface" *ngIf="contract?.status === 'declined'">
    <h3>Why it has been declined</h3>
    <p>{{contract.declineReason ?? "Seller hasn't given any reason."}}</p>
  </section>
  <contract-item [contract]="contract">
    <p price *ngIf="contract.totalIncome as totalIncome">
      <ng-container *ngIf="totalIncome.EUR > 0 || totalIncome.USD > 0; else askPrice">
        <span *ngIf="totalIncome.USD"> {{ totalIncome.USD | currency:'USD' }} </span>
        <span *ngIf="totalIncome.USD && totalIncome.EUR"> and</span>
        <span *ngIf="totalIncome.EUR"> {{ totalIncome.EUR | currency:'EUR' }} </span>
        <span *ngIf="!totalIncome.USD && !totalIncome.EUR"> - </span>
      </ng-container>
      <ng-template #askPrice>
        <span>Buyer requested Asking Price</span>
      </ng-template>
    </p>
    <ng-template #termAction let-term let-index="index">
      <a mat-icon-button matTooltip="View" [routerLink]="['/c/o/dashboard/crm/contracts', contract.id, 'form']"
        [queryParams]="{termIndex:index}">
        <mat-icon svgIcon="visibility"></mat-icon>
      </a>
      <button mat-icon-button matTooltip="Delete" (click)="confirm(term)">
        <mat-icon svgIcon="delete"></mat-icon>
      </button>
    </ng-template>
  </contract-item>
</ng-container>
