:host {
  display: block;
  padding: 32px;
}

section {
  margin-bottom: 32px;

  static-select {
    width: 100%;
  }
}

contract-item {
  p {
    font-weight: bold;
  }
  footer holdbacks-form {
    margin-top: 16px;
  }
}

.go-back {
  margin-bottom: 24px;
}

.center-button {
  align-self: center;
}
