<h2>Contact</h2>

<section *ngIf="org$ | async as org">
  <h3>Company Information</h3>
  <article>
    <h5>Address</h5>
    <p>{{ org | orgAddress | titlecase }}</p>
  </article>
  <article *ngIf="org.addresses.main.phoneNumber">
    <h5>Phone Number</h5>
    <p>{{ org.addresses.main.phoneNumber }}</p>
  </article>
  <article *ngIf="org.email">
    <h5>Email Address</h5>
    <a [href]="'mailto:' + org.email">{{ org.email }}</a>
  </article>
</section>

<section>
  <h3>Team</h3>
  <article class="user-list">
    <ng-container *ngFor="let user of members$ | async">
      <a [routerLink]="['../../home/buyer/', user.uid]">
        <user-card [user]="user" ></user-card>
      </a>
    </ng-container>
  </article>
</section>
