<ng-container *ngIf="waterfall$ | async as waterfall">
  <ng-container *ngIf="waterfall.versions.length; else noWaterfall">
    <ng-container *ngIf="state$ | async else loading">
      <waterfall-version-selector></waterfall-version-selector>
      <header>
        <waterfall-dashboard-card
          *ngIf="incomes$ | async as income"
          mode="primary"
          title="Total Gross Receipts"
          i18n-title
          [price]="income"
          i18n-matTooltip
          matTooltip="The overall income a movie earns from all sources.">
        </waterfall-dashboard-card>
      
        <waterfall-dashboard-card 
          *ngIf="turnover$ | async as turnover"
          title="My Total Cash Flow"
          i18n-title
          [price]="turnover"
          i18n-matTooltip
          matTooltip="Refers to the sum of all incoming and outgoing money, reflecting your overall financial movement.">
        </waterfall-dashboard-card>
      
        <waterfall-dashboard-card 
          *ngIf="revenue$ | async as revenue"
          title="My Total Revenue"
          i18n-title
          [price]="revenue"
          i18n-matTooltip
          matTooltip="The overall income earned from all sources.">
        </waterfall-dashboard-card>
      </header>
      
      <section>
        <article class="surface">
          <h3 i18n>Right Holders Revenue Split</h3>
          <mat-divider></mat-divider>
          <ng-container *ngIf="rightholdersRevenueChart$ | async as chartOptions">
            <apx-chart *ngIf="chartOptions.series.length; else empty"
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [labels]="chartOptions.labels"
              [responsive]="chartOptions.responsive"
              [tooltip]="chartOptions.tooltip"
            ></apx-chart>
            <ng-template #empty>
              <div class="empty-chart">
                <img asset="empty_state_analytics_pie_chart.svg" alt="Empty Pie chart">
                <p i18n>There are no statistics available here yet.</p>
              </div>
            </ng-template>
          </ng-container>
        </article>
        <article class="surface">
          <h3 i18n>Quick Access</h3>
          <mat-divider></mat-divider>
          <div>
            <a [routerLink]="['..', 'waterfall']" class="surface">
              <img asset="waterfall_icon.svg" alt="Manage Waterfall image">
              <button mat-button color="primary" class="main-dashboard-cta" i18n>Manage Waterfall</button>
            </a>
            <a [routerLink]="['..', 'statements']" class="surface">
              <img asset="statements_icon.svg" alt="Check Statements image">
              <button mat-button color="primary" class="main-dashboard-cta" i18n>Check Statements</button>
            </a>
            <a [routerLink]="['..', 'statements']" class="surface">
              <img asset="certify_documents_icon.svg" alt="Certify Documents image">
              <button mat-button color="primary" class="main-dashboard-cta" i18n>Certify Documents</button>
            </a>
            <a [routerLink]="['..', 'sales']" class="surface">
              <img asset="world_sales_icon.svg" alt="See World Sales image">
              <button mat-button color="primary" class="main-dashboard-cta" i18n>See World Sales</button>
            </a>
          </div>
        </article>
      </section>
      
      <section>
        <article class="surface">
          <h3 i18n>Right Holders ROI</h3>
          <mat-divider></mat-divider>
          <ng-container *ngIf="rightholdersROIChart$ | async as chartOptions">
            <apx-chart *ngIf="chartOptions.series.length; else empty"
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [dataLabels]="chartOptions.dataLabels"
              [plotOptions]="chartOptions.plotOptions"
              [xaxis]="chartOptions.xaxis"
              [stroke]="chartOptions.stroke"
              [tooltip]="chartOptions.tooltip"
            ></apx-chart>
            <ng-template #empty>
              <div class="empty-chart">
                <img asset="empty_horizontal_bar_chart.svg" alt="Empty Bar chart">
                <p i18n>There are no statistics available here yet.</p>
              </div>
            </ng-template>
          </ng-container>
        </article>
        <article class="surface">
          <h3 i18n>Net Revenue Over Time</h3>
          <mat-divider></mat-divider>
          <waterfall-rightholder-select
            *ngIf="rightholdersState$ | async"
            [rightholders]="rightholdersState$ | async"
            [control]="rightholderControl">
            <mat-label i18n>Highlight Right Holder</mat-label>
          </waterfall-rightholder-select>
          <ng-container *ngIf="netRevenueChart$ | async as chartOptions">
            <apx-chart *ngIf="chartOptions.series.length; else empty"
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [xaxis]="chartOptions.xaxis"
              [markers]="chartOptions.markers"
              [stroke]="chartOptions.stroke"
              [yaxis]="chartOptions.yaxis"
              [dataLabels]="chartOptions.dataLabels"
              [title]="chartOptions.title"
              [fill]="chartOptions.fill"
              [tooltip]="chartOptions.tooltip"
              [legend]="chartOptions.legend"
            ></apx-chart>
            <ng-template #empty>
              <div class="empty-chart">
                <img asset="empty_line_chart.svg" alt="Empty Line chart">
                <p i18n>There are no statistics available here yet.</p>
              </div>
            </ng-template>
          </ng-container>

        </article>
      </section>
      
      <section>
        <article class="surface">
          <h3 i18n>Revenue Summary</h3>
          <mat-divider></mat-divider>
          <aside>
            <button *ngIf="rightholdersRevenueSummary$ | async as summary" [disabled]="!summary.length" mat-button color="primary" (click)="downloadCsv(summary)">
              <span i18n>Export in .CSV</span>
            </button>
          </aside>
          <bf-table [source]="rightholdersRevenueSummary$ | async" useFilter  pagination="50">
            <ng-template colRef="name" i18n-label label="Right Holder Name" let-name sort>
              {{ name }}
            </ng-template>
            <ng-template colRef="investment" i18n-label label="Investment" let-investment [sort]="sorts.byPriceCurrency">
              <price-per-currency [price]="investment" default="€ 0" i18n-default></price-per-currency>
            </ng-template>
            <ng-template colRef="expense" i18n-label label="Expenses" let-expense sort [sort]="sorts.byPriceCurrency">
              <price-per-currency [price]="expense" default="€ 0" i18n-default></price-per-currency>
            </ng-template>
            <ng-template colRef="turnover" i18n-label label="Cash Flow" let-turnover sort [sort]="sorts.byPriceCurrency">
              <price-per-currency [price]="turnover" default="€ 0" i18n-default></price-per-currency>
            </ng-template>
            <ng-template colRef="revenue" i18n-label label="Net Revenue" let-revenue sort [sort]="sorts.byPriceCurrency">
              <price-per-currency [price]="revenue" default="€ 0" i18n-default></price-per-currency>
            </ng-template>
            <ng-template colRef="gross" i18n-label label="% Gross" let-gross sort>
              {{ gross }} %
            </ng-template>
            <!-- TODO #9657 desactived for now as none (for producer) or many contract can match a single rightholder-->
            <!-- <ng-template colRef="value" label="Action" let-rightholder sticky>
              <a mat-icon-button [routerLink]="[]" matTooltip="See contract">
                <mat-icon svgIcon="file"></mat-icon>
              </a>
            </ng-template> -->
          </bf-table>
        </article>
      </section>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #noWaterfall>
  <waterfall-empty></waterfall-empty>
</ng-template>

<ng-template #loading>
  <article class="spinner">
    <logo-spinner></logo-spinner>
  </article>
</ng-template>