<ng-container *ngIf="versionView$ | async as version">
  <header fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="24px">
    <div class="logo-container">
      <app-logo></app-logo>
    </div>
    <div fxFlex fxLayout="column">
      <span class="payment">{{ version.status | uppercase }}</span>
      <h1>Achipel Content - {{ version.titleIds.length }} titles</h1>
    </div>
    <div fxLayout="column" fxLayoutAlign="start end" *ngIf="version.price as price">
      <span class="mat-caption"> {{ version.date | date }} </span>
      <h2>{{ price.amount | currency: price.currency }}</h2>
    </div>
  </header>
</ng-container>
<router-outlet></router-outlet>