<ng-container *ngIf="movie">
  <button class="go-back" mat-icon-button routerLink="../..">
    <mat-icon svgIcon="arrow_back"></mat-icon>
    <span>BACK TO WATERFALL</span>
  </button>
  <article>
    <movie-header [movie]="movie" [showBackArrow]="false"></movie-header>
  </article>
  <h3>{{ statement.type | toLabel: 'statementType' }} Statement - {{ statement.id }}</h3>

  <section>
    <mat-form-field appearance="fill">
      <mat-label>Waternall Version</mat-label>
      <mat-select (selectionChange)="switchToVersion($event.value)" [(value)]="state.version.id">
        <mat-option *ngFor="let versions of waterfall.versions" [value]="versions.id">
          {{ versions.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </section>

  <section>
    <ul>
      <li><strong>Rightholder :</strong> {{ getRightholderName(statement.rightholderId) }}</li>
      <li><strong>From :</strong> {{ statement.duration.from | date: 'MM/dd/yyyy' }}</li>
      <li><strong>To :</strong> {{ statement.duration.to | date: 'MM/dd/yyyy' }}</li>
      <li><strong>Contract :</strong> {{ getContractId() }}</li>
      <li><strong>Status: </strong> {{ statement.status | toLabel: 'statementStatus' }}</li>
      <li><strong>Turnover :</strong> <price-per-currency [price]="getRightholderActual('turnover')"></price-per-currency></li>
      <li><strong>Revenue :</strong> <price-per-currency [price]="getRightholderActual('revenu')"></price-per-currency></li>
    </ul>
    <apx-chart *ngIf="options.series.length"
      [chart]="{ type: 'bar' }" 
      [series]="options.series"
      [xaxis]="options.xAxis"
      [dataLabels]="formatter.percent"
      [tooltip]="{ y: formatter.percent }">
    </apx-chart>
  </section>

  <h3>Incomes</h3>
  <bf-table [source]="incomes" clickable useFilter pagination="50">
    <ng-template colRef="id" label="Id" let-id sort>
      {{ id }}
    </ng-template>
    <ng-template colRef="" label="Source" let-item sort>
      {{ getAssociatedSource(item) }}
    </ng-template>
    <ng-template colRef="" label="Price" let-item sort>
      <ng-container *ngIf="toPricePerCurrency(item) as amount">
        <price-per-currency [price]="amount"></price-per-currency>
      </ng-container>
    </ng-template>
  </bf-table>

  <ng-container *ngIf="isDistributorStatement() && expenses.length">
    <h3>Expenses</h3>
    <bf-table [source]="expenses" clickable useFilter pagination="50">
      <ng-template colRef="id" label="Id" let-id sort>
        {{ id }}
      </ng-template>
      <ng-template colRef="category" label="Category" let-category sort>
        {{ category }}
      </ng-template>
      <ng-template colRef="type" label="Type" let-type sort>
        {{ type }}
      </ng-template>
      <ng-template colRef="" label="Price" let-item sort>
        <ng-container *ngIf="toPricePerCurrency(item) as amount">
          <price-per-currency [price]="amount"></price-per-currency>
        </ng-container>
      </ng-template>
    </bf-table>
  </ng-container>

  <h3>Rights</h3>
  <bf-table [source]="rights | filterRights: statement" clickable useFilter pagination="50" (rowClick)="showRightDetails($event)">
    <ng-template colRef="id" label="Id" let-id sort>
      {{ id }}
      <button mat-icon-button [cdkCopyToClipboard]="id" (click)="$event.stopPropagation()">
        <mat-icon svgIcon="file_copy"></mat-icon>
      </button>
    </ng-template>
    <ng-template colRef="name" label="Name" let-name sort>
      {{ name }}
    </ng-template>
    <ng-template colRef="type" label="Type" let-type sort>
      {{ type | toLabel: 'rightTypes' }}
    </ng-template>
    <ng-template colRef="percent" label="%" let-percent>
      {{ percent ? percent  : '--' }}
    </ng-template>
    <ng-template colRef="id" label="Source(s)" let-id>
      {{ getAssociatedSources(id) | maxLength:50 }}
    </ng-template>
    <ng-template colRef="id" label="Declared" let-id>
      <strong>
        <price-per-currency [price]="getRightPayment(id)"></price-per-currency>
      </strong>
    </ng-template>
    <ng-template colRef="id" label="Calculated" let-id>
      <price-per-currency [price]="getCalculatedAmount(id)"></price-per-currency>
    </ng-template>
    <ng-template colRef="id" label="Cumulated" let-id>
      <price-per-currency [price]="getCumulatedAmount(id)"></price-per-currency>
    </ng-template>
    <ng-template colRef="id" label="Overall Cumulated" let-id>
      <price-per-currency [price]="getCumulatedAmount(id, true)"></price-per-currency>
    </ng-template>
  </bf-table>

  <article *ngIf="rightDetails.length" class="right-details">
    <h3>Details</h3>
    <ng-container *ngFor="let details of rightDetails">
      <bf-table [source]="details" pagination="50">
        <ng-template colRef="" label="#" let-index="index">
          {{ index + 1 }}
        </ng-template>
        <ng-template colRef="from" label="From" let-from>
          {{ from }}
        </ng-template>
        <ng-template colRef="to" label="To" let-to>
          {{ to }}
        </ng-template>
        <ng-template colRef="amount" label="Amount" let-amount>
          {{ amount | currency:currency }}
        </ng-template>
        <ng-template colRef="percent" label="%" let-percent>
          {{ percent }}
        </ng-template>
        <ng-template colRef="taken" label="Taken" let-taken>
          <strong>{{ taken | currency:currency }}</strong>
        </ng-template>
      </bf-table>
    </ng-container>
  </article>

  <ng-container *ngIf="getRightholderPayment() as rightholderPayment">
    <h3>Payment</h3>
    <ul>
      <li><strong>Date :</strong> {{ rightholderPayment.date | date: 'MM/dd/yyyy' }}</li>
      <li><strong>To :</strong> {{ getRightholderName(rightholderPayment.to) }}</li>
      <li><strong>Amount :</strong> <price-per-currency [price]="toPricePerCurrency(rightholderPayment)"></price-per-currency></li>
      <li><strong>Status :</strong> {{ rightholderPayment.status | toLabel: 'paymentStatus' }}</li>
      <li><strong>Related to: </strong> {{ rightholderPayment.incomeIds | join }}</li>
      <li>
        <strong>Actions :</strong>
        <button mat-icon-button [disabled]="rightholderPayment.status !== 'pending' || statement.status === 'draft'" (click)="markAsReceived()">
          <mat-icon svgIcon="check" matTooltip="Mark payment as received"></mat-icon>
        </button>
      </li>
    </ul>
  </ng-container>

  <button mat-button color="primary" [disabled]="statement.status === 'processed' || statement.status === 'pending'" (click)="validate()">
    Validate statement
  </button>
</ng-container>