:host {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.go-back {
  margin-bottom: 24px;
}

h3 {
  margin-top: 40px;
}

section {
  display: flex;
  gap: 16px;
  justify-content: space-between;

  apx-chart {
    width: 30%;
  }
}