:host {
  display: block;
  padding: 32px;
}

section {
  margin-bottom: 32px;

  mat-form-field {
    width: 100%;
  }
}

contract-item {
  p {
    font-weight: bold;
  }
  footer holdbacks-form {
    margin-top: 16px;
  }
}

a[mat-icon-button]{
  margin-bottom: 24px;
}
