<ng-container *ngIf="statement">
  <waterfall-statement-header *ngIf="sources" [statement]="statement" [sources]="sources" (versionChanged)="versionChanged()"></waterfall-statement-header>

  <waterfall-statement-participation *ngIf="statement.payments.rightholder as payment" [price]="payment" label="Total Participation"></waterfall-statement-participation>

  <h3>Incomes</h3>
  <bf-table [source]="incomes" useFilter pagination="50">
    <ng-template colRef="id" label="Id" let-id sort>
      {{ id }}
    </ng-template>
    <ng-template colRef="" label="Source" let-item sort>
      {{ getAssociatedSource(item) }}
    </ng-template>
    <ng-template colRef="status" label="Status" let-status sort>
      {{ status | toLabel: 'paymentStatus' }}
    </ng-template>
    <ng-template colRef="" label="Price" let-item sort>
      {{ item.price | currency: (waterfall$ | async).mainCurrency }}
    </ng-template>
  </bf-table>

  <ng-container *ngIf="expenses.length">
    <h3>Expenses</h3>
    <bf-table *ngIf="(waterfall$ | async) as waterfall" [source]="expenses" useFilter pagination="50">
      <ng-template colRef="id" label="Id" let-id sort>
        {{ id }}
      </ng-template>
      <ng-template colRef="nature" label="Expenses name" let-nature sort>
        {{ nature }}
      </ng-template>
      <ng-template colRef="" label="Type" let-item sort>
        {{ item.typeId | expenseType : item.contractId : waterfall }}
      </ng-template>
      <ng-template colRef="capped" label="Capped" let-capped sort>
        {{ capped ? 'Yes' : 'No' }}
      </ng-template>
      <ng-template colRef="status" label="Status" let-status sort>
        {{ status | toLabel: 'paymentStatus' }}
      </ng-template>
      <ng-template colRef="" label="Amount" let-item sort>
        {{ item.price | currency: waterfall.mainCurrency }}
      </ng-template>
    </bf-table>
  </ng-container>

  <h3>Rights</h3>
  <bf-table *ngIf="(waterfall$ | async) as waterfall" [source]="rights | filterRights: statement" clickable useFilter pagination="50" (rowClick)="showRightDetails($event)">
    <ng-template colRef="id" label="Id" let-id sort>
      {{ id }}
      <button mat-icon-button [cdkCopyToClipboard]="id" (click)="$event.stopPropagation()">
        <mat-icon svgIcon="file_copy"></mat-icon>
      </button>
    </ng-template>
    <ng-template colRef="name" label="Name" let-name sort>
      {{ name }}
    </ng-template>
    <ng-template colRef="type" label="Type" let-type sort>
      {{ type | toLabel: 'rightTypes' }}
    </ng-template>
    <ng-template colRef="percent" label="%" let-percent>
      {{ percent ? percent  : '--' }}
    </ng-template>
    <ng-template colRef="id" label="Source(s)" let-id>
      {{ getAssociatedSources(id) | maxLength:50 }}
    </ng-template>
    <ng-template colRef="id" label="Declared" let-id>
      <strong>
        {{ getRightPayment(id) | currency: waterfall.mainCurrency }}
      </strong>
    </ng-template>
    <ng-template colRef="id" label="Calculated" let-id>
      {{ getCalculatedAmount(id) | currency: waterfall.mainCurrency }}
    </ng-template>
    <ng-template colRef="id" label="Cumulated" let-id>
      {{ getCumulatedAmount(id) | currency: waterfall.mainCurrency }}
    </ng-template>
    <ng-template colRef="id" label="Overall Cumulated" let-id>
      {{ getCumulatedAmount(id, true) | currency: waterfall.mainCurrency }}
    </ng-template>
  </bf-table>

  <article *ngIf="rightDetails.length" class="right-details">
    <h3>Details</h3>
    <ng-container *ngFor="let details of rightDetails">
      <bf-table *ngIf="(waterfall$ | async) as waterfall" [source]="details" pagination="50">
        <ng-template colRef="" label="#" let-index="index">
          {{ index + 1 }}
        </ng-template>
        <ng-template colRef="from" label="From" let-from>
          {{ from }}
        </ng-template>
        <ng-template colRef="to" label="To" let-to>
          {{ to }}
        </ng-template>
        <ng-template colRef="amount" label="Amount" let-amount>
          {{ amount | currency: waterfall.mainCurrency }}
        </ng-template>
        <ng-template colRef="percent" label="%" let-percent>
          {{ percent }}
        </ng-template>
        <ng-template colRef="taken" label="Taken" let-taken>
          <strong>
            {{ taken | currency: waterfall.mainCurrency }}
          </strong>
        </ng-template>
      </bf-table>
    </ng-container>
  </article>
</ng-container>