<tunnel-layout [steps]="steps">
  <header fxLayout="row" fxLayoutAlign="space-between center">
    <img asset="archipel-content.svg" type="logo" alt="Archipel Content Logo" />
    <button mat-stroked-button color="primary" (click)="save()">
      <mat-icon svgIcon="floppy" class="primary-icon"></mat-icon>
      <span>Save</span>
    </button>
  </header>
  <ng-container tunnel-nav-header>

  </ng-container>

  <ng-container tunnel-nav-footer>
    <mat-divider></mat-divider>
    <mat-nav-list dense>
      <a mat-list-item routerLink="summary">
        <mat-icon mat-list-icon svgIcon="document" color="primary"></mat-icon>
        <span mat-line>Summary & Submit</span>
      </a>
    </mat-nav-list>
  </ng-container>
</tunnel-layout>