<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <article  class="mat-body-2" *ngIf="(pageData$ | async) as pageData">
    <b *ngIf="pageData.length">Step {{ pageData.index }}/{{ pageData.length }}</b>
  </article>

  <article fxLayoutGap="24px">
    <button mat-stroked-button color="primary" (click)="save()">
      <mat-icon svgIcon="floppy" class="primary-icon"></mat-icon>
      <span>Save</span>
    </button>

    <a mat-icon-button [routerLink]="routeBeforeTunnel">
      <mat-icon svgIcon="cross"></mat-icon>
    </a>
  </article>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened mode="side">
    <section fxLayout="column">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let panel of panels">
          <mat-expansion-panel-header>
            <article fxLayout="row" fxLayoutAlign="start center">
              <mat-icon [svgIcon]="panel.icon" bf-color="primary"></mat-icon>
              <mat-panel-title>{{ panel.title }}</mat-panel-title>
            </article>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <ng-container *ngFor="let route of panel.routes">
              <a mat-list-item [routerLink]="route.path" routerLinkActive="active">
                {{ route.label }}
              </a>
            </ng-container>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>
       <mat-nav-list>
        <a mat-list-item routerLink="summary">
          <mat-icon mat-list-icon svgIcon="document" bf-color="primary"></mat-icon>
          <span mat-line>Summary & Submit</span>
        </a>
      </mat-nav-list>
    </section>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Skip to next -->
    <ng-container *ngIf="next$ | async as next">
      <span fxLayoutAlign="end start" fxLayout="row" *ngIf="next !== 'main'">
        <a mat-button color="primary" [routerLink]="next" class="mat-body-2">Skip and do later <mat-icon>arrow_forward</mat-icon></a>
      </span>
    </ng-container>

    <!-- Main Content -->
    <router-outlet></router-outlet>

    <!-- Previous / Next -->
    <footer class="button-box" fxLayout="row" fxLayoutGap="24px" fxLayoutAlign="center center">
      <ng-container *ngIf="previous$ | async as previous">
        <a test-id="back" mat-stroked-button color="accent" [routerLink]="previous" fxLayoutAlign="center center">
          <mat-icon>arrow_back</mat-icon>
          <span>Back</span>
        </a>
      </ng-container>
      <ng-container *ngIf="next$ | async as next">
        <a test-id="next" mat-flat-button color="accent" [routerLink]="next" fxLayoutAlign="center center">
          <span>Next</span>
          <mat-icon>arrow_forward</mat-icon>
        </a>
      </ng-container>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
