<!-- Marketplace Activity -->
<section>
  <h3>My Marketplace Activity</h3>
  <article fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center">
    <ng-container *ngFor="let lineChart of lineCharts">
      <mat-card #chart fxFlex="30" fxFlex.lt-md="100">
        <div fxLayout="row" fxLayoutAlign="space-between start">
          <span class="mat-body-2">{{ lineChart.title }}</span>
          <span>
            <ng-container *ngIf="calculatePercentage(mockData, lineChart.title) > 0; else down">
              <mat-icon color="primary">arrow_drop_up</mat-icon>
            </ng-container>
            <ng-template #down><mat-icon color="accent">arrow_drop_down</mat-icon></ng-template>
              {{ calculatePercentage(mockData, lineChart.title) }} %</span>
        </div>
        <h3>{{ sum(populateData(mockData, lineChart.title, 'hits'))}}</h3>
        <apx-chart
          [series]="getLineChartSeries(mockData, lineChart.title)"
          [chart]="lineChartOptions.chart"
          [xaxis]="getLineChartXaxis(mockData, lineChart.title)"
          [yaxis]="lineChartOptions.yaxis"
          [dataLabels]="lineChartOptions.dataLabels"
          [grid]="lineChartOptions.grid"
          [stroke]="lineChartOptions.stroke"
          [fill]="lineChartOptions.fill"
        ></apx-chart>
      </mat-card>
    </ng-container>
  </article>
</section>

<!-- Sales Revenue -->
<section *ngIf="contractData$ | async as contractData">
  <h3>Sales Revenue</h3>
  <!-- First Row -->
  <article fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center">
    <mat-card fxFlex="45" fxFlex.lt-md="100">
      <span class="mat-body-2">Total Gross Receipts</span>
      <mat-card-content>
        <h1>{{ sum(contractData.totalGrossReceipt) | number : '4.0-0'}}</h1>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="45" fxFlex.lt-md="100">
      <span class="mat-body-2">Total Sales</span>
      <mat-card-content>
        <h1>{{ contractData.totalSales.length }}</h1>
      </mat-card-content>
    </mat-card>
  </article>
  <!-- Second Row -->
</section>
