<header class="dark-contrast-theme main" bgAsset="background_header.png" bgTheme="dark">
  <button mat-icon-button (click)="goBack()">
    <mat-icon svgIcon="arrow_back"></mat-icon>
  </button>

  <ng-container *ngIf="user$ | async as user">
    <article>
      <a [routerLink]="['/c/o/marketplace/organization/', user.orgId]">
        <img [ref]="user.org.logo" asset="empty_organization.svg" type="logo" alt="Organizaiton Logo">
      </a>

      <div>
        <h4>{{ user | displayName }}</h4>
        <h1>{{ user.org.name }}</h1>
        <h5>{{ user.org.activity | toLabel:'orgActivity' }}</h5>

        <a mat-button [href]="'mailto:' + user.email">
          <mat-icon svgIcon="mail"></mat-icon>
          <span>{{ user.email }}</span>
        </a>
      </div>
    </article>
  </ng-container>
</header>

<section>
  <analytics-metric-card-list [cards]="aggregatedCards$ | async" selectable (selection)="filter$.next($event)"></analytics-metric-card-list>

  <article>
    <header>
      <h3>Buyer was interested in these titles</h3>
      <button mat-flat-button (click)="exportAnalytics()">Export Analytics</button>
    </header>

    <bf-table [source]="filtered$ | async" pagination="5" useFilter>
      <ng-template colRef="title.title.international" label="Title" let-title sort>
        {{ title | maxLength:50 }}
      </ng-template>
      <ng-template colRef="title.release.year" label="Release year" let-release sort>
        {{ release }}
      </ng-template>
      <ng-template colRef="title.originCountries" label="Country of Origin" let-countries sort>
        {{ countries | toLabel:'territories' }}
      </ng-template>
      <ng-template colRef="title.originalLanguages" label="Original Language" let-languages sort>
        {{ languages | toLabel:'languages' }}
      </ng-template>
      <ng-template colRef="pageView" label="# Views" let-pageView sort>
        {{ pageView }}
      </ng-template>
      <ng-template colRef label="In wishlist" let-wishlist sort>
        {{ inWishlist(wishlist) ? 'Yes' : '-' }}
      </ng-template>
      <ng-template colRef="promoReelOpened" label="Promotional Elements" let-promoReelOpened sort>
        {{ promoReelOpened }}
      </ng-template>
      <ng-template colRef="screeningRequested" label="Screening Requests" let-screeningRequested sort>
        {{ screeningRequested }}
      </ng-template>
      <ng-template colRef="askingPriceRequested" label="Asking Price Requested" let-askingPriceRequested sort>
        {{ askingPriceRequested }}
      </ng-template>
    </bf-table>
  </article>

  <article class="surface graphs">
    <analytics-bar-chart [data]="totalAnalyticsPerTitle$ | async"></analytics-bar-chart>
    <analytics-pie-chart class="surface" [data]="aggregatedPerGenre$ | async">
      <mat-icon svgIcon="theater_comedy"></mat-icon>
      <h5>Genres Tendancy</h5>
    </analytics-pie-chart>
  </article>

  <article>
    <h3>Screenings Buyer has participated</h3>
    <analytics-metric-card-list [cards]="aggregatedScreeningCards$ | async"></analytics-metric-card-list>
  </article>

  <article>
    <header>
      <h4>Attended Screenings</h4>
      <button mat-flat-button (click)="exportScreenerAnalytics()">Export to CSV</button>
    </header>
    <bf-table [source]="invitations$ | async" pagination="5">
      <ng-template colRef="event.movie.title.international" label="Title" let-title sort>
        {{ title | maxLength: 50 }}
      </ng-template>
      <ng-template colRef="status" label="Invitation" let-status sort>
        {{ status | titlecase }}
      </ng-template>
      <ng-template colRef="mode" label="Request to Participate" let-mode sort>
        {{ mode | titlecase }}
      </ng-template>
      <ng-template colRef="analytics.length" label="Screening Requests" let-requests sort>
        {{ requests }}
      </ng-template>
      <ng-template colRef="watchTime" label="Watch Time" let-watchTime>
        {{ watchTime * 1000 | duration: '0min' }}
      </ng-template>
    </bf-table>
  </article>
</section>