<!-- @TODO (#2925) -->
<ng-container *ngIf="(invitations$ | async).length; else noFeed">
  <mat-card>
    <h1>Invitations</h1>
    <invitation-list [invitations]="invitations$ | async"></invitation-list>
  </mat-card>
</ng-container>
<ng-template #noFeed>
  <section fxLayout="column" fxLayoutAlign="center center">
    <h1>You have no invitation yet.</h1>
    <p>You haven't received any invitations at this time.</p>
    <img asset="no_titles.webp" alt="No invitations">
  </section>
</ng-template>
