<ng-container *ngIf="offer$ | async as offer">
  <bf-table link="." [source]="offer.contracts" pagination="50" useFilter>
    <!-- Title -->
    <ng-template colRef="title.title.international" label="Title" let-title>
      {{ title | maxLength:50 }}
    </ng-template>
    <ng-template colRef="title.release.year" label="Release Year" let-year>
      {{ year }}
    </ng-template>
    <ng-template colRef="title.directors" label="Directors" let-directors>
      {{ directors | displayName | maxLength:50 }}
    </ng-template>
    <!-- Price -->
    <ng-template colRef="income.price" label="Price" let-price>
      {{ price | currency:offer.currenty }}
    </ng-template>
  </bf-table>
</ng-container>
