/* You can add global styles to this file, and also import other style files */
@import '../../../../styles/style.scss';
@import '../../../../styles/themes/builder.scss';
// @todo(#1617) Lazy Load this
@import '~leaflet/dist/leaflet.css';

$dark-theme: (
  is-dark: true,
  primary: (
    100: #cfd8ff,
    200: #2a3052,
    400: #9eb1ff,
    500: #9eb1ff,
    700: #8298ff,
    800: #8298ff,
    contrast: (
      100: #24374e,
      200: #f9f8ff,
      400: #f9f8ff,
      500: #f9f8ff,
      700: #f9f8ff,
      800: #f9f8ff,
    ),
  ),
  accent: (
    100: #ffb7b0,
    200: #ffb7b0,
    400: #ff6e61,
    500: #ff6e61,
    700: #ff5145,
    800: #ff5145,
    contrast: (
      100: #272a44,
      200: #272a44,
      400: #f9f8ff,
      500: #f9f8ff,
      700: #f9f8ff,
      800: #f9f8ff,
    ),
  ),
  warn: (
    500: #ff3f33,
    contrast: (
      500: #ffffff,
    ),
  ),
  background: (
    900: #010314,
    800: #06081c,
    700: #121424,
    600: #06081c,
    500: #1f1f26,
  ),
  foreground: (
    900: #f9f8ff,
    800: #bbc3e7,
    700: #9ca3c4,
    600: #666b81,
    500: #272a44,
  ),
);

.dark-theme {
  $mat-theme: getTheme($dark-theme);
  @include mat-theme($mat-theme);
  @include bf-calendar-theme($mat-theme);
  @include bf-world-map-theme($mat-theme);
  // Transform into contrast-theme
  .dark-contrast-theme {
    $contrast-theme: getContrast($dark-theme);
    $mat-contrast-theme: getTheme($contrast-theme);
    @include mat-theme($mat-contrast-theme);
    @include bf-calendar-theme($mat-contrast-theme);
    @include bf-world-map-theme($mat-contrast-theme);

    scrollbar-color: dark;
  }

  // Not supported yet by browser. Here for future support
  scrollbar-color: dark;
}

$light-theme: (
  is-dark: false,
  primary: (
    100: lighten(#8da4fa, 10%),
    200: #8da4fa,
    400: lighten(#1a49f5, 10%),
    500: #1a49f5,
    700: lighten(#0f31f0, 10%),
    800: #0f31f0,
    contrast: (
      100: #1f2a3b,
      200: #1f2a3b,
      400: #ffffff,
      500: #ffffff,
      700: #ffffff,
      800: #ffffff,
    ),
  ),
  accent: (
    100: #ffb7b0,
    200: #ffb7b0,
    400: #ff6e61,
    500: #ff6e61,
    700: #ff5145,
    800: #ff5145,
    contrast: (
      100: #1f2a3b,
      200: #1f2a3b,
      400: #ffffff,
      500: #ffffff,
      700: #ffffff,
      800: #ffffff,
    ),
  ),
  warn: (
    500: #ff3f33,
    contrast: (
      500: #ffffff,
    ),
  ),
  background: (
    900: #f4f4f4,
    800: #ffffff,
    700: #fdfdfd,
    600: #e7e7e7,
    500: #dbdce0,
  ),
  foreground: (
    900: #080b0f,
    800: #1f2a3b,
    700: #454e5d,
    600: #666b81,
    500: #d3d5dc,
  ),
);

.light-theme {
  $mat-theme: getTheme($light-theme);
  @include mat-theme($mat-theme);
  @include bf-calendar-theme($mat-theme);
  @include bf-world-map-theme($mat-theme);

  // Not supported yet by browser. Here for future support
  scrollbar-color: light;
  // Transform into contrast-theme
  .dark-contrast-theme {
    $contrast-theme: getContrast($light-theme);
    $mat-contrast-theme: getTheme($contrast-theme);
    @include mat-theme($mat-contrast-theme);
    @include bf-calendar-theme($mat-contrast-theme);
    @include bf-world-map-theme($mat-contrast-theme);
    scrollbar-color: dark;
  }
}
