.page-title {
  text-align: center;
}

event-screening-item {
  margin-bottom: 16px;
}

mat-divider {
  margin-bottom: 16px;
}

list-page-description {
  margin: 24px;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
}

.no-screenings {
  img {
    width: 500px;
  }
}
