header {
  background-image: url('/assets/images/banner_soft.png');
  background-size: cover;
  background-position: top;
  padding: 60px;
  h1 {
    text-align: center;
  }
  mat-icon {
    cursor: pointer;
  }
}

event-list {
  display: block;
  margin: 0 24px;
}
