<list-page [items]="events$ | async | eventsToTimeFrame" exportButton>
  <list-page-title>
    <h1 class="mat-display-2 page-title">Screening List</h1>
  </list-page-title>

  <list-filter fxLayout fxLayoutAlign="center">
    <ng-template filter label="Sales Agents" [form]="searchForm">
      <algolia-chips-autocomplete index="org" displayWithPath="name"
        [filters]="['appModule:dashboard',' hasAcceptedMovies:true']" [form]="searchForm"
        label="Search for a Sales Agent" placeholder="Sales Agent"></algolia-chips-autocomplete>
    </ng-template>
  </list-filter>

  <!-- EVENTS COUNT (ng-content)-->
  <list-page-description *ngIf="events$ | async as events">
    <span i18n  class="mat-body-2">
      There {events.length, plural, =1 {is} other {are}} {{ events.length }} event{events.length, plural, =1 {} other {s}}
      available.
    </span>
  </list-page-description>

  <!-- EXPORT (ng-content)-->
  <events-export *ngIf="(events$ | async) || [] as events">
    <button mat-button (click)="exportToCalendar(events)">
      <mat-icon svgIcon="cloud_download"></mat-icon>
      <span>Export All Events</span>
    </button>
  </events-export>

  <ng-template listPageListItem let-timeFrame>
    <h2 *ngIf="!!timeFrame.events.length">
      {{ timeFrame | labelByDate }}
    </h2>

    <ng-container *ngFor="let event of timeFrame.events; let last = last; trackBy: trackById">
      <event-screening-item [event]="event"></event-screening-item>
      <mat-divider *ngIf="!last"></mat-divider>
    </ng-container>
  </ng-template>

  <ng-template listPageEmpty>
    <div class="no-screenings" fxLayout="column" fxLayoutAlign="start center">
      <h6>Sorry, there are no Screenings at the moment.</h6>
      <img asset="empty_upcoming_screening.svg" alt="No titles">
      <a mat-flat-button [routerLink]="['../title']" color="accent">Discover Titles</a>
    </div>
  </ng-template>

</list-page>
