<list-page [items]="events$ | async | eventsToTimeFrame">
  <list-page-title>
    <h1 class="mat-display-2 page-title">Screening List</h1>
  </list-page-title>

  <list-filter fxLayout fxLayoutAlign="center">
    <ng-template filter label="Sales Agents" [form]="searchForm">
      <algolia-chips-autocomplete index="org" displayWithPath="name"
        [filters]="['appModule:dashboard',' hasAcceptedMovies:true']" [form]="searchForm"
        label="Search for a Sales Agent" placeholder="Sales Agent"></algolia-chips-autocomplete>
    </ng-template>
  </list-filter>

  <events-export *ngIf="(events$ | async) || [] as events">
    <button mat-flat-button (click)="exportToCalendar(events)">
      <mat-icon svgIcon="cloud_download"></mat-icon>
      <span>Export All Events</span>
    </button>
  </events-export>

  <ng-template listPageListItem let-timeFrame>
    <h2 *ngIf="!!timeFrame.events.length">
      {{ timeFrame | labelByDate }}
    </h2>

    <ng-container *ngFor="let event of timeFrame.events; let last = last; trackBy: trackById">
      <event-screening-item [event]="event"></event-screening-item>
      <mat-divider *ngIf="!last"></mat-divider>
    </ng-container>
  </ng-template>

  <ng-template listPageEmpty>
    <div class="no-screenings" fxLayout="column" fxLayoutAlign="start center">
      <h6>Sorry, there are no Screenings at the moment.</h6>
      <img asset="empty_upcoming_screening.svg" alt="No titles">
      <a mat-flat-button [routerLink]="['../title']" color="accent">Discover Titles</a>
    </div>
  </ng-template>

</list-page>
