<header>
  <h1>Contact</h1>
</header>

<div fxLayout="row" fxLayoutAlign="center">
  <mat-card>
    <section>
      <h3>Contact</h3>
      <p>
        The Bigger Boat platform is currently animated by Marie. You can contact her if you have any questions regarding Bigger Boat. She’ll be happy to answer you and help you with anything you need!
      </p>
    </section>

    <section fxLayout="row" fxLayout.lt-sm="column">
      <img class="photo-contact" src="/assets/photo/marie-photo-avatar.jpg">
      <div fxLayout="column">
        <h4>Marie</h4>
        <span>Altmayer</span>
        <span class="margin-top"><span class="bf-dark-text">Email address</span> maltmayer@cascade8.com</span>
      </div>
    </section>
  </mat-card>
</div>
