<title-list [titles$]="movieSearchResults$">

  <!-- SORT -->
  <ng-template titleSort>

    <mat-form-field class="sort">
      <mat-label>Sort by</mat-label>
      <mat-select [formControl]="sortByControl">
        <mat-option *ngFor="let option of sortOptions" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </ng-template>


  <!-- SEARCH BAR -->
  <ng-template titleSearch>

    <form [formGroup]="filterForm.search">
      <mat-form-field appearance="outline">
        <mat-label>Search for titles, directors, keywords, ...</mat-label>
        <mat-icon matPrefix svgIcon="magnifying_glasses"></mat-icon>
        <input matInput type="text" [formControl]="searchbarTextControl">
      </mat-form-field>
    </form>

  </ng-template>


  <!-- FILTERS -->
  <title-filter>

      <ng-template filter label="Genres">
        <movie-form-genre [form]="filterForm.genres"></movie-form-genre>
      </ng-template>

      <ng-template filter label="Country of Origin">
        <chips-autocomplete
          [form]="filterForm.originCountries"
          placeholder="Country of Origin"
          [items]="countries"
          store="slug"
          display="label">
        </chips-autocomplete>
      </ng-template>

      <ng-template filter label="Language & Version">
        <form [formGroup]="filterForm.languages" fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field appearance="outline">
              <mat-label>New language</mat-label>
              <input test-id="languages-panel-input" matInput type="text" [matAutocomplete]="language"
                [formControl]="languageControl" placeholder="Add new language"/>
              <mat-error *ngIf="languageControl.hasError('languageNotSupported')">
                Please enter a valid language or choose from the dropdown menu!
              </mat-error>
              <button matSuffix mat-icon-button (click)="addLanguage(languageControl.value)"
                [disabled]="!languageControl.valid">
                <mat-icon svgIcon="magnifying_glasses"></mat-icon>
              </button>
              <mat-autocomplete #language="matAutocomplete">
                <mat-option *ngFor="let language of languagesFilter$ | async" [value]="language">
                  {{language}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <button
              test-id="languages"
              class="language-button"
              mat-mini-fab
              [disabled]="!languageControl.valid"
              color="primary"
              (click)="addLanguage(languageControl.value); languageControl.reset()">
              <mat-icon svgIcon="add"></mat-icon>
            </button>
          </div>
          <div fxLayout="column" fxLayoutAlign="start start">
            <ng-container *ngIf="filterForm.get('languages').value">
              <mat-list [formGroup]="filterForm.get('languages')" role="list">
                <ng-container *ngFor="let language of selectedLanguages$ | async">
                  <mat-list-item [formGroupName]="language">
                    <span mat-line>
                      <mat-chip class="chip-language" removable (removed)="removeLanguage(language)">
                        <span>{{ language | translateSlug: 'LANGUAGES' }}</span>
                        <mat-icon matChipRemove svgIcon="close"></mat-icon>
                      </mat-chip>
                    </span>
                    <mat-checkbox color="primary" test-id="languages-checkbox-original" mat-line formControlName="original">
                      Original
                    </mat-checkbox>
                    <mat-checkbox color="primary" test-id="languages-checkbox-dubbed" mat-line formControlName="dubbed">
                      Dubbed
                    </mat-checkbox>
                    <mat-checkbox color="primary" test-id="languages-checkbox-subtitle" mat-line formControlName="subtitle">
                      Subtitled
                    </mat-checkbox>
                    <mat-checkbox color="primary" test-id="languages-checkbox-subtitle" mat-line formControlName="caption">
                      Closed-Captioned
                    </mat-checkbox>
                  </mat-list-item>
                </ng-container>
              </mat-list>
            </ng-container>
          </div>
        </form>
      </ng-template>

      <ng-template filter label="Production Status">
        <div fxLayout="column" fxLayoutAlign="start start" class="checkbox-padding">
          <mat-checkbox color="primary" (change)="hasStatus(status)" *ngFor="let status of movieProductionStatuses">
            {{status}}
          </mat-checkbox>
        </div>
      </ng-template>

      <ng-template filter label="Budget">
        <movie-form-estimated-budget [form]="filterForm.budget"></movie-form-estimated-budget>
      </ng-template>

      <ng-template filter label="Seller">
        <title-filter-seller [form]="sellersForm"></title-filter-seller>
      </ng-template>

  </title-filter>


  <!-- TITLE CARD -->
  <ng-template titleCard let-title>

    <movie-card [movie]="title" [link]="['/c/o/marketplace/title',  title.id]">
      <!-- Information -->
      <ng-container movieInformation>
        <mat-card-subtitle>
          <span class="mat-caption">
            {{ title.main.directors | displayName }}
          </span>
        </mat-card-subtitle>
      </ng-container>

      <!-- Action -->
      <ng-container movieCardAction>
        <div fxLayout="row" fxLayoutAlign="end">
          <wishlist-button [movieId]="title.id" small></wishlist-button>
        </div>
      </ng-container>
    </movie-card>

  </ng-template>


  <!-- LIST ITEM CARD -->
  <ng-template titleListItem let-title>

    <!-- WRITE HERE WHAT YOU WANT TO INJECT-->
    <p>{{title.main.title.original}}</p>

  </ng-template>


</title-list>
