<title-list [titles$]="movieSearchResults$">

  <!-- SORT -->
  <ng-template titleSort>

    <mat-form-field class="sort">
      <mat-label>Sort by</mat-label>
      <mat-select [formControl]="sortByControl">
        <mat-option *ngFor="let option of sortOptions" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </ng-template>


  <!-- SEARCH BAR -->
  <ng-template titleSearch>

    <form [formGroup]="filterForm.search">
      <mat-form-field appearance="outline">
        <mat-label>Search for titles, directors, keywords, ...</mat-label>
        <mat-icon matPrefix svgIcon="magnifying_glasses"></mat-icon>
        <input matInput type="text" [formControl]="searchbarTextControl">
      </mat-form-field>
    </form>

  </ng-template>


  <!-- FILTERS -->
  <title-filter>

      <ng-template filter label="Genres">
        <movie-form-genre [form]="filterForm.genres"></movie-form-genre>
      </ng-template>

      <ng-template filter label="Country of Origin">
        <chips-autocomplete
          [form]="filterForm.originCountries"
          placeholder="Country of Origin"
          [items]="countries"
        ></chips-autocomplete>
      </ng-template>

      <ng-template filter label="Language & Version">
        <title-language-filter [languagesFilterForm]="languageForm"></title-language-filter>
      </ng-template>

      <ng-template filter label="Production Status">
        <static-check-boxes [form]="filterForm.productionStatus" [items]="movieProductionStatuses"></static-check-boxes>
      </ng-template>

      <ng-template filter label="Budget">
        <movie-form-estimated-budget [form]="filterForm.budget"></movie-form-estimated-budget>
      </ng-template>

      <ng-template filter label="Seller">
        <algolia-chips-autocomplete
          [index]="movieIndex"
          keyToDisplay="value"
          facet="orgName"
          [form]="sellersForm"
          label="Search for a specific Seller"
          placeholder="Organization name"
          resetInput
        ></algolia-chips-autocomplete>
      </ng-template>

  </title-filter>


  <!-- TITLE CARD -->
  <ng-template titleCard let-title>

    <movie-card [movie]="title" [link]="['/c/o/marketplace/title',  title.id]">
      <!-- Information -->
      <ng-container movieInformation>
        <mat-card-subtitle>
          <span class="mat-caption">
            {{ title.main.directors | displayName }}
          </span>
        </mat-card-subtitle>
      </ng-container>

      <!-- Action -->
      <ng-container movieCardAction>
        <div fxLayout="row" fxLayoutAlign="end">
          <wishlist-button [movieId]="title.id" small></wishlist-button>
        </div>
      </ng-container>
    </movie-card>

  </ng-template>


  <!-- LIST ITEM CARD -->
  <ng-template titleListItem let-title>

    <!-- WRITE HERE WHAT YOU WANT TO INJECT-->
    <p>{{title.main.title.original}}</p>

  </ng-template>


</title-list>
