<ng-container *ngIf="(event$ | async) as event; else loading">


  <h1>Meeting Lobby</h1>
  <h2>{{event.title}}</h2>
  <section *ngIf="(local$ | async) as local">

    <meeting-video [attendee]="local"></meeting-video>

    <aside>
      <div fxLayout="row" fxLayoutGap="32px">
        <ng-container *ngIf="local.tracks.video as videoTrack">
          <button mat-fab color="primary" (click)="toggleLocalTrack('video')">
            <mat-icon *ngIf="videoTrack.isEnabled" svgIcon="videocam"></mat-icon>
            <mat-icon *ngIf="!videoTrack.isEnabled" svgIcon="videocam_off"></mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="!local.tracks.video">
          <!-- We put the tooltip on a parent <span> because tooltip are not displayed on disabled buttons -->
          <span matTooltip="Your browser don't have the permission to access the camera">
            <button mat-fab disabled>
              <mat-icon svgIcon="videocam"></mat-icon>
            </button>
          </span>
        </ng-container>

        <ng-container *ngIf="local.tracks.audio as audioTrack">
          <button mat-fab color="primary" (click)="toggleLocalTrack('audio')">
            <mat-icon *ngIf="audioTrack.isEnabled" svgIcon="unmute"></mat-icon>
            <mat-icon *ngIf="!audioTrack.isEnabled" svgIcon="mute"></mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="!local.tracks.audio">
          <!-- We put the tooltip on a parent <span> because tooltip are not displayed on disabled buttons -->
          <span matTooltip="Your browser don't have the permission to access the microphone">
            <button mat-fab disabled>
              <mat-icon svgIcon="unmute"></mat-icon>
            </button>
          </span>
        </ng-container>
    
        <ng-container *ngIf="event.isOwner else notOwner">
          <a mat-flat-button routerLink="../session" color="accent">Access {{ event.type | titlecase }} Room</a>
        </ng-container>

        <ng-template #notOwner>
          <ng-container *ngIf="event.meta?.ownerIsPresent else ownerNotPresent">
            <a mat-flat-button routerLink="../session" color="accent">Ask to join {{ event.type | titlecase }} Room</a>
          </ng-container>
          <ng-template #ownerNotPresent>
            <a mat-flat-button disabled color="accent">Waiting for owner...</a>
          </ng-template>
        </ng-template>
      </div>
      <a mat-flat-button routerLink="../session" color="accent">Access {{ event.type | titlecase }} Room</a>
    </aside>

  </section>

  <img asset="meeting.webp" alt="Meeting room">

</ng-container>

<ng-template #loading>
  <section fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </section>
</ng-template>
