<ng-container *ngIf="movie$ | async as movie">
  <title-marketplace-shell [routes]="navLinks">
    <movie-header [movie]="movie">
      <movie-header-cta fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="32px">
        <ng-container *ngFor="let org of orgs$ | async">
          <org-chip [org]="org"></org-chip>
          <a mat-flat-button color="accent" [href]="'mailto:' + org.email">
            <span>Contact Partner</span>
            <mat-icon svgIcon="arrow_forward"></mat-icon>
          </a>
        </ng-container>
        <wishlist-button small [movieId]="movie.id"></wishlist-button>
      </movie-header-cta>
      <movie-header-actions>
        <movie-promotional-links [movie]="movie" [links]="promoLinks"></movie-promotional-links>
      </movie-header-actions>
    </movie-header>

    <section class="progress" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px">
      <h2>Project Funding</h2>
      <campaign-progress [campaign]="campaign$ | async"></campaign-progress>
      <ng-container *ngIf="orgs$ | async as orgs">
        <p class="mat-caption">Contact financier for further information</p>
        <button test-id="open-discussion" mat-flat-button color="accent" (click)="openForm(orgs, movie)">
          Open discussion
        </button>
      </ng-container>
      <a mat-button class="mat-caption" href="assets/docs/film-industry.pdf" target="_blank">Learn more about investing
        in the content industry</a>
    </section>
  </title-marketplace-shell>
</ng-container>