<ng-container *ngIf="movie$ | async as movie">
  <title-marketplace-shell [routes]="navLinks">
    <movie-header [movie]="movie">
      <movie-header-cta fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="32px">
        <ng-container *ngFor="let org of orgs$ | async">
          <org-chip [org]="org"></org-chip>
          <a mat-stroked-button color="primary" [href]="'mailto:' + org.email">
            <span>Contact Sales Agent</span>
            <mat-icon svgIcon="arrow_forward"></mat-icon>
          </a>
        </ng-container>
      </movie-header-cta>
      <movie-header-actions fxLayout.lt-sm="column" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">
        <wishlist-button [movieId]="movie.id"></wishlist-button>
        <movie-promotional-links [movie]="movie" [links]="promoLinks"></movie-promotional-links>
      </movie-header-actions>
    </movie-header>

    <section class="progress" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px">
      <h1>Project Funding</h1>
      <campaign-progress [campaign]="campaign$ | async"></campaign-progress>
      <button mat-flat-button color="accent">
        Invest in this project
      </button>
      <p class="mat-caption">Learn more about investing in cinema industry</p>
    </section>

  </title-marketplace-shell>
</ng-container>