@import "~@angular/flex-layout/mq";

org-chip {
  margin-bottom: 32px;
}

.progress {
  padding: 32px;
  background-color: var(--background-card);
}

// Form
h2 {
  text-align: center;
}

movie-header-actions {
  display: flex;
  align-items: center;
  gap: 24px;
}

@include layout-bp(lt-sm) {
  movie-header-actions {
    display: none;
  }
}