:host {
  display: block;
  padding: 24px;
  height: 100%;

  & > * {
    margin-bottom: 24px;
  }
}

header h1 {
  margin: 0;
}

section > * {
  margin-bottom: 16px;
}

mat-card {
  width: 330px;
  height: 220px;
  img {
    width: 100px;
    align-self: center;
  }
}

p {
  text-align: center;
  margin-bottom: 32px;
}

a {
  margin-top: 24px;
}

h3 {
  margin-top: 24px;
}
