<!--TODO #3858 --><ng-container *ngIf="!(moviesLoading$ | async)">
  <ng-container *ngIf="(movies$ | async).length else noMovie">
    <header fxLayout="row" fxLayoutAlign="space-between center">
      <h1>Dashboard</h1>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="24px">
        <a mat-stroked-button color="primary" routerLink="../title">
          <mat-icon svgIcon="document"></mat-icon>
          <span>View my titles</span>
        </a>
        <a mat-mini-fab color="primary" routerLink="../import" matTooltip="Import a new title">
          <mat-icon svgIcon="add"></mat-icon>
        </a>
      </div>
    </header>
    <section>
      <h3>My Marketplace Activity</h3>
      <movie-analytics-chart [analyticsData]="movieAnalytics$ | async"></movie-analytics-chart>
    </section>
  </ng-container>

  <ng-template #noMovie>
    <!-- @TODO (#3337) Create specific component !-->
    <section fxLayout="column" fxLayoutAlign="center center">
      <h1>There’s no marketplace activity yet</h1>
      <p class="mat-body-1">
        For the moment, you haven’t added any titles or they have not been validated by Archipel Content yet.
        <br>
        You can choose one of the following according to your situation :
      </p>
      <article fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="24px">
        <mat-card fxLayout="column" fxLayoutalign="center center">
          <img asset="add_title.webp" alt="Add title image">
          <a routerLink="../title/lobby" mat-stroked-button color="primary">Add one title</a>
        </mat-card>
        <mat-card fxLayout="column" >
          <img asset="upload_files.webp" alt="Upload files image">
          <a routerLink="../import" mat-stroked-button color="primary">Import your titles in bulk</a>
        </mat-card>
      </article>
      <h3>Or</h3>
      <button (click)="openIntercom()" mat-flat-button color="primary">
        Contact Archipel Team
      </button>
    </section>
  </ng-template>
</ng-container>

