:host {
  display: block;
  margin: 30px 20%;

  article {
    margin: 15px 0;
  }
  
  span b {
    text-transform: uppercase;
  }
  
  mat-card {
    width: 400px;
    margin: 15px 0;
    text-align: center;
  }
}

.join-section {
  margin: 20px 0;
}

.perspective-image {
  width: 350px;
}

.feature-image {
  width: 150px;
}