@import 'mixins';

:host {
  display: block;
  margin: 30px 20%;

  span b {
    text-transform: uppercase;
  }

  mat-card {
    width: 400px;
    margin-bottom: 20px;
    text-align: center;
  }
}

h5 {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.join-section {
  margin: 20px 0;
}

.perspective-image {
  width: 550px;
}

.perspective-box {
  margin: 15px 0 24px 0;
}

.feature-image {
  width: 150px;
}

@include mobile {
  :host {
    margin: 30px 20px;
    mat-card {
      width: 300px;
    }
  }
  .interested {
    font-size: 45px;
  }
}
