:host {
  display: block;
  margin-left: 20%;
  margin-right: 20%;

  span b {
    text-transform: uppercase;
  }

  mat-card {
    width: 400px;
    margin: 15px 0;

    div {
      width: 50%;
    }
  }
}
