<ng-container *ngIf="waterfall$ | async as waterfall">
  <section>
    <button mat-button color="primary" [disabled]="!waterfall.rightholders.length" (click)="removeRightholders(waterfall.rightholders)">
      <mat-icon svgIcon="delete"></mat-icon>
      <span>Remove all rightholders</span>
    </button>
  </section>
  <waterfall-rightholder-table [waterfall]="waterfall" [columns]="columns" (delete)="removeRightholders([$event])" (rowClick)="goTo($event)"></waterfall-rightholder-table>
</ng-container>
