<mat-form-field [floatLabel]="schema.floatLabel" [hideRequiredMarker]="schema.hideRequiredMarker">
  <ng-container *ngIf="schema.size === 'long' else short">
    <textarea matInput
      [formControl]="form"
      [placeholder]="schema.placeholder">
    </textarea>
  </ng-container>

  <ng-template #short>
    <input matInput
      [formControl]="form"
      [placeholder]="schema.placeholder"
    />
  </ng-template>

  <mat-label *ngIf="schema.label">{{ schema.label }}</mat-label>
  <mat-hint *ngIf="schema.hint">{{ schema.hint }}</mat-hint>

  <mat-error *ngIf="form.invalid">
    {{ getErrorMsg() }}
  </mat-error>
</mat-form-field>