
<ng-container *ngIf="titles$ | async as titles; else loading">
  
  <ng-container *ngIf="titles | hasAppStatus:'accepted'; else noAcceptedMovies">
    <header>
      <h1>My Movies</h1>
      <a mat-flat-button color="primary" routerLink="." matTooltip="Add Title">
        <mat-icon svgIcon="add"></mat-icon>
        <span>Add Movie</span>
      </a>
    </header>

    <bf-table [source]="titles" clickable useFilter pagination="50" (rowClick)="goToEdit($event)">
      <ng-template colRef label="Title" [filter]="filters.movieTitle" [sort]="sorts.byTitle" let-movie>

        <div class="title-info-container">
          <img class="poster" [ref]="movie.poster" asset="empty_poster.svg">
          <span>{{ movie.title.international }}</span>
        </div>

      </ng-template>
      <ng-template colRef="directors" label="Director(s)" [filter]="filters.movieDirectors" sort let-directors >
        <span>
          {{ directors | displayName | maxLength:50 }}
        </span>
      </ng-template>
    </bf-table>
  </ng-container>

  <ng-template #noAcceptedMovies>
    <h1>You have no Movie yet.</h1>
    <p class="mat-body-1">
      Please add a Movie that you're going to work with. After creating a movie you will be
      <br>
      able to add the Right Holders and have access to the Waterfall & Revenue distribution.
    </p>
    <a routerLink="." class="surface">
      <img asset="add_title.svg" alt="Add title image">
      <button mat-button color="primary">Add Movie</button>
    </a>
  </ng-template>

</ng-container>

<ng-template #loading>
  <article class="spinner">
    <logo-spinner></logo-spinner>
  </article>
</ng-template>


