@import 'mixins';

footer {
  margin: 50px 0;
  text-align: center;
  width: 100%;
  .ac-logo {
    width: 130px;
    height: 50px;
    margin-bottom: 30px;
  }

  img {
    height: 40px;
    margin-top: 50px;
  }

  .partner-header {
    text-align: center;
  }
}
