<footer fxLayout="column">

  <!-- Top part of the footer: links to pages, social medias an newsletter input -->
  <section fxLayout="row" fxLayoutAlign="space-between start" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center">
    <article fxLayout="column" fxLayoutAlign="start center">
      <a routerLink="/">
        <mat-icon svgIcon="LogoAC" class="ac-logo"></mat-icon>
      </a>
    </article>
    <article fxLayout="column" fxLayoutAlign="start center">
      <p><b>Learn more</b></p><!-- TODO #1396 change for custom typo -->
      <a routerLink="/"><span>About us</span></a>
      <a routerLink="/"><span>FAQ</span></a><!-- TODO #1370 add FAQ page-->
      <a routerLink="/"><span>Contact</span></a>
    </article>
    <article fxLayout="column" fxLayoutAlign="start center">
      <p><b>Follow us</b></p><!-- TODO #1396 change for custom typo -->
      <span fxLayout="row" class="social-media-icons">
        <mat-icon svgIcon="twitter"></mat-icon>
        <mat-icon svgIcon="facebook"></mat-icon>
        <mat-icon svgIcon="linkedin"></mat-icon>
        <mat-icon svgIcon="instagram"></mat-icon>
      </span>
    </article>
    <article fxLayout="column" fxLayoutAlign="start center">
      <p><b>Keep me informed</b></p><!-- TODO #1396 change for custom typo -->
      <mat-form-field appearance="outline">
        <mat-label>Email address</mat-label>
        <input matInput type="email" placeholder="Email address" [formControl]="emailControl" />
      </mat-form-field>
      <button mat-flat-button color="primary" (click)="registerEmailForNewsletter()">Send</button>
    </article>
  </section>

  <!-- Bottom part of the footer: partners -->
  <section fxLayout="column" fxLayoutAlign="start center" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center">
    <header class="partner-header">Proudly associated with the following partners</header>
    <span fxLayout="row wrap" fxLayoutAlign="space-evenly start" fxLayoutGap="30px">
      <img src="/assets/logo/CNC_logo.png" />
      <img src="/assets/logo/BPIfrance.png" />
      <img src="/assets/logo/creativemediaeurope.png" />
    </span>
  </section>
</footer>
