<header>
  <h1>Dashboard</h1>
  <a mat-fab color="black" routerLink="../title/lobby">
    <mat-icon svgIcon="add"></mat-icon>
  </a>
  <a mat-fab color="black" routerLink="../title">
    <mat-icon svgIcon="movie"></mat-icon>
  </a>
  <a mat-fab color="black" routerLink="../import">
    <mat-icon svgIcon="excel"></mat-icon>
  </a>
</header>
<section class="surface carousel-container">
  <article *ngIf="popularTitle$ | async as title">
    <h3>{{ title.title.international }}</h3>
    <a mat-flat-button [routerLink]="['/c/o/dashboard/analytics', title.id]">
      <span>See Analytics details</span>
      <mat-icon svgIcon="arrow_forward"></mat-icon>
    </a>
  </article>
  <p class="mat-body-1">Some insights about your most popular title.<br/>Published on Archipel Market: 01/25/2022</p>
  <bf-carousel flex layout>
    <analytics-pie-chart fxFlex class="surface" carouselItem [col]="2" [data]="orgActivityOfPopularTitle$ | async"></analytics-pie-chart>
    <analytics-map fxFlex class="surface" carouselItem [col]="2" [data]="territoryActivityOfPopularTitle$ | async"></analytics-map>
  </bf-carousel>
  <a mat-flat-button class="see_titles" routerLink="/c/o/dashboard/analytics">
    <span>View all Titles Activity</span>
    <mat-icon svgIcon="arrow_forward"></mat-icon>
  </a>
</section>
<ng-template #loading>
  <article fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner color="primary"></mat-spinner>
  </article>
</ng-template>
