@import '@angular/flex-layout/mq';

:host {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-container {
  display: flex;
  flex-direction: column;

  bf-carousel {
    margin-top: 24px;

    h5 {
      display: flex;
    }
  }
}

.no-analytics {
  display: grid;
  place-items: center;
}

.no-accepted-movies {
  .surface {
    width: 330px;

    img {
      width: 100px;
      align-self: center;
    }
  }

  h3 {
    margin-top: 24px;
  }
}

analytics-pie-chart,
analytics-line-chart,
analytics-map.carousel-map {
  height: 100%;
}

analytics-map h3 {
  display: flex;
  align-items: center;
}

.margin-bottom {
  margin-bottom: 24px;
}

.link_buttons {
  display: block;
  margin: auto;
  width: min-content;
}

@include layout-bp(xs) {
  header {
    flex-direction: column;
  }
}
