@import 'mixins';

.search {
  margin-top: 0;
  margin-bottom: 0;
  mat-label {
    margin-left: 20px;;
  }
}

.grid {
  margin-bottom: 10px;
}

.sort {
  margin-left: 20px;
}

h5 {
  margin-top: 20px;
}

.language-button {
  margin-top: 15px;
  margin-left: 16px;
}

mat-checkbox {
  margin-top: 16px;
}

.chip-language {
  margin-bottom: 16px;
}

mat-form-field {
  width: 100%;
}

mat-divider {
  width: 100%;
}

.mat-chip.active {
  background-color: var(--primary);
}

movie-card {
  height: 390px;
  width: 310px;
  margin: 15px;
}

form {
  width: 100%;
}

section {
  padding: 20px 100px;
}

section.filters {
  padding: 20px 100px;
  min-height: calc(100vh - (var(--toolbarHeight) * 2) - 30px); // TODO #1212

  aside {
    position: sticky;
    top: calc(var(--toolbarHeight) + 20px);

    mat-card {
      max-height: calc(100vh - var(--toolbarHeight) - 40px);
      overflow: auto;
    }

    .movie-list {
      width: 100%;
    }

    .filter {
      width: 500px;
    }

    .filter-checkboxes {
      height: 270px;
      flex-wrap: wrap;
    }

    .filter-checkboxes-status {
      height: 50px;
      flex-wrap: wrap;
    }
  }

  article {
    width: 100%;
    mat-divider {
      width: 65%;
    }

    movie-card {
      height: auto;
      width: 300px;
      margin: 15px;
    }

    movie-display-list {
      width: 100%;
      cursor: pointer;
    }

  }

}

@include mobile {
  h1 {
    text-align: center;
  }
  section {
    padding: 10px 10px;
    aside {
      width: 100%;
      position: static;
      mat-card {
        height: 100%;
      }
      .filter {
        margin-top: 50px;
      }
    }
    article mat-form-field-wrapper {
      width: 80%;
    }
  }
}

@include tablet {
  section aside {
    position: static;
    .filter {
      margin-top: 50px;
    }
  }
}

@include medium {
  aside.filter {
    width: 50%;
  }
}
