:host {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

section.surface {
  margin-bottom: 40px;
}

article {
  width: 100%;
  margin-bottom: 40px;

  mat-form-field {
    width: 100%;

    input {
      width: 100%;
    }
  }
}

fieldset {
  border: none;
}

.orgs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 16px;
}