<ng-container *ngIf="movie">
  <crm-bread-crumb>{{ movie.title.international }}</crm-bread-crumb>

  <article>
    <movie-header [movie]="movie"></movie-header>
  </article>

  <section fxLayout="row" fxLayoutAlign="start" fxLayoutGap="24px" fxFlex class="surface">
    <article>
      <h2>
        {{ movie.title.international }} ({{ movie.internalRef || 'missing internal ref' }})
        <crm-go-to type="title" [id]="movieId"></crm-go-to>
      </h2>

      <h4 *ngIf="movie.title.original">({{ movie.title.original }})</h4>

      <ng-container *ngIf="movieForm">
        <form [formGroup]="movieForm" fxLayout="column">
          <mat-form-field appearance="outline">
            <mat-label>Internal ref</mat-label>
            <input matInput type="text" placeholder="Internal ref" formControlName="internalRef" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Production Status</mat-label>
            <mat-select formControlName="productionStatus" required>
              <mat-option *ngFor="let status of productionStatus | keyvalue" [value]="status.key">
                {{ status.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <legend>Organization IDs</legend>
          <bf-form-list [form]="movieForm.get('orgIds')">
            <ng-template itemRef let-orgId>
              {{ orgId }}
            </ng-template>
            <ng-template formView let-orgForm let-index="index">
              <mat-form-field appearance="outline">
                <mat-label>Organization ID</mat-label>
                <input matInput type="text" [formControl]="orgForm">
              </mat-form-field>
            </ng-template>
          </bf-form-list>
        </form>
      </ng-container>
    </article>

    <article>
      <h2>Application Access</h2>
      <form [formGroup]="movieAppConfigForm" fxLayout="column">
        <fieldset *ngFor="let app of apps" fxFlex>
          <legend>{{ appName[app] }}</legend>
          <div [formGroupName]="app" fxLayoutAlign="start center" fxLayoutGap="16px">
            <mat-form-field appearance="outline">
              <mat-label>Status</mat-label>
              <mat-select formControlName="status" required>
                <mat-option *ngFor="let status of storeStatus | keyvalue" [value]="status.key">
                  {{ status.value }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Access</mat-label>
              <mat-select formControlName="access" required>
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>
              </mat-select>
            </mat-form-field>

            <span *ngIf="movie.app[app].acceptedAt">Accepted at {{ movie.app[app].acceptedAt | toDate | date: 'medium'}}</span>
            <span *ngIf="movie.app[app].refusedAt">Refused at {{ movie.app[app].refusedAt | toDate | date: 'medium'}}</span>
          </div>
        </fieldset>
        <div fxLayoutAlign="end end" fxLayoutGap="16px" align="end">
          <button type="submit" mat-flat-button color="primary" (click)="update()">Update</button>
          <button mat-flat-button color="warn" (click)="deleteMovie()">Delete this movie</button>
        </div>
      </form>
    </article>
  </section>

  <section fxFlex fxLayout="row" fxLayoutGap="24px">
    <article fxFlex class="surface">
      <h2>Movie's resources :</h2>
      <movie-video-upload [movie]="movie"></movie-video-upload>
    </article>

    <article fxFlex class="surface">
      <movie-picture-upload [movie]="movie"></movie-picture-upload>
    </article>
  </section>
</ng-container>
