<tunnel-page>
  <h4 title>TITLE INFORMATION</h4>
  <h1 subtitle>Technical information</h1>
  <section tunnel-form>
    <mat-accordion multi>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>Format</mat-panel-title>
        </mat-expansion-panel-header>
        <movie-form-format [form]="movieSalesInfo"></movie-form-format>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <!-- TOD(MF) ADD DYNAMIC VERSION WORD PLURAL HERE -->
          <mat-panel-title>Version available</mat-panel-title>
        </mat-expansion-panel-header>
        <movie-form-version-info [form]="movieVersionInfo"></movie-form-version-info>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
</tunnel-page>
