<ng-container *ngIf="incomes$ | async as incomes">
  <section>
    <waterfall-version-selector></waterfall-version-selector>

    <button mat-button color="primary" [disabled]="!incomes.length" (click)="removeIncomes(incomes)">
      <mat-icon svgIcon="delete"></mat-icon>
      <span>Remove all incomes</span>
    </button>
  </section>
  <bf-table [source]="incomes" useFilter pagination="50">
    <ng-template colRef="id" label="Id" let-id sort>
      {{ id }}
    </ng-template>
    <ng-template colRef="" label="Contract Id" let-item sort>
      {{ item.contractId | getCurrentContract: (contracts$ | async) : item.date }}
    </ng-template>
    <ng-template colRef="date" label="Date" let-date sort defaultSort>
      {{ date | date }}
    </ng-template>
    <ng-template colRef="" label="Source" let-item sort>
      {{ getAssociatedSource(item) }}
    </ng-template>
    <ng-template colRef="price" label="Price" let-price sort>
      {{ price | currency: waterfall.mainCurrency }}
    </ng-template>
    <ng-template colRef="status" label="Status" let-status sort>
      {{ status | toLabel: 'paymentStatus' }}
    </ng-template>
    <ng-template colRef="" label="Action" let-income sticky>
      <button mat-icon-button (click)="removeIncomes([income])">
        <mat-icon svgIcon="delete" matTooltip="Delete income"></mat-icon>
      </button>
    </ng-template>
  </bf-table>
</ng-container>
