<ng-template *ngIf="loading$ | async">
  <mat-spinner color="accent" #loading></mat-spinner>
</ng-template>
<main *ngIf="(movie$ | async) as movie;" test-id="content">
  <header fxLayout="column">
    <h1>{{movie.main.title.international}}</h1>
    <div *ngFor="let director of movie.main.directors; let isLast = last">
      <span>a film by {{ director.firstName }} {{ director.lastName }} <span *ngIf="!isLast">&</span>
      </span>
    </div>
    <span class="movie-status">{{ movie.main.status | translateSlug: 'MOVIE_STATUS'}}</span>
  </header>

  <div fxLayout="row nowrap" fxLayoutAlign="center center" fxLayout.lt-md="row" class="view-content heart">
    <mat-divider></mat-divider>
    <ng-container *ngIf="(toggle$ | async); else alreadyAdded">
      <button mat-icon-button (click)="addToWishlist()">
        <mat-icon svgIcon="heart_filled"></mat-icon>
      </button>
    </ng-container>
    <ng-template #alreadyAdded>
      <button mat-icon-button (click)="addToWishlist()">
        <mat-icon svgIcon="heart"></mat-icon>
      </button>
    </ng-template>
  </div>

  <section fxLayout="row" class="view-content">

    <div fxLayout="column" class="poster-column">
      <mat-card class="movie-presentation">
        <!-- poster -->
        <ng-container *ngIf="movie.main.poster as poster">
          <img class="movie-poster" [src]="poster" alt="movie poster" />
        </ng-container>
        <!-- Reserved territories -->
        <ng-container
          *ngIf="movie.salesAgentDeal && movie.salesAgentDeal.reservedTerritories && movie.salesAgentDeal.reservedTerritories.length">
          <catalog-reserved-territories [reservedTerritories]="movie.salesAgentDeal.reservedTerritories">
          </catalog-reserved-territories>
          <mat-divider [inset]="true"></mat-divider>
        </ng-container>
        <!-- Production information -->
        <catalog-production-informations *ngIf="
          movie.main &&
          movie.main.productionCompanies &&
          movie.salesAgentDeal &&
          movie.salesAgentDeal.salesAgent &&
          movie.salesAgentDeal.salesAgent.logo" 
          [productionCompanies]="movie.main.productionCompanies"
          [salesAgentDealLogo]="movie.salesAgentDeal.salesAgent.logo">
        </catalog-production-informations>
        <mat-divider [inset]="true"></mat-divider>
        <!-- Key Assets -->
        <ng-container *ngIf="movie.promotionalDescription.keyAssets.length">
          <movie-display-assets [assets]="movie.promotionalDescription.keyAssets"></movie-display-assets>
          <mat-divider [inset]="true"></mat-divider>
        </ng-container>
      </mat-card>
    </div>

    <div fxLayout="column" class="information-column">
      <mat-card class="informations" fxLayout="column">
        <!-- Promotional elements -->
        <ng-container *ngIf="movie.promotionalElements.promotionalElements.length">
          <catalog-promotional-elements [promotionalElements]="movie.promotionalElements.promotionalElements">
          </catalog-promotional-elements>
          <mat-divider [inset]="true"></mat-divider>
        </ng-container>
        <!-- Main informations -->
        <movie-display-principal-informations [main]="movie.main" [salesCast]="movie.salesCast" [budget]="movie.budget"
          [salesInfo]="movie.salesInfo"></movie-display-principal-informations>
        <mat-divider [inset]="true"></mat-divider>
        <!-- Film details -->
        <movie-display-film-details [main]="movie.main" [salesInfo]="movie.salesInfo" [color]="color"
          [europeanQualification]="europeanQualification" [movieSalesInfo]="movie.salesInfo">
        </movie-display-film-details>
        <mat-divider [inset]="true"></mat-divider>
        <!-- Festival Prizes -->
        <ng-container *ngIf="movie.festivalPrizes.prizes.length">
          <movie-display-prizes [prizes]="movie.festivalPrizes.prizes"></movie-display-prizes>
          <mat-divider [inset]="true"></mat-divider>
        </ng-container>
        <!-- Languages -->
        <movie-display-version-info [main]="movie.main" [versionInfo]="movie.versionInfo">
        </movie-display-version-info>
        <mat-divider [inset]="true"></mat-divider>
        <!-- Synopsis -->
        <ng-container *ngIf="movie.main.shortSynopsis">
          <movie-display-synopsis [synopsis]="movie.main.shortSynopsis"></movie-display-synopsis>
          <mat-divider [inset]="true"></mat-divider>
        </ng-container>
        <!-- Keywords -->
        <movie-display-keywords [keywords]="movie.promotionalDescription.keywords"></movie-display-keywords>
        <mat-divider [inset]="true"></mat-divider>
      </mat-card>
    </div>
  </section>


  <div fxLayout="row" fxLayoutAlign="center end">
    <button test-id="distribution-right-link" mat-flat-button color="accent" (click)="addToWishlist()">
      {{ (toggle$ | async) ? 'Remove from wishlist' : 'Add to wishlist'}}
    </button>
  </div>
</main>
