.light-theme {
  footer {
    background: mat-color($bf-light-background, app-bar);
    border-top: 1px solid mat-color($bf-light-foreground, divider);

    a {
      color: mat-color($bf-light-background, text);
    }
  }
}

.dark-theme {
  footer {
    background: mat-color($bf-dark-background, app-bar);
    border-top: 1px solid mat-color($bf-dark-foreground, divider);

    a {
      color: mat-color($bf-dark-background, text);
    }
  }
}
