@mixin bf-footer-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  footer {
    background-color: mat-color($background, app-bar);
    border-top: 1px solid mat-color($foreground, divider);

    a {
      color: mat-color($background, text);
    }
  }
}
