@mixin poster($breakpoint) {
  @if $breakpoint == 'small' {
    width: 120px;
  } @else if $breakpoint == 'medium' {
    width: 240px;
  } @else if $breakpoint == 'large' {
    width: 480px;
  } @else if $breakpoint == 'xl' {
    width: 960px;
  }
}

@mixin banner {
  height: 1080px;
  width: 1920px;
}

@mixin avatar($width: "auto", $height: $width) {
  width: $width;
  height: $height;
}
