/* You can add global styles to this file, and also import other style files */

// Theme with variables
@import './theme.scss';
@import './variables.scss';


* {
  box-sizing: border-box;
}

html{
  height: 100vh;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

// Apply space of 8px between span & icon everywhere
.mat-icon + span,
span + .mat-icon {
  margin-left: 8px;
}

a {
  text-decoration: none;
  color: inherit;
}

.important {
  color: mat-color($mat-dark-bf-orange, 400);
}

.dark-theme p.bf-dark-text,
.dark-theme span.bf-dark-text {
  color: mat-color($bf-dark-foreground, dark-text);
}

.bf-strong {
  font-weight: 600;
}

.table-size-text {
  font-size: 12px;
}

/** Used for marketplace header & carousel */
.light-theme .light-text {
  color: mat-color($bf-light-foreground, light-text);
}

/** Used for movie status in banners. */
.status-text {
  font-size: 8px;
  color: mat-color($bf-dark-foreground, blue-icon);
}


main {
  height: 100%;
}

.black-bg-opacity-30 {
  background-color: rgba(#000000, 0.3);
}

/* Leaflet WorldMap default pane */
.leaflet-pane {
  z-index: 1;
}

// SCROLL
.dark-theme {
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    width: 5px;
    background: rgba(#f1f1f1, 0.1);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    border-radius: 9px;
    background: rgba(#f1f1f1, 0.5);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(#f1f1f1, 0.8);
  }
}

.light-theme {
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    width: 5px;
    background: rgba(#050505, 0.1);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    border-radius: 9px;
    background: rgba(#050505, 0.5);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(#050505, 0.8);
  }
}
