/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900');

// Theme with variables
@import './theme.scss';
@import './variables.scss';

// Footer
@import './footer.scss';

// Components style
@import './components/mat-expansion-panel';
@import './components/mat-dialog';
@import './components/mat-menu';
@import './components/mat-button';
@import './components/mat-card';
@import './components/mat-list';
@import './components/mat-toolbar';
@import './components/mat-divider';
@import './components/mat-form';
@import './components/mat-table';

// Typography
@import './components/h.scss';

* {
  box-sizing: border-box;
}

html,
body {
  height: calc(100%);
}

body {
  margin: 0;
}

p,
span {
  font-size: 14px;
}

.important {
  color: mat-color($mat-dark-bf-orange, 400);
}

.banner {
  border-top: 1px solid mat-color($mat-dark-bf-blue, 200);
  border-bottom: 1px solid mat-color($mat-dark-bf-blue, 200);;
  box-shadow: 0 0 4px 4px mat-color($mat-dark-bf-blue, 200, 0.5);
}

.dark-theme p.bf-dark-text,
.dark-theme span.bf-dark-text {
  color: mat-color($bf-dark-foreground, dark-text);
}

.bf-strong {
  font-weight: 600;
}

.table-size-text {
  font-size: 12px;
}

/** Used for movie status in banners. */
.status-text {
  font-size: 8px;
  color: mat-color($bf-dark-foreground, blue-icon)
}

/** Used for Terms and Condition of Use links. */
.terms-link {
  color: mat-color($bf-dark-foreground, blue-icon);
  cursor: pointer;
}

main {
  height: 100%;
}

.black-bg-opacity-30 {
  background-color: rgba(#000000, 0.3);
}

