/* You can add global styles to this file, and also import other style files */

// Theme with variables
@import './theme.scss';
@import './variables.scss';

:root {
  --layout-margin: 24px;
}

* {
  box-sizing: border-box;
}

html{
  height: 100vh;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

// Apply space of 8px between span & icon everywhere
.mat-icon + span,
span + .mat-icon {
  margin-left: 8px;
}

a {
  text-decoration: none;
  color: inherit;
}

.dark-theme p.bf-dark-text,
.dark-theme span.bf-dark-text {
  color: mat-color($bf-dark-foreground, dark-text);
}


main {
  height: 100%;
}

/* Leaflet WorldMap default pane */
.leaflet-pane {
  z-index: 1;
}

.upload-widget {
  display: flex;
  flex-direction: column-reverse;
}

// SCROLL
.dark-theme {
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    width: 5px;
    background: rgba(#f1f1f1, 0.1);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    border-radius: 9px;
    background: rgba(#f1f1f1, 0.5);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(#f1f1f1, 0.8);
  }
}

.light-theme {
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    width: 5px;
    background: rgba(#050505, 0.1);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    border-radius: 9px;
    background: rgba(#050505, 0.5);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(#050505, 0.8);
  }
}


.app-bar {
  width: 24em;
  padding: 0 12px;
  margin-left: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;

  &:hover {
    border-color: var(--primary);
  }

  input {
    height: 50px;
    width: 24em;
    margin-left: 12px;
    background-color: transparent;
    border: none;
    font: inherit;

    &:focus {
      outline: none;
    }
  }
}