/* You can add global styles to this file, and also import other style files */
$max-width: 1920px; // equal to "lg" in Angular breakpoints

:root {
  --layout-margin: 24px;
  --toolbarHeight: 80px;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
}

a {
  text-decoration-line: none;
}

p, span {
  a[href]:not([href^="mailto"]):not([href^="assets"]) {
    text-decoration: underline;
  }
}

a:not(.mat-button-base) {
  &[href^="assets"], &[href^="mailto"] {
    font-weight: bold;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Apply space of 8px between span & icon everywhere
.mat-icon + span,
span + .mat-icon {
  margin-left: 8px;
}

main {
  height: 100%;
}

// Maximum width for large screens
.max-width {
  max-width: $max-width;
  margin: auto;
}

/* Leaflet WorldMap default pane */
.leaflet-pane {
  z-index: 1;
}

.upload-widget {
  display: flex;
  flex-direction: column-reverse;
}

.app-bar {
  margin-left: 24px;

  input {
    height: calc(var(--toolbarHeight) - 24px);
    width: 50vw;
    padding: 0 16px;
    background-color: transparent;
    border: 1px solid var(--foreground-divider);
    border-radius: 4px;
    font: inherit;

    &:hover,
    &:focus {
      border-color: var(--primary);
    }

    &:focus {
      outline: none;
    }
  }
}
