@import '~@angular/material/theming';
@import './themes/dark';
@import './themes/light';
@import './themes/dark-contrast';
@import '~saturn-datepicker/theming';
@import './typography.scss';

// Components
@import './components/mat-list';
@import './components/mat-card';
@import './components/mat-table';
@import './components/mat-toolbar';
@import './components/mat-button';
@import './components/mat-expansion-panel';
@import './components/mat-chips';
@import './components/mat-form-field';
@import './components/mat-icon.scss';
@import './components/mat-toggle-button.scss';
@import './components/mat-sidenav.scss';
@import './components/mat-snack-bar.scss';
@import './components/mat-dialog.scss';
@import './components/mat-slider.scss';
@import 'footer';
@import './components/bf-widget.scss';
@import './components/bf-tunnel.scss';
@import './components/bf-table.scss';
@import './components/bf-font-color.scss';
@import './components/bf-missing-control.scss';
@import './components/bf-world-map.scss';
@import './components/bf-calendar.scss';
@import './components/mat-native-control.scss';

@include mat-core($bf-typography);

// COMPONENT THEMES

@mixin bf-material-theme($theme) {
  @include mat-bf-button-theme($theme);
  @include mat-bf-card-theme($theme);
  @include mat-bf-chips-theme($theme);
  @include mat-bf-expansion-panel-theme($theme);
  @include mat-bf-form-field-theme($theme);
  @include mat-bf-list-theme($theme);
  @include mat-bf-table-theme($theme);
  @include mat-bf-toolbar-theme($theme);
  @include mat-bf-button-toggle-theme($theme);
  @include mat-bf-sidenav-theme($theme);
  @include mat-bf-icon-theme($theme);
  @include mat-bf-snack-bar-theme($theme);
  @include mat-bf-dialog-theme($theme);
  @include mat-bf-slider-theme($theme);
  @include bf-footer-theme($theme);
  @include bf-widget-theme($theme);
  @include bf-color-font($theme);
  @include bf-table-theme($theme);
  @include bf-missing-control-theme($theme);
  @include bf-tunnel-theme($theme);

  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  // Add css variables here when you need one
  --primary: #{mat-color($primary, 500)};
  --accent: #{mat-color($accent, 500)};
  --warn: #{mat-color($warn, 500)};
  --active: #5f6e8680;
  // Background
  --background-disabled-button: #{mat-color($background, disabled-button)};
  --background-slider: #{mat-color($foreground, slider-min)};
  --background-hover: #{mat-color($background, hover)};
  --background: #{mat-color($background, background, 0.5)};
  // Foreground
  --foreground-divider: #{mat-color($foreground, divider)};
}

// COMPONENT TYPOGRAPHY
@include mat-bf-expansion-panel-typography($bf-typography);
@include mat-bf-list-typography($bf-typography);
@include mat-bf-button-typography($bf-typography);
@include mat-bf-toolbar-typography($bf-typography);
@include mat-native-control($bf-typography);
