@use '~@angular/material' as mat;
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900');

/* Definition
mat.define-typography-level(
  $font-size,
  $line-height: $font-size,
  $font-weight: 400,
  $font-family: null,
  $letter-spacing: normal
)*/


$bf-typography: mat.define-typography-config(
  $font-family: 'Montserrat, Helvetica Neue, sans-serif',
  $display-4: mat.define-typography-level(96px, 113px, 500, $letter-spacing: -1.5px),
  $display-3: mat.define-typography-level(80px, 100px, 700, $letter-spacing: -0.5px),
  $display-2: mat.define-typography-level(60px, 64px, 800),
  $display-1: mat.define-typography-level(48px, 58px, 700, $letter-spacing: -0.15px),
  $headline: mat.define-typography-level(36px, 52px, 800, $letter-spacing: -0.5px),
  $title: mat.define-typography-level(26px, 36px, 700, $letter-spacing: -1px),
  $subheading-2: mat.define-typography-level(20px, 28px, 700),
  $subheading-1: mat.define-typography-level(16px, 26px, 500, $letter-spacing: 4px),
  $body-2: mat.define-typography-level(16px, 26px, 400, $letter-spacing: 0.5px),
  $body-1: mat.define-typography-level(18px, 28px, 400, $letter-spacing: 0.5px),
  $caption: mat.define-typography-level(13px, 21px, 400),
  $button: mat.define-typography-level(16px, 24px, 600, $letter-spacing: 1.25px),
  $input: mat.define-typography-level(inherit, 1.125, 400)
);

pre {
  font-family: mat.font-family($bf-typography);
  font-size: mat.font-size($bf-typography, 'body-1'); // Get size of body-1
}

// TODO : Create a builder for typography with two polices