// CSS color variables
// @deprecated: Do not use those variables in the code.
// @note variables are defined in the theme.scss file
:root {
  // --primary: #{$primary};
  // --warn: #{$warn};
  // --accent: #{$accent};
  --lightGrey: rgb(77, 86, 100);
  --label: rgb(181, 189, 206);
  --whiteBackground: rgb(250, 250, 250);
  --borderGrey: rgb(228, 228, 228);
  --flatButtonGrey: rgba(26,72,245,0.05);
  --iconBackground: rgba(0,0,0,0.3);
  --dynamicIcon: rgb(95, 105, 122);
  --textGrey: rgb(60, 75, 94);
  --toolbarHeight: 80px;
  --backgroundDisabled: rgb(248,248,249);
  --textDisabled: rgb(185,194,203);
}
