:host {
  padding: 24px;
  display: block;
}

h2 {
  margin: 16px 0;
}

.spinner {
  text-align: center;
}

nav {
  margin-bottom: 24px;
}

header {
  display: flex;
  align-items: center;
  a[mat-button] {
    margin-left: auto;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
