:host {
  padding: 24px;
  display: block;
}

h2 {
  margin: 16px 0;
}

mat-spinner {
  margin: auto;
}

nav {
  margin-bottom: 24px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
