<list-page [items]="orgs$ | async">
  <ng-template pageTitle>
    <h1 class="mat-display-2 page-title">Our partners</h1>
  </ng-template>

  <ng-template pageSearch>
    <mat-form-field appearance="outline">
      <mat-label>Try searching for our partners...</mat-label>
      <input matInput type="text" [formControl]="orgSearchForm.get('query')">
    </mat-form-field>
  </ng-template>

  <ng-template pageResultDescription>
    <span i18n *ngIf="nbHits" class="mat-body-2">
      There {nbHits, plural, =0 {} =1 {is} other {are}} {{ nbHits }} partners{nbHits, plural, =0 {} =1 {} other {s}}
      available.
    </span>
  </ng-template>

  <list-filter>
    <ng-template filter label="Partner Country" [form]="orgSearchForm.country">
      <form-country [form]="orgSearchForm.country"></form-country>
    </ng-template>
  </list-filter>

  <ng-template pageCard let-org>
    <org-card [org]="org"></org-card>
  </ng-template>
  <ng-template pageProgress>
    <bf-load-more-button [progressValue]="hitsViewed / nbHits * 100" (buttonClicked)="loadMore()"
      *ngIf="hitsViewed <= nbHits">
      <ng-template buttonText><span>You've viewed {{ hitsViewed }} partners from {{ nbHits }}.</span></ng-template>
    </bf-load-more-button>
  </ng-template>
</list-page>