:host {
  display: block;
  padding: 32px;
}

section {
  margin-bottom: 32px;
  p {
    font-weight: bold;
  }
  mat-form-field {
    width: 100%;
  }
}


.add-title {
  margin-top: 24px;
  width: min-content;
}

/* TODO #9702 (mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
mat-option {
  text-transform: capitalize;
}
