<ng-container *ngIf="offer$ | async as offer; else loading">
  <ng-container *ngIf="offer.contracts as contracts">
    <form [formGroup]="form" fxLayout="column" (ngSubmit)="update(offer.id, contracts)">
      <div fxLayoutAlign="space-between center" fxLayout>
        <div fxLayoutAlign="start center" fxLayout fxLayoutGap="24px">
          <mat-form-field appearance="outline">
            <mat-label>General Contract Status</mat-label>
            <mat-select formControlName="status">
              <mat-option *ngFor="let status of offerStatus" [value]="status">
                {{status | toLabel: 'offerStatus'}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <p>
            <span>Pay attention! ONLY "On signature" and "Signed" can be set manually.</span> <br />
            <span>"New", "In Negotiation", "Accepted" and "Declined" statuses are working automatically.</span>
          </p>
        </div>
        <button mat-flat-button color="primary" type="submit">Update</button>
      </div>
      <section class="surface">
        <p>Buyer's Specific Terms</p>
        <mat-form-field appearance="outline">
          <textarea matInput formControlName="specificity"></textarea>
        </mat-form-field>
      </section>
      <section class="surface">
        <p>Buyers Delivery Specifications</p>
        <mat-form-field appearance="outline">
          <textarea matInput formControlName="delivery"></textarea>
        </mat-form-field>
      </section>
    </form>

    <section *ngIf="contracts.length">
      <p>Contracts in the package</p>
      <bf-table [source]="contracts" pagination="50" useFilter>
        <ng-template colRef="titleId" label="Title ID" let-titleId sort>
          {{ titleId }}
        </ng-template>
        <ng-template colRef="negotiation.title.title.international" label="Title" let-name sort let-another="item">
          {{ name | maxLength: 50 }}
        </ng-template>
        <ng-template colRef="status" label="Seller Approved" let-status let-contract="item" sort>
          <bf-tag>{{ contract.negotiation?.status }}</bf-tag>
        </ng-template>
        <ng-template colRef="negotiation.seller.denomination.public" label="Seller's name" let-name sort>
          {{ name }}
        </ng-template>
        <ng-template colRef="negotiation.seller.email" label="Seller's email" let-email sort>
          {{ email }}
        </ng-template>
        <ng-template colRef="id" label="Actions" let-id>
          <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="8px">
            <a mat-icon-button [routerLink]="['../', id,]" matTooltip="Edit">
              <mat-icon svgIcon="edit"></mat-icon>
            </a>
            <button mat-icon-button matTooltip="Delete" (click)="confirmDelete(id)">
              <mat-icon svgIcon="delete"></mat-icon>
            </button>
          </div>
        </ng-template>
      </bf-table>
    </section>
  </ng-container>
  <ng-container *ngIf="offer.declinedContracts as declinedContracts">
    <ng-container *ngIf="declinedContracts.length">
      <section>
        <p>
          Rejected Titles <mat-icon svgIcon="info" matTooltip="Titles that were rejected from the package"></mat-icon>
        </p>
        <bf-table [source]="declinedContracts" pagination="50" useFilter>
          <ng-template colRef="titleId" label="Title ID" let-titleId sort>
            {{ titleId }}
          </ng-template>
          <ng-template colRef="negotiation.title.title.international" label="Title" let-name sort>
            {{ name | maxLength: 50 }}
          </ng-template>
          <ng-template colRef="status" label="Seller Approved" let-status sort>
            <bf-tag>{{ status }}</bf-tag>
          </ng-template>
          <ng-template colRef="negotiation.seller.denomination.public" label="Seller's name" let-name sort>
            {{ name }}
          </ng-template>
          <ng-template colRef="negotiation.seller.email" label="Seller's email" let-email sort>
            {{ email }}
          </ng-template>
          <ng-template colRef="id" label="Actions" let-id>
            <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="8px">
              <a mat-icon-button [routerLink]="['../', id,]" matTooltip="Edit">
                <mat-icon svgIcon="edit"></mat-icon>
              </a>
              <button mat-icon-button matTooltip="Delete" (click)="confirmDelete(id)">
                <mat-icon svgIcon="delete"></mat-icon>
              </button>
            </div>
          </ng-template>
        </bf-table>
      </section>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #loading>
  <mat-spinner fxFlexAlign="center"></mat-spinner>
</ng-template>
